<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Advanced Components Manager
    </ui:define>

    <ui:include src="/WEB-INF/templates/components/layoutComponentBuilder.xhtml" >
        <ui:param name="managerBean" value="#{managerBean}" />
        <ui:param name="component" value="#{field}" />
        <ui:param name="componentList" value="#{fieldList}" />
    </ui:include>

    <ui:fragment rendered="${field.advancedComponent.type eq 'LAYOUT'}">
        <tr>
            <td colspan="20" style="border: 2px solid #ccc">
                <p:panel style="border: none;text-align: left">
                    <p:commandLink  update="@form" actionListener="#{managerBean.openConfigurationManager(field,field.advancedComponent.type)}"
                                    styleClass="settings-gear" onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()">
                        <h:graphicImage name="/images/setting_gear.png" width="12" height="12" style="margin-left: .5em"/>
                    </p:commandLink>
                    <p:commandLink  update="@form"  styleClass="settings-delete"
                                    onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()">
                        <h:graphicImage name="/images/delete-dark.png" width="12" height="12" style="margin-left: .5em"/>
                        <p:collector value="#{field}" removeFrom="#{fieldList}" unique="true"/>
                    </p:commandLink>
                </p:panel>

                <table class="designer-pane droppoint ui-droppable layout-comp" style="width:100%;height: 100%;min-height: 100px;text-align: center">
                    <tbody>
                        <tr>
                            <input type="hidden" value="#{field.entityId}" class="drop-layout"/>
                            <ui:repeat value="#{field.layoutComponentConfiguration.componentsList}" var="layoutField" varStatus="status">
                                <ui:fragment rendered="${not empty layoutField}">
                                    <ui:include src="/WEB-INF/templates/components/layoutComponentBuilder.xhtml" >
                                        <ui:param name="managerBean" value="#{managerBean}" />
                                        <ui:param name="component" value="#{layoutField}" />
                                        <ui:param name="componentList" value="#{field.layoutComponentConfiguration.componentsList}" />
                                    </ui:include>
                                </ui:fragment>
                            </ui:repeat>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </ui:fragment>

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>