<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">


    <ui:define name="title">
        Filters
    </ui:define>

    <p:selectOneMenu  widgetVar="filterCol_#{loop.index}"  filter="true" filterMatchMode="contains"
                      value="#{filterModel.fieldModel}" style="border: 1px solid #ccc;background: #fff;
                      width: auto;border-radius: 4px 0px 0px 4px;min-width: 15em;height: 2.5em;line-height: 1.5em;">
        <f:converter converterId="moduleFieldsConverter" />
        <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
        <f:selectItems value="#{backingBean.filterColumnList}" var="filterCol" itemValue="#{filterCol}"/>
        <p:ajax  update="#{parentId}" listener="#{backingBean.loadLookupForFilter(filterModel.fieldModel)}"/>
    </p:selectOneMenu>

    <p:selectOneMenu  widgetVar="console_#{loop.index}" value="#{filterModel.operator}" 
                      style="border: none;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
                      width: 8em;border-radius: 0px 0px 0px 0px;height: 2.5em;line-height: 1.5em;">
        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
        <f:selectItem itemLabel="Equal" itemValue="=" />
        <f:selectItem itemLabel="Not Equal" itemValue="!=" />
        <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
        <f:selectItem itemLabel="Less Than" itemValue="&le;" />
        <f:selectItem itemLabel="Contains" itemValue="LIKE" />
        <f:selectItem itemLabel="Between" itemValue="BETWEEN" />
        <p:ajax update="valhueHolderPanel_#{type}_#{loop.index}"/>
    </p:selectOneMenu>

    <p:panel style="border: 0px solid #ccc;border-radius: 3px;" id="valhueHolderPanel_#{type}_#{loop.index}" styleClass="filter-value-holder">
        <c:choose>
            <c:when test="${filterModel.fieldModel.fieldType eq 'DATE'}">
                <h:panelGroup rendered="#{filterModel.fieldModel.fieldType eq 'DATE'}" style="width: 8em">
                    <h:panelGrid columns="2" style="width: 8em;"  
                                 rendered="#{filterModel.operator eq 'BETWEEN'}">
                        <h:panelGrid columns="2" style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;height: 2.5em;">
                            <p:outputLabel value="Dynamic" style="font-weight: normal;margin-right: 0.5em;margin-left: 0.5em;"/>
                            <p:selectBooleanCheckbox value="#{filterModel.dynamicDate}" style="margin-right: 0.5em;vertical-align: baseline"> 
                                <p:ajax update="valhueHolderPanel_#{type}_#{loop.index}" />
                            </p:selectBooleanCheckbox>
                        </h:panelGrid>
                        <h:panelGrid  columns="2" rendered="#{filterModel.dynamicDate eq false}">
                            <p:datePicker  value="#{filterModel.dateFrom}"  pattern="yyyy-MM-dd" style="height: 2.5em;border: 1px solid #ccc;border-right: 0" 
                                           inputStyle="padding: 4px;height: 2.5em;" 
                                           styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true" placeholder="Date From">
                                <f:convertDateTime pattern="yyyy-MM-dd" timeZone="GMT+5:30"/>
                            </p:datePicker >
                            <p:datePicker  value="#{filterModel.dateTo}"  pattern="yyyy-MM-dd"  style="height: 2.5em;margin-right: 1em;border: 1px solid #ccc;border-radius: 0px 4px 4px 0px;" 
                                           inputStyle="padding: 4px;height: 2.5em;"
                                           styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true" placeholder="Date To">
                                <f:convertDateTime pattern="yyyy-MM-dd"  timeZone="GMT+5:30"/>
                            </p:datePicker >
                        </h:panelGrid>
                        <h:panelGroup rendered="#{filterModel.dynamicDate eq true}">
                            <h:panelGrid columns="4" style="width: 100%;" styleClass="dynamic_filter_date_range">
                                <p:outputLabel value="From" style="font-weight: bold; margin-right: 1em;margin-left: 1em" styleClass="dynamic_filter_date_range_selector dynamic_filter_date_range_selector_left" />
                                <p:selectOneMenu widgetVar="andDynamicDateFrom_#{type}_#{loop.index}" value="#{filterModel.dataFrom}" 
                                                 style="width:13em;border: none;border: 1px solid #ccc;border-radius: 0px 0px 0px 0px;height: 2.5em;">
                                    <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                    <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                    <f:selectItem itemLabel="Start of Day" itemValue="SAD" />
                                    <f:selectItem itemLabel="End of Day" itemValue="EOD" />
                                </p:selectOneMenu>

                                <p:outputLabel value="To" style="font-weight: bold;margin-right: 1em;margin-left: 1em" styleClass="dynamic_filter_date_range_selector"/>
                                <p:selectOneMenu widgetVar="andDynamicDateTo_#{type}_#{loop.index}" value="#{filterModel.dataTo}" 
                                                 style="width:13em;border: none;border: 1px solid #ccc;border-radius: 0px 4px 4px 0px;height: 2.5em;">
                                    <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                    <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                    <f:selectItem itemLabel="Start of Day" itemValue="SAD" />
                                    <f:selectItem itemLabel="End of Day" itemValue="EOD" />
                                </p:selectOneMenu>
                            </h:panelGrid>
                        </h:panelGroup>
                    </h:panelGrid>

                    <p:datePicker value="#{filterModel.value}" pattern="yyyy-MM-dd" rendered="#{filterModel.operator ne 'BETWEEN'}" placeholder="Click to select date"
                                  styleClass="single-calendar" style="height: 2.5em;border:none;border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-radius: 0px 4px 4px 0px;"
                                  inputStyle="padding:4px;height: 24px;min-width: 12em;">
                        <f:convertDateTime pattern="yyyy-MM-dd"  timeZone="GMT+5:30"/>
                    </p:datePicker>
                </h:panelGroup>
            </c:when>

            <c:when test="${filterModel.fieldModel.fieldType eq 'BOOLEAN'}">
                <p:panel style="width: 30em">
                    <p:selectOneMenu value="#{filterModel.value}" 
                                     style="border: none;border: 1px solid #ccc;height: 2.5em;border-radius: 0px 4px 4px 0px;border-left: 0;">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItem itemLabel="True" itemValue="1" />
                        <f:selectItem itemLabel="False" itemValue="0" />
                    </p:selectOneMenu>
                </p:panel>
            </c:when>

            <c:when test="${filterModel.fieldModel.fieldType eq 'LOOKUP'}">
                <p:panel style="width: 30em">
                    <p:selectOneMenu value="#{filterModel.value}" 
                                     style=";border: none;border: 1px solid #ccc;height: 2.5em;line-height: 1.5em;border-radius: 0px 4px 4px 0px; border-left: 0;">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{backingBean.lookupDictionary.get(filterModel.fieldModel.fieldName)}" />
                    </p:selectOneMenu>
                </p:panel>
            </c:when>

            <c:otherwise>
                <p:inputText style="border:none;border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;
                             padding: 4px;border-radius: 0px 4px 4px 0px;height: 2.5em;" placeholder="Enter text value here"
                             value="#{filterModel.value}" rendered="#{filterModel.fieldModel.fieldType ne 'DATE'}"/>
            </c:otherwise>
        </c:choose>
    </p:panel>

    <p:commandLink actionListener="#{backingBean.removeCondition(type,filterModel)}" 
                   update="filtersGrid" style="margin-left: 1em" immediate="true">
        <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="vertical-align: baseline;"/>
    </p:commandLink>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>