<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Filters
    </ui:define>

    <h:panelGrid columns="1" style="width: 100%">
        <p:outputLabel value="Show records that satisfy the following criteria..."  style="margin: 0;color: #696b70;font-weight: normal;margin-bottom: 1em;"/>

        <h:panelGrid columns="2" style="margin-left: -10px;margin-bottom: 1em;">
            <p:commandButton value="Add an AND condition"   actionListener="#{backingBean.addNewANDCondition()}"
                             style="background: #fff;color: #282f44;border: none;float: right;margin-right: .5em;padding: 5px;"  icon="fa fa-plus"
                             update="filtersGrid" immediate="true"/>

            <p:commandButton value="Add an OR condition"   actionListener="#{backingBean.addNewORCondition()}"
                             style="background: #fff;color: #282f44;border: none;float: right;margin-right: .5em;padding: 5px;"  icon="fa fa-plus"
                             update="filtersGrid" immediate="true" />
        </h:panelGrid>

        <h:panelGrid columns="5" id="filtersGrid" style="border-collapse: separate;border-spacing: 0px 8px">
            <c:forEach items="#{backingBean.reportModel.ANDFilterList}" var="ANDFilters" varStatus="loop">
                <c:choose>
                    <c:when test="${loop.index == 0}">
                        <p:outputLabel value="Where"  style="margin-right: 10px;color: #282f44;font-weight: normal;"/>
                    </c:when>
                    <c:otherwise>
                        <p:outputLabel value="and"  style="margin-right: 10px;color: #282f44;font-weight: normal;"/>
                    </c:otherwise>
                </c:choose>

                <ui:include src="/WEB-INF/templates/filter/filterFragment.xhtml">
                    <ui:param name="backingBean" value="#{backingBean}" />
                    <ui:param name="type" value="AND" />
                    <ui:param name="filterModel" value="#{ANDFilters}" />
                    <ui:param name="loop" value="#{loop}" />
                </ui:include>
            </c:forEach>

            <c:forEach items="#{addReportBean_new.reportModel.ORFilterList}" var="ORFilters" varStatus="loop">
                <c:choose>
                    <c:when test="${loop.index == 0 and empty addReportBean_new.reportModel.ANDFilterList}">
                        <p:outputLabel value="Where"  style="margin-right: 10px;color: #282f44;font-weight: normal;"/>
                    </c:when>
                    <c:otherwise>
                        <p:outputLabel value="or"  style="margin-right: 10px;color: #282f44;font-weight: normal;"/>
                    </c:otherwise>
                </c:choose>

                <ui:include src="/WEB-INF/templates/filter/filterFragment.xhtml">
                    <ui:param name="backingBean" value="#{backingBean}" />
                    <ui:param name="type" value="OR" />
                    <ui:param name="filterModel" value="#{ORFilters}" />
                    <ui:param name="loop" value="#{loop}" />
                </ui:include>
            </c:forEach>
        </h:panelGrid>
    </h:panelGrid>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>