<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Decision
    </ui:define>
    
    <p:panel id="decisionPanel" styleClass="wf-component" style="text-align: center;border: none;background: transparent">
        <p:commandLink onclick="PF('initiatorConfigDialog').show();" update="@form">
            <h:graphicImage name="/images/wf_diamond.png" width="40" height="40" style="margin-bottom: 0.8em"/>
        </p:commandLink>
        <br/>
        <h:outputText value="Decision" />
    </p:panel>
    
    <ui:define name="contentTable">

    </ui:define>

</ui:composition>