<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Initiator
    </ui:define>

    <p:panel id="intiatorPanel" styleClass="wf-component" style="text-align: center;border: none;background: transparent">
        <p:commandLink onclick="PF('initiatorConfigDialog').show();" update="@form">
            <h:graphicImage name="/images/wf_start.png" width="40" height="40" style="margin-bottom: 0.8em"/>
        </p:commandLink>
        <br/>
        <h:outputText value="Start" />
    </p:panel>

<!--    <p:dialog header="Configure Initiator" widgetVar="initiatorConfigDialog" 
              modal="true" width="400" position="center center" style="border-radius: 10px;">
        <p:panelGrid columns="2" styleClass="product-grid-container" style="text-align: center" >
            <h:outputLabel value="Flow Type: " style="padding: 1em;margin-left: 3em;"/>
            <p:selectOneMenu value="#{formDesignerBean.selectModuleId}" 
                             style="width:19em;display: inline-flex;" styleClass="form-dropdown">
                <f:selectItem itemLabel="Select" itemValue="" noSelectionOption="true"/>
                <f:selectItem itemLabel="Live" itemValue="LIVE" />
                <f:selectItem itemLabel="Scheduled" itemValue="SCHEDULED" />
            </p:selectOneMenu>

            <h:outputLabel value="Select Module: " style="padding: 1em;margin-left: 3em;"/>
            <p:selectOneMenu value="#{formDesignerBean.selectModuleId}" 
                             style="width:19em;display: inline-flex;" styleClass="form-dropdown">
                <f:selectItem itemLabel="Select" itemValue="" noSelectionOption="true"/>
                <f:selectItems value="#{formDesignerBean.moduleManagerMap}" var="v"/>
                <p:ajax listener="#{formDesignerBean.onModuleSelect()}" update="@form"/>
            </p:selectOneMenu>

            <h:outputLabel value="Active: " style="padding: 1em;margin-left: 3em;"/>
            <p:selectBooleanButton value="#{selectBooleanView.value1}" onLabel="Yes" offLabel="No" style="width:60px" />

            <h:outputLabel value="Trigger: " style="padding: 1em;margin-left: 3em;"/>
            <p:selectOneMenu value="#{formDesignerBean.selectModuleId}" 
                             style="width:19em;display: inline-flex;" styleClass="form-dropdown">
                <f:selectItem itemLabel="Select" itemValue="" noSelectionOption="true"/>
                <f:selectItem itemLabel="On record creation" itemValue="ONCREATE" />
                <f:selectItem itemLabel="On record update" itemValue="ONUPDATE" />
                <f:selectItem itemLabel="On record delete" itemValue="ONDELETE" />
            </p:selectOneMenu>
        </p:panelGrid>
        
        <footer class="footer">
            <p:commandButton value="Save" id="save"  actionListener="#{catalogBean.addCategory()}" styleClass="save-button"
                             update="@form"/>
        </footer>
    </p:dialog>-->

</ui:composition>