<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <c:choose>
        <c:when test="${recordField.fieldType.equals('REL')}">
            <c:set var="relationVar" value="#{recordField.fieldName}" />
            <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group">
                <h:inputText id="#{recordField.fieldName}" value="#{formBean.selectedRecordsMap.get(recordField.fieldName).getFieldValueMap().get(formBean.relationRecordsCache.get(relationVar).getRelationManager().getViewColumn()).getCurrentValue()}" 
                             rendered="#{recordField.isVisible}" readonly="true" required="#{recordField.isMandatory}"
                             style="padding: 0.5em;border: 1px solid #a7a7a7;width: 20em;height: 2.85em;" />
                <p:commandButton icon="fa fa-search"
                                 style="padding: 0.4em;box-shadow: none; 
                                 border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                 immediate="true" actionListener="#{formBean.loadLazyRelationDataRecords(relationVar)}"
                                 update="dialogFormMaster:dataTable">
                </p:commandButton>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('MULTIREL')}">
            <c:set var="relationVar" value="#{recordField.fieldName}" />
            <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group">
                <p:chips id="#{recordField.fieldName}"
                         value="#{formBean.selectedMultiRelationMap[relationVar].multiRelationSelectedValueViews}" 
                         rendered="#{recordField.isVisible}" readonly="true" required="#{recordField.isMandatory}"
                         style="height: 2.85em;" />
                <p:commandButton icon="fa fa-search"
                                 style="padding: 0.4em;box-shadow: none; 
                                 border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                 immediate="true" actionListener="#{formBean.loadLazyMultiRelationDataRecords(relationVar)}"
                                 update="dialogMultiFormMaster:dataTable">
                </p:commandButton>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('LOOKUP')}">
            <h:panelGroup layout="block" id="pg2">
                <c:set var="lookupVar" value="#{recordField.fieldName}" />
                <p:selectOneMenu id="#{recordField.fieldName}" value="#{formBean.selectionMap.get(recordField.fieldName).selectedValue}" widgetVar="#{recordField.fieldName}"
                                 style="width:19em" styleClass="form-dropdown" required="#{recordField.isMandatory}" filter="true" filterMatchMode="startsWith">
                    <f:selectItem itemLabel="Select" itemValue=""/>
                    <f:selectItems value="#{formBean.lookupDictionary.get(recordField.fieldName)}" />
                    <f:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(recordField.fieldName).selectedValue)}"/>
                </p:selectOneMenu>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('MSLOOKUP')}">
            <h:panelGroup layout="block" id="pg2">
                <c:set var="lookupVar" value="#{recordField.fieldName}" />
                <p:selectCheckboxMenu id="#{recordField.fieldName}" value="#{formBean.selectionMap.get(recordField.fieldName).multiSelectedValues}" widgetVar="#{recordField.fieldName}"
                                      style="width:19em" styleClass="form-dropdown" required="#{recordField.isMandatory}"
                                      filter="true" filterMatchMode="startsWith" label="Options" multiple="true">
                    <f:selectItems value="#{formBean.lookupDictionary.get(recordField.fieldName)}" />
                    <!--<f:ajax listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(recordField.fieldName).multiSelectedValues)}"/>-->
                    <p:ajax event="toggleSelect" listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(recordField.fieldName).multiSelectedValues)}" />
                </p:selectCheckboxMenu>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('CAT')}">
            <h:panelGroup layout="block" id="pg2">
                <c:set var="lookupVar" value="#{recordField.fieldName}" />
                <p:selectOneMenu id="#{recordField.fieldName}" value="#{formBean.selectionMap.get(recordField.fieldName).selectedValue}"
                                 style="width:19em" styleClass="form-dropdown" required="#{recordField.isMandatory}" 
                                 filter="true" filterMatchMode="startsWith" widgetVar="#{recordField.fieldName}">
                    <f:selectItem itemLabel="Select" itemValue=""/>
                    <f:selectItems value="#{formBean.categoryDictionary.get(recordField.fieldName)}" />
                    <f:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(recordField.fieldName).selectedValue)}"/>
                </p:selectOneMenu>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('CONTENT')}">
            <c:set var="relationVar" value="#{recordField.fieldName}" />
            <h:panelGroup layout="block" id="pg4" styleClass="relation-container-group">
                <p:fileUpload id="#{recordField.fieldName}" fileUploadListener="#{formBean.onContentSelect}"
                              value="#{formBean.selectionMap.get(recordField.fieldName).selectedContent}" 
                              auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                    <f:attribute name="FieldName" value="#{recordField.fieldName}" />
                </p:fileUpload>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('DATE')}">
            <h:panelGroup layout="block" id="pg3">
                <p:calendar id="#{recordField.fieldName}" rendered="#{recordField.fieldType eq 'DATE'}" effect="fold" value="#{recordField.currentValue}" pattern="dd/MM/yyyy" required="#{recordField.isMandatory}">
                </p:calendar>
                <p:commandButton icon="ui-icon-calendar" style="padding: 0.4em;box-shadow: none; border: none;background: #f1f1f1" 
                                 type="button" disabled="true"/>
            </h:panelGroup>
        </c:when>

        <c:when test="${recordField.fieldType.equals('BOOLEAN')}">
            <p:selectBooleanCheckbox id="#{recordField.fieldName}" 
                                     value="#{recordField.currentValue}" required="#{recordField.isMandatory}" style="padding: 0.4em"/>
        </c:when>

        <c:when test="${recordField.fieldType.equals('INT') or recordField.fieldType.equals('DECIMAL') or recordField.fieldType.equals('LONG')}">
            <p:inputNumber id="#{formBean.dataDialogWidgetVar}#{recordField.fieldName}" rendered="#{recordField.isVisible}"
                           style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: 23em" 
                           value="#{recordField.currentValue}" required="#{recordField.isMandatory}"
                           thousandSeparator="" decimalSeparator="." decimalPlaces="0"/>
        </c:when>

        <c:otherwise>
            <p:inputText id="#{recordField.fieldName}" rendered="#{(recordField.fieldType eq 'TEXT' or recordField.fieldType eq 'INT' or recordField.fieldType eq 'DECIMAL') and recordField.isVisible}" 
                         style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: 23em" value="#{recordField.currentValue}" required="#{recordField.isMandatory}"/>
        </c:otherwise>
    </c:choose>

    <p:remoteCommand name="updateForm" update="recordManagerConfigPanel" immediate="true"/>
    <p:remoteCommand name="updateDataForm" update="dialogFormMaster" immediate="true"/>
    <p:remoteCommand name="updateMultiDataForm" update="dialogMultiFormMaster" immediate="true"/>


    <p:dialog widgetVar="dataDialog" modal="true" width="1250" position="center center" appendTo="@form"
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" onShow="updateDataForm()" >
        <h:form id="dialogFormMaster">
            <ui:include src="/WEB-INF/templates/recordsTableForFilterTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="multidataDialog" modal="true" width="1250" position="center center"  header="Multi" appendTo="@form"
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" onShow="updateMultiDataForm()" >
        <h:form id="dialogMultiFormMaster">
            <ui:include src="/WEB-INF/templates/multiSelectRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>