<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Annual
    </ui:define>

    <p:dataTable var="quotaConfig" value="#{qoutaConfigurationBean.quotaConfiguration}" editable="true"
                 widgetVar="orgTable" id="quotaAnnualConfigTable"
                 style="padding-top: 0.5em;" styleClass="datatable paginator-buttons quota-table" rows="10"
                 filterEvent="enter">
        
        <p:columnGroup type="header">
            <p:row>
                <p:column rowspan="2" headerText="Sales Agent" />
                <p:column colspan="1" headerText="Quota" />
            </p:row>
            <p:row>
                <p:column headerText="Annual Quota" />
            </p:row>
        </p:columnGroup>
        
        <p:column>
            <h:outputText value="#{quotaConfig.fieldValueMap['user_name'].currentValue}" />
        </p:column>
        
        <p:column>
            <p:inputText value="#{quotaConfig.fieldValueMap['quota'].currentValue}" />
        </p:column>
        
    </p:dataTable>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>