<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <h:head>
        <title>
            <ui:insert name="title">Public Form</ui:insert>
        </title>
        <link rel="icon" type="image/png"  sizes="32x32" href="images/favicon-32x32.png" />

        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>

            <script>
                $(window).load(function () {
                    // Animate loader off screen
                    PF('waitingDlgName').hide();
                });
            </script>
        </f:facet>
    </h:head>

    <h:body id="homeBody" styleClass="beezer-theme">
        <f:facet name="last">

            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
            <h:outputStylesheet name="stylesheets/paper-dashboard.css" />
            <h:outputStylesheet name="stylesheets/themify-icons.css" />
            <h:outputStylesheet name="stylesheets/primeflex.css" />
            <script>
                $(document).ajaxComplete(function () {
                    $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("flex-grow", "1");
                });
            </script>
        </f:facet>
        <h:form prependId="false" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                    return false;
                }">
            <div id="wrapper" >
                <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages">
                    <p:autoUpdate />
                </p:messages>
                <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                    <ui:param name="formBean" value="#{publishedFormBean}" />
                    <ui:param name="formTitle" value="Request Form" />
                </ui:include>
                <footer class="footer">
                    <p:commandButton value="Submit" 
                                     actionListener="#{publishedFormBean.save()}" styleClass="save-button" 
                                     process="@this,messages,formBuilderMasterPanel"
                                     onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"/>
                </footer>
            </div>
            <p:dialog id="waitingDialog" resizable="false" showHeader="false"
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 0px solid #ccc;"/>                          
                        </td>
                    </tr>
                </table>
            </p:dialog>
            <p:confirmDialog id="idleDialog"
                             message="You were away for too long.. can you log in again"
                             header="Are you there?" severity="alert" widgetVar="idleDialog" closable="false">
                <p:commandButton value="OK" 
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                 immediate="true"
                                 action="login.xhtml?faces-redirect=true" style="margin: 0;
                                 margin-left: 42%;
                                 border-radius: 10px;"/>
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>

