<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <h:head>
        <title>
            <ui:insert name="title">Public Form</ui:insert>
        </title>
        <link rel="icon" type="image/png"  sizes="32x32" href="../images/beezr_fav_icon.png" />

        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>

            <script>
                $(window).load(function () {
                    // Animate loader off screen
                    PF('waitingDlgName').hide();
                });
            </script>
        </f:facet>
    </h:head>

    <h:body id="homeBody" styleClass="beezer-theme">
        <f:facet name="last">

            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/custom_v2.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
            <h:outputStylesheet name="stylesheets/paper-dashboard.css" />
            <h:outputStylesheet name="stylesheets/themify-icons.css" />
            <h:outputStylesheet name="stylesheets/primeflex.css" />
            <script>
                $(document).ajaxComplete(function () {
                    $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("flex-grow", "1");
                });
            </script>
        </f:facet>
        <h:form prependId="false" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                    return false;
                }" style="background: transparent">

            <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages">
                <p:autoUpdate />
            </p:messages>

            <c:choose>
                <c:when test="${publishedFormBean.formSubmittedSuccessfully}">
                    <div class="public-form-wrapper" style="background: #f0f4f4">
                        <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container">
                            <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="100"/>
                                <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">Your request has been submitted</h1>
                                <p style="font-size: 14px">

                                    Thank you for submitting your request, you can safely close this page.

                                </p>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </c:when>

                <c:otherwise>
                    <c:choose>
                        <c:when test="${publishedFormBean.missingFormId}">
                            <div class="public-form-wrapper" style="background: #f0f4f4">
                                <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container">
                                    <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                        <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="130"/>
                                        <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">This page could not be found</h1>
                                        <p style="font-size: 14px">

                                            The page you are looking for has not been found. This might be because URL is incorrect or that you don’t have permission to view this page.

                                        </p>
                                    </p:panelGrid>
                                </p:panel>
                            </div>

                        </c:when>
                        <c:when test="${publishedFormBean.notPublic}">
                            <div class="public-form-wrapper" style="background: #f0f4f4">
                                <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container">
                                    <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                        <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="130"/>
                                        <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">This form is no longer publicly available</h1>
                                    </p:panelGrid>
                                </p:panel>
                            </div>

                        </c:when>
                        <c:otherwise>
                            <div class="public-form-wrapper">
                                <p:panel style="border: none;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}" id="publicFormContainerPanel">
                                    <p:panel style="width: 100%;min-height: 11em;border-radius: 5px;#{publishedFormBean.headerStyling}" 
                                             styleClass="form-container public-form-header"> 
                                        <div style="margin-left: -1.2em;margin-right: -1.8em;">
                                            <ul style="font-size: 25px;margin-bottom: -10px;
                                                padding-top: .1em;background: transparent;font-weight: bold;#{not empty publishedFormBean.defaultForm.publicFormDesignModel and not empty publishedFormBean.defaultForm.publicFormDesignModel.headerTextColor?'color:#'.concat(publishedFormBean.defaultForm.publicFormDesignModel.headerTextColor):'color:#fff'}">
                                                #{not empty publishedFormBean.defaultForm.publicFormDesignModel? publishedFormBean.defaultForm.publicFormDesignModel.headerLabel:'Hello! Please fill this form'}
                                            </ul>
                                        </div>
                                    </p:panel>
                                </p:panel>

                                <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                                    <ui:param name="formBean" value="#{publishedFormBean}" />
                                    <ui:param name="formTitle" value="Request Form" />
                                    <ui:param name="skipQuickAdd" value="true" />
                                    <ui:param name="publicForm" value="true" />
                                </ui:include>
                                <footer class="footer public-form-footer">
                                    <p:commandButton value="Submit" 
                                                     actionListener="#{publishedFormBean.save()}" styleClass="save-button" update="@form"
                                                     process="@this,messages,formBuilderMasterPanel" style="font-size: 16px; width: 20em;background: #455eff !important;border: none !important;"
                                                     onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"/>
                                </footer>
                            </div>
                            <p:dialog id="waitingDialog" resizable="false" showHeader="false"
                                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                                <table>
                                    <tr>
                                        <td align="center">
                                            <h:graphicImage value="/images/beezr_loader_gif.gif" height="80px" style="border-radius: 500em;border: 0px solid #ccc;"/>                          
                                        </td>
                                    </tr>
                                </table>
                            </p:dialog>
                            <p:confirmDialog id="idleDialog"
                                             message="You were away for too long.. can you log in again"
                                             header="Are you there?" severity="alert" widgetVar="idleDialog" closable="false">
                                <p:commandButton value="OK" 
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                                 immediate="true"
                                                 action="login.xhtml?faces-redirect=true" style="margin: 0;
                                                 margin-left: 42%;
                                                 border-radius: 10px;"/>
                            </p:confirmDialog>
                        </c:otherwise>
                    </c:choose>
                </c:otherwise>
            </c:choose>



            <p:confirmDialog id="requestCompletedDialog"
                             message="Thank you for submitting your request"
                             header="Request Submitted" severity="alert" widgetVar="requestCompletedDialog" closable="false">
                <p:commandButton value="OK" 
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                 immediate="true"
                                 style="margin: 0;
                                 margin-left: 42%;
                                 border-radius: 10px;"/>
            </p:confirmDialog>

        </h:form>

    </h:body>
</html>

