<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Attachments
    </ui:define>
    <h:panelGrid columns="1" style="width: 100%">
        <p:commandButton value="#{accessBean.loadLocalizedValue('add_attachment')}" style="float: left" icon="fa fa-plus"
                         onclick="PF('addAttachmentDialog').show()" styleClass="btn btn-primary gnrl-add"/>

        <p:dataGrid id="attachmentGrid" var="attachment" value="#{formBean.contentLibraryBean.contentList}" layout="grid" 
                    columns="1" paginator="true" paginatorPosition="bottom" style="width: 100%;margin-top: 0.5em" styleClass="datagrid">
            <p:panel style="background: #fff;width: 100%;border: none;border-bottom: 1px solid #a5a5a5;">
                <h:panelGrid columns="2" style="border: none;width: 100%">
                    <h:panelGroup style="float: left">
                        <h:graphicImage name="/images/attached_content.png" width="40" height="40"/>
                        <p:outputLabel value="#{attachment.fileName}" 
                                       style="font-weight: 100;font-size: 13px;letter-spacing: 1px;color: #282f44;vertical-align: sub;margin-left: 1em;"/>
                    </h:panelGroup>

                    <h:panelGroup style="float: right">
                        <p:commandButton icon="attachment-icon fa fa-eye" style="background: #fff;color: #282f44; border: none;"
                                         ajax="true" process="@this" rendered="#{attachment.fileExtenstion eq '.pdf'}"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" 
                                         actionListener="#{formBean.contentLibraryBean.openPdf(attachment)}"
                                         update="attachmentGrid"/>
                        
                        <p:commandButton icon="attachment-icon fa fa-eye" style="background: #fff;color: #282f44; border: none;"
                                         ajax="true" process="@this" rendered="#{attachment.fileExtenstion eq '.jpeg' or attachment.fileExtenstion eq '.jpg' or attachment.fileExtenstion eq '.png'}"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" 
                                         actionListener="#{formBean.contentLibraryBean.openImage(attachment)}"
                                         update="attachmentGrid"/>

                        <p:commandButton ajax="false" icon="attachment-icon fa fa-download" style="background: transparent;border: none;color: #282f44"
                                         update="@form" process="@this">
                            <p:fileDownload value="#{formBean.contentLibraryBean.downloadAttachment(attachment)}"/>
                        </p:commandButton>

                        <p:commandButton icon="attachment-icon fa fa-trash" style="background: transparent;border: none;color: #282f44"
                                         ajax="true" process="@this"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                         update="attachmentGrid" actionListener="#{formBean.contentLibraryBean.deleteAttachment(attachment)}"/>
                    </h:panelGroup>
                </h:panelGrid>
            </p:panel>
        </p:dataGrid>
    </h:panelGrid>

    <p:dialog header="#{accessBean.loadLocalizedValue('add_attachment')}" widgetVar="addAttachmentDialog" dynamic="true"
              width="900" position="center center" 
              style="border-radius: 10px;" id="addAttachmentDialog">
        <p:fileUpload listener="#{formBean.contentLibraryBean.handleAttchmentsUpload}" mode="advanced" dragDropSupport="true"
                      sizeLimit="52428800" allowTypes="/(\.|\/)(gif|jpe?g|png|pdf|doc|docx|xls|xlsx|rar|zip)$/" update="@form"  />

    </p:dialog>

    <p:dialog id="attachmentPdfViewerDialog" widgetVar="attachmentPdfViewerDialog" modal="true" height="600" width="700" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" dynamic="true">
<!--        <pe:documentViewer height="500" value="#{formBean.contentLibraryBean.pdfToView}"  download="extensions-rocks.pdf" >
            <f:param name="reportId" value="#{viewerBean.reportModel.reportDetails.fieldValueMap.get('id').currentValue}" />
        </pe:documentViewer> -->
        <pe:documentViewer height="500" value="#{documentViewerConverterBean.readyDocument}" download="Beezr-rocks.pdf"  >
            <f:param name="documentId" value="#{formBean.contentLibraryBean.selectedUnstructId}" />
            <f:param name="objectId" value="#{formBean.contentLibraryBean.requestedObjectId}" />
        </pe:documentViewer> 
    </p:dialog>

    <p:dialog widgetVar="fullScreenImageAttachment"  modal="true"  position="center" dynamic="true" styleClass="form-dialog" height="500"
              style="border-radius: 4px;text-align: -webkit-center;max-width: 90%;max-height: 80%" >
        <p:graphicImage value="#{applicationBean.recordDynamicImage}" style="max-width: 550px" >
            <f:param name="contentId" value="#{formBean.contentLibraryBean.selectedUnstructId}" />
            <f:param name="context" value="CONFIG" />
            <f:param name="moduleId" value="#{formBean.contentLibraryBean.requestedModule}" />
        </p:graphicImage>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>