<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Advanced Components Manager
    </ui:define>

    <c:choose>
        <c:when test="${component.advancedComponent.type eq 'DYNO_BUTTON'}">
            <h:panelGroup>
                <c:set var="relationVar" value="#{component.layoutId}" />
                <p:commandButton  value="#{component.dynoButtonConfiguration.buttonLabel}" 
                                  actionListener="#{formBean.onDynoButtonClick(relationVar)}" immediate="true"
                                  disabled="#{component.dynoButtonConfiguration.disabled}" 
                                  styleClass="topcommands" update="messages advancedDialogFormMaster:dataTable"
                                  style="border-radius: 3px;#{component.dynoButtonConfiguration.styleScript}" onstart="PF('waitingDlgName').show()"/>
            </h:panelGroup>
        </c:when>
        <c:when test="${component.advancedComponent.type eq 'TABLE_COMP'}">
            <c:choose>
                <c:when test="${component.tableComponentConfiguration.pivotViewActive}">
                    <ui:include src="/WEB-INF/templates/components/viewer/table/pivotTableViewBuilder.xhtml">
                        <ui:param name="formBean" value="#{formBean}" />
                        <ui:param name="component" value="#{fields}" />
                        <ui:param name="parentView" value="#{parentView}" />
                    </ui:include>
                </c:when>
                <c:otherwise>
                    <c:set var="relationVar" value="#{component.layoutId}" />
                    <h:panelGroup id="comp_#{component.layoutId}" styleClass="advanced-form advanced-table" style="width: 100%">
                        <p:dataTable var="tableCompRec" value="#{formBean.tableRecordModelMap[component.layoutId]}" editable="true"
                                     resizableColumns="true" 
                                     style="padding-top: 0.5em;width: 100%" styleClass="datatable paginator-buttons advanced_form_table" lazy="true" rows="#{component.tableComponentConfiguration.numberOfRecordsPerPage}"
                                     paginator="#{empty component.tableComponentConfiguration.summaryColumnsSettings}"  editMode="cell" 
                                     paginatorPosition="bottom" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}" selection="#{formBean.selectedRecords}" 
                                     emptyMessage="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['no_records']}">
                            <p:ajax event="rowSelect" listener="#{formBean.onCustomTableRowSelect}" disabled="#{parentView ne 'SMART_TAB'}"
                                    onstart="PF('waitingDlgName').show()"/>
                            <p:ajax event="cellEdit" listener="#{formBean.onCustomTableEdit}" />
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"  rendered="#{parentView eq 'SMART_TAB'}"/>
                            <p:column style="width:30px" rendered="#{component.tableComponentConfiguration.deletable}">
                                <p:commandLink actionListener="#{formBean.onTableRecordDelete(component.layoutId,tableCompRec)}" immediate="true" >
                                    <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                    <p:confirm header="Confirmation" message="Are you sure?" icon="fa fa-exclamation-triangle" />
                                </p:commandLink>
                            </p:column>
                            <c:forEach items="#{component.tableComponentConfiguration.columnSettings}" var="tableCompSolSetting">
                                <c:if test="${tableCompSolSetting.visible}">
                                    <c:choose>
                                        <c:when test="${tableCompSolSetting.editable}">
                                            <c:choose>
                                                <c:when test="${tableCompSolSetting.componentType eq 'SPINNER'}">
                                                    <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                                        <p:inputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                                                     style="border: 1px solid #ababab;padding: 5px;border-radius: 6px;" styleClass="table_spinner_input" > 
                                                            <p:keyFilter mask="num" preventPaste="false" />
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)"  
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}"/>
                                                        </p:inputText>
                                                    </p:column>

                                                </c:when>
                                                <c:when test="${tableCompSolSetting.componentType eq 'TEXT_FIELD'}">
                                                    <p:column headerText="#{tableCompSolSetting.columnLabel}"> 
                                                        <p:inputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                                                     style="width: -webkit-fill-available" styleClass="table_text_input">
                                                            <p:ajax update="@this @(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}" />
                                                        </p:inputText>
                                                    </p:column>

                                                </c:when>
                                                <c:when test="${tableCompSolSetting.componentType eq 'LOOKUP'}">
                                                    <p:column headerText="#{tableCompSolSetting.columnLabel}">
<!--                                                        <p:selectOneMenu  value="#{tableCompSolSetting.valueHolder}" id="lookup_comp_#{component.layoutId}" widgetVar="lookup_comp_#{component.layoutId}"
                                                                          style="border: none;border: 1px solid #dbdbdb;width: 20em"  
                                                                          styleClass="form-dropdown table_lookup_input" filter="true" filterMatchMode="startsWith">
                                                            <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                                            <f:selectItems value="#{tableCompSolSetting.lookupValueList}" />
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}" />
                                                        </p:selectOneMenu>-->

                                                        <p:selectOneMenu 
                                                            value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                                            style="border: none;border: 1px solid #bebebe;line-height: 2em;" 
                                                            styleClass="form-dropdown" 
                                                            filter="true" filterMatchMode="startsWith">
                                                            <f:selectItem itemLabel="Select" itemValue=""/>
                                                            <f:selectItems value="#{formBean.lookupDictionary.get(tableCompSolSetting.columnFieldName)}" />
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}" />
                                                        </p:selectOneMenu>
                                                    </p:column>

                                                </c:when>
                                                <c:when test="${tableCompSolSetting.componentType eq 'BOOLEAN'}">

                                                    <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                                        <p:toggleSwitch value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                                                        styleClass="table_boolean_input">
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="@form"/>
                                                        </p:toggleSwitch>
                                                    </p:column>

                                                </c:when>

                                                <c:when test="${tableCompSolSetting.componentType eq 'REL'}">
                                                    <p:column headerText="#{tableCompSolSetting.columnLabel}" styleClass="table_autocomplete_noupdate">
                                                        <p:autoComplete id="autcomplete_table_field_#{tableCompSolSetting.columnFieldName}" 
                                                                        value="#{tableCompRec}" immediate="false"  styleClass="table_autocomplete_noupdate"
                                                                        completeMethod="#{formBean.onAutocompleteSearchForTable}"
                                                                        var="autocomplete_table_field" itemLabel="#{autocomplete_table_field.getFieldValueMap().get(formBean.relationRecordsCache.get(tableCompSolSetting.columnFieldName).getRelationManager().getViewColumn()).getCurrentValue()}"
                                                                        itemValue="#{autocomplete_table_field}"
                                                                        scrollHeight="250">
                                                            <f:attribute name="targetField" value="#{tableCompSolSetting.columnFieldName}" />
                                                            <f:attribute name="targetRecord" value="#{tableCompRec}" />
                                                            <p:ajax event="itemSelect" listener="#{formBean.onAutoCompleteItemSelectForTable}" />
                                                        </p:autoComplete>
                                                    </p:column>
                                                </c:when>
                                            </c:choose>
                                        </c:when>
                                        <c:otherwise> 

                                            <p:column headerText="#{tableCompSolSetting.columnLabel}"> 
                                                <p:outputLabel value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}"
                                                               rendered="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType ne 'LOOKUP'}"
                                                               style="font-weight: normal;background: transparent; 
                                                               #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"
                                                               styleClass="table_output_text_cell"/>
                                                <p:outputLabel value="#{tableCompRec.fieldValueMap[tableCompSolSetting.columnFieldName.concat('.name')].currentValue}"
                                                               style="font-weight: normal;background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"
                                                               rendered="#{tableCompRec.fieldValueMap[tableCompSolSetting.columnFieldName].fieldType eq 'LOOKUP'}"
                                                               styleClass="table_output_text_cell"/>
                                            </p:column>

<!--                                            <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.mappingField?tableCompSolSetting.mappingField:tableCompSolSetting.columnFieldName].fieldType eq 'LOOKUP'}">
                                                <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                                    <p:outputLabel value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?formBean.concatLookupNameHandle(tableCompSolSetting.columnFieldName):formBean.concatLookupNameHandle(tableCompSolSetting.mappingField)].currentValue}"
                                                                   style="font-weight: normal;background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"
                                                                   styleClass="table_output_text_cell"/>
                                                </p:column>

                                            </c:if> 
                                            <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType ne 'LOOKUP'}">
                                                <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                                    <p:outputLabel value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}"
                                                                   rendered="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType ne 'LOOKUP'}"
                                                                   style="font-weight: normal;background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"
                                                                   styleClass="table_output_text_cell"/>
                                                    <p:outputLabel value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?formBean.concatLookupNameHandle(tableCompSolSetting.columnFieldName):formBean.concatLookupNameHandle(tableCompSolSetting.mappingField)].currentValue}"
                                                                   style="font-weight: normal;background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"
                                                                    rendered="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType eq 'LOOKUP'}"
                                                                   styleClass="table_output_text_cell"/>
                                                </p:column>

                                            </c:if>-->

                                        </c:otherwise>
                                    </c:choose>
                                </c:if>
                            </c:forEach>
                        </p:dataTable>
                        <p:panelGrid  columns="2" style="width: 100%" styleClass="summary-footer"
                                      rendered="#{not empty component.tableComponentConfiguration.summaryColumnsSettings}">
                            <c:forEach items="#{component.tableComponentConfiguration.summaryColumnsSettings}" var="tableSummarySetting">
                                <h:outputText value="#{tableSummarySetting.columnLabel}"/>
                                <c:choose>
                                    <c:when test="${tableSummarySetting.aggregateColumn}">
                                        <h:outputText value="#{formBean.evaluateAggregate(component.layoutId,not empty tableSummarySetting.columnFieldName?tableSummarySetting.columnFieldName:tableSummarySetting.mappingField)}" />
                                    </c:when>
                                    <c:when test="${tableSummarySetting.dynamicColumn}">
                                        <h:outputText value="#{formBean.evaluateDynamicField(component.layoutId,tableSummarySetting.columnFieldName)}" />
                                    </c:when>
                                    <c:otherwise>
                                        <c:choose>
                                            <c:when test="${tableSummarySetting.editable}">
                                                <c:choose>
                                                    <c:when test="${tableSummarySetting.componentType eq 'SPINNER'}">
                                                        <p:spinner value="#{tableSummarySetting.valueHolder}" 
                                                                   min="0">
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}" />
                                                        </p:spinner>
                                                    </c:when>
                                                    <c:when test="${tableSummarySetting.componentType eq 'BOOLEAN'}">
                                                        <p:toggleSwitch value="#{tableSummarySetting.valueHolder}" />
                                                    </c:when>
                                                    <c:when test="${tableSummarySetting.componentType eq 'LOOKUP'}">
                                                        <p:selectOneMenu  value="#{tableSummarySetting.valueHolder}"
                                                                          style="border: none;border: 1px solid #dbdbdb;width: 20em" 
                                                                          styleClass="form-dropdown" filter="true" filterMatchMode="startsWith">
                                                            <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                                            <f:selectItems value="#{tableSummarySetting.lookupValueList}" />
                                                            <p:ajax update="@(.table_spinner_input, .summary-footer, .table_text_input, .table_lookup_input, .table_boolean_input, .table_output_text_cell)" 
                                                                    listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                                    process="comp_#{component.layoutId}" />
                                                        </p:selectOneMenu>
                                                    </c:when>
                                                </c:choose>
                                            </c:when>
                                            <c:otherwise>
                                                <h:outputText value="#{tableSummarySetting.valueHolder}" />
                                            </c:otherwise>
                                        </c:choose>
                                    </c:otherwise>
                                </c:choose>
                            </c:forEach>
                        </p:panelGrid>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
                        </p:confirmDialog> 
                    </h:panelGroup>
                </c:otherwise>
            </c:choose>

        </c:when>

        <c:when test="${component.advancedComponent.type eq 'TEXT_BLOCK'}">
            <h:outputText value="#{component.textBlockConfiguration.text}" escape="false"  styleClass="form_text_block"/>
        </c:when>

        <c:when test="${component.advancedComponent.type eq 'CUSTOM'}">
            <c:choose>
                <c:when test="${component.customComponentConfiguration.componentType eq 'REPORT'}">
                    <ui:include src="/WEB-INF/templates/components/viewer/customViewBuilder.xhtml">
                        <ui:param name="viewerBean" value="#{formBean.reportViewer}" />
                        <ui:param name="targetWidget" value="#{component.customComponentConfiguration.reportWidgetConfig}" />
                        <ui:param name="forDashboard" value="#{false}" />
                        <ui:param name="pageBean" value="#{formBean}" />
                    </ui:include>
                </c:when>
            </c:choose>
        </c:when>
    </c:choose>




    <ui:define name="contentTable">
    </ui:define>

</ui:composition>