<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="title">
        Advanced Components Manager
    </ui:define>

    <c:choose>
        <c:when test="${fields.advancedComponent.type ne 'LAYOUT'}">
            <p:panelGrid columns="1" style="width: -webkit-fill-available !important;" styleClass="borderless-grid advanced-non-layout">
                <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewBuilder.xhtml">
                    <ui:param name="formBean" value="#{formBean}" />
                    <ui:param name="component" value="#{fields}" />
                    <ui:param name="parentView" value="#{parentView}" />
                </ui:include>
            </p:panelGrid>
            <c:if test="${fields.advancedComponent.type eq 'TEXT_BLOCK'}">
                <h:panelGroup style="display: none;width: 0%" styleClass="empty_form_block"/>
            <h:panelGroup style="display: none;width: 0%" styleClass="empty_form_block"/>
            <h:panelGroup style="display: none;width: 0%" styleClass="empty_form_block"/>
            </c:if>
            
<!--            <h:panelGroup style="display: none;width: 0%"/>
            <h:panelGroup style="display: none;width: 0%"/>
            <h:panelGroup style="display: none;width: 0%"/>-->
        </c:when>
        <c:otherwise>
            <p:panelGrid columns="#{not empty fields.layoutComponentConfiguration and fields.layoutComponentConfiguration.numberOfColumns ne '0'?fields.layoutComponentConfiguration.numberOfColumns:'1'}"
                         styleClass="borderless-grid advanced-layout" style="display: inline-flex;vertical-align: bottom;width: fit-content;text-align: center">
                <c:forEach items="#{fields.layoutComponentConfiguration.componentsList}" var="layoutComponent">
                    <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewBuilder.xhtml">
                        <ui:param name="formBean" value="#{formBean}" />
                        <ui:param name="component" value="#{layoutComponent}" />
                        <ui:param name="layoutConfig" value="#{fields.layoutComponentConfiguration}" />
                        <ui:param name="parentView" value="#{parentView}" />
                    </ui:include>
                </c:forEach>
            </p:panelGrid>
        </c:otherwise>
    </c:choose>

    <!--    <c:choose>
            <c:when test="${fields.advancedComponent.type eq 'DYNO_BUTTON'}">
                <c:set var="relationVar" value="#{fields.layoutId}" />
                <h:panelGroup>
                    <p:commandButton  value="#{fields.dynoButtonConfiguration.buttonLabel}" 
                                      actionListener="#{formBean.onDynoButtonClick(relationVar)}" 
                                      immediate="true"
                                      styleClass="topcommands" update="advancedDialogFormMaster:dataTable"
                                      style="border-radius: 3px;" onstart="PF('waitingDlgName').show()"
                                      oncomplete="PF('waitingDlgName').hide()"/>
                </h:panelGroup>
                <h:panelGroup/>
                <h:panelGroup/>
                <h:panelGroup/>
            </c:when>
            <c:when test="${fields.advancedComponent.type eq 'TABLE_COMP'}">
                <c:set var="relationVar" value="#{fields.layoutId}" />
                <h:panelGroup id="comp_#{fields.layoutId}">
                    <p:dataTable var="tableCompRec" value="#{formBean.tableRecordListMap[fields.layoutId]}"
                                 style="padding-top: 0.5em;" styleClass="datatable paginator-buttons"
                                 paginator="#{empty fields.tableComponentConfiguration.summaryColumnsSettings}" 
                                 paginatorPosition="bottom" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}"
                                 emptyMessage="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['no_records']}">
                        <p:column style="width:30px">
                            <p:commandLink actionListener="#{formBean.onTableRecordDelete(fields.layoutId,tableCompRec)}" update="comp_#{fields.layoutId}">
                                <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                            </p:commandLink>
                        </p:column>
                        <c:forEach items="#{fields.tableComponentConfiguration.columnSettings}" var="tableCompSolSetting">
                            <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                <c:choose>
                                    <c:when test="${tableCompSolSetting.editable}">
                                        <c:choose>
                                            <c:when test="${tableCompSolSetting.componentType eq 'SPINNER'}">
                                                <p:spinner value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                                           min="1">
                                                    <p:ajax update="@this" listener="#{formBean.onTableEditEvent(fields.layoutId)}" process="@this" />
                                                </p:spinner>
                                            </c:when>
                                        </c:choose>
                                    </c:when>
                                    <c:otherwise>
                                        <h:outputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}"/>
                                    </c:otherwise>
                                </c:choose>
    
                            </p:column>
                        </c:forEach>
                    </p:dataTable>
                    <p:panelGrid columns="2" style="width: 100%" styleClass="summary-footer"
                                 rendered="#{not empty fields.tableComponentConfiguration.summaryColumnsSettings}">
                        <c:forEach items="#{fields.tableComponentConfiguration.summaryColumnsSettings}" var="tableSummarySetting">
                            <h:outputText value="#{tableSummarySetting.columnLabel}"/>
                            <c:choose>
                                <c:when test="${tableSummarySetting.aggregateColumn}">
                                    <h:outputText value="#{formBean.evaluateAggregate(fields.layoutId,tableSummarySetting.columnLabel)}" />
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{tableSummarySetting.columnLabel}" />
                                </c:otherwise>
                            </c:choose>
                        </c:forEach>
                    </p:panelGrid>
                </h:panelGroup>
                <h:panelGroup/>
                <h:panelGroup/>
                <h:panelGroup/>
            </c:when>
            <c:when test="${fields.advancedComponent.type eq 'LAYOUT'}">
                <c:set var="relationVar" value="#{fields.layoutId}" />
                <h:panelGroup>
                    <ui:include src="/WEB-INF/templates/components/advancedComponentsViewer.xhtml">
                        <ui:param name="formBean" value="#{formBean}" />
                        <ui:param name="fields" value="#{fields}" />
                    </ui:include>
                </h:panelGroup>
                <h:panelGroup/>
                <h:panelGroup/>
                <h:panelGroup/>
            </c:when>
        </c:choose>-->

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>