<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Report View Builder
    </ui:define>

<!--    <p:outputLabel style="font-size: 15px;font-weight: 600;margin-bottom: 1em;"
                   value="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_name'].currentValue}" 
                   rendered="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_type'].currentValue ne '2'}"/>-->
    
    <p:dataTable var="recPivotList" value="#{viewerBean.pivotReportData}" 
                 rendered="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_type'].currentValue eq '1' and viewerBean.reportModel.enablePivotView}"
                 widgetVar="recPivotList" 
                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                 style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="15"
                 paginator="true" paginatorPosition="bottom">
        <f:facet name="{Exporters}">
            <h:commandLink>
                <p:graphicImage name="images/excel_tbl_ic.png" width="24"/>
                <p:dataExporter type="xls" target="dataTable" fileName="Report_EXCEL" options="#{viewerBean.excelOpt}"/>
            </h:commandLink>

            <h:commandLink>
                <p:graphicImage name="images/pdf_tbl_ic.png" width="24"/>
                <p:dataExporter type="pdf" target="dataTable" fileName="Report_PDF" options="#{viewerBean.pdfOpt}"/>
            </h:commandLink>
        </f:facet>

        <p:columnGroup type="header">
            <p:row>
                <p:column rowspan="1" headerText="#{viewerBean.reportModel.pivotConfiguration.rowConfiguration}"/>
                <ui:repeat value="#{viewerBean.reportModel.pivotConfiguration.extraValueRows}" var="extraColumns">
                    <p:column headerText="#{extraColumns}"/>
                </ui:repeat>
                <ui:repeat value="#{viewerBean.pivotHeaderValues}" var="pivotHeader">
                    <p:column headerText="#{pivotHeader}"/>
                </ui:repeat>
            </p:row>
        </p:columnGroup>

        <p:column>
            <h:outputText value="#{recPivotList.fieldValueMap[viewerBean.reportModel.pivotConfiguration.rowConfiguration].currentValue}"/>
        </p:column>

        <p:columns value="#{viewerBean.reportModel.pivotConfiguration.extraValueRows}" var="extraColumns">
            <h:outputText value="#{recPivotList.fieldValueMap[extraColumns].currentValue}"/>
        </p:columns>

        <p:columns value="#{viewerBean.pivotHeaderValues}" var="pivotHeader">
            <h:outputText value="#{viewerBean.evaluatePivotRowValue(pivotHeader,recPivotList.fieldValueMap[viewerBean.reportModel.pivotConfiguration.rowConfiguration].currentValue)}"/>
        </p:columns>

    </p:dataTable>

    <p:outputPanel deferred="true">
        <p:panel style="border: none;width: 100%"  header=" " 
                 rendered="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_type'].currentValue eq '2'}">
            <f:facet name="actions" >
                <p:commandLink  actionListener="#{pageBean.openReportFilterConfiguration(targetWidget)}" update="filterPanel_#{targetWidget.widgetId}"
                                onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"
                                styleClass="settings-gear" rendered="#{forDashboard}" >
                    <p:tooltip for="@parent" value="Change the filters of your report here without affecting the original one" position="bottom"/>
                    <h:graphicImage name="/images/filter_ic.png" width="25" style="margin-left: .5em"/>
                </p:commandLink>
            </f:facet>

            <p:pieChart id="pieChart" model="#{viewerBean.pieChartModel}" style="height: 21em;width: -webkit-fill-available;padding: 0em;" rendered="#{not empty viewerBean.pieChartModel}"/>
            <p:lineChart id="lineChart" model="#{viewerBean.lineModel}" style="height: 21em;width: -webkit-fill-available;padding: 0em" rendered="#{not empty viewerBean.lineModel}"/>
            <p:barChart  id="barChart" model="#{viewerBean.barChartModel}" style="height: 21em;width: -webkit-fill-available;padding: 0em" rendered="#{not empty viewerBean.barChartModel}"/>
            <p:donutChart id="donutChart" model="#{viewerBean.donutModel}"  style="height: 21em;width: -webkit-fill-available;padding: 0em" rendered="#{not empty viewerBean.donutModel}"/>
        </p:panel>
    </p:outputPanel>

    <p:panel style="border: none" rendered="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_type'].currentValue eq '1'  and viewerBean.reportModel.enableCustomReport}">
        <p:commandButton value="Export as PDF"  update="customReportPdfDialog" oncomplete="PF('customReportPdfDialog').show()">
        </p:commandButton>
        <h:outputText value="#{viewerBean.reportModel.customReportConfig.htmlContent}" escape="false"  />
    </p:panel>

    <p:panel style="border: none" rendered="#{viewerBean.reportModel.reportDetails.fieldValueMap['report_type'].currentValue eq '3'}">
<!--        <p:commandButton value="Export as PDF"  update="customReportPdfDialog" oncomplete="PF('customReportPdfDialog').show()">
        </p:commandButton>-->
        <h:outputText value="#{viewerBean.reportModel.customReportConfig.htmlContent}" escape="false"  />
    </p:panel>

    <p:dialog header="Report" id="customReportPdfDialog" widgetVar="customReportPdfDialog" modal="true" height="600" width="700" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" dynamic="true">
        <pe:documentViewer height="500" value="#{customReportConverterBean.convertedReport}" download="extensions-rocks.pdf" >
            <f:param name="reportId" value="#{viewerBean.reportModel.reportDetails.fieldValueMap.get('id').currentValue}" />
        </pe:documentViewer> 
    </p:dialog>



    <ui:define name="contentTable">
    </ui:define>

</ui:composition>