<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <h:head>
        <title>
            <ui:insert name="title">Change Password</ui:insert>
        </title>
        <link rel="icon" type="image/png"  sizes="32x32" href="images/beezr_fav_icon.png" />

        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>


        </f:facet>
    </h:head>

    <h:body id="homeBody" styleClass="beezer-theme">
        <style>
            body {
                background-color: #fff !important;
            }
        </style>
        <f:facet name="last">

            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/custom_v2.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
            <h:outputStylesheet name="stylesheets/paper-dashboard.css" />
            <h:outputStylesheet name="stylesheets/themify-icons.css" />
            <h:outputStylesheet name="stylesheets/primeflex.css" />
        </f:facet>
        <h:form prependId="false" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                    return false;
                }">

            <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages">
                <p:autoUpdate />
            </p:messages>

            <c:choose>
                <c:when test="${activationManagerBean.activationKeyMissing}">
                    <style>
                        body {
                            background-color: #f0f4f4 !important;
                        }
                    </style>
                    <div class="public-form-wrapper" style="background: #f0f4f4">
                        <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container">
                            <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="130"/>
                                <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">This page could not be found</h1>
                                <p style="font-size: 14px">

                                    The page you are looking for has not been found. This might be because URL is incorrect or that you don’t have permission to view this page.

                                </p>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </c:when>

                <c:when test="${!activationManagerBean.activationKeyMissing and activationManagerBean.invalidActivationKey}">
                    <style>
                        body {
                            background-color: #f0f4f4 !important;
                        }
                    </style>
                    <div class="public-form-wrapper" style="background: #f0f4f4">
                        <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container">
                            <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="130"/>
                                <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">Something went wrong here</h1>
                                <p style="font-size: 14px">

                                    #{activationManagerBean.validationResponse}

                                </p>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </c:when>

                <c:otherwise>
                    <p:panelGrid columns="2" styleClass="borderless-grid" style="width: 100%" id="activationSetPasswordPanel">
                        <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%;margin-left: 4em">
                            <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="100"/>
                            <p:outputLabel value="Welcome to the better way for managing your business" 
                                           style="font-weight: bold;font-size: 32px;color: #000;font-family: 'Montserrat',sans-serif;margin-top: 0em;"/>
                            <p>Hello <strong>#{activationManagerBean.userModel.name}</strong></p>
                            <p>Set your password to awesomeness 🚀</p>
                            <p:password id="password" value="#{activationManagerBean.userModel.password}" required="true" label="Keyword" 
                                        style="margin-bottom:  0em;height: 3em;border-radius: 4px;padding: 1em;background: #fff;color: #404040;padding-left: 2em;width: 30em"
                                        styleClass="sign-credentials"/>
                            <p:commandButton value="Let's Go" style="border-radius: 4px;
                                             color: #282f44;
                                             background-color: #ffd100;
                                             border: 1px solid #fff;
                                             padding: .5em;
                                             font-weight: bolder;
                                             width: 15em;font-size: 16px" process="activationSetPasswordPanel"
                                             update="@form" actionListener="#{activationManagerBean.updateUserPassword()}"
                                             onstart="PF('waitingDlgName').show()" />
                        </p:panelGrid>

                        <p:graphicImage name="/images/activation_background.png"  styleClass="rounded" width="600"/>
                    </p:panelGrid>
                </c:otherwise>
            </c:choose> 

            <p:dialog id="activationCompletedDialog" resizable="false" dynamic="true" closable="false"
                      widgetVar="activationCompletedDialog"  modal="true" >
                <p:panelGrid columns="2" styleClass="borderless-grid">
                    <p:graphicImage name="/images/celebrate_activation.png"  styleClass="rounded" width="170"/>
                    <p:panelGrid columns="1" styleClass="borderless-grid">
                        <p:outputLabel value="You are all set and ready!" 
                                       style="font-weight: bold;font-size: 28px;color: #000;font-family: 'Montserrat',sans-serif;margin-top: 0em;"/>
                        <p>Where do you want to explore first?</p>
                        <p:panelGrid columns="2" styleClass="borderless-grid">
                            <p:commandLink action="#{activationManagerBean.redirectToSpace('DESIGNER')}" immediate="true">
                                <p:card style="width: 16em;background: #fff;display: flex;flex-direction: column; justify-content: space-between; text-align: center">
                                    <f:facet name="header">
                                        <p:graphicImage name="/images/designer_space_logo_white.png"  styleClass="rounded" style="width: 50%;margin-top: 5px"/>
                                    </f:facet>
                                    <f:facet name="title">
                                        Designer Space
                                    </f:facet>

                                    <p style="font-size: 12px">Where you can design and build your applications. You need to be an admin to access here</p>
                                </p:card>
                            </p:commandLink>

                            <p:commandLink action="#{activationManagerBean.redirectToSpace('APP')}" immediate="true">
                                <p:card style="width: 16em;background: #fff;display: flex;flex-direction: column; justify-content: space-between; text-align: center">
                                    <f:facet name="header">
                                        <p:graphicImage name="/images/app_space_logo_white.png"  styleClass="rounded" style="width: 50%;margin-top: 5px"/>
                                    </f:facet>
                                    <f:facet name="title">
                                        App Space
                                    </f:facet>

                                    <p style="font-size: 12px">Where you can access and start managing your business data and workflows</p>
                                </p:card>
                            </p:commandLink>
                        </p:panelGrid>

                    </p:panelGrid>

                </p:panelGrid>

            </p:dialog>

            <p:dialog id="somethingWentWrongWarningDialog" resizable="false" header="Something went wrong" dynamic="true"
                      widgetVar="somethingWentWrongWarningDialog"  modal="true" width="500">
                <p:panelGrid columns="2" styleClass="borderless-grid">
                    <p:graphicImage name="/images/sad_something_wrong.png"  styleClass="rounded" width="70"/>
                    <p:outputLabel value="#{activationManagerBean.validationResponse}" 
                                   style="font-weight: normal;font-size: 16px"/>
                </p:panelGrid>
                <p:commandButton value="Ok then" style="border-radius: 4px;
                                 color: #282f44;
                                 background-color: #ffd100;
                                 border: 1px solid #fff;
                                 padding: .5em;
                                 font-weight: bolder;
                                 width: 15em;" 
                                 update="@form" 
                                 onstart="PF('waitingDlgName').show()" />
            </p:dialog>

            <p:dialog id="waitingDialog" resizable="false" showHeader="false" 
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/beezr_loader_gif.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                                    
                        </td>
                    </tr>
                </table>
            </p:dialog>



        </h:form>

    </h:body>
</html>

