<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Contacts
    </ui:define>

    <h:panelGrid columns="1">
        <h:panelGroup>
            <p:inputText id="productsFullTextSearch" value="#{productsBean.FTSKeyword}" label="Keyword"
                         style="border: .1px solid #ccc;
                         border-radius: 50em;
                         float: left;
                         margin-top: 0.4em;
                         padding: 0.8em;
                         margin-right: 0.2em;
                         margin-left: 0.4em;" styleClass="sign-credentials"/>
            <p:watermark for="productsFullTextSearch" value="Search with keyword" />
            <p:commandButton value="Search" style="float: left"
                             actionListener="#{productsBean.search(null)}" update="productsTable"
                             styleClass="save-button topcommands" />

        </h:panelGroup>

        <p:dataTable var="recList" value="#{productsBean.lazyRecordModel}" 
                     widgetVar="productsTable" id="productsTable"
                     style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                     paginator="true" paginatorPosition="bottom" selection="#{addDealBean.selectedProducts}" 
                     lazy="true" filterEvent="enter">
            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
            <p:columns var="fields" value="#{productsBean.settingsList}" headerText="#{fields.columnLabel}">
                <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
            </p:columns>
            <f:facet name="header">
                <p:commandButton process="productsTable" update="pnl1 pnl2 pnl3" icon="ui-icon-search" actionListener="#{addDealBean.addProductToOrderList()}"
                                 value="Done" oncomplete="PF('productsDialog').hide()"/>
            </f:facet>
        </p:dataTable>
    </h:panelGrid>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>