<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Report Filter Builder
    </ui:define>

    <c:forEach items="#{conditionsList}" var="conditionFilter" varStatus="loopReportCondition">
        <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" id="filterGrid_#{decisionType}_#{loopReportCondition.index}_#{widgetId}">
            <p:selectOneMenu id="filterCol_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" widgetVar="filterCol_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" 
                             value="#{conditionFilter.fieldModel}" style="width:19em;border: none;border: 1px solid #ccc;background: #fff;margin-right: 1em"
                             >
                <!--<f:converter converterId="moduleFieldsConverterForDashboard" />-->
                <!--<f:attribute name="moduleId" value="#{filterBoxManager.targetModuleId}"/>-->
                <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                <f:selectItems value="#{managerBean.filterColumnList}" var="filterCol" itemValue="#{filterCol}" itemLabel="#{filterCol.fieldLabel}"/>
                <p:ajax  update="filterGrid_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" listener="#{managerBean.loadLookupForFilter(conditionFilter.fieldModel)}"/>
            </p:selectOneMenu>

            <p:selectOneMenu id="console_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" widgetVar="console_#{decisionType}_#{loopReportCondition.index}_#{widgetId}"
                             value="#{conditionFilter.operator}" 
                             style="width:13em;border: none;border: 1px solid #ccc;">
                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                <f:selectItem itemLabel="Equal" itemValue="=" />
                <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
                <f:selectItem itemLabel="Less Than" itemValue="&le;" />
                <f:selectItem itemLabel="Contains" itemValue="LIKE" />
                <f:selectItem itemLabel="Between" itemValue="BETWEEN" />
                <p:ajax update="valhueHolderPanel_#{decisionType}_#{loopReportCondition.index}_#{widgetId}"/>
            </p:selectOneMenu>

            <p:panel style="border: 0px solid #ccc;margin-left: 1em;border-radius: 3px;" id="valhueHolderPanel_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" styleClass="filter-value-holder">

                <c:choose>
                    <c:when test="${conditionFilter.fieldModel.fieldType eq 'DATE'}">
                        <h:panelGroup rendered="#{conditionFilter.fieldModel.fieldType eq 'DATE'}" style="width: 30em">
                            <h:panelGrid columns="2" style="width: 30em;"  
                                         rendered="#{conditionFilter.operator eq 'BETWEEN'}">
                                <h:panelGrid columns="2">
                                    <p:outputLabel value="Dynamic" style="font-weight: normal;margin-right: 0.5em;"/>
                                    <p:selectBooleanCheckbox value="#{conditionFilter.dynamicDate}" style="margin-right: 0.5em;vertical-align: baseline"> 
                                        <p:ajax update="filterGrid_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" />
                                    </p:selectBooleanCheckbox>
                                </h:panelGrid>
                                <h:panelGrid  columns="2" rendered="#{conditionFilter.dynamicDate eq false}">
                                    <p:datePicker  value="#{conditionFilter.dateFrom}"  pattern="yyyy-MM-dd" style="margin-right: 1em;" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                        <f:convertDateTime pattern="yyyy-MM-dd" />
                                    </p:datePicker >
                                    <p:datePicker  value="#{conditionFilter.dateTo}"  pattern="yyyy-MM-dd" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                        <f:convertDateTime pattern="yyyy-MM-dd" />
                                    </p:datePicker >
                                </h:panelGrid>
                                <h:panelGroup rendered="#{conditionFilter.dynamicDate eq true}">
                                    <h:panelGrid columns="4" style="width: 100%;">
                                        <p:outputLabel value="From" style="font-weight: bold;"/>
                                        <p:selectOneMenu widgetVar="andDynamicDateFrom_#{loopReportCondition.index}_#{widgetId}" value="#{conditionFilter.dataFrom}" 
                                                         style="width:13em;border: none;border: 1px solid #ccc;">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                            <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                            <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                        </p:selectOneMenu>

                                        <p:outputLabel value="To" style="font-weight: bold;"/>
                                        <p:selectOneMenu widgetVar="dynamicDateTo_#{decisionType}_#{loopReportCondition.index}_#{widgetId}" value="#{conditionFilter.dataTo}" 
                                                         style="width:13em;border: none;border: 1px solid #ccc;">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                            <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                            <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                        </p:selectOneMenu>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </h:panelGrid>


                            <p:calendar value="#{conditionFilter.value}" showOn="button" pattern="yyyy-MM-dd" rendered="#{conditionFilter.operator ne 'BETWEEN'}"
                                        styleClass="single-calendar">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </p:calendar>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${conditionFilter.fieldModel.fieldType eq 'BOOLEAN'}">
                        <p:panel style="width: 30em">
                            <p:selectOneMenu value="#{conditionFilter.value}" 
                                             style="width:100%;border: none;border: 1px solid #ccc;">
                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                <f:selectItem itemLabel="True" itemValue="1" />
                                <f:selectItem itemLabel="False" itemValue="0" />
                            </p:selectOneMenu>
                        </p:panel>
                    </c:when>

                    <c:when test="${conditionFilter.fieldModel.fieldType eq 'LOOKUP'}">
                        <p:panel style="width: 30em">
                            <p:selectOneMenu value="#{conditionFilter.value}" 
                                             style="width:100%;border: none;border: 1px solid #ccc;">
                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                <f:selectItems value="#{managerBean.lookupDictionary.get(conditionFilter.fieldModel.fieldName)}" />
                            </p:selectOneMenu>
                        </p:panel>
                    </c:when>

                    <c:otherwise>
                        <p:inputText style="border:none;border-bottom: 1px solid #ccc;padding: 0.7em;min-width: 30em"
                                     value="#{conditionFilter.value}" rendered="#{conditionFilter.fieldModel.fieldType ne 'DATE'}"/>
                    </c:otherwise>
                </c:choose>
            </p:panel>

            <p:commandLink actionListener="#{managerBean.removeCondition(decisionType,conditionFilter)}" 
                           update="filterPanel_#{widgetId}" style="margin-left: 1em" immediate="true">
                <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
            </p:commandLink>
        </h:panelGrid>
    </c:forEach>

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>