<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
    <h:head>
        <title>
            <ui:insert name="title">Beezer</ui:insert>
        </title>
        <link rel="icon" type="image/png" href="/BeezerWebApp/images/favicon-32x32.png" />
        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <script>
                $(document).ready(function () {
                    var trigger = $('.hamburger'),
                            overlay = $('.overlay'),
                            isClosed = false;

                    trigger.click(function () {
                        hamburger_cross();
                    });

                    function hamburger_cross() {

                        if (isClosed == true) {
                            overlay.hide();
                            trigger.removeClass('is-open');
                            trigger.addClass('is-closed');
                            isClosed = false;
                        } else {
                            overlay.show();
                            trigger.removeClass('is-closed');
                            trigger.addClass('is-open');
                            isClosed = true;
                        }
                    }

                    $('[data-toggle="offcanvas"]').click(function () {
                        $('#wrapper').toggleClass('toggled');
                    });
                });
            </script>

        </f:facet>
    </h:head>

    <h:body>
        <f:facet name="last">
            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
        </f:facet>
        <h:form prependId="true" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                    return false;
                }">
            <p:idleMonitor timeout="1200000">
                <p:ajax event="idle" listener="#{applicationBean.showIdleDialog}" />
            </p:idleMonitor>
            <div id="wrapper" class="toggled">

                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a class="sidebar-logo" href="dashboardB.xhtml" style="text-align: center;">
                                <h:graphicImage value="#{accessBean.companyModel.companyLogo ne null? accessBean.companyModel.companyLogo : 'images/blackbeezer_login.png'}" 
                                                style="max-height:-webkit-fill-available;border:0;max-width: 100%"/>
                            </a>
                        </li>
                        <p:menu styleClass="side">
                            <c:forEach items="#{accessBean.activeApplication.moduleConfigMap}" var="appConfig">
                                <p:submenu styleClass="side" label="#{appConfig.key}">
                                    <c:forEach items="#{appConfig.value}" var="appConfigList">
                                        <c:if test="#{not empty appConfigList.outcome}">
                                            <p:menuitem  value="#{appConfigList.moduleName}" 
                                                         outcome="#{appConfigList.outcome}" 
                                                         icon="#{appConfigList.icon}"
                                                         onclick="PF('waitingDlgName').show()"
                                                         onstart="PF('waitingDlgName').show()"/>
                                        </c:if>
                                        <c:if test="#{empty appConfigList.outcome}">
                                            <p:menuitem  value="#{appConfigList.moduleName}" 
                                                         url="data.xhtml?moduleId=#{appConfigList.moduleId}&amp;faces-redirect=true"
                                                         icon="#{appConfigList.icon}"
                                                         onclick="PF('waitingDlgName').show()"/>
                                        </c:if>
                                    </c:forEach>
                                </p:submenu>
                            </c:forEach>
                        </p:menu>


                        <!--                        <p:menu styleClass="side">
                                                    <p:submenu styleClass="side" label="Clientel">
                                                        <p:menuitem  value="Customers" outcome="customers" icon="nav-customer-icon" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                                                    </p:submenu>
                                                    <p:submenu styleClass="side" label="Sales">
                                                        <p:menuitem  value="Deals" outcome="deals" icon="nav-deals-icon" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                                                        <p:menuitem  value="Orders" outcome="ordersKanban" icon="nav-orders-icon"/>
                                                    </p:submenu>
                                                    <p:submenu styleClass="side" label="Inventory">
                                                        <p:menuitem  value="Products" outcome="products?transition=fade" icon="nav-product-icon"/>
                                                        <p:menuitem  value="Services" outcome="services" icon="nav-service-icon"/>
                                                        <p:menuitem  value="Suppliers" outcome="suppliers" icon="nav-supplier-icon"/>
                                                    </p:submenu>
                                                </p:menu>-->
                    </ul>
                </nav>

                <div id="page-content-wrapper">
                    <!--                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                                            <span class="hamb-top"></span>
                                            <span class="hamb-middle"></span>
                                            <span class="hamb-bottom"></span>
                                        </button>-->
                    <div id="top-controls-wrapper">
                        <ul class="top-nav-container">
                            <li style="padding: 12px 16px;">
                                <h:button  style="padding: 0em;box-shadow: none; border: none;width:25px" rendered="#{accessBean.userModel.permissionSet.admin}"
                                           outcome="admin" image="resources/images/topcommands/settings.png" >
                                </h:button >
                            </li>
                            <li>
                                <p:commandLink id="userTopControl" update="@form" actionListener="#{commonBean.showUserProfile}">
                                    <h:graphicImage name="/images/topcommands/user.png" width="25"/>
                                </p:commandLink>
                                <p:overlayPanel id="userSnippet" for="userTopControl" showEvent="mouseover"
                                                showEffect="fade" hideEffect="fade" styleClass="user-snippet">
                                    <p:panelGrid columns="2" style="border: none;width: 100%">
                                        <p:graphicImage name="/images/black-user-shape.png" width="30"/>
                                        <p:panelGrid columns="1" style="border: none;">
                                            <p:outputLabel value="#{accessBean.userModel.name}" style="margin-bottom: 1px"/>
                                            <p:outputLabel value="#{accessBean.userModel.email}" style="font-weight: normal;"/>
                                        </p:panelGrid>
                                    </p:panelGrid>
                                    <p:separator style="padding: 0;border: .1px solid #e1dfdf;"/>
                                    <p:commandLink value="Sign out" action="login.xhtml?faces-redirect=true" style="color: #e31f1f" immediate="true"/>
                                </p:overlayPanel>
                            </li>
                            <li style="display: none">
                                <a href="#" style="text-align: center;">
                                    <img src="resources/images/topcommands/notification.png" 
                                         style="width:25px;"></img>
                                </a>
                            </li>
                            <li>
                                <p:commandLink id="calendarTopControl" update="@form" action="calendar.xhtml?faces-redirect=true">
                                    <h:graphicImage name="/images/topcommands/calendar.png" width="25"/>
                                </p:commandLink>
                            </li>
                            <li>
                                <p:commandLink id="reportsTopControl" update="@form" action="reports.xhtml?faces-redirect=true">
                                    <h:graphicImage name="/images/topcommands/reports.png" width="25"/>
                                </p:commandLink>
                            </li>
                            <li style="float: left;background: #fbfbfb;border-bottom: 2px solid #fbfbfb;">
                                <p:commandLink update="@form" action="reports.xhtml?faces-redirect=true">
                                    <h:graphicImage name="/images/hive_store3.png" width="25"/>
                                </p:commandLink>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <ui:insert name="content" class="content-base-body">
                                </ui:insert>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p:dialog id="waitingDialog" resizable="false" showHeader="false"
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
                        </td>
                    </tr>
                </table>
            </p:dialog>
            <p:confirmDialog id="idleDialog"
                             message="You were away for too long.. can you log in again"
                             header="Are you there?" severity="alert" widgetVar="idleDialog" closable="false">
                <p:commandButton value="OK" 
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                 immediate="true"
                                 action="login.xhtml?faces-redirect=true" style="margin: 0;
                                 margin-left: 42%;
                                 border-radius: 10px;"/>
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>

