<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <p:panel style="margin-bottom:1px;background: #fff;
             margin-top: 0;box-shadow: none;
             direction: #{accessBean.userModel.rtl? 'rtl;text-align:right;':'ltr'}; #{not empty customCSS? customCSS:''}"
             styleClass="form-container" >

<!--        <p:commandLink value="Reset Filters" actionListener="#{requestorBean.resetFilters}" immediate="true"
                       style="border: 1px solid #de5050;padding: 3px;background: #ffd3d3;border-radius: 3px;margin-left: 2.5em;">
            <p:ajax update="filterContainerPanel" resetValues="true" />
        </p:commandLink>-->
        <h:panelGrid id="filterContainerPanel" columns="4" cellpadding="4" cellspacing="4" style="width: 100%">
            <c:forEach items="#{requestorBean.filterFieldsList}" var="fields">
                <p:outputLabel value="#{not empty fields.fieldLabel? fields.fieldLabel:fields.fieldName}"  rendered="#{fields.isVisible}" 
                               style="padding: 1em;margin-left: 3em;color: #282f44"/>

                <c:choose>
                    <c:when test="${fields.fieldType.equals('REL')}">
                        <c:set var="relationVar" value="#{fields.fieldName}" />
                        <!--                        <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group">
                                                    <p:outputLabel id="#{fields.fieldName}" value="#{requestorBean.selectedRelationRecord.getFieldValueMap().get(requestorBean.relationRecordsCache.get(requestorBean.dataTableKey).getRelationManager().getViewColumn()).getCurrentValue()}" rendered="#{fields.isVisible}" 
                                                                   style="padding: 0.6em;border: 1px solid #cccccc;width: 85%;height: 2.85em;"/>
                                                    <p:commandButton icon="ui-icon-search"
                                                                     style="padding: 0.4em;box-shadow: none; 
                                                                     border: 1px solid #cccccc;background: #f1f1f1;padding-bottom: 0.3em;padding-top: 0.5em;height: 100%" 
                                                                     immediate="true" actionListener="#{requestorBean.loadLazyRelationDataRecords(relationVar)}"
                                                                     update="dialogForm:dataTable">
                                                    </p:commandButton>
                                                </h:panelGroup>-->
                        <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group" rendered="#{fields.isVisible}">
                            <p:chips 
                                value="#{requestorBean.selectedMultiRelationMap[relationVar].multiRelationSelectedValueViews}" 
                                rendered="#{fields.isVisible}" style="width: 20em;height: 100%">
                                <f:attribute name="searchChipAttrivute" value="#{relationVar}" />
                                <f:attribute name="searchChipAttributeValue" value="#{relationVar}" />
                                <p:ajax event="itemUnselect" listener="#{requestorBean.onSearchChipDeselect}"  />
                            </p:chips>
                            <p:commandButton icon="fa fa-search"
                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #dbdbdb;
                                                             color: #6d6d6d;
                                                             background: #fff;height: 100%;border-radius: 0;width: 2.5em" 
                                             immediate="true" actionListener="#{requestorBean.loadLazyMultiRelationDataRecords(relationVar)}"
                                             update="dialogMultiFormMasterFilters:dataTable" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                            </p:commandButton>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('LOOKUP')}">
                        <h:panelGroup layout="block" rendered="#{fields.isVisible}">
                            <c:set var="lookupVar" value="#{fields.fieldName}" />
                            <p:selectOneMenu  value="#{requestorBean.selectionMap.get(fields.fieldName).selectedValue}" style="width:19em" styleClass="form-dropdown" >
                                <f:selectItem itemLabel="Select" itemValue=""/>
                                <f:selectItems value="#{requestorBean.lookupDictionary.get(fields.fieldName)}" />
                                <f:ajax listener="#{requestorBean.onSelect(lookupVar, requestorBean.selectionMap.get(fields.fieldName).selectedValue)}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('DATE')}">
                        <p:panelGrid columns="2" styleClass="borderless-grid" rendered="#{fields.isVisible and fields.fieldType eq 'DATE'}">

                            <p:calendar rendered="#{!fields.dateBetween}"
                                        value="#{fields.currentValue}" pattern="dd/MM/yyyy" 
                                        style="padding: 0.5em;border: none; min-width: 15em;
                                        border-bottom: 1px solid #dbdbdb;height: 2.85em;font-weight: bold;clip: auto;"
                                        styleClass="form-calendar">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </p:calendar>
                            
                            <p:panelGrid columns="2" styleClass="borderless-grid" rendered="#{fields.dateBetween}">
                                <p:outputLabel value="From"/>
                                <p:calendar  value="#{fields.dateFrom}" pattern="dd/MM/yyyy" 
                                             style="padding: 0.5em;border: none; min-width: 15em;
                                             border-bottom: 1px solid #dbdbdb;height: 2.85em;font-weight: bold;clip: auto;"
                                             styleClass="form-calendar">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:calendar>

                                <p:outputLabel value="To"/>
                                <p:calendar  value="#{fields.dateTo}" pattern="dd/MM/yyyy" 
                                             style="padding: 0.5em;border: none; min-width: 15em;
                                             border-bottom: 1px solid #dbdbdb;height: 2.85em;font-weight: bold;clip: auto;"
                                             styleClass="form-calendar">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </p:calendar>
                            </p:panelGrid>

                            <p:panelGrid columns="1" styleClass="borderless-grid" >
                                <!--                                <p:commandButton icon="ui-icon-calendar" style="padding: 0.4em;box-shadow: none; border: none;background: #6d6d6d;opacity: 1;width: 2.5em" 
                                                                                 type="button" disabled="true" />-->
                                <p:outputLabel value="Range"/>
                                <p:toggleSwitch value="#{fields.dateBetween}">
                                    <p:ajax update="filterContainerPanel" process="filterContainerPanel"/>
                                </p:toggleSwitch>
                            </p:panelGrid>



<!--                            <p:calendar  rendered="#{fields.fieldType eq 'DATE'}"  value="#{fields.currentValue}"  pattern="yyyy-MM-dd HH:mm:ss" 
                                         styleClass="form-calendar">
                            </p:calendar>-->
                            <!--                            <p:commandButton icon="ui-icon-calendar" style="padding: 0.4em;box-shadow: none; border: none;background: #6d6d6d;opacity: 1;width: 2.5em" 
                                                                         type="button" disabled="true" />-->

                        </p:panelGrid>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('BOOLEAN')}">
<!--                        <p:selectBooleanCheckbox id="#{fields.fieldName}" rendered="#{(fields.fieldType eq 'BOOLEAN') and fields.isVisible}" 
                                                 value="#{fields.currentValue}" />-->
                        <p:triStateCheckbox  rendered="#{(fields.fieldType eq 'BOOLEAN') and fields.isVisible}" 
                                             value="#{fields.currentValue}"/>
                    </c:when>

                    <c:otherwise>
                        <p:inputText  rendered="#{fields.isVisible}" 
                                      style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;width: 20em" value="#{fields.currentValue}"/>
                    </c:otherwise>
                </c:choose>

            </c:forEach>
        </h:panelGrid>

    </p:panel>

    <p:remoteCommand name="updateForm" update="filterContainerPanel" immediate="true"/>
    <p:remoteCommand name="updateMultiDataForm" update="dialogMultiFormMasterFilters" immediate="true"/>

    <p:dialog header="Data" id="filterDataDialog" widgetVar="dataDialog" modal="false" width="1250" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()">
        <h:form id="filterDialogForm">
            <ui:include src="/WEB-INF/templates/recordsTableForFilterTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{requestorBean}" />
                <ui:param name="tableKey" value="#{requestorBean.dataTableKey}" />
            </ui:include>
            
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="multidataDialog" modal="false"  width="90%" height="90%" position="center center"   styleClass="form-dialog"
              style="border-radius: 0px;text-align: -webkit-center;" onHide="updateForm()" onShow="updateMultiDataForm()" 
              resizable="true" closeOnEscape="true" fitViewport="true" blockScroll="false">
        <h:form id="dialogMultiFormMasterFilters">
            <ui:include src="/WEB-INF/templates/multiSelectRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{requestorBean}" />
                <ui:param name="tableKey" value="#{requestorBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>



    <ui:define name="contentTable">

    </ui:define>

</ui:composition>