<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <script>
        $(document).ready(function () {
            $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("flex-grow", "1");
            $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("overflow", "auto");
            $(".ui-panelgrid-cell > .advanced-layout").parent().css("width", "100%");
            $(".rich_text_holder").parent().removeClass("p-col-12 p-md-3 p-xl-2 ui-g-12 ui-md-3");
        });
    </script>

    <script>
        if (PrimeFaces.widget.SelectOneMenu) {
            PrimeFaces.widget.SelectOneMenu.prototype.bindPanelEvents = function () {
                var $this = this;

                this.hideOverlayHandler = PrimeFaces.utils.registerHideOverlayHandler(this, 'mousedown.' + this.id + '_hide', this.panel,
                        function () {
                            return $this.label.add($this.menuIcon);
                        },
                        function (e, eventTarget) {
                            if (!($this.panel.is(eventTarget) || $this.panel.has(eventTarget).length > 0)) {
                                $this.hide();
                                setTimeout(function () {
                                    $this.revert();
                                    $this.changeAriaValue($this.getActiveItem());
                                }, 2);
                            }
                        });

                this.resizeHandler = PrimeFaces.utils.registerResizeHandler(this, 'resize.' + this.id + '_hide', this.panel, function () {
                    if (PrimeFaces.env.mobile) {
                        $this.alignPanel();
                    } else {
                        $this.hide();
                    }
                });

                this.scrollHandler = PrimeFaces.utils.registerConnectedOverlayScrollHandler(this, 'scroll.' + this.id + '_hide', this.jq, function () {
                    if (PrimeFaces.env.mobile) {
                        // GitHub #1173/#4609 keep panel with select while scrolling
                        $this.alignPanel();
                    } else {
                        $this.hide();
                    }
                });
            }
        }
    </script>

    <!--    <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
                 style="margin-left: -1.2em;margin-right: -1.8em;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl;margin-right: 0.1em;':'ltr'}" rendered="#{not empty formTitle}">
            <ul>#{formTitle}</ul>
        </p:panel>-->
    <p:panel style="border: none;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}" id="formBuilderMasterPanel">
        <c:forEach items="#{formBean.defaultForm.blockList}" var="block" >
            <p:panel style="margin-bottom:10px;background: #fff;width: 100%" styleClass="form-container">
                <div style="margin-left: -1.2em;margin-right: -1.8em;">
                    <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent;font-weight: bold">#{block.blockTitle}</ul>
                    <p:separator style="margin-left: 1.5em;margin-right: 2em;padding: 0;border: 1px solid #e1dfdf;background: #e1dfdf;"/>
                </div>
                <p:panelGrid id="containerPanel" columns="4" styleClass="borderless-grid"  layout="grid"
                             columnClasses="p-col-12 p-md-3 p-xl-2, p-col-12 p-md-9 p-xl-4, p-col-12 p-md-3 p-xl-2, p-col-12 p-md-9 p-xl-4" 
                             contentStyleClass="p-align-baseline ui-fluid" 
                             style="width: 100%;align-items: center">
                    <c:forEach items="#{block.fieldsLayoutList}" var="fields" varStatus="fieldsIndex">
                        <c:choose>
                            <c:when test="${fields.componentType eq 'NORM'}">

                                <p:outputLabel value="#{not empty fields.label? fields.label:fields.fieldObject.fieldLabel}" for="#{fields.fieldName}" 
                                               rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}" 
                                               style="padding-right: 1em;color: #282f44" id="#{fields.fieldName}_label"/>
                                <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>

                                <c:choose>
                                    <c:when test="${fields.fieldObject.fieldType.equals('REL')}">
                                        <c:set var="relationVar" value="#{fields.fieldName}" />
                                        <c:choose>
                                            <c:when test="#{!fields.showAsAutoComplete}">
                                                <h:panelGroup layout="block"  styleClass="relation-container-group" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                                    <p:outputLabel id="#{fields.fieldName}" value="#{formBean.selectedRecordsMap.get(fields.fieldName).getFieldValueMap().get(formBean.relationRecordsCache.get(relationVar).getRelationManager().getViewColumn()).getCurrentValue()}" 
                                                                   styleClass="button-label-group" style="font-weight: bold;padding-top: 10px;"/>
                                                    <p:commandButton icon="fa fa-search" disabled="#{fields.readOnly}"
                                                                     style="padding: 0.4em;box-shadow: none; 
                                                                     border: 1px solid #bebebe;
                                                                     color: #6d6d6d;
                                                                     background: #fff;height: 100%;border-radius: 0;width: 2.5em" 
                                                                     immediate="true" actionListener="#{formBean.loadLazyRelationDataRecords(relationVar)}"
                                                                     update="dialogFormMaster:dataTable" onstart="PF('waitingDlgName').show()">
                                                    </p:commandButton>
                                                    <p:commandButton icon="fa fa-plus"
                                                                     style="padding: 0.4em;box-shadow: none; 
                                                                     border: 1px solid #bebebe;background: #fff;
                                                                     color: #6d6d6d;;height: 100%;border-radius: 0;width: 2.5em" 
                                                                     disabled="#{fields.readOnly}" rendered="#{skipQuickAdd ne 'true'}"
                                                                     immediate="true" actionListener="#{formBean.loadQuickAddForm(relationVar)}"
                                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                                     update=":quickAddDialog">
                                                    </p:commandButton>
                                                </h:panelGroup>
                                            </c:when>
                                            <c:otherwise>
                                                <p:autoComplete id="#{fields.fieldName}" value="#{formBean.autoCompleteValueMap[fields.fieldName]}"
                                                                rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                                completeMethod="#{formBean.onAutocompleteSearch}"
                                                                var="autocomplete_field" itemLabel="#{autocomplete_field.getFieldValueMap().get(formBean.relationRecordsCache.get(relationVar).getRelationManager().getViewColumn()).getCurrentValue()}" itemValue="#{autocomplete_field.getFieldValueMap().get(formBean.relationRecordsCache.get(relationVar).getRelationManager().getDetailColumn()).getCurrentValue()}"
                                                                scrollHeight="250">
                                                    <f:attribute name="targetField" value="#{fields.fieldName}" />
                                                    <p:ajax event="itemSelect" listener="#{formBean.onAutoCompleteItemSelect}" />
                                                </p:autoComplete>
                                            </c:otherwise>
                                        </c:choose>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('MULTIREL')}">
                                        <c:set var="relationVar" value="#{fields.fieldName}" />
                                        <h:panelGroup layout="block"  styleClass="relation-container-group" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:chips id="#{fields.fieldName}"
                                                     value="#{formBean.selectedMultiRelationMap[relationVar].multiRelationSelectedValueViews}" 
                                                     readonly="true" required="#{fields.isMandatory}"
                                                     style="height: 3.0em;" />
                                            <p:commandButton icon="fa fa-search"
                                                             disabled="#{fields.readOnly}"
                                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                                             immediate="true" actionListener="#{formBean.loadLazyMultiRelationDataRecords(relationVar)}"
                                                             update="dialogMultiFormMaster:dataTable" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                                            </p:commandButton>
                                            <p:commandButton icon="fa fa-plus"
                                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                                             immediate="true" actionListener="#{formBean.loadQuickAddForm(relationVar)}"
                                                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                             update=":quickAddDialog">
                                            </p:commandButton>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('LOOKUP')}">
                                        <h:panelGroup layout="block"  rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <c:set var="lookupVar" value="#{fields.fieldName}" />
                                            <p:selectOneMenu id="#{fields.fieldName}" 
                                                             value="#{formBean.selectionMap.get(fields.fieldName).selectedValue}" widgetVar="#{fields.fieldName}"
                                                             style="border: none;border: 1px solid #bebebe;line-height: 2em" 
                                                             styleClass="form-dropdown" 
                                                             disabled="#{fields.readOnly}" 
                                                             required="#{fields.isMandatory}" filter="true" filterMatchMode="startsWith">
                                                <f:selectItem itemLabel="Select" itemValue=""/>
                                                <f:selectItems value="#{formBean.lookupDictionary.get(fields.fieldName)}" />
                                                <p:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).selectedValue)}" 
                                                        oncomplete="updateThisContainer()" onsuccess="updateThisContainer()" /> 
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('MSLOOKUP')}">
                                        <h:panelGroup layout="block" id="pg2" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <c:set var="lookupVar" value="#{fields.fieldName}" />
                                            <p:selectCheckboxMenu id="#{fields.fieldName}" value="#{formBean.selectionMap.get(fields.fieldName).multiSelectedValues}" widgetVar="#{fields.fieldName}"
                                                                  style="border: none;
                                                                  border-bottom: 1px solid #bebebe;width: 20em" 
                                                                  disabled="#{fields.readOnly}"
                                                                  styleClass="form-dropdown" required="#{fields.isMandatory}"
                                                                  filter="true" filterMatchMode="startsWith" label="Options" multiple="true">
                                                <f:selectItems value="#{formBean.lookupDictionary.get(fields.fieldName)}" />
                                                <!--<f:ajax listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).multiSelectedValues)}"/>-->
                                                <p:ajax event="toggleSelect" listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).multiSelectedValues)}" />
                                            </p:selectCheckboxMenu>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('CAT')}">
                                        <h:panelGroup layout="block" id="pg2" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <c:set var="lookupVar" value="#{fields.fieldName}" />
                                            <p:selectOneMenu id="#{fields.fieldName}" value="#{formBean.selectionMap.get(fields.fieldName).selectedValue}"
                                                             style="border: none;
                                                             border-bottom: 1px solid #bebebe;width: 20em" 
                                                             disabled="#{fields.readOnly}"
                                                             styleClass="form-dropdown" required="#{fields.isMandatory}" 
                                                             filter="true" filterMatchMode="startsWith" widgetVar="#{fields.fieldName}" >
                                                <f:selectItem itemLabel="Select" itemValue=""/>
                                                <f:selectItems value="#{formBean.categoryDictionary.get(fields.fieldName)}" />
                                                <p:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).selectedValue)}"
                                                        oncomplete="updateThisForm()" onsuccess="updateThisForm()"/>
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('CONTENT')}">
                                        <c:set var="relationVar" value="#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"/>
                                        <p:panelGrid columns="1"  id="holder_panel_#{fields.fieldName}" styleClass="relation-container-group content_uploader_container_group"
                                                     rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:fileUpload id="#{fields.fieldName}" listener="#{formBean.onContentSelect}"  
                                                          value="#{formBean.selectionMap.get(fields.fieldName).selectedContent}" 
                                                          disabled="#{fields.readOnly}" update="holder_panel_#{fields.fieldName}" process="formBuilderMasterPanel "
                                                          auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                                                <f:attribute name="FieldName" value="#{fields.fieldName}" />
                                            </p:fileUpload>
                                            <p:outputLabel value="#{formBean.selectionMap.get(fields.fieldName).contentModel.fileName}" style="margin-bottom: 2em;color: #442dff;"/>
                                        </p:panelGrid>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('MEDIA_IMG_GALLERY')}">
                                        <c:set var="relationVar" value="#{fields.fieldName}" />
                                        <h:panelGroup layout="block" id="pg4" styleClass="relation-container-group" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:fileUpload id="#{fields.fieldName}" listener="#{formBean.onGalleryContentSelect}"
                                                          value="#{formBean.selectionMap.get(fields.fieldName).selectedContent}" 
                                                          disabled="#{fields.readOnly}"
                                                          update="gallery_#{fields.fieldName}"
                                                          auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                                                <f:attribute name="FieldName" value="#{fields.fieldName}" />
                                            </p:fileUpload>
                                        </h:panelGroup>
                                        <h:panelGroup style="width: 100%;margin: 1em;" id="gallery_#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <c:if test="#{formBean.selectionMap.get(fields.fieldName) ne null and formBean.selectionMap.get(fields.fieldName).contentList ne null}">
                                                <c:forEach items="#{formBean.selectionMap.get(fields.fieldName).contentList}" var="galleryImg">
                                                    <c:choose>
                                                        <c:when test="${galleryImg.link ne null}">
                                                            <h:graphicImage url="#{galleryImg.link}" width="60" style="margin: 1em"/>
                                                            <p:commandLink actionListener="#{formBean.deleteContent(galleryImg,fields.fieldName)}" update="gallery_#{fields.fieldName}" immediate="true">
                                                                <h:graphicImage name="/images/delete_table_ic.png" width="16" height="16" style="margin-right: 1em"/>
                                                            </p:commandLink>
                                                        </c:when>
                                                        <c:otherwise>
                                                            <p:outputLabel value="#{galleryImg.fileName}" 
                                                                           style="padding: 1em;margin-left: 3em;padding-right: 2em;color: #4286f4"/>
                                                        </c:otherwise>
                                                    </c:choose>
                                                </c:forEach>
                                            </c:if>
                                        </h:panelGroup>
                                        <h:panelGroup layout="span"/>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('DATE')}">
                                        <h:panelGroup layout="block" styleClass="relation-container-group"
                                                      rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:datePicker  id="#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE'}" 
                                                           value="#{fields.fieldObject.currentValue}" pattern="dd/MM/yyyy" 
                                                           style="font-weight: bold;clip: auto;width: 20em"
                                                           disabled="#{fields.readOnly}" touchUI="true" 
                                                           styleClass="form-calendar button-label-group" monthNavigator="true" yearNavigator="true"
                                                           required="#{fields.isMandatory}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                            </p:datePicker >
                                            <p:commandButton icon="fa fa-calendar" 
                                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #bebebe;background: #fff;
                                                             color: #6d6d6d;;height: 100%;border-radius: 0;cursor: default;width: 2.5em" 
                                                             disabled="#{fields.readOnly}"
                                                             styleClass="date-ic-btn"
                                                             type="button"/>
                                        </h:panelGroup>
                                    </c:when>
                                    
                                    <c:when test="${fields.fieldObject.fieldType.equals('DATE_TIME')}">
                                        <h:panelGroup layout="block" styleClass="relation-container-group"
                                                      rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:datePicker  id="#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE_TIME'}" 
                                                           value="#{fields.fieldObject.currentValue}" pattern="dd/MM/yyyy HH:mm" 
                                                           style="font-weight: bold;clip: auto;width: 20em"  
                                                           disabled="#{fields.readOnly}" touchUI="true"  showTime="true"   immediate="true" 
                                                           styleClass="form-calendar button-label-group" monthNavigator="true" yearNavigator="true"
                                                           required="#{fields.isMandatory}">
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="#{accessBean.companyTimezone}"/>
                                            </p:datePicker >
                                            <p:commandButton icon="fa fa-calendar" 
                                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #bebebe;background: #fff;
                                                             color: #6d6d6d;;height: 100%;border-radius: 0;cursor: default;width: 2.5em" 
                                                             disabled="#{fields.readOnly}"
                                                             styleClass="date-ic-btn"
                                                             type="button"/>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('BOOLEAN')}">
                                        <p:toggleSwitch id="#{fields.fieldName}" 
                                                        rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                        disabled="#{fields.readOnly}"
                                                        value="#{fields.fieldObject.currentValue}"
                                                        required="#{fields.isMandatory}" style="padding: 0.4em" >
                                            <p:ajax listener="#{formBean.onBooleanCheck(fields.fieldName,fields.fieldObject.currentValue)}"
                                                    oncomplete="updateForm()" onsuccess="updateForm()" />
                                        </p:toggleSwitch>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('INT') or fields.fieldObject.fieldType.equals('DECIMAL') or fields.fieldObject.fieldType.equals('LONG')}">
                                        <h:panelGroup   id="#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:inputNumber
                                                style="padding: 0.5em;border: none;
                                                border: 1px solid #bebebe;width: 20em;height: 2.85em;-webkit-box-shadow: none;border-radius: 4px"
                                                disabled="#{fields.readOnly}"
                                                value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"
                                                requiredMessage="This field cannot be empty"
                                                thousandSeparator="," decimalSeparator="." decimalPlaces="2">
                                            </p:inputNumber>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('RATING')}">
                                        <h:panelGroup   id="#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:rating
                                                disabled="#{fields.readOnly}" 
                                                value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"
                                                requiredMessage="This field cannot be empty"/>
                                        </h:panelGroup>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('CURRENCY')}">
                                        <h:panelGroup rendered="#{(fields.fieldObject.fieldType eq 'CURRENCY') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                            <div class="p-col-12 p-md-4">
                                                <div class="ui-inputgroup">
                                                    <p:inputNumber id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                                   style="padding: 0.5em;border: none;
                                                                   border: 1px solid #bebebe;min-width: 20em;height: 2.85em;-webkit-box-shadow: none;border-radius: 4px"
                                                                   disabled="#{fields.readOnly}"
                                                                   value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"
                                                                   requiredMessage="This field cannot be empty"
                                                                   thousandSeparator="," decimalSeparator="." decimalPlaces="2"/>
                                                    <div class="ui-inputgroup-addon">#{fields.fieldObject.fieldValues}</div>
                                                </div>
                                            </div>
                                        </h:panelGroup>

                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('TEXT_AREA')}">
                                        <h:panelGroup id="#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'TEXT_AREA') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                            <p:inputTextarea  rendered="#{(fields.fieldObject.fieldType eq 'TEXT_AREA') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}" 
                                                              rows="6" 
                                                              style="padding: 0.5em;border: none;
                                                              border: 1px solid #bebebe;min-width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                                              disabled="#{fields.readOnly}"
                                                              styleClass="notInc" requiredMessage="#{fields.label}: This field cannot be empty"
                                                              value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}" />
                                        </h:panelGroup>
<!--                                        <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('TEXT_AREA') }" styleClass="empty_panel"/>
                                        <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('TEXT_AREA') }" styleClass="empty_panel"/>-->
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('RICH_TEXT')}">
                                        <h:panelGroup id="#{fields.fieldName}" styleClass="rich_text_holder" 
                                                      rendered="#{(fields.fieldObject.fieldType eq 'RICH_TEXT') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                            <pe:ckEditor   rendered="#{(fields.fieldObject.fieldType eq 'RICH_TEXT') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}"
                                                           height="300"   enterMode="CKEDITOR.ENTER_BR"
                                                           font='Courier New' width="100%" advancedContentFilter="false" 
                                                           fontSize='11px'  customConfig="/ckeditorConfig.js"
                                                           skin="office2013" escape="false" 
                                                           value="#{fields.fieldObject.currentValue}" />
                                        </h:panelGroup>
                                        <h:panelGroup/>
                                        <h:panelGroup/>
                                        <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                    </c:when>

                                    <c:when test="${fields.fieldObject.fieldType.equals('SIGNATURE')}">
                                        <p:panelGrid columns="1" id="#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'SIGNATURE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                            <p:signature   rendered="#{(fields.fieldObject.fieldType eq 'SIGNATURE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}" 
                                                           style="width:400px;height:200px"
                                                           readonly="#{fields.readOnly}" 
                                                           widgetVar="#{fields.fieldName}"
                                                           styleClass="notInc" guideline="true"
                                                           value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}" />
                                            <p:commandButton value="Clear" icon="pi pi-times" type="button" onclick="PF('#{fields.fieldName}').clear()" styleClass="ui-button-flat p-ml-2"/>
                                        </p:panelGrid>
                                    </c:when>

                                    <c:otherwise>
                                        <h:panelGroup id="#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'TEXT' or fields.fieldObject.fieldType eq 'INT' or fields.fieldObject.fieldType eq 'DECIMAL' or fields.fieldObject.fieldType eq 'BARCODE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                            <p:inputText rendered="#{(fields.fieldObject.fieldType eq 'TEXT' or fields.fieldObject.fieldType eq 'INT' or fields.fieldObject.fieldType eq 'DECIMAL' or fields.fieldObject.fieldType eq 'BARCODE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}" 
                                                         style="padding: 0.5em;border: none;
                                                         border: 1px solid #bebebe;height: 2.85em;-webkit-box-shadow: none;border-radius: 4px"
                                                         disabled="#{fields.readOnly}" 
                                                         styleClass="notInc" requiredMessage="#{fields.label}: This field cannot be empty"
                                                         value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}" />
                                        </h:panelGroup>
                                    </c:otherwise>
                                </c:choose>
                            </c:when>
                            <c:otherwise>
                                <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml" >
                                    <ui:param name="formBean" value="#{formBean}" />
                                    <ui:param name="fields" value="#{fields}" />
                                </ui:include>
                            </c:otherwise>
                        </c:choose>
                    </c:forEach>
                </p:panelGrid>


                <p:separator style="margin-left: .5em;margin-right: 3em;padding: 0;border: .1px solid #fff;"/>
            </p:panel>
        </c:forEach>
    </p:panel>
    <p:remoteCommand name="updateForm" update="formBuilderMasterPanel"  immediate="true" oncomplete="$('.ui-panelgrid-cell > .advanced-non-layout').parent().css('flex-grow', '1');$('.ui-panelgrid-cell > .advanced-layout').parent().css('width', '100%');"/>
    <p:remoteCommand name="updateDataForm" update="dialogFormMaster" immediate="true"/>
    <p:remoteCommand name="updateMultiDataForm" update="dialogMultiFormMaster" immediate="true"/>
    <p:remoteCommand name="updateThisForm" update="formBuilderMasterPanel"  immediate="true"/>
    <p:remoteCommand name="updateThisContainer" update="containerPanel"  immediate="true" /> 

    <p:sidebar id="quickAddDialog" widgetVar="quickAddDialog" position="right" rendered="#{skipQuickAdd ne 'true'}"
               style="width: fit-content;overflow-y: auto;border: none;background: #f0f4f4 !important;max-width: 90%" blockScroll="true">
        <p:panel id="quickAddForm" style="border: none;overflow-x: hidden;margin-left: 1em">
            <c:if test="#{formBean.ajaxRequest}">
                <ui:include src="/WEB-INF/templates/formBuilderRecursion.xhtml">
                    <ui:param name="requestorBean" value="#{formBean.relationBeanCache[formBean.dataTableKey]}" />
                    <ui:param name="formTitle" value="Quick Add Record" />
                </ui:include>
                <p:commandButton value="Save" actionListener="#{formBean.relationBeanCache[formBean.dataTableKey].quickSave(formBean)}" styleClass="save-button" 
                                 partialSubmit="true"
                                 update="messages"
                                 process="@this, :quickAddForm"
                                 onstart="PF('waitingDlgName').show()" 
                                 oncomplete="PF('waitingDlgName').hide();updateForm()"/>
            </c:if>

        </p:panel>
    </p:sidebar>

    <!--    <p:dialog header="Quick Add" id="quickAddDialog" widgetVar="quickAddDialog" width="1000" position="center center" modal="true"
                  style="border-radius: 4px;text-align: -webkit-center;background: #f0f4f4" onHide="PF('quickAddDialog').content.empty()">
            <p:panel id="quickAddForm" style="border: none;background: transparent;overflow-x: hidden">
                <c:if test="#{formBean.ajaxRequest}">
                    <ui:include src="/WEB-INF/templates/formBuilderRecursion.xhtml">
                        <ui:param name="requestorBean" value="#{formBean.relationBeanCache[formBean.dataTableKey]}" />
                        <ui:param name="formTitle" value="Quick Add Record" />
                    </ui:include>
                    <p:commandButton value="Save" actionListener="#{formBean.relationBeanCache[formBean.dataTableKey].quickSave(formBean)}" styleClass="save-button" 
                                     partialSubmit="true"
                                     process="@this, :quickAddForm"
                                     onstart="PF('waitingDlgName').show()" 
                                     oncomplete="PF('waitingDlgName').hide();"/>
                </c:if>
    
            </p:panel>
        </p:dialog>-->

    <p:dialog widgetVar="dataDialog" modal="false" position="center center" dynamic="true" styleClass="form-dialog" blockScroll="true" 
              style="border-radius: 4px;text-align: -webkit-center;max-height: 550px;overflow: auto;z-index: 1010;max-width: 80%;min-width: 60%" onHide="updateThisContainer();PF('waitingDlgName').hide();" >
        <h:form id="dialogFormMaster">
            <ui:include src="/WEB-INF/templates/recordsTableForFilterTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>



    <p:dialog widgetVar="multidataDialog" modal="true" width="90%" position="center center"  header="Multi"
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" onShow="updateMultiDataForm()" >
        <h:form id="dialogMultiFormMaster">
            <ui:include src="/WEB-INF/templates/multiSelectRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="advancedDataDialog"  modal="true" width="90%"   dynamic="true" styleClass="form-dialog" height="450" blockScroll="true"
              style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)" onShow="PF('waitingDlgName').hide()">
        <h:form id="advancedDialogFormMaster">
            <ui:include src="/WEB-INF/templates/advancedCompRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="eventName" value="#{formBean.activeEvent}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="scannerDialog"  modal="true" width="50%"  position="center center" dynamic="true" 
              style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)" 
              onShow="PF('waitingDlgName').hide()" >
        <pe:codeScanner onsuccess="PF('scannerDialog').hide()" style="width: 90%" >
            <p:ajax event="codeScanned" listener="#{formBean.onCodeScanned}"/>
        </pe:codeScanner>
    </p:dialog>

    <p:dialog id="scannerOutputDialog" widgetVar="scannerOutputDialog"  modal="true" width="50%"  position="center center" dynamic="true" 
              style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)" onShow="PF('waitingDlgName').hide()">
        <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center">
            <h:graphicImage name="/images/no_image.jpg" width="150"
                            style="margin-top: 0.5em;">
            </h:graphicImage>

            <p:outputLabel value="#{formBean.scannedRecord.getFieldValueMap().get(formBean.advancedConfigMap.get(formBean.activeComponentId).getDynoButtonConfiguration().getScannerTitleField()).getCurrentValue()}"/>
            <p:commandButton value="Confirm" styleClass="save-button" actionListener="#{formBean.onConfirmScannedRecord()}"/>
        </p:panelGrid>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>