<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
             style="margin-left: -1.2em;margin-right: -1.8em;background: #f0f4f4" rendered="#{formTitle ne null}">
        <ul>#{formTitle}</ul>
    </p:panel>
    <p:panel style="border: none;background: transparent" id="formBuilderForRecordMasterPanel">
        <c:forEach items="#{formBean.defaultForm.blockList}" var="block">
            <p:panel style="margin-bottom:10px;background: #fff" styleClass="form-container">
                <div style="margin-left: -1.2em;margin-right: -1.8em;">
                    <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">#{block.blockTitle}</ul>
                    <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
                </div>
                <h:panelGrid id="containerPanel" columns="4" cellpadding="4" cellspacing="4" 
                             styleClass="ui-responsive">
                    <c:forEach items="#{block.fieldsLayoutList}" var="fields">
                        <p:outputLabel value="#{fields.label}" for="#{fields.fieldName}" rendered="#{fields.isVisible}" 
                                       style="padding: 1em;margin-left: 3em;padding-right: 2em;"/>

                        <c:choose>
                            <c:when test="${fields.fieldObject.fieldType.equals('REL')}">
                                <c:set var="relationVar" value="#{fields.fieldName}" />
                                <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group">
                                    <h:inputText id="#{fields.fieldName}" value="#{formBean.selectedRecordsMap.get(fields.fieldName).getFieldValueMap().get(formBean.relationRecordsCache.get(relationVar).getRelationManager().getViewColumn()).getCurrentValue()}" 
                                                 rendered="#{fields.isVisible}" readonly="true" 
                                                 style="padding: 0.5em;border: none;
                                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;" />
                                    <p:commandButton icon="fa fa-search"
                                                     style="padding: 0.4em;box-shadow: none; 
                                                     border: 1px solid #dbdbdb;
                                                     color: #6d6d6d;
                                                     background: #fff;height: 100%;border-radius: 0;" 
                                                     disabled="true"
                                                     immediate="true" actionListener="#{formBean.loadLazyRelationDataRecords(relationVar)}"
                                                     update="dialogFormMaster:dataTable" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                                    </p:commandButton>
                                    <p:commandButton icon="fa fa-plus"
                                                     style="padding: 0.4em;box-shadow: none; 
                                                     border: 1px solid #dbdbdb;background: #fff;
                                                     color: #6d6d6d;;height: 100%;border-radius: 0;" 
                                                     immediate="true" actionListener="#{formBean.loadQuickAddForm(relationVar)}"
                                                     disabled="true"
                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                     update=":quickAddDialog">
                                    </p:commandButton>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('MULTIREL')}">
                                <c:set var="relationVar" value="#{fields.fieldName}" />
                                <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group" >
                                    <p:chips id="#{fields.fieldName}"
                                             value="#{formBean.selectedMultiRelationMap[relationVar].multiRelationSelectedValueViews}" 
                                             rendered="#{fields.isVisible}" readonly="true" 
                                             style="height: 2.85em;" />
                                    <p:commandButton icon="fa fa-search"
                                                     style="padding: 0.4em;box-shadow: none; 
                                                     border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                                     immediate="true" actionListener="#{formBean.loadLazyMultiRelationDataRecords(relationVar)}"
                                                     disabled="true"
                                                     update="dialogMultiFormMaster:dataTable" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                                    </p:commandButton>
                                    <p:commandButton icon="fa fa-plus"
                                                     style="padding: 0.4em;box-shadow: none; 
                                                     border: 1px solid #6d6d6d;background: #6d6d6d;height: 100%;border-radius: 0;" 
                                                     immediate="true" actionListener="#{formBean.loadQuickAddForm(relationVar)}"
                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                     disabled="true"
                                                     update=":quickAddDialog">
                                    </p:commandButton>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('LOOKUP')}">
                                <h:panelGroup layout="block" id="pg2">
                                    <c:set var="lookupVar" value="#{fields.fieldName}" />
                                    <p:selectOneMenu id="#{fields.fieldName}" value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}" widgetVar="#{fields.fieldName}"
                                                     style="border: none;
                                                     border-bottom: 1px solid #dbdbdb;width: 20em" styleClass="form-dropdown"  filter="true" filterMatchMode="startsWith">
                                        <f:selectItem itemLabel="Select" itemValue=""/>
                                        <f:selectItems value="#{formBean.lookupDictionary.get(fields.fieldName)}" />
                                        <!--<f:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).selectedValue)}"/>-->
                                    </p:selectOneMenu>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('MSLOOKUP')}">
                                <h:panelGroup layout="block" id="pg2">
                                    <c:set var="lookupVar" value="#{fields.fieldName}" />
                                    <p:selectCheckboxMenu id="#{fields.fieldName}" value="#{formBean.selectionMap.get(fields.fieldName).multiSelectedValues}" widgetVar="#{fields.fieldName}"
                                                          style="border: none;
                                                          border-bottom: 1px solid #dbdbdb;width: 20em" styleClass="form-dropdown" 
                                                          disabled="true"
                                                          filter="true" filterMatchMode="startsWith" label="Options" multiple="true">
                                        <f:selectItems value="#{formBean.lookupDictionary.get(fields.fieldName)}" />
                                        <!--<f:ajax listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).multiSelectedValues)}"/>-->
                                        <p:ajax event="toggleSelect" listener="#{formBean.onMultiSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).multiSelectedValues)}" />
                                    </p:selectCheckboxMenu>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('CAT')}">
                                <h:panelGroup layout="block" id="pg2">
                                    <c:set var="lookupVar" value="#{fields.fieldName}" />
                                    <p:selectOneMenu id="#{fields.fieldName}" value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}"
                                                     style="border: none;
                                                     border-bottom: 1px solid #dbdbdb;width: 20em" styleClass="form-dropdown"  
                                                     filter="true" filterMatchMode="startsWith" widgetVar="#{fields.fieldName}">
                                        <f:selectItem itemLabel="Select" itemValue=""/>
                                        <f:selectItems value="#{formBean.categoryDictionary.get(fields.fieldName)}" />
                                        <!--<f:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).selectedValue)}"/>-->
                                    </p:selectOneMenu>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('CONTENT')}">
                                <c:set var="relationVar" value="#{fields.fieldName}" />
                                <h:panelGroup layout="block" id="pg4" styleClass="relation-container-group">
                                    <p:fileUpload id="#{fields.fieldName}" fileUploadListener="#{formBean.onContentSelect}"
                                                  value="#{formBean.selectionMap.get(fields.fieldName).selectedContent}" disabled="true"
                                                  auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                                        <f:attribute name="FieldName" value="#{fields.fieldName}" />
                                    </p:fileUpload>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('MEDIA_IMG_GALLERY')}">
                                <c:set var="relationVar" value="#{fields.fieldName}" />
                                <h:panelGroup layout="block" id="pg4" styleClass="relation-container-group">
                                    <p:fileUpload id="#{fields.fieldName}" fileUploadListener="#{formBean.onGalleryContentSelect}" disabled="true"
                                                  value="#{formBean.selectionMap.get(fields.fieldName).selectedContent}" update="@form"
                                                  auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                                        <f:attribute name="FieldName" value="#{fields.fieldName}" />
                                    </p:fileUpload>
                                </h:panelGroup>
                                <h:panelGroup style="width: 100%;margin: 1em;">
                                    <c:if test="#{formBean.selectionMap.get(fields.fieldName) ne null and formBean.selectionMap.get(fields.fieldName).contentList ne null}">
                                        <c:forEach items="#{formBean.selectionMap.get(fields.fieldName).contentList}" var="galleryImg">
                                            <c:choose>
                                                <c:when test="${galleryImg.link ne null}">
                                                    <h:graphicImage url="#{galleryImg.link}" width="60" style="margin: 1em"/>
                                                </c:when>
                                                <c:otherwise>
                                                    <p:outputLabel value="#{galleryImg.fileName}" 
                                                                   style="padding: 1em;margin-left: 3em;padding-right: 2em;color: #4286f4"/>
                                                </c:otherwise>
                                            </c:choose>
                                        </c:forEach>
                                    </c:if>
                                </h:panelGroup>
                                <h:panelGroup layout="span"/>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('DATE')}">
                                <h:panelGroup layout="block" id="pg3">
                                    <p:calendar id="#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE'}" 
                                                effect="fold" value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}" pattern="dd/MM/yyyy" 
                                                style="padding: 0.5em;border: none;width: 20em;height: 2.85em;"
                                                >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </p:calendar>
                                    <p:commandButton icon="fa fa-calendar" 
                                                     style="padding: 0.4em;box-shadow: none; 
                                                     border: 1px solid #dbdbdb;background: #fff;
                                                     color: #6d6d6d;;height: 100%;border-radius: 0;cursor: default;" 
                                                     styleClass="date-ic-btn"
                                                     type="button"/>
                                </h:panelGroup>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('BOOLEAN')}">
                                <p:selectBooleanCheckbox id="#{fields.fieldName}" 
                                                         value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}"
                                                          style="padding: 0.4em" >
                                    <p:ajax update="@this" listener="#{formBean.dumdum}"/>
                                </p:selectBooleanCheckbox>
                            </c:when>

                            <c:when test="${fields.fieldObject.fieldType.equals('INT') or fields.fieldObject.fieldType.equals('DECIMAL') or fields.fieldObject.fieldType.equals('LONG')}">
                                <p:inputNumber id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{fields.isVisible}"
                                               style="padding: 0.5em;border: none;
                                               border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                               value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}" 
                                               thousandSeparator="" decimalSeparator="." decimalPlaces="2"/>

                            </c:when>

                            <c:otherwise>
                                <p:inputText id="#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'TEXT' or fields.fieldObject.fieldType eq 'INT' or fields.fieldObject.fieldType eq 'DECIMAL') and fields.isVisible}" 
                                             style="padding: 0.5em;border: none;
                                             border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                             value="#{inRecord.fieldValueMap[fields.fieldName].currentValue}" />

                            </c:otherwise>
                        </c:choose>

                    </c:forEach>
                </h:panelGrid>

                <p:separator style="margin-left: .5em;margin-right: 3em;padding: 0;border: .1px solid #fff;"/>
            </p:panel>
        </c:forEach>
    </p:panel>
    <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
    <p:remoteCommand name="updateDataForm" update="dialogFormMaster" immediate="true"/>
    <p:remoteCommand name="updateMultiDataForm" update="dialogMultiFormMaster" immediate="true"/>

    <p:dialog header="Quick Add" id="quickAddDialog" widgetVar="quickAddDialog" width="1000" position="center center" modal="true"
              style="border-radius: 4px;text-align: -webkit-center;background: #f0f4f4" onHide="updateForm()">
        <p:panel id="quickAddForm" style="border: none;background: transparent;overflow-x: hidden">
            <c:if test="#{formBean.ajaxRequest}">
                <ui:include src="/WEB-INF/templates/formBuilderRecursion.xhtml">
                    <ui:param name="requestorBean" value="#{formBean.relationBeanCache[formBean.dataTableKey]}" />
                    <ui:param name="formTitle" value="Quick Add Record" />
                </ui:include>
                <p:commandButton value="Save" actionListener="#{formBean.relationBeanCache[formBean.dataTableKey].quickSave(formBean)}" styleClass="save-button" 
                                 partialSubmit="true"
                                 process="@this, :quickAddForm"
                                 onstart="PF('waitingDlgName').show()" 
                                 oncomplete="PF('waitingDlgName').hide();"/>
            </c:if>

        </p:panel>
    </p:dialog>


    <p:dialog widgetVar="dataDialog" modal="true" width="1250" position="center center" dynamic="true" styleClass="form-dialog"
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()"  >
        <h:form id="dialogFormMaster">
            <ui:include src="/WEB-INF/templates/recordsTableForFilterTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="multidataDialog" modal="true" width="1250" position="center center"  header="Multi"
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" onShow="updateMultiDataForm()" >
        <h:form id="dialogMultiFormMaster">
            <ui:include src="/WEB-INF/templates/multiSelectRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>