<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <div class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
         style="margin-left: -1.2em;margin-right: -1.8em;">
        <ul>#{formTitle}</ul>
    </div>
    <p:panel style="margin-bottom:20px;background: #fff" styleClass="form-container">
        <div style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #979797;">Form</ul>
            <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
        </div>
        <h:panelGrid id="containerPanel" columns="4" cellpadding="4" cellspacing="4">
            <c:forEach items="#{formBean.fieldsList}" var="fields">
                <p:outputLabel value="#{fields.fieldLabel}" for="#{fields.fieldName}" rendered="#{fields.isVisible}" 
                               style="padding: 1em;margin-left: 3em;"/>

                <c:choose>
                    <c:when test="${fields.fieldType.equals('REL')}">
                        <c:set var="relationVar" value="#{fields.fieldName}" />
                        <h:panelGroup layout="block" id="pg1" styleClass="relation-container-group">
                            <p:outputLabel id="#{fields.fieldName}" value="#{formBean.selectedRelationRecord.getFieldValueMap().get(formBean.relationRecordsCache.get(formBean.dataTableKey).getRelationManager().getViewColumn()).getCurrentValue()}" rendered="#{fields.isVisible}" 
                               style="padding: 0.6em;border: 1px solid #cccccc;width: 85%;"/>
                            <p:commandButton icon="ui-icon-search"
                                             style="padding: 0.4em;box-shadow: none; 
                                             border: 1px solid #cccccc;background: #f1f1f1;padding-bottom: 0.3em;padding-top: 0.5em;height: 100%" 
                                             immediate="true" actionListener="#{formBean.loadRelationDataRecords(relationVar)}"
                                             update="dialogForm:dataTable">
                            </p:commandButton>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('LOOKUP')}">
                        <h:panelGroup layout="block" id="pg2">
                            <c:set var="lookupVar" value="#{fields.fieldName}" />
                            <p:selectOneMenu id="#{fields.fieldName}" value="#{formBean.selectionMap.get(fields.fieldName).selectedValue}" style="width:19em" styleClass="form-dropdown" required="#{fields.isMandatory}">
                                <f:selectItem itemLabel="Select" itemValue=""/>
                                <f:selectItems value="#{formBean.lookupDictionary.get(fields.fieldName)}" />
                                <f:ajax listener="#{formBean.onSelect(lookupVar, formBean.selectionMap.get(fields.fieldName).selectedValue)}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('DATE')}">
                        <h:panelGroup layout="block" id="pg3">
                            <p:calendar id="#{fields.fieldName}" rendered="#{fields.fieldType eq 'DATE'}" effect="fold" value="#{fields.currentValue}" pattern="dd/MM/yyyy" required="#{fields.isMandatory}">
                            </p:calendar>
                            <p:commandButton icon="ui-icon-calendar" style="padding: 0.4em;box-shadow: none; border: none;background: #f1f1f1" 
                                             type="button" disabled="true"/>
                        </h:panelGroup>
                    </c:when>

                    <c:when test="${fields.fieldType.equals('BOOLEAN')}">
                        <p:selectBooleanCheckbox id="#{fields.fieldName}" rendered="#{(fields.fieldType eq 'BOOLEAN') and fields.isVisible}" 
                                                 value="#{fields.currentValue}" required="#{fields.isMandatory}"/>
                    </c:when>

                    <c:otherwise>
                        <p:inputText id="#{fields.fieldName}" rendered="#{(fields.fieldType eq 'TEXT' or fields.fieldType eq 'INT' or fields.fieldType eq 'DECIMAL') and fields.isVisible}" 
                                     style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;" value="#{fields.currentValue}" required="#{fields.isMandatory}"/>
                    </c:otherwise>
                </c:choose>

            </c:forEach>
        </h:panelGrid>

        <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
    </p:panel>

    <p:remoteCommand name="updateForm" update="containerPanel" immediate="true"/>
    <p:dialog header="Data" id="dataDialog" widgetVar="dataDialog" modal="true" width="1250" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()">
        <h:form id="dialogForm">
            <ui:include src="/WEB-INF/templates/recordsTableTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{formBean}" />
                <ui:param name="tableKey" value="#{formBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>