<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <script>
        $(document).ready(function () {
            $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("flex-grow", "1");
             $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("overflow", "auto");
            $('.ui-panelgrid-cell > .advanced-layout').parent().css('width', '100%');
            $(".rich_text_holder").parent().removeClass("p-col-12 p-md-3 p-xl-2 ui-g-12 ui-md-3");
        });
    </script>
    <script>
        if (PrimeFaces.widget.SelectOneMenu) {
            PrimeFaces.widget.SelectOneMenu.prototype.bindPanelEvents = function () {
                var $this = this;

                this.hideOverlayHandler = PrimeFaces.utils.registerHideOverlayHandler(this, 'mousedown.' + this.id + '_hide', this.panel,
                        function () {
                            return $this.label.add($this.menuIcon);
                        },
                        function (e, eventTarget) {
                            if (!($this.panel.is(eventTarget) || $this.panel.has(eventTarget).length > 0)) {
                                $this.hide();
                                setTimeout(function () {
                                    $this.revert();
                                    $this.changeAriaValue($this.getActiveItem());
                                }, 2);
                            }
                        });

                this.resizeHandler = PrimeFaces.utils.registerResizeHandler(this, 'resize.' + this.id + '_hide', this.panel, function () {
                    if (PrimeFaces.env.mobile) {
                        $this.alignPanel();
                    } else {
                        $this.hide();
                    }
                });

                this.scrollHandler = PrimeFaces.utils.registerConnectedOverlayScrollHandler(this, 'scroll.' + this.id + '_hide', this.jq, function () {
                    if (PrimeFaces.env.mobile) {
                        // GitHub #1173/#4609 keep panel with select while scrolling
                        $this.alignPanel();
                    } else {
                        $this.hide();
                    }
                });
            }
        }
    </script>
    <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
             style="margin-right: -1.8em;background: transparent;font-weight: bold" rendered="#{formTitle ne null}">
        <ul>#{formTitle}</ul>
    </p:panel>

    <c:forEach items="#{requestorBean.defaultForm.blockList}" var="block">
        <p:panel style="margin-bottom:10px;background: #fff" styleClass="form-container">
            <div style="margin-left: -1.2em;margin-right: -1.8em;"> 
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent;font-weight: bold">#{block.blockTitle}</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 2em;padding: 0;border: 1px solid #e1dfdf;background: #e1dfdf;"/>
            </div>
            <p:panelGrid id="containerPanelR" columns="4"  style="width: 100%" layout="grid" styleClass="borderless-grid"
                         columnClasses="p-col-12 p-md-3 p-xl-2, p-col-12 p-md-9 p-xl-4, p-col-12 p-md-3 p-xl-2, p-col-12 p-md-9 p-xl-4" 
                         contentStyleClass="p-align-baseline ui-fluid" >
                <c:forEach items="#{block.fieldsLayoutList}" var="fields">
                    <c:choose>
                        <c:when test="${fields.componentType eq 'NORM'}">
                            <p:outputLabel value="#{fields.label}" for="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" 
                                           rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}" 
                                           style="padding: 1em;margin-left: 3em;padding-right: 2em;color: #282f44"/>
                            <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>

                            <c:choose>
                                <c:when test="${fields.fieldObject.fieldType.equals('REL')}">
                                    <c:set var="relationVar" value="#{fields.fieldName}" />
                                    <h:panelGroup layout="block"  styleClass="relation-container-group" 
                                                  rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}" >
                                        <p:outputLabel id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}"  value="#{requestorBean.selectedRecordsMap.get(fields.fieldName).getFieldValueMap().get(requestorBean.relationRecordsCache.get(relationVar).getRelationManager().getViewColumn()).getCurrentValue()}" 
                                                     rendered="#{fields.isVisible}" 
                                                     styleClass="button-label-group" style="font-weight: bold;padding-top: 10px;" />
                                        <p:commandButton icon="fa fa-search"
                                                         style="padding: 0.4em;box-shadow: none; 
                                                                     border: 1px solid #bebebe;
                                                                     color: #6d6d6d;
                                                                     background: #fff;height: 100%;border-radius: 0;width: 2.5em" 
                                                         immediate="true" actionListener="#{requestorBean.loadLazyRelationDataRecords(relationVar)}"
                                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                         update="form#{requestorBean.dataDialogWidgetVar}:#{requestorBean.dataDialogWidgetVar}DataTable">
                                        </p:commandButton>

                                    </h:panelGroup>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('LOOKUP')}">
                                    <h:panelGroup layout="block" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                        <c:set var="lookupVar" value="#{fields.fieldName}" />
                                        <p:selectOneMenu id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" 
                                                         value="#{requestorBean.selectionMap.get(fields.fieldName).selectedValue}" widgetVar="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}"
                                                         style="border: none;
                                                         border: 1px solid #bebebe;width: 20em" styleClass="form-dropdown" required="#{fields.isMandatory}" filter="true" filterMatchMode="startsWith">
                                            <f:selectItem itemLabel="Select" itemValue=""/>
                                            <f:selectItems value="#{requestorBean.lookupDictionary.get(fields.fieldName)}" />
                                            <f:ajax listener="#{requestorBean.onSelect(lookupVar, requestorBean.selectionMap.get(fields.fieldName).selectedValue)}"/>
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('CAT')}">
                                    <h:panelGroup layout="block" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                        <c:set var="lookupVar" value="#{fields.fieldName}" />
                                        <p:selectOneMenu id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" value="#{requestorBean.selectionMap.get(fields.fieldName).selectedValue}"
                                                         style="width:19em" styleClass="form-dropdown" required="#{fields.isMandatory}" filter="true" filterMatchMode="startsWith">
                                            <f:selectItem itemLabel="Select" itemValue=""/>
                                            <f:selectItems value="#{requestorBean.categoryDictionary.get(fields.fieldName)}" />
                                            <f:ajax listener="#{requestorBean.onSelect(lookupVar, requestorBean.selectionMap.get(fields.fieldName).selectedValue)}"/>
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('CONTENT')}">
                                    <c:set var="relationVar" value="#{fields.fieldName}" />
                                    <p:panelGrid columns="1"  styleClass="relation-container-group"
                                                 rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                        <p:fileUpload id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" 
                                                      listener="#{requestorBean.onContentSelect}"
                                                      value="#{requestorBean.selectionMap.get(fields.fieldName).selectedContent}" update="contentOutputLabel#{fields.fieldName}"
                                                      process="containerPanelR" immediate="true"
                                                      auto="true" mode="simple" skinSimple="true" styleClass="content-uploader-button">
                                            <f:attribute name="FieldName" value="#{fields.fieldName}" />
                                        </p:fileUpload> 
                                        <p:outputLabel id="contentOutputLabel#{fields.fieldName}"
                                                       value="#{requestorBean.selectionMap.get(fields.fieldName).contentModel.fileName}" style="margin-bottom: 2em;color: #442dff;"/>
                                    </p:panelGrid>
                                </c:when>

<!--                                <c:when test="${fields.fieldObject.fieldType.equals('DATE')}">
                                    <h:panelGroup layout="block" >
                                        <p:calendar id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE'}" effect="fold" value="#{fields.fieldObject.currentValue}" pattern="dd/MM/yyyy" required="#{fields.isMandatory}">
                                        </p:calendar>
                                        <p:commandButton icon="ui-icon-calendar" style="padding: 0.4em;box-shadow: none; border: none;background: #f1f1f1" 
                                                         type="button" disabled="true"/>
                                    </h:panelGroup>
                                </c:when>-->

                                <c:when test="${fields.fieldObject.fieldType.equals('DATE')}">
                                    <h:panelGroup layout="block" styleClass="relation-container-group"
                                                  rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                        <p:datePicker id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE'}" 
                                                      value="#{fields.fieldObject.currentValue}" pattern="dd/MM/yyyy" 
                                                      style="font-weight: bold;clip: auto;width: 20em"
                                                      disabled="#{fields.readOnly}" monthNavigator="true" yearNavigator="true"
                                                      styleClass="form-calendar button-label-group"   touchUI="true"
                                                      required="#{fields.isMandatory}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </p:datePicker>
                                        <p:commandButton icon="fa fa-calendar" 
                                                         style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #bebebe;background: #fff;
                                                             color: #6d6d6d;;height: 100%;border-radius: 0;cursor: default;width: 2.5em" 
                                                         disabled="#{fields.readOnly}"
                                                         styleClass="date-ic-btn"
                                                         type="button"/>
                                    </h:panelGroup>
                                </c:when>
                                
                                <c:when test="${fields.fieldObject.fieldType.equals('DATE_TIME')}">
                                        <h:panelGroup layout="block" styleClass="relation-container-group"
                                                      rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}">
                                            <p:datePicker  id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{fields.fieldObject.fieldType eq 'DATE_TIME'}" 
                                                           value="#{fields.fieldObject.currentValue}" pattern="dd/MM/yyyy HH:mm" 
                                                           style="font-weight: bold;clip: auto;width: 20em"
                                                           disabled="#{fields.readOnly}" touchUI="true"  showTime="true"
                                                           styleClass="form-calendar button-label-group" monthNavigator="true" yearNavigator="true"
                                                           required="#{fields.isMandatory}">
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="#{accessBean.companyTimezone}" />
                                            </p:datePicker >
                                            <p:commandButton icon="fa fa-calendar" 
                                                             style="padding: 0.4em;box-shadow: none; 
                                                             border: 1px solid #bebebe;background: #fff;
                                                             color: #6d6d6d;;height: 100%;border-radius: 0;cursor: default;width: 2.5em" 
                                                             disabled="#{fields.readOnly}"
                                                             styleClass="date-ic-btn"
                                                             type="button"/>
                                        </h:panelGroup>
                                    </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('BOOLEAN')}">
                                    <p:toggleSwitch id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" 
                                                    rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                    disabled="#{fields.readOnly}"
                                                    value="#{fields.fieldObject.currentValue}"
                                                    required="#{fields.isMandatory}" style="padding: 0.4em" >
                                        <p:ajax listener="#{requestorBean.onBooleanCheck(fields.fieldName,fields.fieldObject.currentValue)}"
                                                oncomplete="updateComponent()" onsuccess="updateComponent()"/>
                                    </p:toggleSwitch>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('INT') or fields.fieldObject.fieldType.equals('DECIMAL') or fields.fieldObject.fieldType.equals('LONG')}">
                                    <p:inputNumber id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                   style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: 23em" 
                                                   value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"
                                                   thousandSeparator="" decimalSeparator="." decimalPlaces="0"/>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('TEXT_AREA')}">
                                    <p:inputTextarea  rendered="#{(fields.fieldObject.fieldType eq 'TEXT_AREA') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}" 
                                                      id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}"
                                                      rows="10" cols="55"
                                                      style="padding: 0.5em;border: none;
                                                      border: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                                      disabled="#{fields.readOnly}"
                                                      styleClass="notInc" requiredMessage="#{fields.label}: This field cannot be empty"
                                                      value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}" />
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('RICH_TEXT')}">
                                    <h:panelGroup id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" styleClass="rich_text_holder"
                                                  rendered="#{(fields.fieldObject.fieldType eq 'RICH_TEXT') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                        <pe:ckEditor   rendered="#{(fields.fieldObject.fieldType eq 'RICH_TEXT') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}"
                                                       height="300"   enterMode="CKEDITOR.ENTER_BR"
                                                       font='Courier New' width="100%" advancedContentFilter="false" 
                                                       fontSize='11px'  customConfig="/ckeditorConfig.js"
                                                       skin="office2013" escape="false" 
                                                       value="#{fields.fieldObject.currentValue}" />
                                    </h:panelGroup>
                                    <h:panelGroup/>
                                        <h:panelGroup/>
                                        <h:panelGroup rendered="#{fields.fieldObject.fieldType.equals('RICH_TEXT')}"/>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('CURRENCY')}">
                                    <div class="p-col-12 p-md-4">
                                        <div class="ui-inputgroup">
                                            <p:inputNumber id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible}"
                                                           style="padding: 0.5em;border: none;
                                                           border: 1px solid #bebebe;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                                           disabled="#{fields.readOnly}"
                                                           value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"
                                                           requiredMessage="This field cannot be empty"
                                                           thousandSeparator="" decimalSeparator="." decimalPlaces="2"/>
                                            <div class="ui-inputgroup-addon">#{fields.fieldObject.fieldValues}</div>
                                        </div>
                                    </div>
                                </c:when>

                                <c:when test="${fields.fieldObject.fieldType.equals('SIGNATURE')}">
                                    <p:panelGrid columns="1" id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'SIGNATURE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}">
                                        <p:signature   rendered="#{(fields.fieldObject.fieldType eq 'SIGNATURE') and (not empty fields.conditionalAction.actionType? (fields.conditionalAction.actionType eq 'VISIBLE'? true:false):fields.isVisible)}" 
                                                       style="width:400px;height:200px"
                                                       readonly="#{fields.readOnly}" 
                                                       widgetVar="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}"
                                                       styleClass="notInc" guideline="true"
                                                       value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}" />
                                        <p:commandButton value="Clear" icon="pi pi-times" type="button" onclick="PF('#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}').clear()" styleClass="ui-button-flat p-ml-2"/>
                                    </p:panelGrid>
                                </c:when>

                                <c:otherwise>
                                    <p:inputText id="#{requestorBean.dataDialogWidgetVar}#{fields.fieldName}" rendered="#{(fields.fieldObject.fieldType eq 'TEXT' or fields.fieldObject.fieldType eq 'INT' or fields.fieldObject.fieldType eq 'DECIMAL' or fields.fieldObject.fieldType eq 'BARCODE') and fields.isVisible}" 
                                                 style="padding: 0.5em;border: none;
                                                 border: 1px solid #bebebe;width: 20em;height: 2.85em;-webkit-box-shadow: none" value="#{fields.fieldObject.currentValue}" required="#{fields.isMandatory}"/>
                                </c:otherwise>
                            </c:choose>
                        </c:when>
                        <c:otherwise>
                            <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml" >
                                <ui:param name="formBean" value="#{requestorBean}" />
                                <ui:param name="fields" value="#{fields}" />
                            </ui:include>
                        </c:otherwise>
                    </c:choose>


                </c:forEach>
            </p:panelGrid>

            <p:separator style="margin-left: .5em;margin-right: 3em;padding: 0;border: .1px solid #fff;"/>
        </p:panel>
    </c:forEach>

    <p:remoteCommand name="updateComponent" update=":quickAddForm" immediate="true"/>
    <p:dialog id="dId#{requestorBean.dataDialogWidgetVar}" widgetVar="#{requestorBean.dataDialogWidgetVar}" modal="true" width="90%" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateComponent()" appendTo="@form">
        <h:form id="form#{requestorBean.dataDialogWidgetVar}" styleClass="relation-quickadd-form">
            <ui:include src="/WEB-INF/templates/recordsTableForFilterTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{requestorBean}" />
                <ui:param name="tableKey" value="#{requestorBean.dataTableKey}" />
                <ui:param name="tableId" value="#{requestorBean.dataDialogWidgetVar}DataTable" />
            </ui:include>
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="advancedDataDialogRec"  modal="true" width="90%" position="center center" dynamic="true" styleClass="form-dialog"
              style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)">
        <h:form id="advancedDialogFormMasterRec#{requestorBean.dataDialogWidgetVar}">
            <ui:include src="/WEB-INF/templates/advancedCompRecordsTable.xhtml" >
                <ui:param name="requestorBean" value="#{requestorBean}" />
                <ui:param name="eventName" value="#{requestorBean.activeEvent}" />
                <ui:param name="tableKey" value="#{requestorBean.dataTableKey}" />
            </ui:include>
        </h:form>
    </p:dialog>



    <ui:define name="contentTable">

    </ui:define>

</ui:composition>