<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Records
    </ui:define>
    <h:panelGrid columns="1">
        <h:panelGroup>
            <p:inputText id="fullTextSearch#{tableKey}" value="#{requestorBean.relationFTSKeyword}" label="Keyword"
                         style="border: 1px solid #ccc;
                         border-radius: 50em;
                         float: left;
                         margin-top: 0.4em;
                         padding: 0.8em;
                         margin-right: 0.2em;
                         margin-left: 0.4em;" styleClass="global-search-input"
                         onkeypress="if (event.keyCode === 13) {
                                 search();
                                 return false;
                             }"/>
            <p:remoteCommand name="search" actionListener="#{requestorBean.searchByRelation(requestorBean.relationFieldName)}" update="#{tableId ne null? tableId : 'dataTable'}"/>
            <p:watermark for="fullTextSearch#{tableKey}" value="Search with keyword" id="watermarkFTS#{tableKey}"/>
            <p:commandButton value="Search" style="float: left;border-radius: 8em"
                             actionListener="#{requestorBean.searchByRelation(requestorBean.relationFieldName)}" update="#{tableId ne null? tableId : 'dataTable'}"
                             styleClass="save-button topcommands" process="fullTextSearch#{tableKey}, @this" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
        </h:panelGroup>
        <div>
            <p:dataTable var="recList" value="#{requestorBean.relationLazyRecordModel}" 
                         widgetVar="orgTable" id="#{tableId ne null? tableId : 'dataTable'}"
                         style="padding-top: 0.5em;width: 100%;visibility: visible  !important;" styleClass="datatable paginator-buttons data-record-table" rows="10"
                         paginator="true" paginatorPosition="bottom" selection="#{requestorBean.selectedRecords}" 
                         lazy="true" filterEvent="enter" reflow="true">
                <p:ajax event="rowSelect" listener="#{requestorBean.onFilterRowSelect}"
                        disabled="#{enableRowSelection ne null? enableRowSelection : 'false'}" oncomplete="updateForm()" onsuccess="updateForm()"/>
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <p:columns var="fields" value="#{requestorBean.relationTableSettings}" headerText="#{fields.columnLabel}" rendered="#{fields.visible}">
                    <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                </p:columns>

            </p:dataTable>
        </div>
    </h:panelGrid>


    <ui:define name="contentTable">

    </ui:define>

</ui:composition>