<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <div style="text-align: right">
<!--        <p:commandButton id="toggler" type="button"  icon="fa fa-bars" 
                         style="border: 1px solid #cecece;color: #4e4e4e;background: #ffffff;border-radius: 8em;width: 3em;padding: 0.5em;" />
        <p:commandButton icon="fa fa-table" styleClass="topcommands"
                         style="border-radius: 8em;width: 3em" 
                         immediate="true" actionListener="#{requestorBean.loadTableColumnDesigner}" 
                         rendered="#{accessBean.userModel.permissionSet.admin}">
        </p:commandButton>

        <p:commandButton icon="fa fa-cloud-upload" styleClass="topcommands" id="bulkUploadButton"
                         style="border-radius: 8em;width: 3em" rendered="#{empty allowBulkUpload or allowBulkUpload eq true}"
                         immediate="true">
        </p:commandButton>-->
<!--        <p:overlayPanel for="bulkUploadButton" styleClass="user-snippet">
            <p:panelGrid columns="1" style="border: none;width: 100%">
                <p:commandButton value="Download Template" onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false"
                                 icon="fa fa-download"
                                 style="background: transparent;border: none;color: #535353" actionListener="#{requestorBean.downloadUploadTemplate}">
                    <p:fileDownload value="#{requestorBean.uploadTemplate}" />
                </p:commandButton>
                <p:separator style="padding: 0;border: 1px solid #e1dfdf;"/>
                <p:outputLabel value="Upload"/>
                <p:fileUpload listener="#{requestorBean.handleFileUpload}"  mode="advanced" skinSimple="true" allowTypes="/(\.|\/)(csv)$/" 
                              styleClass="upload-templat-button"
                              style="background: transparent;border: none;color: #535353"/>
            </p:panelGrid>
        </p:overlayPanel>-->

        <p:button  value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']}" 
                   outcome="#{additionPage}" icon="fa fa-w fa-plus" styleClass="topcommands"
                   style="border-radius: 8em;" rendered="#{(generic eq 'false' or generic eq null)}" />

        <p:commandButton  value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']}" actionListener="#{requestorBean.addNewRecord}" icon="fa fa-w fa-plus" styleClass="topcommands"
                          style="border-radius: 8em;" rendered="#{(generic eq 'true')}" onstart="PF('waitingDlgName').show()"/>

        <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']}" 
                         onclick="PF('confirmation').show()" style="border-radius: 8em;" 
                         icon="fa fa-trash-o" styleClass="topcommands nohover" onstart="PF('waitingDlgName').show()" 
                         oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>
        <p:inputText id="fullTextSearchTopC" value="#{requestorBean.FTSKeyword}" label="Keyword"
                     style="border: 1px solid #ccc;
                     border-radius: 50em;
                     float: left;
                     margin-top: 0.4em;
                     padding: 0.8em;
                     margin-right: 0.2em;
                     margin-left: 0.4em;"/>
        <p:watermark for="fullTextSearchTopC" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']}"  />
        <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']}" style="float: left;border-radius: 8em"
                         actionListener="#{requestorBean.search(null)}" update="@form" styleClass="save-button topcommands" 
                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>

        <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                         header="#{accessBean.loadLocalizedValue('delete_msg_title')}"
                         widgetVar="confirmation"
                         style="text-align: center" >  
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']}"
                             onclick="PF('confirmation').hide()"  
                             actionListener="#{requestorBean.delete}" update="@form"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                              styleClass="save-button">
            </p:commandButton>  
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']}"
                             onclick="PF('confirmation').hide()" 
                             styleClass="cancel-button"/>   
        </p:confirmDialog>

        <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
        <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="850" position="center center" 
                  style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" dynamic="true">
            <c:if test="#{requestorBean.ajaxRequest}">
                <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                    <ui:param name="requestTableViewDesignerBean" value="#{requestorBean.tableViewDesignerBean}" />
                </ui:include>
            </c:if>
        </p:dialog>
    </div>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>