<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <h:panelGroup id="reportsMenuHolder">
        <p:menubar id="topCommanddControlsMenu" style="display: block;overflow: unset;padding-bottom: 1em">
            <p:menuitem  value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']}" 
                         outcome="#{additionPage}" icon="fa fa-w fa-plus" styleClass="topcommands"
                         rendered="#{(generic eq 'false' or generic eq null)}" />

            <p:menuitem value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']}" 
                        onclick="PF('confirmation').show()" disabled="#{empty requestorBean.selectedRecords}"
                        icon="fa fa-trash-o" styleClass="topcommands nohover" onstart="PF('waitingDlgName').show()" 
                        oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>

            <p:divider layout="vertical"/>

<!--            <p:menuitem value="AI Helper" actionListener="#{requestorBean.openNaturalLanguageDialog()}"
                        icon="fa fa-keyboard-o"/>-->

            <f:facet name="options">
                <div class="ui-inputgroup">
                    <p:inputText id="fullTextSearchTopC" value="#{requestorBean.FTSKeyword}" label="Keyword"
                                 style="border: 1px solid #ccc;
                                 border-radius: 4px 0px 0px 4px;
                                 float: left;
                                 padding: 0.8em;
                                 margin-left: 0.4em;background: #fff;
                                 width: 20em"/>
                    <p:watermark for="fullTextSearchTopC" value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                                   accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"  />
                    <p:commandLink style="float: left;    border-radius: 0px 0px 0px 0px; border-left: none !important;background: #ffd100 !important;border-color: #ccc !important;"
                                   actionListener="#{requestorBean.search(null)}" update="@form" styleClass="save-button topcommands" process="reportsMenuHolder fullTextSearchTopC"
                                   onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()">
                        <p:graphicImage name="/images/record_search_ic.png"  styleClass="rounded" width="15"/>
                        <p:tooltip for="@parent" value="Search using a keyword" position="bottom"/>
                    </p:commandLink>
                </div>

            </f:facet>

        </p:menubar>
    </h:panelGroup>


    <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                     header="#{accessBean.loadLocalizedValue('delete_msg_title')}"
                     widgetVar="confirmation"
                     style="text-align: center" >  
        <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']}"
                         onclick="PF('confirmation').hide()"  
                         actionListener="#{requestorBean.delete}" update="@form"
                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                         onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                         styleClass="save-button">
        </p:commandButton>  
        <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']}"
                         onclick="PF('confirmation').hide()" 
                         styleClass="cancel-button"/>   
    </p:confirmDialog>

    <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
    <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="850" position="center center" 
              style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" dynamic="true">
        <c:if test="#{requestorBean.ajaxRequest}">
            <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                <ui:param name="requestTableViewDesignerBean" value="#{requestorBean.tableViewDesignerBean}" />
            </ui:include>
        </c:if>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>