<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <div style="text-align: right">
        <p:panel styleClass="landscape-top-menu" id="topLandscapePanel">
            <h:panelGroup styleClass="borderless-grid" style="margin-right: 1em" rendered="#{not empty requestorBean.dataViewSettings 
                                                                                             and not empty requestorBean.viewOptionList}">
                <p:commandButton icon="fa fa-barcode" styleClass="topcommands" id="barcodeSheetBuilder" value="Generate Barcode"
                                 style="border-radius: 4px;border: 2px solid #a7a7a7 !important;margin-right: 10px !important;" rendered="#{requestorBean.activeModule.enableBarcodeSheet}"
                                 immediate="true" onclick="PF('addPrinterConfigurationDialog').show()"/>
                <h:outputText value="Show as " style="color: #4e4e4e;vertical-align: middle"/>
                <p:selectOneMenu value="#{requestorBean.activeViewOption}" 
                                 style="width:auto;display: inline-flex;border: 1px solid #ccc;margin-top: 0.8em;border-radius: 3px;"
                                 styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="TABLE" />
                    <f:selectItems value="#{requestorBean.viewOptionList}" var="v"/>
                    <p:ajax listener="#{requestorBean.activateView()}" update="@form"
                            onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" 
                            oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>
                </p:selectOneMenu>
            </h:panelGroup>
            <p:commandButton id="toggler" type="button"  icon="fa fa-bars" rendered="false"
                             style="border: 1px solid #cecece;color: #4e4e4e;background: #ffffff;border-radius: 4px;width: 3em;padding: 0.5em;" />
            <p:commandButton icon="fa fa-table" styleClass="topcommands"
                             style="border-radius: 4px;width: 3em;display: none" 
                             immediate="true" actionListener="#{requestorBean.loadTableColumnDesigner}" 
                             rendered="#{accessBean.userModel.superUser or  accessBean.userModel.permissionSet.admin}">
            </p:commandButton>

            <p:commandButton icon="fa fa-cloud-upload" styleClass="btn btn-icon topcommands" id="bulkUploadButton"
                             style="border-radius: 4px;" rendered="#{empty allowBulkUpload or allowBulkUpload eq true}"
                             immediate="true">
            </p:commandButton>
            <p:overlayPanel for="bulkUploadButton" styleClass="user-snippet" collision="fit flip" >
                <p:panelGrid columns="1" style="border: none;width: 100%;background: #fff">
                    <p:commandButton value="Download Template" onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false"
                                     icon="fa fa-download"
                                     style="background: transparent;border: none;color: #535353" actionListener="#{requestorBean.downloadUploadTemplate}">
                        <p:fileDownload value="#{requestorBean.uploadTemplate}" />
                    </p:commandButton>
                    <p:separator style="padding: 0;border: 1px solid #e1dfdf;"/>
                    <p:outputLabel value="Upload"/>
                    <p:fileUpload listener="#{requestorBean.handleFileUpload}" mode="advanced" skinSimple="true" allowTypes="/(\.|\/)(csv|xlsx|xls)$/" 
                                  styleClass="upload-templat-button" onstart="PF('progressBarDialog').show()" oncomplete="PF('progressBarDialog').hide()"
                                  style="background: transparent;border: none;color: #535353" />
                </p:panelGrid>
            </p:overlayPanel>

            <p:dialog id="progressBarDialog" widgetVar="progressBarDialog" position="center center" width="100">
                <p:progressBar id="progressBarIndeterminate" style="height:6px" mode="indeterminate"/>
            </p:dialog>


            <p:button  value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']?
                                accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']:'New'}" 
                       outcome="#{additionPage}" icon="fa fa-w fa-plus" styleClass="topcommands add-button nohover"
                       style="border-radius: 4px;" rendered="#{(generic eq 'false' or generic eq null) and requestorBean.permitCreate}" />

            <p:commandButton  value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']?
                                       accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']:'New'}" actionListener="#{requestorBean.addNewRecord}" icon="fa fa-w fa-plus" 
                              styleClass="btn btn-primary add-button nohover"
                              rendered="#{(generic eq 'true') and accessBean.isPermittetedToAction(requestorBean.moduleId,'CREATE')}" onstart="PF('waitingDlgName').show()"/>

            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']:'Delete'}" 
                             onclick="PF('confirmation').show()"   rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'DELETE')}"
                             icon="fa fa-trash-o" styleClass="btn btn-primary delete-button nohover" onstart="PF('waitingDlgName').show()" 
                             oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>
            <p:inputText id="fullTextSearchTopC" value="#{requestorBean.FTSKeyword}" label="Keyword"
                         style="border: 1px solid #ccc;
                         border-radius: 4px;
                         float: left;
                         margin-top: 0.4em;
                         padding: 0.8em;
                         margin-right: 0.2em;
                         margin-left: 0.4em;
                         width: 20em"/>
            <p:watermark for="fullTextSearchTopC" value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                           accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"  />
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']:'Search'}" style="float: left;border-radius: 4px"
                             actionListener="#{requestorBean.search(null)}" update="@form" styleClass="save-button topcommands" process="topLandscapePanel filterContainerPanel"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>
        </p:panel>

        <p:panel styleClass="portrait-top-menu" id="topPortraitPanel">
            <p:inputText id="fullTextSearchTopCPortrait" value="#{requestorBean.FTSKeyword}" label="Keyword"
                         style="border: 1px solid #ccc;
                         border-radius: 4px;
                         margin-top: 0.4em;
                         padding: 0.8em;
                         margin-right: 0.2em;
                         margin-left: 0.4em;
                         width: auto"/>
            <p:watermark for="fullTextSearchTopCPortrait" value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                                   accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"  />
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']:'Search'}" style="border-radius: 4px"
                             actionListener="#{requestorBean.search(null)}" update="@form" styleClass="save-button topcommands" process="topPortraitPanel filterContainerPanel"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>

            <nav class="mobile-bottom-nav">

                <p:button  value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']?
                                    accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_new']:'New'}" 
                           outcome="#{additionPage}" icon="fa fa-w fa-plus" styleClass="topcommands add-button nohover"
                           style="border-radius: 4px;" rendered="#{(generic eq 'false' or generic eq null) and requestorBean.permitCreate}" />

                <p:commandButton  actionListener="#{requestorBean.addNewRecord}" icon="fa fa-w fa-plus" 
                                  styleClass="btn btn-primary add-button nohover"
                                  style="border-radius: 4px;width: 4em;height: 4em;margin-left: 1em" rendered="#{(generic eq 'true') and accessBean.isPermittetedToAction(requestorBean.moduleId,'CREATE')}" onstart="PF('waitingDlgName').show()"/>

                <p:commandButton 
                    onclick="PF('confirmation').show()" style="border-radius: 8em;width: 4em;height: 4em;margin-left: 1em"  rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'DELETE')}"
                    icon="fa fa-trash-o" styleClass="btn btn-primary delete-button nohover" onstart="PF('waitingDlgName').show()" 
                    oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>
            </nav>
        </p:panel>



        <p:confirmDialog message="#{not empty accessBean.loadLocalizedValue('confirm_delete_msg')?accessBean.loadLocalizedValue('confirm_delete_msg'):'Are you sure?'}"
                         header="#{not empty accessBean.loadLocalizedValue('delete_msg_title')?accessBean.loadLocalizedValue('delete_msg_title'):'Delete'}"
                         widgetVar="confirmation"
                         style="text-align: center;background: #fff" >  
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']:'Confirm Delete'}"
                             onclick="PF('confirmation').hide()"  
                             actionListener="#{requestorBean.delete}" update="messages dataViewsPanel" process="@form"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                             styleClass="save-button">
            </p:commandButton>  
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']:'cancel'}"
                             onclick="PF('confirmation').hide()" 
                             styleClass="cancel-button"/>   
        </p:confirmDialog>

        <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
        <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="850" position="center center" 
                  style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" dynamic="true">
            <c:if test="#{requestorBean.ajaxRequest}">
                <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                    <ui:param name="requestTableViewDesignerBean" value="#{requestorBean.tableViewDesignerBean}" />
                </ui:include>
            </c:if>
        </p:dialog>
    </div>
    
    <p:dialog id="bulkUploadValidationResultDialog" widgetVar="bulkUploadValidationResultDialog" modal="true" width="850" position="center center" 
                  style="border-radius: 4px;text-align: -webkit-center;" dynamic="true">
            <p class="p-m-0">#{requestorBean.bulkUploadErrorMessage}</p>
            <f:facet name="footer">
                <p:commandButton type="button" value="Ok" style="width: 5rem" onclick="PF('bulkUploadValidationResultDialog').hide()" />
            </f:facet>
        </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>