<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="title">
        Page Viewer
    </ui:define>

    <c:choose>
        <c:when test="${widget.type ne 'SECTION'}">
            <p:panelGrid columns="1" style="width: -webkit-fill-available !important;" styleClass="borderless-grid advanced-non-layout">
                <ui:include src="/WEB-INF/templates/pages/pageViewBuilder.xhtml">
                    <ui:param name="formBean" value="#{formBean}" />
                    <ui:param name="widget" value="#{widget}" />
                </ui:include>
            </p:panelGrid>
        </c:when>
        <c:otherwise>
            <p:panelGrid columns="#{not empty widget.sectionWidgetConfig and widget.sectionWidgetConfig.columns ne '0'?widget.sectionWidgetConfig.columns:'1'}"
                         styleClass="borderless-grid advanced-layout" style="width: 100%;table-layout: fixed">
                <c:forEach items="#{widget.sectionWidgetConfig.layoutWidgets}" var="layoutComponent">
                    <ui:include src="/WEB-INF/templates/pages/pageViewBuilder.xhtml">
                        <ui:param name="formBean" value="#{formBean}" />
                        <ui:param name="widget" value="#{layoutComponent}" />
                    </ui:include>
                </c:forEach>
            </p:panelGrid>
        </c:otherwise>
    </c:choose>
    
    

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>