<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Advanced Components Manager
    </ui:define>




    <c:choose>
        <c:when test="${widget.type eq 'REPORT'}"> 
            <p:panel id="id_#{widget.widgetId}"  style="width: 100%;margin-bottom: 1em" styleClass="dashboard-panel dashboard_report_panel">
                <f:facet name="header" class="dashboard-header">
                    <p:outputLabel value="#{widget.title}" rendered="true"/>
                </f:facet>
                <ui:include src="/WEB-INF/templates/reports/reportViewBuilder.xhtml">
                    <ui:param name="viewerBean" value="#{formBean.reportViewerMap[widget.widgetId]}" />
                    <ui:param name="targetWidget" value="#{widget}" />
                    <ui:param name="forDashboard" value="#{true}" />
                    <ui:param name="pageBean" value="#{formBean}" />
                </ui:include>

                <p:dialog id="reportDashboardFilterDialog" resizable="false" header="Change Filters" dynamic="true"
                          widgetVar="reportDashboardFilterDialog"  modal="true" styleClass="report_dashboard_filters">
                    <p:panel style="margin-bottom:10px;background: #fff;width: 100%" styleClass="form-container" id="filterPanel_#{widget.widgetId}" 
                             rendered="#{formBean.showFilters}">
                        <div style="margin-left: -1.2em;margin-right: -1.8em;">
                            <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">Filter Configuration</ul>
                            <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
                        </div>
                        <p:panelGrid styleClass="borderless-grid" columns="2">
                            <p:outputLabel value="All conditions must be met" style="font-weight: normal;color: #7e7e7e;font-size: 14px;"/>
                            <p:commandButton value="Add Condition" actionListener="#{formBean.addReportBean.addNewANDCondition()}" 
                                             icon="fa fa-w fa-plus" process="@this"
                                             styleClass="topcommands" update="filterPanel_#{widget.widgetId}" 
                                             style="border-radius: 3px;margin-bottom: 1em;margin-left: 8.5em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                        </p:panelGrid>

                        <!--                        <ui:include src="/WEB-INF/templates/reports/reportFilterConfig.xhtml" >
                                                    <ui:param name="managerBean" value="#{formBean.addReportBean}" />
                                                    <ui:param name="decisionType" value="AND" />
                                                    <ui:param name="conditionsList" value="#{formBean.addReportBean.reportModel.ANDFilterList}" />
                                                    <ui:param name="widgetId" value="#{widget.widgetId}" />
                                                </ui:include> -->

                        <c:forEach items="#{formBean.addReportBean.reportModel.ANDFilterList}" var="conditionFilter" varStatus="loopReportCondition">
                            <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" id="filterGrid_AND_#{loopReportCondition.index}_#{widget.widgetId}">
                                <p:selectOneMenu id="filterCol_AND_#{loopReportCondition.index}_#{widget.widgetId}" widgetVar="filterCol_AND_#{loopReportCondition.index}_#{widget.widgetId}" 
                                                 value="#{conditionFilter.fieldModel}" style="width:19em;border: none;border: 1px solid #ccc;background: #fff;margin-right: 1em"
                                                 filterMatchMode="contains" filter="true">
                                    <f:converter converterId="moduleFieldsConverterForDashboard" />
                                    <f:attribute name="moduleId" value="#{filterBoxManager.targetModuleId}"/>
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                    <f:selectItems value="#{formBean.addReportBean.filterColumnList}" var="filterCol" itemValue="#{filterCol}" itemLabel="#{filterCol.fieldLabel}"/>
                                    <p:ajax  update="filterGrid_AND_#{loopReportCondition.index}_#{widget.widgetId}" listener="#{formBean.addReportBean.loadLookupForFilter(conditionFilter.fieldModel)}"/>
                                </p:selectOneMenu>

                                <p:selectOneMenu id="console_AND_#{loopReportCondition.index}_#{widget.widgetId}" widgetVar="console_AND_#{loopReportCondition.index}_#{widget.widgetId}"
                                                 value="#{conditionFilter.operator}" 
                                                 style="width:13em;border: none;border: 1px solid #ccc;">
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                    <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
                                    <f:selectItem itemLabel="Less Than" itemValue="&le;" />
                                    <f:selectItem itemLabel="Contains" itemValue="LIKE" />
                                    <f:selectItem itemLabel="Between" itemValue="BETWEEN" />
                                    <p:ajax update="valhueHolderPanel_AND_#{loopReportCondition.index}_#{widget.widgetId}"/>
                                </p:selectOneMenu>

                                <p:panel style="border: 0px solid #ccc;margin-left: 1em;border-radius: 3px;" id="valhueHolderPanel_AND_#{loopReportCondition.index}_#{widget.widgetId}" styleClass="filter-value-holder">

                                    <c:choose>
                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'DATE'}">
                                            <h:panelGroup rendered="#{conditionFilter.fieldModel.fieldType eq 'DATE'}" style="width: 30em">
                                                <h:panelGrid columns="2" style="width: 30em;"  
                                                             rendered="#{conditionFilter.operator eq 'BETWEEN'}">
                                                    <h:panelGrid columns="2">
                                                        <p:outputLabel value="Dynamic" style="font-weight: normal;margin-right: 0.5em;"/>
                                                        <p:selectBooleanCheckbox value="#{conditionFilter.dynamicDate}" style="margin-right: 0.5em;vertical-align: baseline"> 
                                                            <p:ajax update="filterGrid_AND_#{loopReportCondition.index}_#{widget.widgetId}" />
                                                        </p:selectBooleanCheckbox>
                                                    </h:panelGrid>
                                                    <h:panelGrid  columns="2" rendered="#{conditionFilter.dynamicDate eq false}">
                                                        <p:datePicker  value="#{conditionFilter.dateFrom}"  pattern="yyyy-MM-dd" style="margin-right: 1em;" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                                            <f:convertDateTime pattern="yyyy-MM-dd" />
                                                        </p:datePicker >
                                                        <p:datePicker  value="#{conditionFilter.dateTo}"  pattern="yyyy-MM-dd" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                                            <f:convertDateTime pattern="yyyy-MM-dd" />
                                                        </p:datePicker >
                                                    </h:panelGrid>
                                                    <h:panelGroup rendered="#{conditionFilter.dynamicDate eq true}">
                                                        <h:panelGrid columns="4" style="width: 100%;">
                                                            <p:outputLabel value="From" style="font-weight: bold;"/>
                                                            <p:selectOneMenu widgetVar="andDynamicDateFrom_#{loopReportCondition.index}_#{widget.widgetId}" value="#{conditionFilter.dataFrom}" 
                                                                             style="width:13em;border: none;border: 1px solid #ccc;">
                                                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                                <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                                <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                            </p:selectOneMenu>

                                                            <p:outputLabel value="To" style="font-weight: bold;"/>
                                                            <p:selectOneMenu widgetVar="dynamicDateTo_AND_#{loopReportCondition.index}_#{widget.widgetId}" value="#{conditionFilter.dataTo}" 
                                                                             style="width:13em;border: none;border: 1px solid #ccc;">
                                                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                                <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                                <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                            </p:selectOneMenu>
                                                        </h:panelGrid>
                                                    </h:panelGroup>
                                                </h:panelGrid>


                                                <p:calendar value="#{conditionFilter.value}" showOn="button" pattern="yyyy-MM-dd" rendered="#{conditionFilter.operator ne 'BETWEEN'}"
                                                            styleClass="single-calendar">
                                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                                </p:calendar>
                                            </h:panelGroup>
                                        </c:when>

                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'BOOLEAN'}">
                                            <p:panel style="width: 30em">
                                                <p:selectOneMenu value="#{conditionFilter.value}" 
                                                                 style="width:100%;border: none;border: 1px solid #ccc;">
                                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                    <f:selectItem itemLabel="True" itemValue="1" />
                                                    <f:selectItem itemLabel="False" itemValue="0" />
                                                </p:selectOneMenu>
                                            </p:panel>
                                        </c:when>

                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'LOOKUP'}">
                                            <p:panel style="width: 30em">
                                                <p:selectOneMenu value="#{conditionFilter.value}" 
                                                                 style="width:100%;border: none;border: 1px solid #ccc;">
                                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                    <f:selectItems value="#{formBean.addReportBean.lookupDictionary.get(conditionFilter.fieldModel.fieldName)}" />
                                                </p:selectOneMenu>
                                            </p:panel>
                                        </c:when>

                                        <c:otherwise>
                                            <p:inputText style="border:none;border-bottom: 1px solid #ccc;padding: 0.7em;min-width: 30em"
                                                         value="#{conditionFilter.value}" rendered="#{conditionFilter.fieldModel.fieldType ne 'DATE'}"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:panel>

                                <p:commandLink actionListener="#{formBean.addReportBean.removeCondition('AND',conditionFilter)}" 
                                               update="filterPanel_#{widget.widgetId}" style="margin-left: 1em" immediate="true">
                                    <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                </p:commandLink>
                            </h:panelGrid>
                        </c:forEach>

                        <p:panelGrid styleClass="borderless-grid" columns="2">
                            <p:outputLabel value="At least one of the conditions must be met" style="font-weight: normal;color: #7e7e7e;font-size: 14px;"/>
                            <p:commandButton value="Add Condition" actionListener="#{formBean.addReportBean.addNewORCondition}"
                                             icon="fa fa-w fa-plus" immediate="true"  process="filterPanel_#{widget.widgetId}"
                                             styleClass="topcommands" update="filterPanel_#{widget.widgetId}" style="border-radius: 3px;margin-bottom: 1em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                        </p:panelGrid>

                        <!--                        <ui:include src="/WEB-INF/templates/reports/reportFilterConfig.xhtml" >
                                                    <ui:param name="managerBean" value="#{formBean.addReportBean}" />
                                                    <ui:param name="decisionType" value="OR" />
                                                    <ui:param name="conditionsList" value="#{formBean.addReportBean.reportModel.ORFilterList}" />
                                                    <ui:param name="widgetId" value="#{widget.widgetId}" />
                                                </ui:include> -->

                        <c:forEach items="#{formBean.addReportBean.reportModel.ORFilterList}" var="conditionFilter" varStatus="loopReportCondition">
                            <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" id="filterGrid_OR_#{loopReportCondition.index}_#{widget.widgetId}">
                                <p:selectOneMenu id="filterCol_OR_#{loopReportCondition.index}_#{widget.widgetId}" widgetVar="filterCol_OR_#{loopReportCondition.index}_#{widget.widgetId}" 
                                                 value="#{conditionFilter.fieldModel}" style="width:19em;border: none;border: 1px solid #ccc;background: #fff;margin-right: 1em"
                                                 >
                                    <f:converter converterId="moduleFieldsConverterForDashboard" />
                                    <f:attribute name="moduleId" value="#{filterBoxManager.targetModuleId}"/>
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                    <f:selectItems value="#{formBean.addReportBean.filterColumnList}" var="filterCol" itemValue="#{filterCol}" itemLabel="#{filterCol.fieldLabel}"/>
                                    <p:ajax  update="filterGrid_OR_#{loopReportCondition.index}_#{widget.widgetId}" listener="#{formBean.addReportBean.loadLookupForFilter(conditionFilter.fieldModel)}"/>
                                </p:selectOneMenu>

                                <p:selectOneMenu id="console_OR_#{loopReportCondition.index}_#{widget.widgetId}" widgetVar="console_OR_#{loopReportCondition.index}_#{widget.widgetId}"
                                                 value="#{conditionFilter.operator}" 
                                                 style="width:13em;border: none;border: 1px solid #ccc;">
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                    <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
                                    <f:selectItem itemLabel="Less Than" itemValue="&le;" />
                                    <f:selectItem itemLabel="Contains" itemValue="LIKE" />
                                    <f:selectItem itemLabel="Between" itemValue="BETWEEN" />
                                    <p:ajax update="valhueHolderPanel_OR_#{loopReportCondition.index}_#{widget.widgetId}"/>
                                </p:selectOneMenu>

                                <p:panel style="border: 0px solid #ccc;margin-left: 1em;border-radius: 3px;" id="valhueHolderPanel_OR_#{loopReportCondition.index}_#{widget.widgetId}" styleClass="filter-value-holder">

                                    <c:choose>
                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'DATE'}">
                                            <h:panelGroup rendered="#{conditionFilter.fieldModel.fieldType eq 'DATE'}" style="width: 30em">
                                                <h:panelGrid columns="2" style="width: 30em;"  
                                                             rendered="#{conditionFilter.operator eq 'BETWEEN'}">
                                                    <h:panelGrid columns="2">
                                                        <p:outputLabel value="Dynamic" style="font-weight: normal;margin-right: 0.5em;"/>
                                                        <p:selectBooleanCheckbox value="#{conditionFilter.dynamicDate}" style="margin-right: 0.5em;vertical-align: baseline"> 
                                                            <p:ajax update="filterGrid_OR_#{loopReportCondition.index}_#{widget.widgetId}" />
                                                        </p:selectBooleanCheckbox>
                                                    </h:panelGrid>
                                                    <h:panelGrid  columns="2" rendered="#{conditionFilter.dynamicDate eq false}">
                                                        <p:datePicker  value="#{conditionFilter.dateFrom}"  pattern="yyyy-MM-dd" style="margin-right: 1em;" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                                            <f:convertDateTime pattern="yyyy-MM-dd" />
                                                        </p:datePicker >
                                                        <p:datePicker  value="#{conditionFilter.dateTo}"  pattern="yyyy-MM-dd" styleClass="filter-datepicker" monthNavigator="true" yearNavigator="true">
                                                            <f:convertDateTime pattern="yyyy-MM-dd" />
                                                        </p:datePicker >
                                                    </h:panelGrid>
                                                    <h:panelGroup rendered="#{conditionFilter.dynamicDate eq true}">
                                                        <h:panelGrid columns="4" style="width: 100%;">
                                                            <p:outputLabel value="From" style="font-weight: bold;"/>
                                                            <p:selectOneMenu widgetVar="andDynamicDateFrom_#{loopReportCondition.index}_#{widget.widgetId}" value="#{conditionFilter.dataFrom}" 
                                                                             style="width:13em;border: none;border: 1px solid #ccc;">
                                                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                                <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                                <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                            </p:selectOneMenu>

                                                            <p:outputLabel value="To" style="font-weight: bold;"/>
                                                            <p:selectOneMenu widgetVar="dynamicDateTo_OR_#{loopReportCondition.index}_#{widget.widgetId}" value="#{conditionFilter.dataTo}" 
                                                                             style="width:13em;border: none;border: 1px solid #ccc;">
                                                                <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                                <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                                <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                            </p:selectOneMenu>
                                                        </h:panelGrid>
                                                    </h:panelGroup>
                                                </h:panelGrid>


                                                <p:calendar value="#{conditionFilter.value}" showOn="button" pattern="yyyy-MM-dd" rendered="#{conditionFilter.operator ne 'BETWEEN'}"
                                                            styleClass="single-calendar">
                                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                                </p:calendar>
                                            </h:panelGroup>
                                        </c:when>

                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'BOOLEAN'}">
                                            <p:panel style="width: 30em">
                                                <p:selectOneMenu value="#{conditionFilter.value}" 
                                                                 style="width:100%;border: none;border: 1px solid #ccc;">
                                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                    <f:selectItem itemLabel="True" itemValue="1" />
                                                    <f:selectItem itemLabel="False" itemValue="0" />
                                                </p:selectOneMenu>
                                            </p:panel>
                                        </c:when>

                                        <c:when test="${conditionFilter.fieldModel.fieldType eq 'LOOKUP'}">
                                            <p:panel style="width: 30em">
                                                <p:selectOneMenu value="#{conditionFilter.value}" 
                                                                 style="width:100%;border: none;border: 1px solid #ccc;">
                                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                    <f:selectItems value="#{formBean.addReportBean.lookupDictionary.get(conditionFilter.fieldModel.fieldName)}" />
                                                </p:selectOneMenu>
                                            </p:panel>
                                        </c:when>

                                        <c:otherwise>
                                            <p:inputText style="border:none;border-bottom: 1px solid #ccc;padding: 0.7em;min-width: 30em"
                                                         value="#{conditionFilter.value}" rendered="#{conditionFilter.fieldModel.fieldType ne 'DATE'}"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:panel>

                                <p:commandLink actionListener="#{formBean.addReportBean.removeCondition('OR',conditionFilter)}" 
                                               update="filterPanel_#{widget.widgetId}" style="margin-left: 1em" immediate="true">
                                    <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                </p:commandLink>
                            </h:panelGrid>
                        </c:forEach>

                    </p:panel>

                    <p:commandButton value="Apply Changes" style="border-radius: 4px;
                                     color: #282f44;
                                     background-color: #ffd100;
                                     border: 1px solid #fff;
                                     padding: .5em;
                                     font-weight: bolder;
                                     width: 15em;" 
                                     actionListener="#{formBean.applyReportChanges(widget)}"
                                     update="@form" 
                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                </p:dialog>
            </p:panel>
        </c:when>
        <c:when test="${widget.type eq 'CUSTOM'}">
            <p:panel id="id_#{widget.widgetId}"  style="width: 100%;margin-bottom: 1em;border: none;box-shadow: none" styleClass="dashboard-panel">
                <h:outputText value="#{formBean.customViewMap[widget.widgetId]}" escape="false" />
            </p:panel>
        </c:when>
        <c:when test="${widget.type eq 'INFO_PANEL'}">

            <p:card styleClass="info-panel-base" 
                    style="text-align:left;margin: 0.5em;border: 1px solid #ccc;padding: 0;
                    background: #{not empty widget.infoPanelWidgetConfig.bgColor? '#'.concat(widget.infoPanelWidgetConfig.bgColor) : 'transparent'};
                    border: #{not empty widget.infoPanelWidgetConfig.border? widget.infoPanelWidgetConfig.border : 'none'};
                    border-radius: #{not empty widget.infoPanelWidgetConfig.borderRadius? widget.infoPanelWidgetConfig.borderRadius.concat('px') : '0px'};" >
                <h:panelGrid columns="#{not empty widget.infoPanelWidgetConfig.icon? '2':'1'}">
                    <!--<p:graphicImage value="data:image/png;base64,#{formBean.loadImageBase64(widget)}"   styleClass="rounded" width="50" rendered="#{not empty widget.infoPanelWidgetConfig.icon}"/>-->
                    <h:panelGroup rendered="#{not empty widget.infoPanelWidgetConfig.icon}" >
                        <img src="data:image/png;base64, #{formBean.loadImageBase64(widget)}" styleClass="rounded" width="50"  style="margin-left: 1em" />
                    </h:panelGroup>
                    <p:panelGrid columns="1" style="background: transparent" styleClass="p-col">
                        <p:outputLabel value="#{widget.infoPanelWidgetConfig.titleText}"
                                       style="font-weight: #{not empty widget.infoPanelWidgetConfig.titleFontWeight? widget.infoPanelWidgetConfig.titleFontWeight : 'normal'};
                                       font-size: #{not empty widget.infoPanelWidgetConfig.titleFontSize? widget.infoPanelWidgetConfig.titleFontSize.concat('px') : '12px'};
                                       color:  #{not empty widget.infoPanelWidgetConfig.titleFontColor? '#'.concat(widget.infoPanelWidgetConfig.titleFontColor) : '#000'}"/>

                        <p:outputPanel deferred="true">
                            <p:outputLabel value="#{formBean.evaluateValue(widget.infoPanelWidgetConfig.value)}"
                                           style="font-weight: #{not empty widget.infoPanelWidgetConfig.valueFontWeight? widget.infoPanelWidgetConfig.valueFontWeight : 'normal'};
                                           font-size: #{not empty widget.infoPanelWidgetConfig.valueFontSize? widget.infoPanelWidgetConfig.valueFontSize.concat('px') : '12px'};
                                           color:  #{not empty widget.infoPanelWidgetConfig.valueFontColor? '#'.concat(widget.infoPanelWidgetConfig.valueFontColor) : '#000'}"/>
                        </p:outputPanel>

                    </p:panelGrid>
                </h:panelGrid>

            </p:card>

            <!--            <p:panel  styleClass="info-panel-base p-grid card"
                                  style="text-align:left;margin: 0.5em;border: 1px solid #ccc;padding: 0;
                                  background: #{not empty widget.infoPanelWidgetConfig.bgColor? '#'.concat(widget.infoPanelWidgetConfig.bgColor) : 'transparent'};
                                  border: #{not empty widget.infoPanelWidgetConfig.border? widget.infoPanelWidgetConfig.border : 'none'};
                                  border-radius: #{not empty widget.infoPanelWidgetConfig.borderRadius? widget.infoPanelWidgetConfig.borderRadius.concat('px') : '0px'};" >
            
                            <p:panelGrid columns="1" style="background: transparent" styleClass="p-col">
                                <p:outputLabel value="#{widget.infoPanelWidgetConfig.titleText}"
                                               style="font-weight: #{not empty widget.infoPanelWidgetConfig.titleFontWeight? widget.infoPanelWidgetConfig.titleFontWeight : 'normal'};
                                               font-size: #{not empty widget.infoPanelWidgetConfig.titleFontSize? widget.infoPanelWidgetConfig.titleFontSize.concat('px') : '12px'};
                                               color:  #{not empty widget.infoPanelWidgetConfig.titleFontColor? '#'.concat(widget.infoPanelWidgetConfig.titleFontColor) : '#000'}"/>
            
                                <p:outputLabel value="#{formBean.evaluateValue(widget.infoPanelWidgetConfig.value)}"
                                               style="font-weight: #{not empty widget.infoPanelWidgetConfig.valueFontWeight? widget.infoPanelWidgetConfig.valueFontWeight : 'normal'};
                                               font-size: #{not empty widget.infoPanelWidgetConfig.valueFontSize? widget.infoPanelWidgetConfig.valueFontSize.concat('px') : '12px'};
                                               color:  #{not empty widget.infoPanelWidgetConfig.valueFontColor? '#'.concat(widget.infoPanelWidgetConfig.valueFontColor) : '#000'}"/>
                            </p:panelGrid>
                        </p:panel>-->
        </c:when>
    </c:choose>



    <ui:define name="contentTable">
    </ui:define>

</ui:composition>