<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Card View Builder
    </ui:define>

    <p:dataView var="record" value="#{cardViewManager.lazyRecordModel}" rows="12" paginator="true" paginatorPosition="bottom"
                rowsPerPageTemplate="6,12,16" lazy="true" widgetVar="allRecordsCardGrid" id="allRecordsCardGrid"  layout="grid" styleClass="dataview_cards_grid"
                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
        <p:dataViewGridItem>

            <p:card style="min-width: 18em;background: #fff;min-height: 18em;display: flex;flex-direction: column;margin: 10px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ">
                <f:facet name="header">
                    <h:panelGrid columns="2" style="width: 100%">

                        <p:commandLink style="padding: 10px;float: left"  actionListener="#{cardViewManager.openDeleteConfirmation(record)}"
                                       rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'DELETE')}" id="deleteRecordCard" process="allRecordsCardGrid">
                            <h:graphicImage name="/images/delete_control.png" width="15" style="width: 14px"/>
                            <p:tooltip id="toolTipDelete" for="deleteRecordCard" value="Delete Record" position="top"/>
                        </p:commandLink>

                        <h:panelGroup>
                            <p:commandLink style="padding: 10px;float: right" actionListener="#{cardViewManager.onRowSelect(record)}"
                                           onclick="PF('waitingDlgName').show()" id="openRecordLink">
                                <h:graphicImage name="/images/open_record_ic.png" width="15" style="width: 14px"/>
                                <p:tooltip id="toolTipOpen" for="openRecordLink" value="Open Record" position="top"/>
                            </p:commandLink>

                            <p:commandLink  actionListener="#{requestorBean.goToQuickEdit(record)}" style="float: right;padding: 10px"
                                            rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'EDIT')}"
                                update="@form" id="quickEditTableRecord" onclick="PF('waitingDlgName').show()" oncomplete="PF('quickEditRecordDialog').show()">
                                <h:graphicImage name="/images/edit.png" width="15" style="width: 14px"/>
                                <p:tooltip id="toolTipEdit" for="quickEditTableRecord" value="Edit" position="top"/>
                            </p:commandLink>
                        </h:panelGroup>
                    </h:panelGrid>

                    <c:choose>
                        <c:when test="${cardViewManager.cardViewSettings.displayImageType eq 'DYNAMIC'}">
                            <c:set var="imgRef" value="#{record.fieldValueMap[cardViewManager.cardViewSettings.displayImageField].currentValue}" />
                            <p:graphicImage value="#{applicationBean.recordDynamicImage}"  
                                                style="width: 250px;height: 180px;border-radius: 2px;margin-top: 1em ;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                                    <f:param name="contentId" value="#{record.fieldValueMap[cardViewManager.cardViewSettings.displayImageField].currentValue}" />
                                    <f:param name="context" value="CONFIG" />
                                    <f:param name="moduleId" value="#{cardViewManager.moduleId}" />
                                </p:graphicImage>
                            
                            <h:graphicImage name="/images/broken-image.png" width="40" style="width: auto" rendered="#{empty imgRef}"/>
                        </c:when>
                        <c:otherwise>
                            <h:graphicImage name="/images/broken-image.png" width="40" style="width: auto"/>
                        </c:otherwise>
                    </c:choose>

                </f:facet>

                <h:panelGrid columns="1" style="width: 100%;text-align: #{cardViewManager.cardViewSettings.textOrientation}">
                    <c:forEach items="#{cardViewManager.cardViewSettings.fieldList}" var="cardFields">
                        <c:choose>
                            <c:when test="${cardFields.cardField.fieldType eq 'RATING'}">
                                <p:rating value="#{record.fieldValueMap[cardFields.cardField.fieldName].currentValue}" cancel="false" readonly="true"/>
                            </c:when>
                            <c:when test="${cardFields.cardField.fieldType eq 'BARCODE'}">
                                <p:barcode value="#{record.fieldValueMap[cardFields.cardField.fieldName].currentValue}" type="#{record.fieldValueMap[cardFields.cardField.fieldName].fieldValues}"/>
                            </c:when>
                            <c:when test="${cardFields.cardField.fieldType eq 'CURRENCY'}">
                                <h:panelGroup rendered="#{cardFields.cardField.fieldType eq 'CURRENCY'}">
                                <h:outputText value="#{requestorBean.convertToMoneyFormat(record.fieldValueMap[cardFields.cardField.fieldName].currentValue)}" style="color:#000;margin-right: 1em;#{not empty cardFields.styling ? requestorBean.evaluateStylingRules(cardFields.styling,recList) : ''}"/>
                                <h:outputText value="#{record.fieldValueMap[cardFields.cardField.fieldName].fieldValues}" style="color:#000;#{not empty cardFields.styling ? requestorBean.evaluateStylingRules(cardFields.styling,recList) : ''}"/>
                            </h:panelGroup>
                            </c:when>
                            <c:when test="${cardFields.cardField.fieldType eq 'LOOKUP'}">
                                <p:outputLabel value="#{record.fieldValueMap[cardFields.cardField.fieldName.concat('.name')].currentValue}" style="color:#000;#{not empty cardFields.styling ? requestorBean.evaluateStylingRules(cardFields.styling,recList) : ''}"/>
                            </c:when>
                            <c:otherwise>
                                <p:outputLabel value="#{record.fieldValueMap[cardFields.cardField.fieldName].currentValue}" style="color:#000;#{not empty cardFields.styling ? requestorBean.evaluateStylingRules(cardFields.styling,recList) : ''}"/>
                            </c:otherwise>
                        </c:choose>

                    </c:forEach>
                </h:panelGrid>


            </p:card>
        </p:dataViewGridItem>
    </p:dataView>
    
    <p:confirmDialog message="#{not empty accessBean.loadLocalizedValue('confirm_delete_msg')?accessBean.loadLocalizedValue('confirm_delete_msg'):'Are you sure?'}"
                         header="#{not empty accessBean.loadLocalizedValue('delete_msg_title')?accessBean.loadLocalizedValue('delete_msg_title'):'Delete'}"
                         widgetVar="cardDeleteConfirmation"
                         style="text-align: center;background: #fff" >  
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']:'Confirm Delete'}"
                             onclick="PF('cardDeleteConfirmation').hide()"  
                             actionListener="#{cardViewManager.delete}" update="messages dataViewsPanel" process="@form"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                             styleClass="save-button">
            </p:commandButton>  
            <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']?
                                      accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']:'cancel'}"
                             onclick="PF('cardDeleteConfirmation').hide()" 
                             styleClass="cancel-button"/>   
        </p:confirmDialog>


    <ui:define name="contentTable">
    </ui:define>

</ui:composition>