<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Data View Builder
    </ui:define>

    <!--    <c:choose>
            <c:when test="${viewSettings.dataViewConfig.dataViewType eq 'TABLE'}">
                <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml">
                    <ui:param name="requestorBean" value="#{requestorBean}" />
                </ui:include>
            </c:when>
            <c:when test="${viewSettings.dataViewConfig.dataViewType eq 'KANBAN'}">
                <ui:include src="/WEB-INF/templates/dataView/kanbanViewBuilder.xhtml">
                    <ui:param name="kanbanManager" value="#{requestorBean.kanbanViewManager}" />
                </ui:include>
            </c:when>
        </c:choose>-->

    <!--    <c:choose>
            <c:when test="${requestorBean.showBoardView}">
                <ui:include src="/WEB-INF/templates/dataView/kanbanViewBuilder.xhtml">
                    <ui:param name="kanbanManager" value="#{requestorBean.kanbanViewManager}" />
                </ui:include>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml">
                    <ui:param name="requestorBean" value="#{requestorBean}" />
                </ui:include>
            </c:otherwise>
        </c:choose>-->

    <c:choose>
        <c:when test="${requestorBean.activeViewOption eq 'KANBAN'}">
            <ui:include src="/WEB-INF/templates/dataView/kanbanViewBuilder.xhtml">
                <ui:param name="kanbanManager" value="#{requestorBean.kanbanViewManager}" />
            </ui:include>
        </c:when>
        <c:when test="${requestorBean.activeViewOption eq 'TABLE'}">
            <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml">
                <ui:param name="requestorBean" value="#{requestorBean}" />
                <ui:param name="tableId" value="#{tableKey}" />
                <ui:param name="type" value="#{type}" />
            </ui:include>
        </c:when>
        <c:when test="${requestorBean.activeViewOption eq 'STRUCTURED'}">
            <ui:include src="/WEB-INF/templates/dataView/StructuredViewBuilder.xhtml" >
                <ui:param name="requestorBean" value="#{requestorBean}" />
            </ui:include>
        </c:when>
        <c:when test="${requestorBean.activeViewOption eq 'SCHEDULE'}">
            <ui:include src="/WEB-INF/templates/dataView/scheduleViewBuilder.xhtml">
                <ui:param name="scheduleManager" value="#{requestorBean.scheduleViewManager}" />
            </ui:include>
        </c:when>
        <c:when test="${requestorBean.activeViewOption eq 'SPREADSHEET'}">
            <ui:include src="/WEB-INF/templates/dataView/spreadsheetViewBuilder.xhtml">
                <ui:param name="spreadsheetManager" value="#{requestorBean.spreadsheetViewManager}" />
            </ui:include>
        </c:when>
         <c:when test="${requestorBean.activeViewOption eq 'CARD'}">
            <ui:include src="/WEB-INF/templates/dataView/cardViewBuilder.xhtml">
                <ui:param name="cardViewManager" value="#{requestorBean.cardsViewManager}" />
                <ui:param name="requestorBean" value="#{requestorBean}" />
            </ui:include>
        </c:when>
        <c:when test="${requestorBean.activeViewOption eq 'LIST'}">
            <ui:include src="/WEB-INF/templates/dataView/listViewBuilder.xhtml">
                <ui:param name="listViewManager" value="#{requestorBean.listViewManager}" />
                <ui:param name="requestorBean" value="#{requestorBean}" />
            </ui:include>
        </c:when>
        <c:otherwise>
            <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml">
                <ui:param name="requestorBean" value="#{requestorBean}" />
            </ui:include>
        </c:otherwise>
    </c:choose>

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>