<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Data View Builder
    </ui:define>
    <style>
        #{kanbanManager.customCssStyling}
    </style>

    <script type="text/javascript">
        function initDND() {
            $('.kanban-card-holder').draggable({
                revert: "invalid",
                scope: 'treetotable',
                zIndex: ++PrimeFaces.zindex,
                start: function (event, ui) {
                    $(this).css('opacity', '.5');
                    //NEW
                },
                stop: function (event, ui) {
                    $(this).css('opacity', '1');
                }
            });
            $('.kanban-list-holder').droppable({
                activeClass: 'ui-state-active',
                hoverClass: 'ui-state-highlight',
                tolerance: 'pointer',
                scope: 'treetotable',
                drop: function (event, ui) {
                    var orderId = ui.draggable.find('.hidden-order-id').val(),
                            sourceListId = ui.draggable.parent().parent().parent().parent().find('.hidden-block-id').val(),
                            targetListId = $(this).find('.hidden-block-id').val();
                    console.log($(this).find('.hidden-block-id').val());
                    console.log(ui.draggable.find('.hidden-order-id').val());
                    console.log(ui.draggable.parent().parent().parent().parent().find('.hidden-block-id').val());
                    treeToTable([
                        {name: 'orderId', value: orderId}
                        , {name: 'sourceListId', value: sourceListId}
                        , {name: 'targetListId', value: targetListId}
                    ]);
                }
            });
        }

        $(function () {
            initDND();
        });
    </script>

    <p:remoteCommand name="treeToTable" actionListener="#{kanbanManager.onCardMove}" update="@form"  oncomplete="initDND(); PF('waitingDlgName').hide()"
                     onstart="PF('waitingDlgName').show()"  onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>

    <h:panelGrid columns="#{kanbanManager.recordsGroupsList.size()}" style="text-align:center;width: 100%"  
                 styleClass="kanban-holder">
        <c:forEach items="#{kanbanManager.recordsGroupsList}" var="kanbanList">
            <p:dataView  var="card" value="#{kanbanList.lazyRecordModel}" layout="list"   lazy="true" paginator="true" rows="5"
                         paginatorPosition="bottom" listIcon="none"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         style="text-align:center;min-width: 10em; 
                         box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0), 1px 10px 12px -2px rgba(0, 0, 0, 0.12);" 
                         styleClass="kanban-list-holder"> 
                <f:facet name="header">
                    #{kanbanList.groupTagName} (#{kanbanList.lazyRecordModel.rowCount})
                    <input type="hidden" value="#{kanbanList.tagId}" class="hidden-block-id"/>
                </f:facet> 

                <p:dataViewListItem>
                    <c:choose>
                        <c:when test="${!kanbanManager.kanbanViewSettings.enableCustomCard}">
                            <p:panel id="id_" style="text-align:left;border-left: 4px solid #50c45f;;border-radius: 0px;background: #fff;"
                                     styleClass="kanban-card-holder" >
                                <h:panelGrid columns="2" style=";color: #000" >
                                    <f:facet name="header" class="card-header">
                                        <p:commandLink  update="@form" actionListener="#{kanbanManager.showDetails(card)}" onstart="PF('waitingDlgName').show()"
                                                        value="View Details">
                                            <!--<h:graphicImage name="/images/order_details.png" width="16" height="16"/>-->
                                        </p:commandLink>
                                    </f:facet>

                                    <h:panelGrid columns="1">
                                        <c:forEach items="#{kanbanManager.kanbanViewSettings.cardSettings}" 
                                                   var="cardSetting" varStatus="loop">
                                            <input id="orderId" type="hidden" value="#{card.fieldValueMap[kanbanManager.keyFieldName].currentValue}" class="hidden-order-id"/>
                                            <c:choose>
                                                <c:when test="${!cardSetting.enableCustomField}">
                                                    <h:outputText value="#{card.fieldValueMap[cardSetting.cardField.fieldName].currentValue}" style="#{cardSetting.styling}"/>
                                                </c:when>
                                                <c:otherwise>
                                                    <h:outputText value="#{not empty card.fieldValueMap[cardSetting.cardField.fieldName.concat('_eval')]?card.fieldValueMap[cardSetting.cardField.fieldName.concat('_eval')].currentValue:kanbanManager.evaluateCustomField(card,cardSetting.customField,cardSetting)}" style="white-space: pre-wrap;#{cardSetting.styling}" />
                                                </c:otherwise>
                                            </c:choose>
                                        </c:forEach>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                        </c:when>
                        <c:otherwise>
                            <p:panel style="width: 100%;margin-bottom: 1em;border: none;box-shadow: none" styleClass="dashboard-panel">
                                <h:outputText value="#{kanbanManager.evaluateCustomCard(card)}" escape="false" />
                            </p:panel>
                        </c:otherwise>
                    </c:choose>
                </p:dataViewListItem>


            </p:dataView >
        </c:forEach>
    </h:panelGrid>

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>