<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Data View Builder
    </ui:define>
    <style>
        #{kanbanManager.customCssStyling}
    </style>



    <script type="text/javascript">

        function initDND() {
            $('.kanban-card-holder').draggable({
                revert: "invalid",
                scope: 'treetotable',
                zIndex: ++PrimeFaces.zindex,
                start: function (event, ui) {
                    var a = 3;
                    $($(this).parent()).css('opacity', '1');
                    $($(this)).css('border', '2px solid #ccc');
//                    $($(this)).css('position', 'absolute');
                    $($(this).parent().parent()).removeAttr("style");
//                    $($(this).parent().parent()).css('overflow','hidden'); 
//                    $(".kanban-card-holder").parent().parent().removeProp("overflow");
//                    $(".kanban-card-holder").parent().parent().removeProp("overflow");
//                    $($(this).parent()).css('z-index', '1000');
//                    $($(this).parent()).css('overflow-x', 'hidden');
//                    $($(this).parent()).css('max-width', '30em');
                    //NEW
                },
                stop: function (event, ui) {
                    $($(this).parent()).css('opacity', '1');
                    $($(this).parent().parent()).removeProp('overflow');
                    $(".ui-dataview-list-container").removeProp('overflow');
                    $(".kanban-card-holder").parent().parent().removeProp("overflow");
                    $(".kanban-card-holder").parent().parent().removeProp("overflow");
                }
            });
            $('.kanban-list-holder').droppable({
                activeClass: 'ui-state-active',
                hoverClass: 'ui-state-highlight',
                tolerance: 'pointer',
                scope: 'treetotable',
                drop: function (event, ui) {
                    var orderId = ui.draggable.find('.hidden-order-id').val(),
                            sourceListId = ui.draggable.parent().parent().parent().parent().find('.hidden-block-id').val(),
                            targetListId = $(this).find('.hidden-block-id').val();
                    console.log($(this).find('.hidden-block-id').val());
                    console.log(ui.draggable.find('.hidden-order-id').val());
                    console.log(ui.draggable.parent().parent().parent().parent().find('.hidden-block-id').val());
                    treeToTable([
                        {name: 'orderId', value: orderId}
                        , {name: 'sourceListId', value: sourceListId}
                        , {name: 'targetListId', value: targetListId}
                    ]);
                }
            });
        }

        $(function () {
            initDND();
        });
    </script>

    <p:remoteCommand name="treeToTable" actionListener="#{kanbanManager.onCardMove}" update="holderPanPanel"  oncomplete="initDND(); PF('waitingDlgName').hide()"
                     onstart="PF('waitingDlgName').show()"  onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()" immediate="true"/>

    <p:scrollPanel mode="native" style="transform: rotateX(180deg);"  >
        <p:panelGrid columns="#{kanbanManager.recordsGroupsList.size()}" style="text-align:center;width: 100%;transform: rotateX(-180deg);"  
                     styleClass="kanban-holder" id="holderPanPanel">
            <c:forEach items="#{kanbanManager.recordsGroupsList}" var="kanbanList" varStatus="boardLoop">
                <p:outputPanel deferred="true" styleClass="internal-output-holder" style="position: relative" >
                    <script type="text/javascript">
                        $(document).ready(initDND());
                    </script>
                    <script>
                        $(".kanban-card-holder").parent().parent().css("overflow-y", "auto");
                        $(".kanban-card-holder").parent().parent().css("overflow-x", "hidden");
                    </script>
                    <p:dataView  var="card" value="#{kanbanList.lazyRecordModel}" layout="list"   lazy="true" paginator="true" rows="5"  
                                 paginatorPosition="bottom" listIcon="none" id="cardView_#{boardLoop.index}" widgetVar="cardView_#{boardLoop.index}"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" pageLinks="3"
                                 style="text-align:center;
                                 box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0), 1px 10px 12px -2px rgba(0, 0, 0, 0.12);background: #f5f5f9;" 
                                 styleClass="kanban-list-holder"> 
                        <f:facet name="header">
                            #{kanbanList.groupTagName} (#{kanbanList.lazyRecordModel.rowCount})
                            <input type="hidden" value="#{kanbanList.tagId}" class="hidden-block-id"/>
                        </f:facet> 
                        
                        <p:ajax event="page" oncomplete="$('.kanban-card-holder').parent().parent().css('overflow-y', 'auto');$('.kanban-card-holder').parent().parent().css('overflow-x', 'hidden');"></p:ajax>

                        <p:dataViewListItem>
                            <c:choose>
                                <c:when test="${!kanbanManager.kanbanViewSettings.enableCustomCard}">
                                    <p:panel id="id_" style="text-align:left;background: #fff;"
                                             styleClass="kanban-card-holder" >
                                        <h:panelGrid columns="2" style="color: #000;width: 100%">
                                            <f:facet name="header" class="card-header">
                                                <p:panelGrid columns="2" style="width: 100%">
                                                    <p:commandLink  update="@form" actionListener="#{kanbanManager.showDetails(card)}" onstart="PF('waitingDlgName').show()"
                                                                    value="View Details"/>
                                                    <p:commandLink id="copyCardLink" >
                                                        <h:graphicImage name="/images/copy_ic.png" width="16" height="16" style="float: right"/>
                                                        <p:tooltip for="copyCardLink" value="Copy contents" position="right"/>
                                                    </p:commandLink>
<!--                                                    <p:tooltip for="copyCardLink" value="Copy contents" position="right"/>-->
                                                    <!--<p:commandButton id="btnAjaxCopy" value="Ajax Copy" icon="fa fa-copy" onclick="return false;"/>-->

                                                </p:panelGrid>
                                            </f:facet>

                                            <h:panelGrid columns="1">
                                                <c:forEach items="#{kanbanManager.kanbanViewSettings.cardSettings}" 
                                                           var="cardSetting" varStatus="loop">
                                                    <input id="orderId" type="hidden" value="#{card.fieldValueMap[kanbanManager.keyFieldName].currentValue}" class="hidden-order-id"/>
                                                    <c:choose>
                                                        <c:when test="${!cardSetting.enableCustomField}">
                                                            <h:outputText value="#{card.fieldValueMap[cardSetting.cardField.fieldName].currentValue}" style="#{cardSetting.styling}"/>
                                                        </c:when>
                                                        <c:otherwise>
                                                            <h:outputText value="#{not empty card.fieldValueMap[cardSetting.cardField.fieldName.concat('_eval')]?card.fieldValueMap[cardSetting.cardField.fieldName.concat('_eval')].currentValue:kanbanManager.evaluateCustomField(card,cardSetting.customField,cardSetting)}" style="white-space: pre-wrap;#{cardSetting.styling}" />
                                                            <pe:clipboard id="clipAjax" trigger="copyCardLink" action="copy" text="#{kanbanManager.copyCardContent(card)}"/>
                                                        </c:otherwise>
                                                    </c:choose>
                                                </c:forEach>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>
                                </c:when>
                                <c:otherwise>
                                    <p:panel style="width: 100%;margin-bottom: 1em;border: none;box-shadow: none" styleClass="dashboard-panel">
                                        <h:outputText value="#{kanbanManager.evaluateCustomCard(card)}" escape="false" />
                                    </p:panel>
                                </c:otherwise>
                            </c:choose>
                        </p:dataViewListItem>


                    </p:dataView >
                </p:outputPanel>



            </c:forEach>
        </p:panelGrid>
    </p:scrollPanel>


    <c:forEach items="#{kanbanManager.recordsGroupsList}" var="kanbanList" varStatus="boardIndexLoop">
        <p:blockUI block="cardView_#{boardIndexLoop.index}" trigger="cardView_#{boardIndexLoop.index}">
            <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
        </p:blockUI>
    </c:forEach>



    <ui:define name="contentTable">
    </ui:define>

</ui:composition>