<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Card View Builder
    </ui:define>

    <p:dataView var="record" value="#{listViewManager.lazyRecordModel}" rows="12" paginator="true" paginatorPosition="bottom"
                rowsPerPageTemplate="6,12,16" lazy="true" widgetVar="allRecordsListGrid" id="allRecordsListGrid"  layout="list" styleClass="dataview_cards_grid"
                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
        <p:dataViewListItem>

            <!--            <h:panelGrid columns="3" >
            
                            <p:commandLink style="padding: 10px;float: left"  actionListener="#{listViewManager.openDeleteConfirmation(record)}"
                                           rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'DELETE')}" id="deleteRecordCard" >
                                <h:graphicImage name="/images/delete_control.png" width="15" style="width: 14px"/>
                                <p:tooltip id="toolTipDelete" for="deleteRecordCard" value="Delete Record" position="top"/>
                            </p:commandLink>
            
                            <p:commandLink style="padding: 10px;float: right" actionListener="#{listViewManager.onRowSelect(record)}"
                                           onclick="PF('waitingDlgName').show()" id="openRecordLink">
                                <h:graphicImage name="/images/open_record_ic.png" width="15" style="width: 14px"/>
                                <p:tooltip id="toolTipOpen" for="openRecordLink" value="Open Record" position="top"/>
                            </p:commandLink>
            
                            <p:commandLink  actionListener="#{requestorBean.goToQuickEdit(record)}" style="float: right;padding: 10px"
                                            rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'EDIT')}"
                                            update="@form" id="quickEditTableRecord" onclick="PF('waitingDlgName').show()" oncomplete="PF('quickEditRecordDialog').show()">
                                <h:graphicImage name="/images/edit.png" width="15" style="width: 14px"/>
                                <p:tooltip id="toolTipEdit" for="quickEditTableRecord" value="Edit" position="top"/>
                            </p:commandLink>
            
                        </h:panelGrid>-->

            <h:panelGrid columns="2" columnClasses="ten-percent,eighty-percent" style="width: 100%;margin-bottom: 1em;border: 1px solid #ccc;display: block; border-radius: 5px;margin-top: 1em;">
                <f:facet name="header" >
                    <h:panelGrid columns="3" style="float: right">

                        <p:commandLink style="padding: 10px;float: right"  actionListener="#{listViewManager.openDeleteConfirmation(record)}"
                                       rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'DELETE')}" id="deleteRecordCard" >
                            <h:graphicImage name="/images/delete_control.png" width="15" style="width: 14px;"/>
                            <p:tooltip id="toolTipDelete" for="deleteRecordCard" value="Delete Record" position="top"/>
                        </p:commandLink>

                        <p:commandLink style="padding: 10px;float: right" actionListener="#{listViewManager.onRowSelect(record)}"
                                       onclick="PF('waitingDlgName').show()" id="openRecordLink">
                            <h:graphicImage name="/images/open_record_ic.png" width="15" style="width: 14px"/>
                            <p:tooltip id="toolTipOpen" for="openRecordLink" value="Open Record" position="top"/>
                        </p:commandLink>

                        <p:commandLink  actionListener="#{requestorBean.goToQuickEdit(record)}" style="float: right;padding: 10px"
                                        rendered="#{accessBean.isPermittetedToAction(requestorBean.moduleId,'EDIT')}"
                                        update="@form" id="quickEditTableRecord" onclick="PF('waitingDlgName').show()" oncomplete="PF('quickEditRecordDialog').show()">
                            <h:graphicImage name="/images/edit.png" width="15" style="width: 14px"/>
                            <p:tooltip id="toolTipEdit" for="quickEditTableRecord" value="Edit" position="top"/>
                        </p:commandLink>

                    </h:panelGrid>
                </f:facet>
                
                <c:set var="imgType" value="#{record.fieldValueMap[listViewManager.listViewDataSettings.imageConfig.displayImageField].fieldType}" />
                <h:panelGrid columns="1" styleClass="borderless-grid"  id="listImagePreviewPanel" rendered="#{imgType eq 'CONTENT' and listViewManager.listViewDataSettings.imageConfig.imageViewType ne 'NONE'}" >
                    <c:set var="imgRef" value="#{record.fieldValueMap[listViewManager.listViewDataSettings.imageConfig.displayImageField].currentValue}" />
                    <p:graphicImage value="#{applicationBean.recordDynamicImage}"  
                                    style="max-width: 260px;">
                        <f:param name="contentId" value="#{record.fieldValueMap[listViewManager.listViewDataSettings.imageConfig.displayImageField].currentValue}" />
                        <f:param name="context" value="CONFIG" />
                        <f:param name="moduleId" value="#{listViewManager.moduleId}" />
                    </p:graphicImage>

                    <h:graphicImage name="/images/broken-image.png" width="40" style="width: auto;margin-left: 1em" rendered="#{empty imgRef}"/>
                </h:panelGrid> 

                <h:panelGrid columns="1" styleClass="borderless-grid"  style="width: 100%;margin-left: 1em" id="listGroupPanelHolder">
                    <c:forEach items="#{listViewManager.listViewDataSettings.groupsConfig}" var="listGroup">
                        <h:panelGrid columns="#{listGroup.numberOfColumns}" >
                            <c:forEach items="#{listGroup.fieldList}" var="groupFieldModel">
                                <h:panelGrid columns="2">
                                    <c:choose>
                                        <c:when test="${groupFieldModel.cardField.fieldType eq 'RATING'}">
                                            <p:rating value="#{record.fieldValueMap[groupFieldModel.cardField.fieldName].currentValue}" cancel="false" readonly="true"/>
                                        </c:when>
                                        <c:when test="${groupFieldModel.cardField.fieldType eq 'BARCODE'}">
                                            <p:barcode value="#{record.fieldValueMap[groupFieldModel.cardField.fieldName].currentValue}" type="#{record.fieldValueMap[groupFieldModel.cardField.fieldName].fieldValues}"/>
                                        </c:when>
                                        <c:when test="${groupFieldModel.cardField.fieldType eq 'CURRENCY'}">
                                            <h:panelGroup rendered="#{groupFieldModel.cardField.fieldType eq 'CURRENCY'}">
                                                <h:outputText value="#{requestorBean.convertToMoneyFormat(record.fieldValueMap[groupFieldModel.cardField.fieldName].currentValue)}" style="color:#000;margin-right: 1em;#{not empty groupFieldModel.styling ? requestorBean.evaluateStylingRules(groupFieldModel.styling,recList) : ''}"/>
                                                <h:outputText value="#{record.fieldValueMap[groupFieldModel.cardField.fieldName].fieldValues}" style="color:#000;#{not empty groupFieldModel.styling ? requestorBean.evaluateStylingRules(groupFieldModel.styling,recList) : ''}"/>
                                            </h:panelGroup>
                                        </c:when>
                                        <c:when test="${groupFieldModel.cardField.fieldType eq 'LOOKUP'}">
                                            <p:outputLabel value="#{record.fieldValueMap[groupFieldModel.cardField.fieldName.concat('.name')].currentValue}" style="color:#000;#{not empty groupFieldModel.styling ? requestorBean.evaluateStylingRules(groupFieldModel.styling,recList) : ''}"/>
                                        </c:when>
                                        <c:otherwise>
                                            <p:outputLabel value="#{record.fieldValueMap[groupFieldModel.cardField.fieldName].currentValue}" style="color:#000;#{not empty groupFieldModel.styling ? requestorBean.evaluateStylingRules(groupFieldModel.styling,recList) : ''}"/>
                                        </c:otherwise>
                                    </c:choose>

                                    <p:divider layout="vertical" rendered="#{listGroup.numberOfColumns > 1}"/>
                                </h:panelGrid>


                            </c:forEach>
                        </h:panelGrid>
                    </c:forEach>
                </h:panelGrid>
            </h:panelGrid>

        </p:dataViewListItem>
    </p:dataView>

    <p:confirmDialog message="#{not empty accessBean.loadLocalizedValue('confirm_delete_msg')?accessBean.loadLocalizedValue('confirm_delete_msg'):'Are you sure?'}"
                     header="#{not empty accessBean.loadLocalizedValue('delete_msg_title')?accessBean.loadLocalizedValue('delete_msg_title'):'Delete'}"
                     widgetVar="cardDeleteConfirmation"
                     style="text-align: center;background: #fff" >  
        <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']?
                                  accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']:'Confirm Delete'}"
                         onclick="PF('cardDeleteConfirmation').hide()"  
                         actionListener="#{listViewManager.delete}" update="messages dataViewsPanel" process="@form"
                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                         onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                         styleClass="save-button">
        </p:commandButton>  
        <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']?
                                  accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']:'cancel'}"
                         onclick="PF('cardDeleteConfirmation').hide()" 
                         styleClass="cancel-button"/>   
    </p:confirmDialog>


    <ui:define name="contentTable">
    </ui:define>

</ui:composition>