<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Structured View Builder
    </ui:define>
    

    <p:schedule id="schedule" value="#{scheduleManager.lazyEventModel}" widgetVar="myschedule" 
                rightHeaderTemplate="dayGridMonth,timeGridWeek,timeGridDay,listMonth" clientTimeZone="local">
        <p:ajax event="eventSelect" listener="#{scheduleManager.onEventSelect}" update="@form"
                oncomplete="PF('waitingDlgName').show();"/>
        <!--<p:ajax event="viewChange" listener="#{scheduleManager.onViewChange}" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" update="@form"/>-->
    </p:schedule>


    <ui:define name="contentTable">
    </ui:define>

</ui:composition>