<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Spreadsheet View Builder
    </ui:define>


    <p:remoteCommand name="refreshSpreadsheet" 
                     update="bzr_spreadsheet"  autoRun="true"/> 
    <pe:sheet id="bzr_spreadsheet" widgetVar="bzr_spreadsheet" value="#{spreadsheetManager.recordsList}" var="row"
              rowKey="#{spreadsheetManager.fetchRowKey(row)}" showRowHeaders="true" height="400" 
              resizableCols="true" resizableRows="true" filteredValue="#{spreadsheetManager.filteredRecordsList}"
              readOnly="false" >

        <p:ajax event="change" listener="#{spreadsheetManager.cellChangeEvent}" />
        <p:ajax event="rowSelect" listener="#{spreadsheetManager.rowSelectEvent}"/>


        <c:forEach items="#{spreadsheetManager.spreadsheetViewSettings.tableSettings}" var="fields">
            <c:choose>
                <c:when  test="${fields.columnType eq 'LOOKUP'}">
                    <pe:sheetcolumn headerText="#{fields.columnLabel}" readOnly="#{!fields.editable}"
                                    value="#{row.fieldValueMap[fields.columnFieldName].currentValue}" autoCompleteAllowInvalid="false" 
                                    colWidth="150" sortBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}" 
                                    colType="dropdown" selectItems="#{spreadsheetManager.dataBean.simpleLookupCache.get(fields.columnFieldName)}"
                                    filterBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}">
                        <f:converter converterId="spreadsheetLookupConverter" />
                    </pe:sheetcolumn>
                    <f:attribute name="spreadsheetManager" value="#{spreadsheetManager}"/>
                    <f:attribute name="lookupFieldName" value="#{fields.columnFieldName}"/>
                    <f:attribute name="lookupFieldKeyValue" value="#{spreadsheetManager.fetchRowKey(row)}"/>
                </c:when>
                <c:when  test="${fields.columnType eq 'REL'}">
                    <pe:sheetcolumn headerText="#{fields.columnLabel}" readOnly="#{!fields.editable}" autoCompleteAllowInvalid="false"
                                    colWidth="150" sortBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}"  colType="autocomplete"
                                    selectItems="#{spreadsheetManager.relationRecordsCache.get(fields.columnFieldName)}"
                                    value="#{row.getFieldValueMap().get(spreadsheetManager.dataBean.relationRecordsCache.get(fields.columnFieldName).getRelationManager().getViewColumn()).currentValue}"
                                    filterBy="#{row.getFieldValueMap().get(spreadsheetManager.dataBean.relationRecordsCache.get(fields.columnFieldName).getRelationManager().getViewColumn()).currentValue}">
                        <f:converter converterId="spreadsheetRecordConverter" />

                    </pe:sheetcolumn>
                    <f:attribute name="spreadsheetManager" value="#{spreadsheetManager}"/>
                    <f:attribute name="fieldName" value="#{fields.columnFieldName}"/>
                    <f:attribute name="fieldKeyValue" value="#{spreadsheetManager.fetchRowKey(row)}"/>
                </c:when>
                <c:when  test="${fields.columnType eq 'CURRENCY'}">
                    <pe:sheetcolumn headerText="#{fields.columnLabel}" readOnly="#{!fields.editable}"
                                    value="#{row.fieldValueMap[fields.columnFieldName].currentValue}" 
                                    colType="numeric" numericPattern="0,0.00"
                                    sortBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}" 
                                    filterBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}"/>
                </c:when>
                <c:otherwise>
                    <pe:sheetcolumn headerText="#{fields.columnLabel}" readOnly="#{!fields.editable}"
                                    value="#{row.fieldValueMap[fields.columnFieldName].currentValue}" 
                                    colWidth="150" sortBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}" 
                                    filterBy="#{row.fieldValueMap[fields.columnFieldName].currentValue}"/>
                </c:otherwise>
            </c:choose>

        </c:forEach>
    </pe:sheet>



    <ui:define name="contentTable">
    </ui:define>

</ui:composition>