<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Schedule View Builder
    </ui:define>
    
    
    <p:organigram id="structuredViewChart"
                      widgetVar="structuredViewChart"
                      value="#{requestorBean.structuredViewManager.rootNode}"
                      var="node"
                      leafNodeConnectorHeight="5"
                      autoScrollToSelection="#{requestorBean.structuredViewManager.autoScrollToSelection}"
                      zoom="#{requestorBean.structuredViewManager.zoom}"
                      selection="#{requestorBean.structuredViewManager.selection}"
                      style="width: 100%;text-align: -webkit-center;margin-top: 1em">

            <p:ajax event="select" process="@this"  listener="#{requestorBean.structuredViewManager.nodeSelectListener}" onstart="PF('waitingDlgName').show()" />
            <!--<p:ajax event="contextmenu" process="@this" />-->

            <p:organigramNode>
                <h:outputText value="#{node.data}" />
            </p:organigramNode>

            <p:organigramNode type="root"
                              style="border-radius: 10px;">
                <h:outputText value="#{node.data.data.fieldValueMap[requestorBean.structuredViewManager.viewField].currentValue}" />
            </p:organigramNode>

            <p:organigramNode type="division"
                              styleClass="division"
                              icon="fa fa-briefcase"
                              iconPos="left" style="width: 9em;text-align: center">
                <p:panelGrid columns="1" styleClass="borderless-grid" style="padding: 0;text-align: center">
                    <c:forEach items="#{requestorBean.structuredViewManager.viewFieldList}" var="viewField">
                        <h:outputText value="#{node.data.data.fieldValueMap[viewField].currentValue}" style="color: #fff"/> 
                    </c:forEach>
                    
                </p:panelGrid>
            </p:organigramNode>

            <p:organigramNode type="employee"
                              styleClass="employee"
                              icon="fa fa-user">
                <h:outputText value="#{node.data}" />
            </p:organigramNode>
        </p:organigram>
    

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>