<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <h:head>
        <title>
            <ui:insert name="title">Sign up</ui:insert>
        </title>
        <link rel="icon" type="image/png"  sizes="32x32" href="../images/beezr_fav_icon.png" />

        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>


        </f:facet>
    </h:head>

    <h:body id="homeBody" styleClass="beezer-theme">
        <style>
            body {
                background-color: #f0f4f4 !important;
            }
        </style>
        <f:facet name="last">

            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/custom_v2.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
            <h:outputStylesheet name="stylesheets/paper-dashboard.css" />
            <h:outputStylesheet name="stylesheets/themify-icons.css" />
            <h:outputStylesheet name="stylesheets/primeflex.css" />
        </f:facet>
        <h:form prependId="false" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
                    return false;
                }">

            <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages">
                <p:autoUpdate />
            </p:messages>
            <div class="public-form-wrapper" style="background: #f0f4f4">
                <c:choose>
                    <c:when test="${registerationBean.subscriptionComplete}">
                        <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container" id="signup_form_container">
                            <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center;width: 100%">
                                <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="130"/>
                                <h1 style="font-size: 33px;font-weight: 700;font-family: 'Montserrat',sans-serif;">You are all set</h1>
                                <p style="font-size: 14px">

                                    We sent you an email to activate your account, see you on the other side.

                                </p>
                            </p:panelGrid>
                        </p:panel>
                    </c:when>

                    <c:otherwise>
                        <p:panel style="width: 100%;min-height: 15em;border-radius: 5px;border: none" styleClass="form-container" id="signup_form_container">
                            <p:panelGrid columns="2" styleClass="borderless-grid" style="width: 100%" columnClasses="signup_form_left,signup_form_right">
                                <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%;margin-left: 4em">
                                    <p:graphicImage name="/images/logo_black_bg.png"  styleClass="rounded" width="100"/>
                                    <p:outputLabel value="Welcome to our community" 
                                                   style="font-weight: bold;font-size: 32px;color: #000;font-family: 'Montserrat',sans-serif;margin-top: 0em;"/>

                                    <p:panelGrid columns="2" styleClass="borderless-grid" style="width: 100%;">
                                        <p:panel class="field">
                                            <p:outputLabel for="username" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">Your Name</p:outputLabel>
                                            <p:inputText id="username" styleClass="block" value="#{registerationBean.subscriptionRequest.userName}"/>
                                        </p:panel>
                                        <p:panel class="field">
                                            <p:outputLabel for="email" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">Your Email</p:outputLabel>
                                            <p:inputText id="email" styleClass="block" value="#{registerationBean.subscriptionRequest.userEmail}"/>
                                        </p:panel>
                                        <p:panel class="field">
                                            <p:outputLabel for="phone" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">Your Phone</p:outputLabel>
                                            <p:inputText id="phone" styleClass="block"  value="#{registerationBean.subscriptionRequest.userMobile}"/>
                                        </p:panel>
                                        <p:panel class="field">
                                            <p:outputLabel for="company" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">Company Name</p:outputLabel>
                                            <p:inputText id="company" styleClass="block"  value="#{registerationBean.subscriptionRequest.companyName}"/>
                                        </p:panel>
                                        <p:panel class="field">
                                            <p:outputLabel for="country" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">Country</p:outputLabel>
                                            <!--<p:inputText id="country" styleClass="block"/>-->
                                            <p:selectOneMenu id="country" value="#{registerationBean.subscriptionRequest.country}"  
                                                             filter="true" filterMatchMode="contains">
                                                <f:selectItem itemLabel="Select One" itemValue=""/>
                                                <f:selectItems value="#{registerationBean.countries}"/>
                                            </p:selectOneMenu>
                                        </p:panel>
                                        <p:panel class="field">
                                            <p:outputLabel for="city" styleClass="block" style="font-size: 15px;margin-bottom: 0;color: #282f44;margin-right: 1em">City</p:outputLabel>
                                            <p:inputText id="city" styleClass="block"  value="#{registerationBean.subscriptionRequest.city}"/>
                                        </p:panel>
                                    </p:panelGrid>

                                    <p:commandButton value="Join" style="border-radius: 4px;
                                                     color: #282f44;
                                                     background-color: #ffd100;
                                                     border: 1px solid #fff;
                                                     padding: .5em;
                                                     font-weight: bolder;
                                                     width: 15em;font-size: 16px" process="@form"
                                                     actionListener="#{registerationBean.subscribe()}"
                                                     onstart="PF('buildingEnvWaitingDialog').show()" />
                                </p:panelGrid>

                                <p:graphicImage name="/images/reg_intro.svg"  styleClass="rounded" width="400" />


                            </p:panelGrid>
                        </p:panel>
                    </c:otherwise>
                </c:choose>

            </div>


            <p:dialog id="activationCompletedDialog" resizable="false" dynamic="true" closable="false"
                      widgetVar="activationCompletedDialog"  modal="true" >
                <p:panelGrid columns="2" styleClass="borderless-grid">
                    <p:graphicImage name="/images/celebrate_activation.png"  styleClass="rounded" width="170"/>
                    <p:panelGrid columns="1" styleClass="borderless-grid">
                        <p:outputLabel value="You are all set and ready!" 
                                       style="font-weight: bold;font-size: 28px;color: #000;font-family: 'Montserrat',sans-serif;margin-top: 0em;"/>
                        <p>Where do you want to explore first?</p>
                        <p:panelGrid columns="2" styleClass="borderless-grid">
                            <p:commandLink action="#{activationManagerBean.redirectToSpace('DESIGNER')}" immediate="true">
                                <p:card style="width: 16em;background: #fff;display: flex;flex-direction: column; justify-content: space-between; text-align: center">
                                    <f:facet name="header">
                                        <p:graphicImage name="/images/designer_space_logo_white.png"  styleClass="rounded" style="width: 50%;margin-top: 5px"/>
                                    </f:facet>
                                    <f:facet name="title">
                                        Designer Space
                                    </f:facet>

                                    <p style="font-size: 12px">Where you can design and build your applications. You need to be an admin to access here</p>
                                </p:card>
                            </p:commandLink>

                            <p:commandLink action="#{activationManagerBean.redirectToSpace('APP')}" immediate="true">
                                <p:card style="width: 16em;background: #fff;display: flex;flex-direction: column; justify-content: space-between; text-align: center">
                                    <f:facet name="header">
                                        <p:graphicImage name="/images/app_space_logo_white.png"  styleClass="rounded" style="width: 50%;margin-top: 5px"/>
                                    </f:facet>
                                    <f:facet name="title">
                                        App Space
                                    </f:facet>

                                    <p style="font-size: 12px">Where you can access and start managing your business data and workflows</p>
                                </p:card>
                            </p:commandLink>
                        </p:panelGrid>

                    </p:panelGrid>

                </p:panelGrid>

            </p:dialog>

            <p:dialog id="somethingWentWrongWarningDialog" resizable="false" header="Something went wrong" dynamic="true"
                      widgetVar="somethingWentWrongWarningDialog"  modal="true" width="500">
                <p:panelGrid columns="2" styleClass="borderless-grid">
                    <p:graphicImage name="/images/warning_ic.png"  styleClass="rounded" width="70"/>
                    <p:outputLabel value="#{registerationBean.validationResponse}" 
                                   style="font-weight: normal;font-size: 16px"/>
                </p:panelGrid>
                <p:commandButton value="Ok" style="border-radius: 4px;
                                 color: #282f44;
                                 background-color: #ffd100;
                                 border: 1px solid #fff;
                                 padding: .5em;
                                 font-weight: bolder;
                                 width: 15em;" 
                                 onstart="PF('somethingWentWrongWarningDialog').hide()" />
            </p:dialog>

            <p:dialog id="waitingDialog" resizable="false" showHeader="false" 
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/beezr_loader_gif.gif" height="80px" style="border-radius: 500em;border: 0px solid #ccc;"/>                                    
                        </td>
                    </tr>
                </table>
            </p:dialog>

            <p:dialog id="buildingEnvWaitingDialog" resizable="false" showHeader="false" 
                      widgetVar="buildingEnvWaitingDialog"  modal="true">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/building_env_loader.gif" height="150px" style="border-radius: 4px;border: 0px solid #ccc;"/>                                    
                        </td>
                    </tr>
                </table>
            </p:dialog>



        </h:form>

    </h:body>
</html>

