<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Notes
    </ui:define>
    <h:panelGrid columns="1" style="width: 100%">
        <p:commandButton value="#{accessBean.loadLocalizedValue('new_note')}" style="float: left" icon="fa fa-plus"
                         onclick="PF('addNoteDialog').show()" styleClass="btn btn-primary gnrl-add"/>

        <p:dataGrid id="notesGrid" var="note" value="#{formBean.notesBean.recordsList}" columns="3" layout="grid" 
                    paginator="false" paginatorPosition="bottom" style="margin-top: 0.5em;width: 100%" styleClass="datagrid">
            <p:panel style="margin-bottom:10px;background: #ffc;width: 100%;
                     border-bottom-right-radius: 60px 5px;" 
                     styleClass="form-container sticky-note">
                <h:panelGrid columns="1" style="width: 100%">
                    <h:panelGroup style="width: 100%;margin-top: 10px">
                        <p:outputLabel value="#{note.fieldValueMap.get('user_name').currentValue} " 
                                       style="font-weight: bold; padding-right: 5px;color: #767676"/>
                        <p:outputLabel value="#{accessBean.loadLocalizedValue('left_note')} " style="color: #767676"/>
                        <br/>
                        <p:outputLabel value="#{note.fieldValueMap.get('added_date').currentValue}" style="color: #767676;font-weight: bold;"/>
                        <p:commandLink actionListener="#{formBean.notesBean.deleteNote(note)}" update="notesGrid" immediate="true"
                                       rendered="#{note.fieldValueMap.get('user_id').currentValue eq accessBean.userModel.userId}">
                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="margin-top: -1.5em;;float: right"/>
                        </p:commandLink>
                    </h:panelGroup>
                    <p:separator style="margin-left: 1.5em;margin-right: 1.5em;padding: 0;border: 1px solid #e1dfdf;margin-top: 0.5em;margin-bottom: 0.5em;"/>
                    <p:inputTextarea value="#{note.fieldValueMap.get('note_content').currentValue} " rows="3" cols="100" 
                                     style="color: #3c3c3c;border: none;font-size:14px;width: 100%;background: #ffc" readonly="true"/>
                </h:panelGrid>
            </p:panel>
        </p:dataGrid>
    </h:panelGrid>

    <p:dialog header="#{accessBean.loadLocalizedValue('new_note')}" widgetVar="addNoteDialog" width="900" position="center center" 
              style="border-radius: 10px;" showEffect="slide" id="addNoteDialog">
        <p:inputTextarea id="noteContent" rows="3" cols="100" 
                         style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;width: 100%"
                         value="#{formBean.notesBean.recordModel.fieldValueMap['note_content'].currentValue}"/>
        <p:watermark for="noteContent" value="#{accessBean.loadLocalizedValue('type_note')}" id="watermarkNoteContent"/>
        <footer class="footer">
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_save')}"  actionListener="#{formBean.notesBean.save()}" styleClass="save-button"
                             update="notesGrid,addNoteDialog" oncomplete="PF('addNoteDialog').hide()"/>
        </footer>
    </p:dialog>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>