<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Quota Summary Table
    </ui:define>

    <c:if test="#{qoutaConfigurationBean.quotaType eq 'Q'}">
        <ui:include src="/WEB-INF/apps/sales/components/quotaQuarterTable.xhtml" >
        </ui:include>
    </c:if>

    <c:if test="#{qoutaConfigurationBean.quotaType eq 'Y'}">
        <ui:include src="/WEB-INF/apps/sales/components/quotaAnnualTable.xhtml" >
        </ui:include>
    </c:if>
    
    <footer class="footer">
        <p:commandButton value="Save" actionListener="#{qoutaConfigurationBean.save()}" styleClass="save-button"
                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
    </footer>

    <ui:define name="contentTable">

    </ui:define>

</ui:composition>