<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Advanced Components Manager
    </ui:define>

    <c:set var="relationVar" value="#{component.layoutId}" />
    <h:panelGroup id="comp_#{component.layoutId}" styleClass="advanced-form advanced-table" style="width: 100%">
        <p:dataTable var="recPivotList" value="#{formBean.tableHelpersMap[component.layoutId].pivotReportData}" 
                     widgetVar="recPivotList" 
                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                     style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="15"
                     paginator="true" paginatorPosition="bottom">

            <p:columnGroup type="header">
                <p:row>
                    <p:column rowspan="1" headerText="#{component.tableComponentConfiguration.pivotConfiguration.rowConfiguration}"/>
                    <ui:repeat value="#{component.tableComponentConfiguration.pivotConfiguration.extraValueRows}" var="extraColumns">
                        <p:column headerText="#{extraColumns}"/>
                    </ui:repeat>
                    <ui:repeat value="#{formBean.tableHelpersMap[component.layoutId].pivotHeaderValues}" var="pivotHeader">
                        <p:column headerText="#{pivotHeader}"/>
                    </ui:repeat>
                </p:row>
            </p:columnGroup>

            <p:column>
                <h:outputText value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.rowConfiguration].currentValue}"/>
            </p:column>

            <p:columns value="#{component.tableComponentConfiguration.pivotConfiguration.extraValueRows}" var="extraColumns">
                <!--<h:outputText value="#{recPivotList.fieldValueMap[extraColumns].currentValue}"/>-->
                <c:forEach items="#{component.tableComponentConfiguration.columnSettings}" var="tableCompSolSettingrrr">
                    <c:if test="${tableCompSolSettingrrr.columnFieldName eq component.tableComponentConfiguration.pivotConfiguration.extraValueRows[0]}">
                        <c:if test="${tableCompSolSettingrrr.visible}">
                        <c:choose>
                            <c:when test="${tableCompSolSettingrrr.editable}">
                                <c:choose>
                                    <c:when test="${tableCompSolSettingrrr.componentType eq 'SPINNER'}">
                                        <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                            <p:spinner value="#{recPivotList.fieldValueMap[extraColumns].currentValue}" 
                                                       min="0" stepFactor="0.1" style="font-size: 13px">
                                                <p:ajax update="comp_#{component.layoutId}" 
                                                        process="comp_#{component.layoutId}"/>
                                            </p:spinner>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSettingrrr.componentType eq 'TEXT_FIELD'}">
                                        <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                            <p:inputText value="#{recPivotList.fieldValueMap[extraColumns].currentValue}" 
                                                         style="width: 100%">
                                                <p:ajax update="comp_#{component.layoutId}" 
                                                        process="comp_#{component.layoutId}"/>
                                            </p:inputText>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSettingrrr.componentType eq 'LOOKUP'}">
                                        <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                            <p:selectOneMenu  value="#{recPivotList.fieldValueMap[extraColumns].currentValue}"
                                                              style="border: none;border: 1px solid #dbdbdb; width: fit-content;m" 
                                                              styleClass="form-dropdown" filter="true" filterMatchMode="startsWith">
                                                <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                                <f:selectItems value="#{tableCompSolSettingrrr.lookupValueList}"  var="lookupValue" itemLabel="#{lookupValue}" itemValue="#{lookupValue}"/>
                                                <p:ajax update="comp_#{component.layoutId}" 
                                                        process="comp_#{component.layoutId}" />
                                            </p:selectOneMenu>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSettingrrr.componentType eq 'BOOLEAN'}">

                                        <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                            <p:toggleSwitch value="#{recPivotList.fieldValueMap[extraColumns].currentValue}" >
                                                <p:ajax update="comp_#{component.layoutId}"
                                                        process="@form"/>
                                            </p:toggleSwitch>
                                        </p:column>

                                    </c:when>
                                </c:choose>
                            </c:when>
                            <c:otherwise>
                                <c:if test="${tableCompSolSettingrrr.fieldValueMap[not empty tableCompSolSettingrrr.columnFieldName?tableCompSolSettingrrr.columnFieldName:tableCompSolSettingrrr.mappingField].fieldType eq 'LOOKUP'}">
                                    <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                        <h:outputText value="#{recPivotList.fieldValueMap[extraColumns].currentValue}"
                                                      style="background: transparent; #{tableCompSolSettingrrr.fieldValueMap[not empty tableCompSolSettingrrr.columnFieldName?tableCompSolSettingrrr.columnFieldName: tableCompSolSettingrrr.mappingField].valueStyling}"/>
                                    </p:column>

                                </c:if>
                                <c:if test="${tableCompSolSettingrrr.fieldValueMap[not empty tableCompSolSettingrrr.columnFieldName?tableCompSolSettingrrr.columnFieldName: tableCompSolSettingrrr.mappingField].fieldType ne 'LOOKUP'}">
                                        <p:column headerText="#{tableCompSolSettingrrr.columnLabel}">
                                    <h:outputText value="#{recPivotList.fieldValueMap[extraColumns].currentValue}"
                                                      style="background: transparent; #{tableCompSolSettingrrr.fieldValueMap[not empty tableCompSolSettingrrr.columnFieldName?tableCompSolSettingrrr.columnFieldName: tableCompSolSettingrrr.mappingField].valueStyling}"/>
                                    </p:column>

                                </c:if>

                            </c:otherwise>
                        </c:choose>
                    </c:if>
                    </c:if>
                </c:forEach>
            </p:columns>

            <p:columns value="#{formBean.tableHelpersMap[component.layoutId].pivotHeaderValues}" var="pivotHeader">
                <!--<h:outputText value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}"/>-->

                <c:forEach items="#{component.tableComponentConfiguration.columnSettings}" var="tableCompSolSetting">
                    <c:if test="${tableCompSolSetting.columnFieldName eq component.tableComponentConfiguration.pivotConfiguration.valueColumn}">
                        <c:if test="${tableCompSolSetting.visible}">
                        <c:choose>
                            <c:when test="${tableCompSolSetting.editable}">
                                <c:choose>
                                    <c:when test="${tableCompSolSetting.componentType eq 'SPINNER'}">
                                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                            <p:spinner value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}" 
                                                       min="0" stepFactor="0.1" style="font-size: 13px">
                                                <p:ajax update="comp_#{component.layoutId}" 
                                                        process="comp_#{component.layoutId}"/>
                                            </p:spinner>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSetting.componentType eq 'TEXT_FIELD'}">
                                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                            <p:inputText value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}" 
                                                         style="width: 100%">
                                                <p:ajax update="comp_#{component.layoutId}" 
                                                        process="comp_#{component.layoutId}"/>
                                            </p:inputText>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSetting.componentType eq 'LOOKUP'}">
                                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                            <p:selectOneMenu  value="#{tableCompSolSetting.valueHolder}"
                                                              style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                                              styleClass="form-dropdown" filter="true" filterMatchMode="startsWith">
                                                <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                                <f:selectItems value="#{tableCompSolSetting.lookupValueList}" />
                                                <p:ajax update="comp_#{component.layoutId}" listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                                        process="comp_#{component.layoutId}" />
                                            </p:selectOneMenu>
                                        </p:column>

                                    </c:when>
                                    <c:when test="${tableCompSolSetting.componentType eq 'BOOLEAN'}">

                                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                            <p:toggleSwitch value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}" >
                                                <p:ajax update="comp_#{component.layoutId}"
                                                        process="@form"/>
                                            </p:toggleSwitch>
                                        </p:column>

                                    </c:when>
                                </c:choose>
                            </c:when>
                            <c:otherwise>
                                <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType eq 'LOOKUP'}">
                                    <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                        <h:outputText value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}"
                                                      style="background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"/>
                                    </p:column>

                                </c:if>
                                <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType ne 'LOOKUP'}">
                                    <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                        <h:outputText value="#{recPivotList.fieldValueMap[component.tableComponentConfiguration.pivotConfiguration.valueColumn.concat('#@#').concat(pivotHeader)].currentValue}"
                                                      style="background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"/>
                                    </p:column>

                                </c:if>

                            </c:otherwise>
                        </c:choose>
                    </c:if>
                    </c:if>
                </c:forEach>
            </p:columns>

        </p:dataTable>





<!--        <p:dataTable var="tableCompRec" value="#{formBean.tableRecordModelMap[component.layoutId]}" editable="true"
             style="padding-top: 0.5em;width: 100%" styleClass="datatable paginator-buttons" lazy="true" rows="#{component.tableComponentConfiguration.numberOfRecordsPerPage}"
             paginator="#{empty component.tableComponentConfiguration.summaryColumnsSettings}"  editMode="cell"
             paginatorPosition="bottom" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}" selection="#{formBean.selectedRecords}" 
             emptyMessage="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['no_records']}">
    <p:ajax event="rowSelect" listener="#{formBean.onCustomTableRowSelect}" disabled="#{parentView ne 'SMART_TAB'}"
            onstart="PF('waitingDlgName').show()"/>
    <p:ajax event="cellEdit" listener="#{formBean.onCustomTableEdit}" />
    <p:column selectionMode="multiple" style="width:16px;text-align:center"  rendered="#{parentView eq 'SMART_TAB'}"/>
    
    <c:forEach items="#{component.tableComponentConfiguration.columnSettings}" var="tableCompSolSetting">
        <c:if test="${tableCompSolSetting.visible}">
            <c:choose>
                <c:when test="${tableCompSolSetting.editable}">
                    <c:choose>
                        <c:when test="${tableCompSolSetting.componentType eq 'SPINNER'}">
                            <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                <p:spinner value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                           min="0" stepFactor="0.1" >
                                    <p:ajax update="comp_#{component.layoutId}" 
                                            listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="comp_#{component.layoutId}"/>
                                </p:spinner>
                            </p:column>

                        </c:when>
                        <c:when test="${tableCompSolSetting.componentType eq 'TEXT_FIELD'}">
                            <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                <p:inputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" 
                                             style="width: 100%">
                                    <p:ajax update="comp_#{component.layoutId}" 
                                            listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="comp_#{component.layoutId}"/>
                                </p:inputText>
                            </p:column>

                        </c:when>
                        <c:when test="${tableCompSolSetting.componentType eq 'LOOKUP'}">
                            <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                <p:selectOneMenu  value="#{tableCompSolSetting.valueHolder}"
                                                  style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                                  styleClass="form-dropdown" filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                    <f:selectItems value="#{tableCompSolSetting.lookupValueList}" />
                                    <p:ajax update="comp_#{component.layoutId}" listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="comp_#{component.layoutId}" />
                                </p:selectOneMenu>
                            </p:column>

                        </c:when>
                        <c:when test="${tableCompSolSetting.componentType eq 'BOOLEAN'}">

                            <p:column headerText="#{tableCompSolSetting.columnLabel}">
                                <p:toggleSwitch value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}" >
                                    <p:ajax update="comp_#{component.layoutId}" listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="@form"/>
                                </p:toggleSwitch>
                            </p:column>

                        </c:when>
                    </c:choose>
                </c:when>
                <c:otherwise>
                    <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType eq 'LOOKUP'}">
                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                            <h:outputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?formBean.concatLookupNameHandle(tableCompSolSetting.columnFieldName):formBean.concatLookupNameHandle(tableCompSolSetting.mappingField)].currentValue}"
                                          style="background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"/>
                        </p:column>

                    </c:if>
                    <c:if test="${tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].fieldType ne 'LOOKUP'}">
                        <p:column headerText="#{tableCompSolSetting.columnLabel}">
                            <h:outputText value="#{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].currentValue}"
                                          style="background: transparent; #{tableCompRec.fieldValueMap[not empty tableCompSolSetting.columnFieldName?tableCompSolSetting.columnFieldName:tableCompSolSetting.mappingField].valueStyling}"/>
                        </p:column>

                    </c:if>

                </c:otherwise>
            </c:choose>
        </c:if>
    </c:forEach>
</p:dataTable>
<p:panelGrid  columns="2" style="width: 100%" styleClass="summary-footer"
              rendered="#{not empty component.tableComponentConfiguration.summaryColumnsSettings}">
    <c:forEach items="#{component.tableComponentConfiguration.summaryColumnsSettings}" var="tableSummarySetting">
        <h:outputText value="#{tableSummarySetting.columnLabel}"/>
        <c:choose>
            <c:when test="${tableSummarySetting.aggregateColumn}">
                <h:outputText value="#{formBean.evaluateAggregate(component.layoutId,not empty tableSummarySetting.columnFieldName?tableSummarySetting.columnFieldName:tableSummarySetting.mappingField)}" />
            </c:when>
            <c:when test="${tableSummarySetting.dynamicColumn}">
                <h:outputText value="#{formBean.evaluateDynamicField(component.layoutId,tableSummarySetting.columnFieldName)}" />
            </c:when>
            <c:otherwise>
                <c:choose>
                    <c:when test="${tableSummarySetting.editable}">
                        <c:choose>
                            <c:when test="${tableSummarySetting.componentType eq 'SPINNER'}">
                                <p:spinner value="#{tableSummarySetting.valueHolder}" 
                                           min="0">
                                    <p:ajax update="comp_#{component.layoutId}" listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="comp_#{component.layoutId}" />
                                </p:spinner>
                            </c:when>
                            <c:when test="${tableSummarySetting.componentType eq 'BOOLEAN'}">
                                <p:toggleSwitch value="#{tableSummarySetting.valueHolder}" />
                            </c:when>
                            <c:when test="${tableSummarySetting.componentType eq 'LOOKUP'}">
                                <p:selectOneMenu  value="#{tableSummarySetting.valueHolder}"
                                                  style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                                  styleClass="form-dropdown" filter="true" filterMatchMode="startsWith">
                                    <f:selectItem itemLabel="Select" itemValue="#{null}"/>
                                    <f:selectItems value="#{tableSummarySetting.lookupValueList}" />
                                    <p:ajax update="comp_#{component.layoutId}" listener="#{formBean.onTableEditEvent(component.layoutId)}" 
                                            process="comp_#{component.layoutId}" />
                                </p:selectOneMenu>
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>
                        <h:outputText value="#{tableSummarySetting.valueHolder}" />
                    </c:otherwise>
                </c:choose>
            </c:otherwise>
        </c:choose>
    </c:forEach>
</p:panelGrid>

<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
</p:confirmDialog> -->
    </h:panelGroup>




    <ui:define name="contentTable">
    </ui:define>

</ui:composition>