<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Advanced Components Configuration Manager
    </ui:define>

    <p:sidebar id="advancedConfigManager" widgetVar="advancedConfigManager" position="right" 
               style="width: 55em;overflow-y: auto;border: none" rendered="#{not empty field}">
        <c:if test="${not empty field.dynoButtonConfiguration}">
            <ui:include src="/WEB-INF/templates/components/config/dynoButtonConfiguration.xhtml" >
                <ui:param name="managerBean" value="#{managerBean}" />
                <ui:param name="configBean" value="#{managerBean.advancedComponentsManager.dynoButtonManager}" />
            </ui:include>
        </c:if>
        <c:if test="${not empty field.tableComponentConfiguration}">
            <ui:include src="/WEB-INF/templates/components/config/tableComponentConfiguration.xhtml" >
                <ui:param name="managerBean" value="#{managerBean}" />
                <ui:param name="configBean" value="#{managerBean.advancedComponentsManager.tableComponentManager}" />
            </ui:include>
        </c:if> 
        <c:if test="${not empty field.layoutComponentConfiguration}">
            <ui:include src="/WEB-INF/templates/components/config/layoutComponentConfiguration.xhtml" >
                <ui:param name="managerBean" value="#{managerBean}" />
                <ui:param name="configBean" value="#{managerBean.advancedComponentsManager.layoutComponentManager}" />
            </ui:include>
        </c:if> 

        <p:commandButton value="Done" onclick="PF('advancedConfigManager').hide()" styleClass="save-button" update="@form"
                         actionListener="#{managerBean.applyAdvancedConfigurations()}" />
    </p:sidebar>

    <ui:define name="contentTable">
    </ui:define>

</ui:composition>