<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Editable Table
    </ui:define>

    <h1 style="font-weight:normal">Button Configuration</h1>
    <p:panelGrid columns="2" styleClass="borderless-grid" id="buttonConfigPanel">
        <p:outputLabel id="buttonLabel" value="Button Label" style="font-weight: normal;margin-right: 3em"/>
        <p:inputText style="padding: 0.5em;border: none;
                     border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                     value="#{configBean.selectedField.dynoButtonConfiguration.buttonLabel}"/>

        <p:outputLabel value="Styling" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
        <p:inputTextarea rows="3" cols="60" style="border: none;
                         border: 1px solid #dbdbdb;padding: 0.5em;width: auto;-webkit-box-shadow: none"
                         value="#{configBean.selectedField.dynoButtonConfiguration.styleScript}"/>

        <p:outputLabel value="Action" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
        <p:selectOneMenu value="#{configBean.selectedField.dynoButtonConfiguration.actionType}" 
                         style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                         filter="true" filterMatchMode="contains">
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItem itemLabel="Get Data" itemValue="GET_DATA" />
            <f:selectItem itemLabel="Run Workflow" itemValue="RUN_WF" />
            <f:selectItem itemLabel="Open Page" itemValue="OPEN_PAGE" />
            <f:selectItem itemLabel="Dynamic Form" itemValue="OPEN_FORM" />
            <p:ajax update="buttonConfigPanel" process="@form"/>
        </p:selectOneMenu>

        <p:outputLabel value="Click Event Name" style="font-weight: normal;margin-right: 3em"/>
        <p:inputText style="padding: 0.5em;border: none;
                     border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                     value="#{configBean.selectedField.dynoButtonConfiguration.eventName}"/>

        <p:outputLabel value="Module" style="font-weight: normal;margin-right: 3em;vertical-align: top"
                       rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'GET_DATA'
                                   or configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_PAGE'
                                   or configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_FORM'}"/>
        <p:selectOneMenu value="#{configBean.selectedField.dynoButtonConfiguration.moduleId}" 
                         rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'GET_DATA' 
                                     or configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_PAGE'
                                     or configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_FORM'}"
                         style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                         styleClass="form-dropdown"
                         filter="true" filterMatchMode="contains">
            <f:selectItem itemLabel="Select" itemValue="" />
            <f:selectItems value="#{managerBean.moduleManagerMap}" var="v"/>
        </p:selectOneMenu>

        <p:outputLabel value="Filter Clause" style="font-weight: normal;margin-right: 3em;vertical-align: top" rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'GET_DATA'}"/>
        <p:inputTextarea rows="3" cols="60" style="border: none;
                         border: 1px solid #dbdbdb;padding: 0.5em;width: auto;-webkit-box-shadow: none"
                         rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'GET_DATA'}"
                         value="#{configBean.selectedField.dynoButtonConfiguration.dataFilterClause}"/>

        <p:outputLabel value="Url Parameters" style="font-weight: normal;margin-right: 3em;vertical-align: top" 
                       rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_PAGE' or 
                                   configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_FORM'}"/>
        <h:panelGroup rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_PAGE' or 
                                  configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_FORM'}">
            <p:commandButton  value="Add Parameter" 
                              actionListener="#{configBean.addNewParam}" icon="fa fa-w fa-plus" styleClass="topcommands"
                              style="border-radius: 3px;margin-bottom: 1em" update="buttonConfigPanel" />
            <p:panelGrid columns="4" styleClass="borderless-grid" style="border: 2px solid #ccc"
                         rendered="#{configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_PAGE' or 
                                     configBean.selectedField.dynoButtonConfiguration.actionType eq 'OPEN_FORM'}">
                <c:forEach items="#{configBean.selectedField.dynoButtonConfiguration.params}" var="param">
                    <p:inputText style="padding: 0.5em;border: none;
                                 border: 1px solid #dbdbdb;width: 15em;-webkit-box-shadow: none"
                                 value="#{param.key}"/>
                    <p:outputLabel value=":" />
                    <p:inputText style="padding: 0.5em;border: none;
                                 border: 1px solid #dbdbdb;width: 15em;-webkit-box-shadow: none"
                                 value="#{param.value}"/>
                    <p:commandLink  update="buttonConfigPanel" style="padding: 0">
                        <h:graphicImage name="/images/delete-dark.png" width="12" height="12" style="margin-left: .5em"/>
                        <p:collector value="#{param}" removeFrom="#{configBean.selectedField.dynoButtonConfiguration.params}" unique="true"/>
                    </p:commandLink>
                </c:forEach>
            </p:panelGrid>
        </h:panelGroup>

    </p:panelGrid>


    <ui:define name="contentTable">
    </ui:define>

</ui:composition>