<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Editable Table
    </ui:define>

    <h1 style="font-weight:normal">Layout Configuration</h1>
    <p:panelGrid columns="2" styleClass="borderless-grid" id="layoutConfigPanel">
        <p:outputLabel value="Number of Columns" style="font-weight: normal;margin-right: 3em"/>
        <p:inputText style="padding: 0.5em;border: none;
                       border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                       value="#{configBean.selectedField.layoutComponentConfiguration.numberOfColumns}"/>

        

    </p:panelGrid>


    <ui:define name="contentTable">
    </ui:define>

</ui:composition>