<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Add Data
    </ui:define>


    <ui:define name="content">
        <h:outputScript>
            $(document).ready(function (){
            if (window.innerWidth &lt; 800){
            $('#wrapper').removeClass("toggled");
            } else{
            $('#wrapper').addClass("toggled");
            }
            });
        </h:outputScript>

        <!--        <h:outputScript>
                    function handleForm(xhr, status, args) {
                    if (args.validationFailed){
                    alert(facesContext.messageList);
                    }
                    else{
                     var x = 0;
                    }
                    }
                </h:outputScript>-->
        <style>
            body{
                background: #f0f4f4 !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages" skipDetailIfEqualsSummary="true" >
        </p:messages>
        <p:breadCrumb styleClass="breadcrumbs">
            <p:menuitem value="Categories" outcome="#{addDataBean.masterPageName}" />
            <p:menuitem value="Add #{addDataBean.moduleBreadCrumbName}" url="#" />
        </p:breadCrumb>

        <p:panel style="background: #fff;width: 100%" styleClass="form-container"
                 id="addRecordControlMenuPanel">
            <p:menubar id="addRecordControlsMenu" style="display: block" styleClass="record_top_controls">
                <p:menuitem value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_save']}" 
                            actionListener="#{addDataBean.save()}" icon="fa fa-plus"
                            process="@this,messages,formBuilderMasterPanel" 
                            onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide();" oncomplete="PF('waitingDlgName').hide();"/>

                <p:divider layout="vertical"/>

                <p:menuitem value="Return to #{addDataBean.moduleBreadCrumbName}" 
                            actionListener="#{addDataBean.cancel()}" icon="fa  fa-reply"
                            immediate="true"/>

                <p:menuitem value="Return to record"  rendered="#{addDataBean.originatedFromSmartView}"
                            actionListener="#{addDataBean.returnToOriginalRecord()}" icon="fa  fa-reply"
                            immediate="true"/>
            </p:menubar>
        </p:panel>


        <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
            <ui:param name="formBean" value="#{addDataBean}" />
            <ui:param name="formTitle" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['gnrl_add_new_record']}" />
        </ui:include>

        <footer class="footer">
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_save']}" 
                             actionListener="#{addDataBean.save()}" styleClass="btn btn-primary add-button nohover"
                             process="@this,messages,formBuilderMasterPanel" style="margin-right:1em" update="formBuilderMasterPanel"
                             onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide();window.scrollTo({ top: 0, behavior: 'smooth' });" 
                             oncomplete="PF('waitingDlgName').hide();window.scrollTo({ top: 0, behavior: 'smooth' });"/>
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']}" 
                             actionListener="#{addDataBean.cancel()}" styleClass="btn btn-primary delete-button nohover"
                             immediate="true"/>
        </footer>

        <p:dialog id="creditWarningDialog" resizable="false" header="Out of credits" dynamic="true"
                  widgetVar="creditWarningDialog"  modal="true" width="500" >
            <p:panelGrid columns="2" styleClass="borderless-grid">
                <p:graphicImage name="/images/out_of_credit.png"  styleClass="rounded" width="70"/>
                <p:outputLabel value="It seems like you consumed all the database storage that your plan has. You can always request addons for your plan!" 
                               style="font-weight: normal;font-size: 16px"/>
            </p:panelGrid>
            <p:commandButton value="Got it" style="border-radius: 4px;
                             color: #282f44;
                             background-color: #ffd100;
                             border: 1px solid #fff;
                             padding: .5em;
                             font-weight: bolder;
                             width: 15em;float: right" 
                             onclick="PF('creditWarningDialog').hide();" />
        </p:dialog>

        <p:dialog id="somethingWrongHappenedDialog" resizable="false" header="Something wrong happened" dynamic="true"
                  widgetVar="somethingWrongHappenedDialog"  modal="true" width="500" >
            <h:panelGrid columns="2" styleClass="borderless-grid">
                <p:graphicImage name="/images/something_wrong.png"  styleClass="rounded" width="70" style="margin-right: 1em"/>
                <p:outputLabel value="We encountered the following error: #{addDataBean.saveError}" 
                               style="font-weight: normal;font-size: 14px"/> 
            </h:panelGrid>
            <p:commandButton value="Got it" style="border-radius: 4px;
                             color: #282f44;
                             background-color: #ffd100;
                             border: 1px solid #fff;
                             padding: .5em;
                             font-weight: bolder;
                             width: 15em;float: right" 
                             onclick="PF('somethingWrongHappenedDialog').hide();" />
        </p:dialog>

    </ui:define>

</ui:composition>