<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Add Sale
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #f0f4f4 !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:growl id="msgs" showDetail="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home" />
            <p:menuitem value="Opportunities" outcome="deals" />
            <p:menuitem value="Add" url="#" />
        </p:breadCrumb>

        <div class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
             style="margin-left: -1.2em;margin-right: -1.8em;background: #f0f4f4;direction: #{accessBean.userModel.rtl? 'rtl;margin-right: 0.1em;':'ltr'}">
            <ul>#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['add_new_deal']}</ul>
        </div>

        <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
            <ui:param name="formBean" value="#{addDealBean}" />
        </ui:include> 

        <p:remoteCommand name="updateFormDealPanels" update="sellablesPanel quotationPanel"/>

        <p:panel style="border: none;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl;text-align:right;':'ltr'}" 
                 id="sellablesPanel">
            <p:panel id="pnl2" style="margin-bottom:10px;background: #fff" styleClass="form-container">
                <div style="margin-left: -1.2em;margin-right: -1.8em;">
                    <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['order_details']}</ul>
                    <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
                </div>
                <p:tabView>
                    <p:tab title="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['products']}">
                        <p:commandButton icon="fa fa-search" style="border-radius: 3px;border-width: 1px  !important;"
                                         styleClass="topcommands" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['choose_product']}"
                                         immediate="true" onclick="PF('productsDialog').show();"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                        </p:commandButton>


                        <p:dialog header="Data" id="productsDialog" widgetVar="productsDialog" modal="true" width="1250" position="center center" 
                                  styleClass="form-dialog" style="border-radius: 4px;text-align: -webkit-center;" onHide="updateFormDealPanels()">
                            <h:panelGrid columns="1">
                                <h:panelGroup>
                                    <p:inputText id="productsFullTextSearch" value="#{productsBean.FTSKeyword}" label="Keyword"
                                                 style="border: 1px solid #ccc;
                                                 border-radius: 50em;
                                                 float: left;
                                                 margin-top: 0.4em;
                                                 padding: 0.8em;
                                                 margin-right: 0.2em;
                                                 margin-left: 0.4em;" 
                                                 onkeypress="if (event.keyCode === 13) {
                                                             searchProduct();
                                                             return false;
                                                         }"/>
                                    <p:remoteCommand name="searchProduct" actionListener="#{productsBean.search(null)}" update="productsTable"/>
                                    <p:watermark for="productsFullTextSearch" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']}" />
                                    <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']}" style="float: left"
                                                     actionListener="#{productsBean.search(null)}" update="productsTable"
                                                     styleClass="save-button topcommands" process="productsFullTextSearch, @this"
                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>

                                </h:panelGroup>

                                <p:dataTable var="recList" value="#{productsBean.lazyRecordModel}" 
                                             widgetVar="productsTable" id="productsTable"
                                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                             paginator="true" paginatorPosition="bottom" selection="#{addDealBean.selectedProducts}" 
                                             lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:ajax event="rowToggle" listener="#{addDealBean.onVariantProductExpand}"/>
                                    <p:column style="width:30px;" >
                                        <p:rowToggler rendered="#{recList.fieldValueMap['has_variant'].currentValue eq 'true'}" class="variant-detail-icon"/>
                                    </p:column>
    <!--                                            <p:ajax event="rowSelect" listener="#{addDealBean.addProductToOrderList()}"
                                                        oncomplete="PF('productsDialog').hide()" process="productsTable" update=" pnl2 pnl3"/>-->
                                    <p:columns var="fields" value="#{productsBean.settingsList}" headerText="#{fields.columnLabel}">
                                        <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                                        <h:outputText value=" (#{accessBean.loadLocalizedValue('out_of_stock')})" style="color: #ff2833;font-weight: bold"
                                                      rendered="#{addDealBean.renederNumberValues(recList.fieldValueMap['current_stock'].currentValue) le 0 and fields.columnFieldName eq 'product_name'}"/>
                                    </p:columns>
                                    <f:facet name="header">
                                        <p:commandButton process="productsTable" update=" pnl2 pnl3" icon="ui-icon-search" actionListener="#{addDealBean.addProductToOrderList()}"
                                                         value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_done']}" 
                                                         oncomplete="PF('productsDialog').hide()"/>
                                    </f:facet>
                                    <p:rowExpansion styleClass="variant-expansion variant-expansion-deals" id="variantDetails" 
                                                    rendered="#{recList.fieldValueMap['has_variant'].currentValue eq 'true'}">
                                        <c:forEach items="#{addDealBean.attributeVariantList}" var="attr">
                                            <h:panelGrid columns="1" style="border: none">
                                                <h:outputLabel for="attSel" value="Choose #{attr.attributeName}" style="font-weight: bold"/>
                                                <p:selectOneRadio id="attSel" value="#{addDealBean.selectedVariantAttributes[recList.fieldValueMap['product_id'].currentValue][attr.attributeId].attributeName}"
                                                                  style="border: none" >
                                                    <f:selectItems value="#{attr.attributeValues}" var="c" itemLabel="#{c}" itemValue="#{c}"/>
                                                    <p:ajax listener="#{addDealBean.onRadioValueChange(attr.attributeId, addDealBean.selectedAttributes[attr.attributeId].attributeName)}"/>
                                                </p:selectOneRadio>
                                            </h:panelGrid>
                                        </c:forEach>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:panelGrid>

                        </p:dialog>

                        <p:dataTable var="orderP" value="#{addDealBean.orderRecordProductList}" widgetVar="selectedProductsTable"
                                     id="selectedProductsTable"
                                     style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                     paginator="true" paginatorPosition="bottom" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}"
                                     emptyMessage="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['no_records']}">
                            <p:column style="width:30px">
                                <p:commandLink actionListener="#{addDealBean.deleteSelectedProduct(orderP)}" update=" pnl2 pnl3">
                                    <h:graphicImage name="/images/delete_control.png" width="16" height="16"/>
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['sls_quantity']}">
<!--                                <p:inputText value="#{orderP.fieldValueMap['quantity'].currentValue}">
                                    <p:ajax event="change"
                                            listener="#{addDealBean.calaculateOrderValue}"
                                            update=" pnl2 pnl3"></p:ajax>
                                </p:inputText>-->
                                <p:spinner value="#{orderP.fieldValueMap['quantity'].currentValue}" min="1" >
                                    <p:ajax update="pnl2 pnl3" listener="#{addDealBean.modifyQuantity(orderP)}" process="@this" />
                                </p:spinner>
                            </p:column>
                            <p:column headerText="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['prd_name']}">
                                <h:outputText value="#{orderP.fieldValueMap['product_name'].currentValue}" />
                                <h:outputText value=" (#{accessBean.loadLocalizedValue('out_of_stock')})" style="color: #ff2833;font-weight: bold"
                                                      rendered="#{addDealBean.renederNumberValues(orderP.fieldValueMap['current_stock'].currentValue) le 0}"/>
                            </p:column>
                            <p:column headerText="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['prd_code']}">
                                <h:outputText value="#{orderP.fieldValueMap['product_code'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['prd_selling_price']}">
                                <h:outputText value="#{orderP.fieldValueMap['goods_selling_price'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['current_stock']}">
                                <h:outputText value="#{orderP.fieldValueMap['current_dummy_stock'].currentValue}" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>

                    <p:tab title="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['services']}">
                        <p:commandButton icon="fa fa-search" style="border-radius: 3px;border-width: 1px  !important;"
                                         styleClass="topcommands" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['choose_service']}"
                                         immediate="true" onclick="PF('servicesDialog').show();"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                        </p:commandButton>


                        <p:dialog header="Data" id="servicesDialog" widgetVar="servicesDialog" modal="true" width="1250" position="center center" 
                                  styleClass="form-dialog" style="border-radius: 4px;text-align: -webkit-center;" onHide="updateFormDealPanels()">
                            <h:panelGrid columns="1">
                                <h:panelGroup>
                                    <p:inputText id="servicesFullTextSearch" value="#{servicesBean.FTSKeyword}" label="Keyword"
                                                 style="border: 1px solid #ccc;
                                                 border-radius: 50em;
                                                 float: left;
                                                 margin-top: 0.4em;
                                                 padding: 0.8em;
                                                 margin-right: 0.2em;
                                                 margin-left: 0.4em;" 
                                                 onkeypress="if (event.keyCode === 13) {
                                                             searchServices();
                                                             return false;
                                                         }"/>
                                    <p:remoteCommand name="searchServices" actionListener="#{servicesBean.search(null)}" update="servicesTable"/>
                                    <p:watermark for="servicesFullTextSearch" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']}" />
                                    <p:commandButton value="#{accessBean.loadLocalizedValue('btn_search')}" style="float: left"
                                                     actionListener="#{servicesBean.search(null)}" update="servicesTable"
                                                     styleClass="save-button topcommands" process="servicesFullTextSearch, @this"
                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                                </h:panelGroup>
                                <p:dataTable var="recList" value="#{servicesBean.lazyRecordModel}" 
                                             widgetVar="servicesTable" id="servicesTable"
                                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                             paginator="true" paginatorPosition="bottom" selection="#{addDealBean.selectedServices}" 
                                             lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:columns var="fields" value="#{servicesBean.settingsList}" headerText="#{fields.columnLabel}">
                                        <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                                    </p:columns>
                                    <f:facet name="header">
                                        <p:commandButton process="servicesTable" update=" pnl2 pnl3" icon="ui-icon-search" actionListener="#{addDealBean.addServiceToOrderList()}"
                                                         value="#{accessBean.loadLocalizedValue('btn_done')}" oncomplete="PF('servicesDialog').hide()"/>
                                    </f:facet>
                                </p:dataTable>
                            </h:panelGrid>

                        </p:dialog>

                        <p:dataTable var="order" value="#{addDealBean.orderRecordServiceList}" widgetVar="selectedServicesTable"
                                     id="selectedServicesTable"
                                     style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                     paginator="true" paginatorPosition="bottom" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                            <p:column style="width:30px">
                                <p:commandLink  actionListener="#{addDealBean.deleteSelectedService(order)}" update=" pnl2 pnl3">
                                    <h:graphicImage name="/images/delete_control.png" width="16" height="16"/>
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('sls_quantity')}">
                                <p:inputText value="#{order.fieldValueMap['quantity'].currentValue}">
                                    <p:ajax event="change"
                                            listener="#{addDealBean.calaculateOrderValue}"
                                            update=" pnl2 pnl3"></p:ajax>
                                </p:inputText>
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('srvc_id')}">
                                <h:outputText value="#{order.fieldValueMap['name'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('srvc_code')}">
                                <h:outputText value="#{order.fieldValueMap['code'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('srvc_sell_price')}">
                                <h:outputText value="#{order.fieldValueMap['goods_selling_price'].currentValue}" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:tabView>
            </p:panel>
        </p:panel>

        <p:panel style="border: none;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl;text-align:right;':'ltr'}"  
                 id="quotationPanel">
            <p:panel id="pnl3" style="margin-bottom:10px;background: #fff" styleClass="form-container">
                <div style="margin-left: -1.2em;margin-right: -1.8em;">
                    <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">#{accessBean.loadLocalizedValue('quot_summary')}</ul>
                    <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
                </div>
                <p:tabView>
                    <p:tab title="#{accessBean.loadLocalizedValue('summary')}">
                        <p:dataTable var="summaryOrder" value="#{addDealBean.orderRecordList}" widgetVar="summaryTable"
                                     id="summaryTable" rendered="#{not empty addDealBean.orderRecordList}"
                                     style="padding-top: 0.5em;" styleClass="datatable datatable-summary paginator-buttons" rows="10">
                            <p:column headerText="#{accessBean.loadLocalizedValue('item')}">
                                <h:outputText value="#{summaryOrder.fieldValueMap['goods_type'].currentValue eq 'PRODUCT'? summaryOrder.fieldValueMap['product_name'].currentValue : summaryOrder.fieldValueMap['name'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('type')}">
                                <h:outputText value="#{summaryOrder.fieldValueMap['goods_type'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('sls_quantity')}">
                                <h:outputText value="#{summaryOrder.fieldValueMap['quantity'].currentValue}" />
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('srvc_sell_price')}">
                                <h:outputText value="#{addDealBean.trimTrailingZeros(summaryOrder.fieldValueMap['goods_selling_price'].currentValue)}"/>
                            </p:column>
                            <p:column headerText="#{accessBean.loadLocalizedValue('net_value')}">
                                <h:outputText value="#{addDealBean.trimTrailingZeros(summaryOrder.fieldValueMap['goods_selling_price'].currentValue * summaryOrder.fieldValueMap['quantity'].currentValue)}"/>
                            </p:column>
                        </p:dataTable>

                        <p:panelGrid columns="2" style="width: 100%" styleClass="summary-footer">
                            <h:outputText value="#{accessBean.loadLocalizedValue('sls_fnl_price')}"/>
                            <h:outputText value="#{addDealBean.trimTrailingZeros(addDealBean.totalValue)}" />

                            <h:outputText value="#{accessBean.loadLocalizedValue('sls_sales_tax')}" />
                            <p:inputNumber id="salesTax" value="#{addDealBean.recordModel.fieldValueMap.get('sales_tax').currentValue}" symbol="%" 
                                           symbolPosition="s" emptyValue="zero" decimalPlaces="1"> 
                                <p:ajax event="change" listener="#{addDealBean.calaculateGrandValue}" update=" pnl2 pnl3" />  
                            </p:inputNumber>

                            <h:outputText value="#{accessBean.loadLocalizedValue('sls_vat_tax')}" />
                            <p:inputNumber id="vatTax" value="#{addDealBean.recordModel.fieldValueMap.get('vat_tax').currentValue}" symbol="%" 
                                           symbolPosition="s" emptyValue="zero" decimalPlaces="1"> 
                                <p:ajax event="change" update=" pnl2 pnl3" listener="#{addDealBean.calaculateGrandValue}"/>  
                            </p:inputNumber>

                            <h:outputText value="#{accessBean.loadLocalizedValue('sls_shipping_cost')}" />
                            <p:inputNumber id="shippingCost" value="#{addDealBean.recordModel.fieldValueMap.get('shipping_cost').currentValue}"
                                           emptyValue="zero" decimalPlaces="1">  
                                <p:ajax event="change" update=" pnl2 pnl3" listener="#{addDealBean.calaculateGrandValue}"/>  
                            </p:inputNumber> 

                            <h:outputText value="#{accessBean.loadLocalizedValue('sls_fnl_price')}" />
                            <h:outputText value="#{addDealBean.recordModel.fieldValueMap.get('final_price').currentValue}" />
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </p:panel>
        </p:panel>

        <p:confirmDialog message="Would you like to create an order with this sale?"  header="Create Order"  widgetVar="orderCreation"
                         style="text-align: center" >  
            <p:commandButton value="Yes Sure"  onclick="PF('orderCreation').hide()"  actionListener="#{addDealBean.createOrderForDeal}"
                             update="@form" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
            </p:commandButton>  
            <p:commandButton value="Not Yet" onclick="PF('orderCreation').hide()"  action="deals.xhtml?faces-redirect=true"/>   
        </p:confirmDialog>

        <footer class="footer">
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_save')}" actionListener="#{addDealBean.save()}" 
                             styleClass="save-button"
                             process="@this,messages,formBuilderMasterPanel"
                             onstart="PF('waitingDlgName').show()"
                             oncomplete="PF('waitingDlgName').hide()"/>
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" actionListener="#{addDealBean.cancel()}" styleClass="cancel-button" immediate="true"/>
        </footer>
    </ui:define>

</ui:composition>