<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Add Data
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #f0f4f4 !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home" />
            <p:menuitem value="Add" url="#" />
        </p:breadCrumb>

        <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
            <ui:param name="formBean" value="#{addInvoiceBean}" />
            <ui:param name="formTitle" value="#{accessBean.loadLocalizedValue('add_new_inv')}" />
        </ui:include>

        <footer class="footer">
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_save')}" actionListener="#{addInvoiceBean.save()}"
                             styleClass="save-button" 
                             process="@this,messages,formBuilderMasterPanel"
                             onstart="PF('waitingDlgName').show()" 
                             oncomplete="PF('waitingDlgName').hide()"/>
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" actionListener="#{addInvoiceBean.cancel()}" styleClass="cancel-button"
                             immediate="true"/>
        </footer>
    </ui:define>

</ui:composition>