<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Add Product
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background-color: #f0f4f4 !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home" />
            <p:menuitem value="Products" outcome="products" />
            <p:menuitem value="Add" url="#" />
        </p:breadCrumb>

        <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
            <ui:param name="formBean" value="#{addProductBean}" />
            <ui:param name="formTitle" value="#{accessBean.loadLocalizedValue('add_new_product')}" />
        </ui:include>

        <p:panel style="border: 1px solid #ccc;background: #fff; width: 20em;margin-left: 1em;direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}" >
            <h:panelGrid columns="2" cellpadding="4" cellspacing="4" style="direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}"
                         styleClass="ui-responsive" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                <p:outputLabel value="#{accessBean.loadLocalizedValue('variants_msg')}" 
                               style="font-size: 12px;font-weight: 100;color: #5b5b5b"/>
                <p:selectBooleanCheckbox value="#{addProductBean.recordModel.fieldValueMap['has_variant'].currentValue}"
                                         style="padding: 0.4em;text-align: center" >
                    <p:ajax update="variantPanel" listener="#{addProductBean.dumdum}"/>
                </p:selectBooleanCheckbox>      
            </h:panelGrid>
        </p:panel>

        <p:panel style="border: none;background: transparent"  id="variantPanel" widgetVar="variantPanel">
            <p:outputLabel value="#{accessBean.loadLocalizedValue('variants_note')}" 
                           style="font-size: 11px;font-weight: normal;color: #ff3232;" 
                           rendered="#{addProductBean.recordModel.fieldValueMap['has_variant'].currentValue eq 'true'}"
                           dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}"/>

            <p:panel style="margin-bottom:10px;background: #fff;direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}" styleClass="form-container"
                     rendered="#{addProductBean.recordModel.fieldValueMap['has_variant'].currentValue eq 'true'}" >
                <div style="margin-left: -1.2em;margin-right: -1.8em;">
                    <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">#{accessBean.loadLocalizedValue('variants_details')}</ul>
                    <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
                </div>
                <p:commandButton icon="fa fa-w fa-plus" styleClass="topcommands"
                                 style="border-radius: 3px;margin-left: 2em;margin-bottom: 1em" value="#{accessBean.loadLocalizedValue('add_attribute')}"
                                 immediate="true" actionListener="#{addProductBean.addNewAttribute}" update="variantPanel"/>
                <h:panelGrid columns="4" cellpadding="4" cellspacing="4" 
                             styleClass="ui-responsive" style="margin-bottom: 1em">
                    <c:forEach items="#{addProductBean.attributeVariantList}" var="attributeModel" varStatus="loop">
                        <p:commandLink actionListener="#{addProductBean.deleteAttribute(attributeModel)}" update="variantPanel" immediate="true">
                            <h:graphicImage name="/images/delete-dark.png" width="20" height="20" style="vertical-align: baseline;"/>
                        </p:commandLink>
                        
                        <p:outputLabel value="#{addProductBean.recordModel.fieldValueMap['attribute'].fieldLabel}" 
                                       style="padding: 1em;padding-right: 2em;"/>
                        <h:panelGroup layout="block" >
                            <c:set var="lookupVar" value="#{addProductBean.recordModel.fieldValueMap['attribute'].fieldName}" />
                            <p:selectOneMenu value="#{attributeModel.attributeId}"
                                             style="border: none;
                                             border-bottom: 1px solid #dbdbdb;width: 15em;margin-right: 1em" styleClass="form-dropdown" 
                                             required="#{addProductBean.recordModel.fieldValueMap['attribute'].isMandatory}" filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemLabel="Select" itemValue=""/>
                                <f:selectItems value="#{addProductBean.lookupDictionary.get(addProductBean.recordModel.fieldValueMap['attribute'].fieldName)}" />
                                <f:ajax listener="#{addProductBean.onAttributeSelect(attributeModel.attributeId)}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>

                        <p:chips value="#{attributeModel.attributeValues}" styleClass="attribute-value"
                                 style="height: 2.85em;width: 20em;border-width: 1px" >
                            <f:attribute name="attributeId" value="#{attributeModel.attributeId}" />
                            <p:ajax event="itemSelect" listener="#{addProductBean.onAddNewAttributeValue}" update="variantPanel">
                            </p:ajax>
                            <p:ajax event="itemUnselect" listener="#{addProductBean.onDeleteAttributeValue}" update="variantPanel">
                            </p:ajax>
                        </p:chips>

                    </c:forEach>   
                </h:panelGrid>

                <p:dataTable var="variant" value="#{addProductBean.variantProductList}">
                    <p:ajax event="rowToggle" listener="#{addProductBean.dumdum()}" />
                    <p:column style="width:40px;border-left: 7px solid #f8d12e;">
                        <p:rowToggler />
                    </p:column>
                    <p:columns value="#{addProductBean.attributeVariantList}" var="column" columnIndexVar="colIndex"
                               sortBy="#{variant.fieldValueMap[column.attributeName].currentValue}">
                        <f:facet name="header">
                            <h:outputText value="#{column.attributeName}" />
                        </f:facet>
                        <h:outputText value="#{variant.fieldValueMap[column.attributeName].currentValue}" />
                    </p:columns>

                    <p:rowExpansion styleClass="variant-expansion">
                        <ui:include src="/WEB-INF/templates/formBuilderForRecord.xhtml" >
                            <ui:param name="formBean" value="#{addProductBean}" />
                            <ui:param name="inRecord" value="#{variant}" />
                            <ui:param name="formTitle" value="#{accessBean.loadLocalizedValue('variant_details')}" />
                        </ui:include>
                    </p:rowExpansion>
                </p:dataTable>
            </p:panel>
        </p:panel>

        <footer class="footer">
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_save')}" actionListener="#{addProductBean.save()}" styleClass="save-button"
                             process="@this,formBuilderMasterPanel"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" actionListener="#{addProductBean.cancel()}" styleClass="cancel-button" immediate="true" />
        </footer>
    </ui:define>

</ui:composition>