<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Add Report
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fff !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home" />
            <p:menuitem value="Reports" outcome="reports" />
            <p:menuitem value="Add" url="#" />
        </p:breadCrumb>
        <p:panel style="border: none">
                <p:wizard flowListener="#{addReportBeanV2.onFlowProcess}">
                    <p:tab id="reportDetails" title="Report Details">
                        <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                            <ui:param name="formBean" value="#{addReportBeanV2}" />
                            <ui:param name="formTitle" value="#{null}" />
                        </ui:include>
                    </p:tab>

                    <p:tab id="selectColumns" title="Select Columns">
                        <p:panel style="margin-bottom:10px;background: #fff;border: none"  id="selectColumnsPanel">
                            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">Column Configuration</ul>
                                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
                            </div>
                            <h:panelGrid columns="1" style="width: 100%">
                                <p:outputLabel value="Related Modules: " for="relatedModules" style="margin: 0"/>
                                <p:autoComplete id="relatedModules" multiple="true" value="#{addReportBeanV2.reportModel.relatedModulesList}" 
                                                completeMethod="#{addReportBeanV2.completeModuleList}" var="module" 
                                                itemLabel="#{module.moduleName}" itemValue="#{module}" widgetVar="relatedModules"
                                                converter="moduleReportsConverterV2" forceSelection="true" onclick="PF('relatedModules').search(PF('relatedModules').input.val())"
                                                style="width: 80%;margin-bottom: 1em" styleClass="related-modules-complete autocomplete-field" selectLimit="2">
                                    <p:ajax event="itemSelect" listener="#{addReportBeanV2.onModuleSelect}"
                                            update="selectColumnsPanel filterPanel groupPanel orderPanel" 
                                            onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"/>
                                    <p:ajax event="itemUnselect" listener="#{addReportBeanV2.onModuleUnselect}"
                                            update="selectColumnsPanel filterPanel groupPanel orderPanel" 
                                            onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"/>
                                </p:autoComplete>

                                <p:outputLabel value="Columns: " for="selectedColumns" style="margin: 0"/>
                                <p:commandButton value="Reorder" onclick="PF('columnsReorderDialog').show()" 
                                                     styleClass="topcommands" 
                                                     style="border-radius: 3px;margin-bottom: 1em;margin-left: 1em;padding: 0;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                                <p:autoComplete id="selectedColumns"  value="#{addReportBeanV2.reportModel.fieldList}" 
                                                completeMethod="#{addReportBeanV2.completeFieldList}" var="column" multiple="true"
                                                itemLabel="#{column.fieldLabel} (#{column.fieldName})" itemValue="#{column}" widgetVar="selectedColumns"
                                                converter="moduleFieldsConverterV2" forceSelection="true" 
                                                onclick="PF('selectedColumns').search(PF('selectedColumns').input.val())"
                                                groupBy="#{addReportBeanV2.getFieldGroup(column)}"
                                                style="width: 80%;margin-bottom: 1em" styleClass="selected-columns-complete autocomplete-field" scrollHeight="250">
                                    <p:ajax event="itemSelect" listener="#{addReportBeanV2.onColumnSelect}" 
                                            update="selectColumnsPanel filterPanel groupPanel orderPanel"/>
                                    <p:ajax event="itemUnselect" listener="#{addReportBeanV2.onColumnUnselect}" 
                                            update="selectColumnsPanel filterPanel groupPanel orderPanel"/>
                                </p:autoComplete>

                                <p:outputLabel value="Custom Columns: " for="customColumns" style="margin: 0"/>
                                <p:chips value="#{addReportBeanV2.reportModel.customFields}" styleClass="attribute-value"
                                         style="height: 2.85em;width: 20em;border-width: 1px" id="customColumns">
                                    <p:ajax event="itemUnselect" listener="#{addReportBeanV2.onCustomColumnUnselect}" 
                                            update="selectColumnsPanel filterPanel groupPanel orderPanel"/>
                                </p:chips>

                                <p:panelGrid styleClass="borderless-grid" columns="2">
                                    <p:outputLabel value="Aggregate Functions" style="margin: 0;margin-bottom: 1em;"/>
                                    <p:commandButton value="Add Function" actionListener="#{addReportBeanV2.addNewAggregateFunction}" icon="fa fa-w fa-plus"
                                                     styleClass="topcommands" update="selectColumnsPanel" 
                                                     style="border-radius: 3px;margin-bottom: 1em;margin-left: 1em;padding: 0;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                                </p:panelGrid>

                                <p:panelGrid styleClass="borderless-grid" columns="4" style="margin-bottom: 1em" >
                                    <c:forEach items="#{addReportBeanV2.reportModel.aggregatesList}" var="aggFunc" varStatus="aggLoop">
                                        <p:selectOneMenu widgetVar="aggFunction_#{aggLoop.index}" value="#{aggFunc.function}" 
                                                         style="width:13em;border: none;border-bottom: 1px solid #ccc;">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                            <f:selectItem itemLabel="Sum" itemValue="SUM" />
                                            <f:selectItem itemLabel="Avreage" itemValue="AVG" />
                                            <f:selectItem itemLabel="Count" itemValue="COUNT" />
                                            <f:selectItem itemLabel="Max" itemValue="MAX" />
                                            <f:selectItem itemLabel="Min" itemValue="MIN" />
                                        </p:selectOneMenu>

                                        <p:selectOneMenu widgetVar="aggFunctionCol_#{aggLoop.index}" 
                                                         value="#{aggFunc.model}" style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                         converter="moduleFieldsConverterV2">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                            <f:selectItems value="#{addReportBeanV2.availableColumnList}" var="aggField" itemLabel="#{aggField.fieldName}" itemValue="#{aggField}"/>
                                        </p:selectOneMenu>

                                        <p:inputText style="padding: 0.5em;border: none;
                                                     border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                                     value="#{aggFunc.alias}"/>

                                        <p:commandLink actionListener="#{addReportBeanV2.removeAggregateFunction(aggFunc)}" 
                                                       update="selectColumnsPanel">
                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                        </p:commandLink>
                                    </c:forEach>
                                </p:panelGrid>

                                <p:panelGrid styleClass="borderless-grid" columns="2">
                                    <p:outputLabel value="Joins" style="margin: 0;margin-bottom: 1em;"/>
                                    <p:commandButton value="Add Join" actionListener="#{addReportBeanV2.addJoinStatement()}" icon="fa fa-w fa-plus"
                                                     styleClass="topcommands" update="selectColumnsPanel" 
                                                     style="border-radius: 3px;margin-bottom: 1em;margin-left: 1em;padding: 0;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                                </p:panelGrid>

                                <c:forEach items="#{addReportBeanV2.reportModel.joinConfiguration}" var="joinConfig" varStatus="joinLoop">
                                    <p:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" id="joinGrid_#{joinLoop.index}">
                                        <p:outputLabel value="JOIN" style="margin: 0;margin-bottom: 1em;"/>
                                        <p:selectOneMenu id="joinModule" widgetVar="joinModule_#{joinLoop.index}" 
                                                         value="#{joinConfig.joinModule}" style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                         converter="moduleReportsConverterV2">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                            <f:selectItems value="#{addReportBeanV2.moduleList}" var="joinModule" itemLabel="#{joinModule.moduleName}" itemValue="#{joinModule}"/>
                                            <p:ajax  update="joinGrid_#{joinLoop.index}" listener="#{addReportBeanV2.generateColumnsForJoin(joinConfig)}"/>
                                        </p:selectOneMenu>

                                        <p:outputLabel value="ON" style="margin: 0;margin-bottom: 1em;"/>
                                        <p:selectOneMenu widgetVar="joinOnCol_#{joinLoop.index}" 
                                                         value="#{joinConfig.onField}" style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                         converter="moduleFieldsConverterV2">
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                            <f:selectItems value="#{addReportBeanV2.availableColumnList}" var="joinOnField" itemLabel="[#{joinOnField.tableName}] #{joinOnField.fieldName}" itemValue="#{joinOnField}"/>
                                        </p:selectOneMenu>

                                        <p:outputLabel value="=" style="margin: 0;margin-bottom: 1em;"/>
                                        <p:selectOneMenu id="equalField" widgetVar="equalField_#{joinLoop.index}" 
                                                         value="#{joinConfig.equalField}" 
                                                         style="width:19em;border: none;border-bottom: 1px solid #ccc;margin-right: 1em;">
                                            <f:converter converterId="moduleFieldsJoinConverterV2" />
                                            <f:attribute name="moduleId" value="#{joinConfig.joinModule.moduleId.toString()}"/>
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                            <f:selectItems value="#{addReportBeanV2.moduleFieldMap[joinConfig.joinModule.moduleId.toString()]}" 
                                                           var="equalJoinField" itemLabel="[#{equalJoinField.tableName}] #{equalJoinField.fieldName}" itemValue="#{equalJoinField}"/>
                                        </p:selectOneMenu>

                                        <p:commandLink id="trash" actionListener="#{addReportBeanV2.removeJoinStatement(joinConfig)}" 
                                                       update="selectColumnsPanel">
                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                        </p:commandLink>
                                    </p:panelGrid>
                                </c:forEach>



                                <p:outputLabel value="Custom Script" for="customScript" />
                                <p:inputTextarea id="customScript" style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;min-width: 80%;min-height: 10em"
                                                 value="#{addReportBeanV2.reportModel.customColumnScript}"/>
                                
                                
                                <p:panelGrid styleClass="borderless-grid" columns="2">
                                    <p:outputLabel value="Custom Expressions" style="margin: 0;margin-bottom: 1em;"/>
                                    <p:commandButton value="Add Expression" actionListener="#{addReportBeanV2.addCustomExpression()}" icon="fa fa-w fa-plus"
                                                     styleClass="topcommands" update="selectColumnsPanel" 
                                                     style="border-radius: 3px;margin-bottom: 1em;margin-left: 1em;padding: 0;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                                </p:panelGrid>
                                <c:forEach items="#{addReportBeanV2.reportModel.customColumnExpressions}" var="customExpression"
                                           varStatus="customExpLoop">
                                    <p:panelGrid columns="3" style="width: 100%;margin-bottom: 1em" styleClass="borderless-grid"
                                                 id="customExpGrid_#{customExpLoop.index}">
                                        <p:panel style="background: #fff;border: 1px solid #ccc;width: 40em;height: 10em">
                                                <pe:codeMirror id="customExpressionCodeMirror_#{customExpLoop.index}" mode="sql" theme="neo"
                                                               widgetVar="customExpressionCodeMirror_#{customExpLoop.index}"
                                                               value="#{customExpression.expression}" 
                                                               completeMethod="#{addReportBeanV2.expressionCodeHelper.complete}"
                                                               extraKeys="{ 'Ctrl-Space': function(cm) { PF('customExpressionCodeMirror_#{customExpLoop.index}').complete(); }}"
                                                               keyMap="default" lineNumbers="false" smartIndent="true" 
                                                               matchBrackets="true" />
                                            </p:panel>
                                        <p:inputText value="#{customExpression.alias}"/>
                                        <p:commandLink  actionListener="#{addReportBeanV2.removeCustomExpression(customExpression)}" 
                                                       update="selectColumnsPanel">
                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                        </p:commandLink>
                                    </p:panelGrid>
                                </c:forEach>
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="selectGroups" title="Select Groups" >
                        <p:panel style="margin-bottom:10px;background: #fff;border: none" id="groupPanel">
                            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">Group Configuration</ul>
                                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
                            </div>
                            <p:panelGrid columns="2" styleClass="borderless-grid reports-grid">
                                <p:commandButton value="Add Group" actionListener="#{addReportBeanV2.addNewGroup()}" 
                                                 styleClass="topcommands" update="groupPanel" style="border-radius: 3px;margin-bottom: 1em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                                <h:panelGroup>
                                    <c:forEach items="#{addReportBeanV2.reportModel.groupByList}" var="group" varStatus="loop"> 
                                        <p:panelGrid columns="2" style="width: 100%;margin-bottom: 1em" >
                                            <p:selectOneMenu id="groupModel_#{loop.index}" widgetVar="groupModel_" value="#{group}" 
                                                             style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                             converter="moduleFieldsConverterV2">
                                                <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                                <f:selectItems value="#{addReportBeanV2.filterColumnList}" />
                                            </p:selectOneMenu>

                                            <p:commandLink actionListener="#{addReportBeanV2.removeGroup(group)}" update="groupPanel"  style="vertical-align: middle">
                                                <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                            </p:commandLink>
                                        </p:panelGrid>
                                    </c:forEach>
                                </h:panelGroup>
                            </p:panelGrid>

                        </p:panel>
                        <p:panel style="margin-bottom:10px;background: #fff;border: none"  id="orderPanel">
                            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">Order Configuration</ul>
                                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
                            </div>

                            <p:panelGrid columns="2" styleClass="borderless-grid reports-grid">
                                <p:commandButton value="Add Order By" actionListener="#{addReportBeanV2.addNewOrderBy()}" 
                                                 styleClass="topcommands" update="orderPanel" style="border-radius: 3px;margin-bottom: 1em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>

                                <h:panelGroup>
                                    <c:forEach items="#{addReportBeanV2.reportModel.orderByList}" var="orderBy" varStatus="loop">
                                        <p:panelGrid columns="3" style="width: 100%;margin-bottom: 1em" >
                                            <p:selectOneMenu id="orderModel_#{loop.index}" widgetVar="orderModel_#{loop.index}" value="#{orderBy.orderField}" 
                                                             style="width:19em;border: none;border-bottom: 1px solid #ccc;margin-right: 1em;"
                                                             converter="moduleFieldsConverterV2">
                                                <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                                <f:selectItems value="#{addReportBeanV2.filterColumnList}" />
                                            </p:selectOneMenu>

                                            <p:selectOneMenu id="orderType_#{loop.index}" widgetVar="orderType_#{loop.index}" value="#{orderBy.orderType}" 
                                                             style="width:19em;border: none;border-bottom: 1px solid #ccc;margin-right: 1em;">
                                                <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                                <f:selectItem itemLabel="Ascending" itemValue="ASC"/>
                                                <f:selectItem itemLabel="Descending" itemValue="DESC"/>
                                            </p:selectOneMenu>

                                            <p:commandLink actionListener="#{addReportBeanV2.removeOrderBy(orderBy)}" update="orderPanel" style="vertical-align: middle"> 
                                                <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                            </p:commandLink>
                                        </p:panelGrid>
                                    </c:forEach>
                                </h:panelGroup>

                            </p:panelGrid>

                        </p:panel>
                    </p:tab>

                    <p:tab id="selectFilters" title="Select Filters">
                        <p:panel style="margin-bottom:10px;background: #fff;border: none" id="filterPanel">
                            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;">Filter Configuration</ul>
                                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: .1px solid #e1dfdf;"/>
                            </div>
                            <p:panelGrid styleClass="borderless-grid" columns="2">
                                <p:outputLabel value="All conditions must be met" style="font-weight: normal;color: #7e7e7e;font-size: 14px;"/>
                                <p:commandButton value="Add Condition" actionListener="#{addReportBeanV2.addNewANDCondition()}" icon="fa fa-w fa-plus"
                                                 styleClass="topcommands" update="filterPanel" style="border-radius: 3px;margin-bottom: 1em;margin-left: 8.5em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                            </p:panelGrid>

                            <c:forEach items="#{addReportBeanV2.reportModel.ANDFilterList}" var="ANDFilters" varStatus="loop">
                                <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" id="filterGrid_#{loop.index}">
                                    <p:selectOneMenu id="andFilterCol" widgetVar="andFilterCol_#{loop.index}" 
                                                     value="#{ANDFilters.fieldModel}" style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                     converter="moduleFieldsConverterV2">
                                        <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                        <f:selectItems value="#{addReportBeanV2.filterColumnList}" />
                                        <p:ajax  update="filterGrid_#{loop.index}"/>
                                    </p:selectOneMenu>

                                    <p:selectOneMenu id="console" widgetVar="console_#{loop.index}" value="#{ANDFilters.operator}" 
                                                     style="width:13em;border: none;border-bottom: 1px solid #ccc;">
                                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                        <f:selectItem itemLabel="Equal" itemValue="=" />
                                        <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                        <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
                                        <f:selectItem itemLabel="Less Than" itemValue="&le;" />
                                        <f:selectItem itemLabel="Contains" itemValue="LIKE" />
                                        <f:selectItem itemLabel="Between" itemValue="BETWEEN" />
                                        <p:ajax update="valhueHolderPanel_#{loop.index}"/>
                                    </p:selectOneMenu>

                                    <p:panel style="border: none" id="valhueHolderPanel_#{loop.index}">
                                        <h:panelGroup rendered="#{ANDFilters.fieldModel.fieldType eq 'DATE'}">
                                            <h:panelGrid columns="2" style="width: 100%;margin-bottom: 1em"  
                                                         rendered="#{ANDFilters.operator eq 'BETWEEN'}">
                                                <h:panelGroup>
                                                    <p:outputLabel value="Dynamic" style="font-weight: normal;margin-right: 0.5em;margin-top: 1em"/>
                                                    <p:selectBooleanCheckbox value="#{ANDFilters.dynamicDate}" style="margin-right: 0.5em"> 
                                                        <p:ajax update="filterGrid_#{loop.index}" />
                                                    </p:selectBooleanCheckbox>
                                                </h:panelGroup>
                                                <h:panelGroup rendered="#{ANDFilters.dynamicDate eq false}">
                                                    <p:calendar value="#{ANDFilters.dateFrom}" showOn="button" pattern="yyyy-MM-dd" >
                                                        <f:convertDateTime pattern="yyyy-MM-dd" />
                                                    </p:calendar>
                                                    <p:calendar value="#{ANDFilters.dateTo}" showOn="button" pattern="yyyy-MM-dd" >
                                                        <f:convertDateTime pattern="yyyy-MM-dd" />
                                                    </p:calendar>
                                                </h:panelGroup>
                                                <h:panelGroup rendered="#{ANDFilters.dynamicDate eq true}">
                                                    <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em">
                                                        <p:outputLabel value="From" style="font-weight: bold;margin-top: 1em"/>
                                                        <p:selectOneMenu widgetVar="andDynamicDateFrom_#{loop.index}" value="#{ANDFilters.dataFrom}" 
                                                                         style="width:13em;border: none;border-bottom: 1px solid #ccc;">
                                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                            <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                            <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                        </p:selectOneMenu>

                                                        <p:outputLabel value="To" style="font-weight: bold;margin-top: 1em"/>
                                                        <p:selectOneMenu widgetVar="andDynamicDateTo_#{loop.index}" value="#{ANDFilters.dataTo}" 
                                                                         style="width:13em;border: none;border-bottom: 1px solid #ccc;">
                                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                                            <f:selectItem itemLabel="First of Month" itemValue="FOM" />
                                                            <f:selectItem itemLabel="End of Month" itemValue="EOM" />
                                                        </p:selectOneMenu>
                                                    </h:panelGrid>
                                                </h:panelGroup>
                                            </h:panelGrid>


                                            <p:calendar value="#{ANDFilters.value}" showOn="button" pattern="yyyy-MM-dd" rendered="#{ANDFilters.operator ne 'BETWEEN'}"
                                                        styleClass="single-calendar">
                                                <f:convertDateTime pattern="yyyy-MM-dd" />
                                            </p:calendar>
                                        </h:panelGroup>

                                        <p:inputText style="border:none;border-bottom: 1px solid #ccc;padding: 0.7em;min-width: 30em"
                                                     value="#{ANDFilters.value}" rendered="#{ANDFilters.fieldModel.fieldType ne 'DATE'}"/>
                                    </p:panel>

                                    <p:commandLink actionListener="#{addReportBeanV2.removeANDCondition(ANDFilters)}" 
                                                   update="filterPanel">
                                        <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                    </p:commandLink>
                                </h:panelGrid>
                            </c:forEach>

                            <p:panelGrid styleClass="borderless-grid" columns="2">
                                <p:outputLabel value="At least one of the conditions must be met" style="font-weight: normal;color: #7e7e7e;font-size: 14px;"/>
                                <p:commandButton value="Add Condition" actionListener="#{addReportBeanV2.addNewORCondition}" icon="fa fa-w fa-plus"
                                                 styleClass="topcommands" update="filterPanel" style="border-radius: 3px;margin-bottom: 1em;border-radius: 10em !important;border: 2px solid #b5b5b5 !important;"/>
                            </p:panelGrid>

                            <c:forEach items="#{addReportBeanV2.reportModel.ORFilterList}" var="ORFilters" varStatus="loopOR">
                                <h:panelGrid columns="4" style="width: 100%;margin-bottom: 1em" >
                                    <p:selectOneMenu id="orFilterCol" widgetVar="orFilterCol_#{loopOR.index}" 
                                                     value="#{ORFilters.fieldModel}" style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                                     converter="moduleFieldsConverterV2">
                                        <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                                        <f:selectItems value="#{addReportBeanV2.filterColumnList}" />
                                    </p:selectOneMenu>

                                    <p:selectOneMenu id="consoleOR" widgetVar="consoleOR_#{loopOR.index}" value="#{ORFilters.operator}" 
                                                     style="width:13em;border: none;border-bottom: 1px solid #ccc;">
                                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                        <f:selectItem itemLabel="Equal" itemValue="=" />
                                        <f:selectItem itemLabel="Greater Than" itemValue="&ge;" />
                                        <f:selectItem itemLabel="Less Than" itemValue="&le;" />
                                        <f:selectItem itemLabel="Contains" itemValue="LIKE" />
                                    </p:selectOneMenu>

                                    <p:inputText style="border:none;border-bottom: 1px solid #ccc;padding: 0.7em;min-width: 30em"
                                                 value="#{ORFilters.value}"/>

                                    <p:commandLink actionListener="#{addReportBeanV2.removeORCondition(ORFilters)}" 
                                                   update="filterPanel">
                                        <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                                    </p:commandLink>
                                </h:panelGrid>
                            </c:forEach>

                            <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%">
                                <p:outputLabel value="Custom Clause" for="customClause" />
                                <p:inputTextarea id="customClause" style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;min-width: 80%;min-height: 10em"
                                                 value="#{addReportBeanV2.reportModel.customFilterScript}"/>
                            </p:panelGrid>

                            <footer class="footer">
                                <p:commandButton value="Generate Report"  actionListener="#{addReportBeanV2.generateReport()}" 
                                                 styleClass="save-button" update="reportDialog" disabled="#{!addReportBeanV2.enableReportGeneration}"/>
                                <p:commandButton value="Save" id="save"  actionListener="#{addReportBeanV2.save()}" styleClass="save-button" update="@form"/>
                                <p:commandButton value="Cancel" id="cancel" actionListener="#{addReportBeanV2.cancel()}" styleClass="cancel-button"/>
                            </footer>
                        </p:panel>
                    </p:tab>
                </p:wizard>

            <p:dialog header="Columns" id="columnsReorderDialog" widgetVar="columnsReorderDialog" modal="true"  width="700" position="center center" 
                      style="border-radius: 4px;text-align: -webkit-center;" dynamic="true">
                <p:orderList id="selectedColumnsOrderList" value="#{addReportBeanV2.reportModel.fieldList}" var="columnx"
                             itemValue="#{columnx}" itemLabel="#{columnx.fieldLabel} (#{columnx.fieldName})"
                             converter="moduleFieldsConverterV2"  responsive="true">
                    <p:ajax event="reorder"  update="selectedColumns" listener="#{addReportBeanV2.onReorder()}"/>
                </p:orderList>
            </p:dialog>

            <p:dialog header="Report" id="reportDialog" widgetVar="reportDialog" modal="true" height="600" width="700" position="center center" 
                      style="border-radius: 4px;text-align: -webkit-center;" dynamic="true">
                <pe:documentViewer height="500" value="#{applicationBean.reportPdf}" download="extensions-rocks.pdf">
                    <f:param name="reportId" value="#{addReportBeanV2.reportModel.reportDetails.fieldValueMap.get('id').currentValue}" />
                </pe:documentViewer> 
            </p:dialog>
        </p:panel>



    </ui:define>

</ui:composition>