<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        App Builder
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fff !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Home" outcome="home" />
        </p:breadCrumb>

        <div style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul style="font-size: 2.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent;font-family: Roboto;
                font-weight: 200;">Welcome to Beezer AppBuilder</ul>
            <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 0px solid #e1dfdf;"/>
        </div>

        <p:wizard flowListener="#{appBuilderBean.onFlowProcess}">
            <p:tab id="appDetails" title="App Details" titleStyleClass="chevron1">
                <p:panel>
                    <p:panelGrid columns="2" styleClass="borderless-grid">
                        <p:outputLabel value="App Name" style="padding: 1em;font-weight: normal;font-size: 15px" for="appName"/>
                        <h:inputText id="appName" value="#{appBuilderBean.applicationModel.appName}" 
                                     style="border: none;
                                     border-bottom: 1px solid #a7a7a7;padding: 0.9em;width: 23em;margin-bottom: 1em" required="true"/>

                        <p:outputLabel value="Description" style="padding: 1em;font-weight: normal;font-size: 15px"/>
                        <p:inputTextarea rows="3" cols="60" style="border: none;
                                         border: 1px solid #a7a7a7;padding: 0.9em;width: auto"
                                         value="#{appBuilderBean.applicationModel.appDescription}"/>

                        <p:outputLabel value="App Icon" style="padding: 1em;font-weight: normal;font-size: 15px" for="appIcon"/>
                        <p:fileUpload id="appIcon" fileUploadListener="#{appBuilderBean.onContentSelect}"
                                      auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                        </p:fileUpload>

                        <p:outputLabel value="Default App" style="padding: 1em;font-weight: normal;font-size: 15px" />
                        <p:selectBooleanCheckbox value="#{appBuilderBean.applicationModel.defaultApp}"/>
                    </p:panelGrid>
                </p:panel>

            </p:tab>

            <p:tab id="moduleDetails" title="Modules Configuration" titleStyleClass="chevron2">
                <p:panel>
                    <p:commandButton icon="fa fa-plus" styleClass="topcommands"
                                     style="border-radius: 3px;margin-bottom: 1em;"  value="Add Modules Group"
                                     immediate="true" actionListener="#{appBuilderBean.openAddGroupDialog}" update="moduleAccordionList">
                    </p:commandButton>

                    <p:accordionPanel value="#{appBuilderBean.applicationModel.moduleConfigMap.entrySet().toArray()}" id="moduleAccordionList"
                                      var="group" >
                        <p:ajax event="tabChange" listener="#{appBuilderBean.onTabChange}" />
                        <p:ajax event="tabClose" listener="#{appBuilderBean.onTabClose}" />
                        <p:tab title="#{group.key}">
                            <p:panelGrid columns="1" styleClass="borderless-grid">
                                <p:commandButton icon="fa fa-plus" styleClass="topcommands"
                                                 style="border-radius: 3px;margin-bottom: 1em;margin-left: 5em"  value="Add Module"
                                                 immediate="true" onclick="PF('moduleSideBar').show()">
                                </p:commandButton>

                                <p:pickList id="modulePickList" value="#{appBuilderBean.groupDualListMap[group.key]}" var="dualModule"
                                            itemValue="#{dualModule}" itemLabel="#{dualModule.moduleName}" 
                                            showSourceControls="true" showTargetControls="true" showCheckbox="true" responsive="true"
                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" converter="appBuilderModulesConverter">
                                    <p:ajax event="transfer" listener="#{appBuilderBean.onTransfer}"  />
                                    <p:column style="width:85%;">
                                        <h:outputText value="#{dualModule.moduleName}" />
                                    </p:column>
                                </p:pickList>
                            </p:panelGrid>
                        </p:tab>
                    </p:accordionPanel>

                    <p:commandButton value="Save My App" actionListener="#{appBuilderBean.saveApp}"  style="margin-top: 1em"
                                     process="@this" styleClass="save-button"/>
                </p:panel>
            </p:tab>
        </p:wizard>

        <p:dialog header="Add Modules Group" 
                  id="addModuleGroupDialog" widgetVar="addModuleGroupDialog" modal="true" width="500" position="top center" 
                  style="border-radius: 2px;text-align: -webkit-center;" dynamic="true" styleClass="dialog-view">
            <p:panelGrid columns="1" styleClass="borderless-grid" style="text-align: center">
                <h:panelGroup>
                    <p:outputLabel value="Group Name" style="padding: 1em;font-weight: normal;font-size: 15px" for="groupName"/>
                    <h:inputText id="groupName" value="#{appBuilderBean.groupName}" 
                                 style="border: none;
                                 border-bottom: 1px solid #a7a7a7;padding: 0.9em;width: 23em;margin-bottom: 1em" required="true"/>
                </h:panelGroup>
                <p:commandButton value="Done" actionListener="#{appBuilderBean.addNewGroup}"
                                 oncomplete="PF('addModuleGroupDialog').hide()"  /> 
            </p:panelGrid>
        </p:dialog>

        <p:confirmDialog message="It seems like you already have a group with the same name"
                         header="Duplicate Group"
                         widgetVar="duplicateGroupMsgDialog"
                         style="text-align: center" >  
            <p:commandButton value="Ok"
                             onclick="PF('duplicateGroupMsgDialog').hide()"  />   
        </p:confirmDialog>

        <p:sidebar id="moduleSideBar" widgetVar="moduleSideBar" position="right" 
                   style="width: max-content;overflow-y: auto;border: none">
            <h1 style="font-weight:normal">Add Module</h1>
            <ui:include src="/WEB-INF/templates/appBuilder/addModuleComponent.xhtml">
                <ui:param name="requestorBean" value="#{appBuilderBean.moduleManagerService}" />
            </ui:include>
            <p:commandButton value="Save" actionListener="#{appBuilderBean.saveModule}" styleClass="save-button"
                             update="moduleAccordionList"/>
        </p:sidebar>
    </ui:define>

</ui:composition>