<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Custom Module
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #f0f4f4 !important;
            }
        </style>
        
        <h:panelGroup>
             <iframe id="iframeCenter" src="#{customPageBean.targetUrl}" width="100%"  
                        height="100%" frameborder="0" >  </iframe>  
        </h:panelGroup>

<!--        <pe:layout fullPage="true" >
            <pe:layoutPane id="center" class="layoutUnitCenter" position="center" resizable="true" >     
               
                
            </pe:layoutPane>
        </pe:layout>-->

    </ui:define>

</ui:composition>