<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ct="http://www.chartistjsf.org/charts">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Dashboard
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fbfbfb !important;
            }
        </style>

        <h:body onload="loadWidgets()">
            <p:remoteCommand name="loadWidgets" 
                             update="@form" 
                             actionListener="#{dashboardBean.initializeWidgets}"/> 
            <p:panel style="border: none;background: transparent;direction: #{accessBean.userModel.rtl? 'rtl':'ltr'}" >
                <p:commandButton  value="Add Widget" id="addWidgetButton"
                                  actionListener="#{requestorBean.addNewRecord}" icon="fa fa-w fa-plus" styleClass="topcommands"
                                  style="border-radius: 1px;border-width: 1px !important" />
                <p:overlayPanel for="addWidgetButton" showEvent="mouseover"
                                showEffect="fade" hideEffect="fade" styleClass="user-snippet">
                    <p:panelGrid columns="1" style="border: none;width: 100%">
                        <p:commandLink value="Add Report" actionListener="#{dashboardBean.onReportWidgetSelect}"/>
                        <!--                    <p:commandLink value="Add Data View"/>
                                            <p:commandLink value="Add List"/>-->
                    </p:panelGrid>
                </p:overlayPanel>
            </p:panel>

            <p:dashboard id="board" model="#{dashboardBean.dashboardModel}" style="width: 100%" styleClass="beezer-dashboard">
                <c:forEach items="#{dashboardBean.dashboardWidgetsList}" var="widget">
                    <p:panel id="id_#{widget.id}"  style="width: 100%;margin-bottom: 1em" styleClass="dashboard-panel">
                        <f:facet name="header" class="dashboard-header">
                            <p:outputLabel value="#{widget.title}" rendered="false"/>
                            <p:inplace editor="true" >
                                <p:ajax event="save" listener="#{dashboardBean.handleTitleUpdate(widget)}" update="@form"/>
                                <p:inputText value="#{widget.title}" required="true" label="text" />
                            </p:inplace>
                            <p:commandLink actionListener="#{dashboardBean.deleteWidget(widget)}" update="@form" style="float: right">
                                <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="margin-right: 1em"/>
                            </p:commandLink>
                        </f:facet>
                        <ui:include src="/WEB-INF/templates/reports/reportViewBuilder.xhtml">
                            <ui:param name="viewerBean" value="#{dashboardBean.reportViewerMap[widget.id]}" />
                        </ui:include>
                    </p:panel>
                </c:forEach>
            </p:dashboard>
        </h:body>

        <p:dialog header="Add Widget" id="addWidgetDialog" widgetVar="addWidgetDialog" modal="true" width="500" 
                  position="center top" styleClass="form-dialog" style="border-radius: 4px;text-align: -webkit-center;">
            <p:panelGrid columns="2" styleClass="borderless-grid" style="width: 100%" rendered="#{dashboardBean.dashboardWidget ne null}">
                <p:outputLabel value="Widget Title" style="font-weight: normal;margin-right: 3em"/>
                <p:inputText style="padding: 0.5em;border: none;
                             border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                             value="#{dashboardBean.dashboardWidget.title}"/>

                <c:choose>
                    <c:when test="${dashboardBean.dashboardWidget.widgetType eq 'REPORT'}">
                        <p:outputLabel value="Choose Report" style="font-weight: normal;margin-right: 3em"/>
                        <p:selectOneMenu value="#{dashboardBean.dashboardWidget.dashboardConfig.reportId}" 
                                         style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                         filter="true" filterMatchMode="contains">
                            <f:selectItem itemLabel="Select" itemValue=""/>
                            <f:selectItems value="#{dashboardBean.reportsBean.reportList}"
                                           var="reportRecord" itemLabel="#{reportRecord.fieldValueMap['report_name'].currentValue}" 
                                           itemValue="#{reportRecord.fieldValueMap['id'].currentValue}"/>
                            <p:ajax listener="#{dashboardBean.onReportSelect(dashboardBean.dashboardWidget.dashboardConfig.reportId)}"/>
                        </p:selectOneMenu>
                    </c:when>
                </c:choose>
            </p:panelGrid>
            <p:commandButton value="Save" actionListener="#{dashboardBean.save}" styleClass="save-button" update="@form"/>
        </p:dialog>

    </ui:define>

</ui:composition>