<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ct="http://www.chartistjsf.org/charts">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>


    <ui:define name="title">
        Dashboard
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fbfbfb !important;
            }
        </style>
        <style>
            #{dashboardV2Bean.customCssStyling}
        </style>
        <script>
            $(document).ready(function () {
                var trigger = $('.hamburger'),
                        overlay = $('.overlay'),
                        isClosed = true;
                trigger.click(function () {
                    hamburger_cross();
                });
                function hamburger_cross() {

                    if (isClosed === true) {
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                });
            });
        </script>
        <script>
                $(document).ready(function (){
                    if (window.innerWidth &lt; 800){
                $('#wrapper').removeClass("toggled");
                } else{
                $('#wrapper').addClass("toggled");
                }
                });
            </script>

        <h:body onload="loadWidgets()">
            <p:remoteCommand name="loadWidgets" 
                             update="@form" 
                             actionListener="#{dashboardV2Bean.initializeWidgets}"/> 
            <h:outputText value="#{dashboardV2Bean.customLinkStyling}" escape="false" />

            <p:dashboard id="board" model="#{dashboardV2Bean.dashboardModel}" style="width: 100%" styleClass="beezer-dashboard">
                <c:forEach items="#{dashboardV2Bean.dashboardWidgetsList}" var="dashboardItem">
                    <c:if  test="${not empty dashboardItem.dashboardConfiguration and not empty dashboardItem.dashboardConfiguration.widgetList}">
                        <c:forEach items="#{dashboardItem.dashboardConfiguration.widgetList}" var="widget">
                            <c:choose>
                                <c:when test="${widget.widgetType eq 'REPORT'}">
                                    <p:panel id="id_#{widget.widgetId}"  style="width: 100%;margin-bottom: 1em" styleClass="dashboard-panel">
                                        <f:facet name="header" class="dashboard-header">
                                            <p:outputLabel value="#{widget.title}" rendered="true"/>
                                        </f:facet>
                                        <ui:include src="/WEB-INF/templates/reports/reportViewBuilder.xhtml">
                                            <ui:param name="viewerBean" value="#{dashboardV2Bean.reportViewerMap[widget.widgetId]}" />
                                        </ui:include>
                                    </p:panel>
                                </c:when>
                                <c:when test="${widget.widgetType eq 'CUSTOM'}">
                                    <p:panel id="id_#{widget.widgetId}"  style="width: 100%;margin-bottom: 1em;border: none;box-shadow: none" styleClass="dashboard-panel">
                                        <h:outputText value="#{dashboardV2Bean.customViewMap[widget.widgetId]}" escape="false" />
                                    </p:panel>
                                </c:when>
                            </c:choose>
                        </c:forEach>
                    </c:if>


                </c:forEach>
            </p:dashboard>
        </h:body>

    </ui:define>

</ui:composition>