<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Data
    </ui:define>

    <ui:define name="content">
        <h:outputScript >
            $(document).ready(function (){
            if (window.innerWidth &lt; 800){
            $('.overlay').hide();
            $('#wrapper').removeClass("toggled");
            } else{
            $('#wrapper').addClass("toggled");
            }
            });
        </h:outputScript>

        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="background: transparent">
            <p:menuitem value="Categories" outcome="personal-dashboard"/>
            <p:menuitem value="#{dataBean.moduleBreadCrumbName}" url="#" />
        </p:breadCrumb>

        <div class="ui-fluid">
            <p:panelGrid columns="1" styleClass="borderless-grid data_panel_container" style="width: 100%;table-layout: fixed">
                <!--                <p:panel style="margin-bottom:0px;background: #fff;width: 100%" styleClass="form-container">
                                    <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
                                        <ui:param name="requestorBean" value="#{dataBean}" />
                                    </ui:include>
                                </p:panel>-->

                <!--                <p:panel style="margin-bottom:0px;background: #fff;width: 100%" styleClass="form-container">
                                    <ui:include src="/WEB-INF/templates/topCommandsTemplate.xhtml" >
                                        <ui:param name="requestorBean" value="#{dataBean}" />
                                        <ui:param name="permittedToCreate" value="#{accessBean.isPermittetedToCreate(dataBean.moduleId)}" />
                                        <ui:param name="objectName" value="Record" />
                                        <ui:param name="generic" value="true" />
                                    </ui:include>
                                </p:panel>-->

                <p:panel id="dataViewsPanel" style="margin-bottom:0px;background: #fff;width: 100%" styleClass="data-view-panel form-container">
                    
                    <ui:include src="/WEB-INF/templates/topCommandsTemplateMenu.xhtml" >
                        <ui:param name="requestorBean" value="#{dataBean}" />
                        <ui:param name="permittedToCreate" value="#{accessBean.isPermittetedToCreate(dataBean.moduleId)}" />
                        <ui:param name="objectName" value="Record" />
                        <ui:param name="generic" value="true" />
                    </ui:include>
                    
                    <p:outputPanel deferred="true" class="mt-2" style="width: 100%" >
                    <p:ajax event="load"/>
                    <h:panelGroup rendered="#{!dataBean.showStructuredView}" id="recordViewPanel">
                        <ui:include src="/WEB-INF/templates/dataView/dataViewBuilder.xhtml">
                            <ui:param name="viewSettings" value="#{dataBean.dataViewSettings}" />
                            <ui:param name="requestorBean" value="#{dataBean}" />
                        </ui:include>
                    </h:panelGroup>
                </p:outputPanel>
                    


                    <!--            <p:panel id="dataViewsPanel" style="border: none">
                                    <h:panelGroup rendered="#{!dataBean.showStructuredView}" id="recordViewPanel">
                                        <c:choose>
                                            <c:when test="${dataBean.loadDefaultView}">
                                                <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                                                    <ui:param name="requestorBean" value="#{dataBean}" />
                                                </ui:include>
                                            </c:when>
                                            <c:otherwise>
                                                <ui:include src="/WEB-INF/templates/dataView/dataViewBuilder.xhtml">
                                                    <ui:param name="viewSettings" value="#{dataBean.dataViewSettings}" />
                                                    <ui:param name="requestorBean" value="#{dataBean}" />
                                                </ui:include>
                                            </c:otherwise>
                                        </c:choose>
                                    </h:panelGroup>-->

<!--                <h:panelGroup rendered="#{dataBean.showStructuredView}"  id="structuredViewPanel">
                    <ui:include src="/WEB-INF/templates/dataView/StructuredViewBuilder.xhtml" >
                        <ui:param name="requestorBean" value="#{dataBean}" />
                    </ui:include>
                </h:panelGroup>-->
                </p:panel>
            </p:panelGrid>

        </div>

        <p:sidebar id="addPrinterConfigurationDialog" widgetVar="addPrinterConfigurationDialog" position="right" 
                   style="width: max-content;overflow-y: auto;border: none" >
            <h1 style="font-weight:normal">Label Sheet Configuration</h1>
            <h:panelGrid columns="2" id="printerConfigPanel">
                <!--                <p:outputLabel value="Configuration Name" style="padding: 1em" for="configurationName"/>
                                <h:inputText id="configurationName" value="#{labelPrinterManagerBean.labelPrinterConfiguration.configName}" disabled="false"
                                             style="border: 1px solid #d6d6d6;border-radius: 2px;padding: 0.9em;width: 23em;margin-bottom: 1em" required="false"/>-->

                <!--                <p:outputLabel for="configurationModule" value="Target Module" style="padding: 1em"/>
                                <p:selectOneMenu id="configurationModule" value="#{labelPrinterManagerBean.labelPrinterConfiguration.moduleId}" 
                                                 style="width:19em;display: inline-flex;">
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                    <f:selectItems value="#{labelPrinterManagerBean.moduleManagerMap}" var="v"/>
                                    <p:ajax update="printerConfigPanel" process="printerConfigPanel" listener="#{labelPrinterManagerBean.onModuleSelect()}"/>
                                </p:selectOneMenu>-->

                <p:outputLabel value="Target Barcode Field" style="padding: 1em;padding-right: 2em;"/>
                <p:selectOneMenu value="#{dataBean.labelPrinterConfiguration.labelConfig.barcodeTargetFiled}" 
                                 style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                    <f:selectItems value="#{dataBean.fieldsList}" var="fields" itemLabel="#{fields.fieldLabel}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Line One" style="padding: 1em;padding-right: 2em;"/>
                <p:selectOneMenu value="#{dataBean.labelPrinterConfiguration.labelConfig.lineOne}" 
                                 style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                    <f:selectItems value="#{dataBean.fieldsList}" var="fields" itemLabel="#{fields.fieldLabel}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Line Two" style="padding: 1em;padding-right: 2em;"/>
                <p:selectOneMenu value="#{dataBean.labelPrinterConfiguration.labelConfig.lineTwo}" 
                                 style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                    <f:selectItems value="#{dataBean.fieldsList}" var="fields" itemLabel="#{fields.fieldLabel}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <!--                <p:outputLabel value="Line Three" style="padding: 1em;padding-right: 2em;"/>
                                <p:selectOneMenu value="#{labelPrinterManagerBean.labelPrinterConfiguration.labelConfig.lineThree}" 
                                                 style="width:19em;display: inline-flex;">
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                                    <f:selectItems value="#{labelPrinterManagerBean.fieldsList}" var="fields" itemLabel="#{fields.fieldLabel}" itemValue="#{fields.fieldName}"/>
                                </p:selectOneMenu>-->

                <p:outputLabel value="Number of Copies" style="padding: 1em;padding-right: 2em;"/>
                <p:inputNumber value="#{dataBean.labelPrinterConfiguration.labelConfig.numberOfCopies}" 
                               style="border: 1px solid #ccc" minValue="1"/>

                <p:outputLabel value="Paper Size" style="padding: 1em"/>
                <p:selectOneMenu  value="#{dataBean.labelPrinterConfiguration.labelConfig.paperSize}" 
                                  style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                    <f:selectItem itemLabel="A4 Sheet" itemValue="A4_SHEET" />
                    <!--<f:selectItem itemLabel="Roll" itemValue="ROLL" />-->
                    <p:ajax update="printerConfigPanel" process="printerConfigPanel" />
                </p:selectOneMenu>

                <p:outputLabel value="Sheet Size" style="padding: 1em" rendered="#{dataBean.labelPrinterConfiguration.labelConfig.paperSize eq 'A4_SHEET'}"/>
                <p:selectOneMenu  value="#{dataBean.labelPrinterConfiguration.labelConfig.sheetSize}" 
                                  style="width:19em;display: inline-flex;" rendered="#{dataBean.labelPrinterConfiguration.labelConfig.paperSize eq 'A4_SHEET'}">
                    <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                    <!--                    <f:selectItem itemLabel="12 X 2" itemValue="12X2" />
                                        <f:selectItem itemLabel="14 X 2" itemValue="14X2" />
                                        <f:selectItem itemLabel="16 X 2" itemValue="16X2" />-->
                    <!--<f:selectItem itemLabel="21 X 3" itemValue="21X3" />-->
                    <f:selectItem itemLabel="24 X 3" itemValue="24X3" />
                    <!--<f:selectItem itemLabel="40 X 4" itemValue="40X4" />-->
                </p:selectOneMenu>

            </h:panelGrid>

            <p:commandButton value="Submit" rendered="#{not empty dataBean.selectedRecords}"
                             ajax="false" styleClass="save-button" 
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                <p:fileDownload value="#{dataBean.generatePrintableBarcodeSheet()}" />
            </p:commandButton>
            
            <p:commandButton value="Submit" rendered="#{empty dataBean.selectedRecords}"
                             ajax="true" styleClass="save-button" actionListener="#{dataBean.generatePrintableBarcodeSheet()}"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
            </p:commandButton>
        </p:sidebar>
        
        <p:remoteCommand name="updateView" update="dataViewsPanel"/>

        <p:sidebar id="quickEditRecordDialog" widgetVar="quickEditRecordDialog" position="right" dynamic="true" 
                   style="width: 100%;overflow-y: auto;border: none;max-width: 83%;background: #f0f4f4 !important" onHide="updateView()" blockScroll="true">
            <h1 style="font-weight:normal">Quick Edit</h1>
            <h:panelGroup id="quickEditFormHolder" rendered="#{not empty dataBean.addDataBean}">
                <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                <ui:param name="formBean" value="#{dataBean.addDataBean}" />
                <ui:param name="skipQuickAdd" value="true" />
                <ui:param name="formTitle" value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['gnrl_add_new_record']}" />
            </ui:include>

            <footer class="footer">
                <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_save']}" 
                                 actionListener="#{dataBean.saveQuickEdit()}" styleClass="btn btn-primary add-button nohover"
                                 process="@this,messages,formBuilderMasterPanel,recordViewPanel" style="margin-right:1em"
                                 onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide();" oncomplete="PF('waitingDlgName').hide();"/>
            </footer>
            </h:panelGroup>
            
        </p:sidebar>
        
        <p:dialog id="emptySelectionBarcodeGenerationMessage" resizable="false"  dynamic="true" position="center"
            widgetVar="emptySelectionBarcodeGenerationMessage"  modal="true" width="400" style="padding: 0;top: 1em">
            <h:panelGrid columns="1" style="width: 100%">
                <p:outputLabel value="There are no records selected to generate the barcode sheet for. Please select the records you want to generate the sheet for."
                               style="font-weight: normal"/>
                <p:commandButton value="Ok" onclick="PF('emptySelectionBarcodeGenerationMessage').hide();">
                    
                </p:commandButton>
            </h:panelGrid>
        </p:dialog>




<!--        <p:panel rendered="#{dataBean.loadDefaultView}" style="border: none">
            <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                <ui:param name="requestorBean" value="#{dataBean}" />
            </ui:include>
        </p:panel>

        <p:panel rendered="#{!dataBean.loadDefaultView}" style="border: none">
            <ui:include src="/WEB-INF/templates/dataView/dataViewBuilder.xhtml">
                <ui:param name="viewSettings" value="#{dataBean.dataViewSettings}" />
                <ui:param name="requestorBean" value="#{dataBean}" />
            </ui:include>
        </p:panel>-->

    </ui:define>

</ui:composition>