<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Opportunities
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home"/>
            <p:menuitem value="Opportunity" url="#" />
        </p:breadCrumb>
        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
            <ui:param name="requestorBean" value="#{dealsBean}" />
        </ui:include>

        <ui:include src="/WEB-INF/templates/topCommandsTemplate.xhtml" >
            <ui:param name="requestorBean" value="#{dealsBean}" />
            <ui:param name="objectName" value="Deal" />
            <ui:param name="additionPage" value="addDeal" />
        </ui:include>

        <div>
            <p:dataTable var="recList" value="#{dealsBean.lazyRecordModel}" 
                         widgetVar="orgTable" id="dataTable" rowStyleClass="#{recList.fieldValueMap['deal_status'].currentValue eq 'ADJ'? 'orange-alert-row':null }"
                         style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                         paginator="true" paginatorPosition="bottom" selection="#{dealsBean.selectedRecords}" 
                         lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}" draggableColumns="true">
                <f:facet name="header" class="table-col-header">
                    <!--                <p:commandButton id="toggler" type="button"  icon="fa fa-bars" 
                                                     style="border: 1px solid #cecece;color: #4e4e4e;background: #ffffff;border-radius: 8em;" />-->
                    <p:columnToggler datasource="#{tableId ne null? tableId : 'dataTable'}" trigger="toggler"/>
                </f:facet>
                <p:ajax event="rowSelect" listener="#{dealsBean.onRowSelect}" update="@form" onstart="PF('waitingDlgName').show()"/>
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                <p:columns var="fields" value="#{dealsBean.settingsList}" headerText="#{fields.columnLabel}" 
                           sortBy="#{fields.columnFieldName}" >
                    <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                </p:columns>

<!--                <c:forEach items="#{dealsBean.settingsList}" var="fields">
                    <p:column headerText="#{fields.columnLabel}" sortBy="#{fields.columnFieldName}">
                        <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                    </p:column>
                </c:forEach>-->
            </p:dataTable>

            <p:blockUI block="#{tableId ne null? tableId : 'dataTable'}">
                <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
            </p:blockUI>
        </div>

    </ui:define>

</ui:composition>