<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Field Manager
    </ui:define>

    <ui:define name="content" id="contentDefine">
        <p:messages id="messages" showDetail="true"  closable="true"/>
        <p:panel style="margin-left: auto;margin-right: auto;border: none;">
            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">Field Builder</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
            </div>
            <p:panelGrid columns="3" style="border: none;width: 100%" styleClass="borderless-grid">
                <p:outputLabel value="Choose Module" style="font-weight: normal;float: left;font-size: 15px;color: #616161;"/>

                <p:selectOneMenu value="#{fieldManagerBean.selectModuleId}" 
                                 style="width:19em;display: inline-flex;border: none;float: left;border-bottom: 1px solid #ccc;margin-left: -28em;"
                                 styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue=""/>
                    <f:selectItems value="#{fieldManagerBean.moduleManagerMap}" var="v"/>
                    <p:ajax listener="#{fieldManagerBean.loadFieldSet()}" update="@form"/>
                </p:selectOneMenu>

<!--                <p:commandButton icon="fa fa-plus" value="Add Field" update="fieldsTable" disabled="#{fieldManagerBean.selectModuleId eq null}"
                                 style="border-radius: 3px;float: right" styleClass="topcommands" actionListener="#{fieldManagerBean.addNewField()}"
                                 oncomplete="jQuery('.dummy .ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){jQuery(this).click()}); "/>-->

                <p:commandButton icon="fa fa-plus" value="Add Field" update="fieldsTable" disabled="#{fieldManagerBean.selectModuleId eq null}"
                                 style="border-radius: 3px;float: right" styleClass="topcommands" 
                                 actionListener="#{fieldManagerBean.addNewField()}"/>
            </p:panelGrid>
        </p:panel>

<!--        <p:dataTable id="fieldsTable" var="fields" widgetVar="fields" value="#{fieldManagerBean.fieldsList}" styleClass="datatable dummy"
                     rows="10" paginator="true" paginatorPosition="bottom" editable="true">
            <f:facet name="header">
                Module Fields Configuration
            </f:facet>
            <p:ajax event="rowEdit" listener="#{fieldManagerBean.onRowEdit}" update="fieldsTable" />
            <p:ajax event="rowEditCancel" listener="#{fieldManagerBean.onRowCancel}" update="@this" />
            <p:column headerText="Field Name">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.fieldName}" /></f:facet>
                    <f:facet name="input"><p:inputText id="modelInput1" value="#{fields.fieldName}" style="width:100%;height: 2em;box-shadow: none"/></f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Label">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.fieldLabel}" /></f:facet>
                    <f:facet name="input"><p:inputText id="modelInput2" value="#{fields.fieldLabel}" style="width:100%;height: 2em;box-shadow: none"/></f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Type">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.fieldType}" /></f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{fields.fieldType}" style="width:100%;height: 2em">
                            <f:selectItem itemLabel="TEXT" itemValue="TEXT" />
                            <f:selectItem itemLabel="INT" itemValue="INT" />
                            <f:selectItem itemLabel="DECIMAL" itemValue="DECIMAL" />
                            <f:selectItem itemLabel="BOOLEAN" itemValue="BOOLEAN" />
                            <f:selectItem itemLabel="DATE" itemValue="DATE" />
                            <f:selectItem itemLabel="REL" itemValue="REL" />
                            <f:selectItem itemLabel="LOOKUP" itemValue="LOOKUP" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="key">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.isKey}" /></f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{fields.isKey}" style="width:100%;height: 2em">
                            <f:selectItem itemLabel="true" itemValue="true" />
                            <f:selectItem itemLabel="false" itemValue="false" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Mandatory">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.isMandatory}" /></f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{fields.isMandatory}" style="width:100%;height: 2em">
                            <f:selectItem itemLabel="true" itemValue="true" />
                            <f:selectItem itemLabel="false" itemValue="false" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Custom">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.isCustom}" /></f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{fields.isCustom}" style="width:100%;height: 2em">
                            <f:selectItem itemLabel="true" itemValue="true" />
                            <f:selectItem itemLabel="false" itemValue="false" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Order">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.order}" /></f:facet>
                    <f:facet name="input"><p:inputText id="modelInput3" value="#{fields.order}" style="width:100%;height: 2em;box-shadow: none"/></f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Default">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{fields.defaultValue}" /></f:facet>
                    <f:facet name="input"><p:inputText id="modelInput4" value="#{fields.defaultValue}" style="width:100%;height: 2em;box-shadow: none"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column style="width:60px">
                <p:rowEditor>
                </p:rowEditor>
            </p:column>

            <p:column style="width:30px">
                <p:commandLink id="trash" actionListener="#{fieldManagerBean.deleteField(fields)}" update="@form">
                    <h:graphicImage name="/images/delete_icon.png" width="16" height="16"/>
                </p:commandLink>
            </p:column>
        </p:dataTable>-->

        <p:dataTable id="fieldsTable" var="fields" widgetVar="fields" value="#{fieldManagerBean.fieldsList}" styleClass="datatable dummy"
                     rows="10" paginator="true" paginatorPosition="bottom" >
            <f:facet name="header">
                Fields Configuration
            </f:facet>
            <p:column headerText="Field Name">
                <h:outputText value="#{fields.fieldName}" />
            </p:column>
            <p:column headerText="Label">
                <h:outputText value="#{fields.fieldLabel}" />
            </p:column>
            <p:column headerText="Type">
                <h:outputText value="#{fields.fieldType}" />
            </p:column>
            <p:column headerText="key">
                <h:outputText value="#{fields.isKey}" />
            </p:column>
            <p:column headerText="Mandatory">
                <h:outputText value="#{fields.isMandatory}" />
            </p:column>
            <p:column headerText="Order">
                <h:outputText value="#{fields.order}" />
            </p:column>
            <p:column headerText="Has Default">
                <h:outputText value="#{not empty fields.defaultValue? 'Yes':'No'}" />
            </p:column>

            <p:column style="width:90px">
                <p:commandLink id="trash" actionListener="#{fieldManagerBean.deleteField(fields)}" update="@form">
                    <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                </p:commandLink>
                <p:commandLink id="edit" actionListener="#{fieldManagerBean.onEdit(fields)}" update="@form">
                    <h:graphicImage name="/images/edit_table_ic.png" width="16" height="16" style="margin-left: 1em"/>
                </p:commandLink>
            </p:column>
        </p:dataTable>

        <p:sidebar id="fieldSideBar" widgetVar="fieldSideBar" position="right" style="width: max-content;overflow-y: auto;border: none">
            <h1 style="font-weight:normal">Add Field</h1>
            <p:panelGrid columns="1" styleClass="borderless-grid" id="fieldsConfigPanel">

                <h:panelGroup style="padding: 1em;">
                    <p:outputLabel value="Field Name" style="font-weight: normal;margin-right: 3em"/>
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{fieldManagerBean.fieldModel.fieldName}"/>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;">
                    <p:outputLabel value="Field Label" style="font-weight: normal;margin-right: 3em"/>
<!--                    <p:selectOneMenu id="fieldLabelLookup" value="#{fieldManagerBean.fieldModel.fieldLabel}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue=""/>
                        <f:selectItems value="#{accessBean.localizationHost.localValues['en'].keyValueMap.entrySet()}" var="label" itemLabel="#{label.value}" itemValue="#{label.key}"/>
                    </p:selectOneMenu>-->
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{fieldManagerBean.fieldModel.fieldLabel}"/>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;">
                    <p:outputLabel value="Field Type" style="font-weight: normal;margin-right: 3em"/>
                    <p:selectOneMenu value="#{fieldManagerBean.fieldModel.fieldType}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue="" />
                        <f:selectItem itemLabel="Text" itemValue="TEXT" />
                        <f:selectItem itemLabel="Integer" itemValue="INT" />
                        <f:selectItem itemLabel="Decimal" itemValue="DECIMAL" />
                        <f:selectItem itemLabel="Boolean" itemValue="BOOLEAN" />
                        <f:selectItem itemLabel="Date" itemValue="DATE" />
                        <f:selectItem itemLabel="Relation" itemValue="REL" />
                        <f:selectItem itemLabel="Lookup" itemValue="LOOKUP" />
                        <f:selectItem itemLabel="Smart Field" itemValue="SMARTFIELD" />
                        <f:selectItem itemLabel="Key Map" itemValue="KVMAP" />
                        <f:selectItem itemLabel="Content" itemValue="CONTENT" />
                        <f:selectItem itemLabel="Image Gallery" itemValue="MEDIA_IMG_GALLERY" />
                        <f:selectItem itemLabel="Multi Select Lookup" itemValue="MSLOOKUP" />
                        <f:selectItem itemLabel="Multi Select Releation" itemValue="MULTIREL" />
                        <p:ajax update="fieldsConfigPanel" listener="#{fieldManagerBean.onTypeChoose}" process="@form"/>
                    </p:selectOneMenu>
                    <p:commandButton icon="fa fa-search" styleClass="topcommands"
                                     style="border-radius: 3px;margin-left: 1em;margin-top: 0;padding: 0;" 
                                     immediate="true" onclick="PF('relationDialog').show();"
                                     rendered="#{fieldManagerBean.fieldModel.fieldType eq 'REL'}">
                    </p:commandButton>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;" rendered="#{fieldManagerBean.fieldModel.fieldType eq 'SMARTFIELD'}">
                    <p:outputLabel value="Smart Script" style="font-weight: normal;margin-right: 2em;vertical-align: top"/>
                    <p:inputTextarea rows="6" cols="33" value="#{fieldManagerBean.fieldModel.beezlScript}"/>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;" rendered="#{fieldManagerBean.fieldModel.fieldType eq 'LOOKUP'}">
                    <p:outputLabel value="Lookup" style="font-weight: normal;margin-right: 4em;vertical-align: top"/>
                    <p:selectOneMenu value="#{fieldManagerBean.fieldModel.fieldValues}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue=""/>
                        <f:selectItems value="#{fieldManagerBean.lookupManagerList}" var="lookup" itemLabel="#{lookup.lookupName}" itemValue="#{lookup.id}"/>
                    </p:selectOneMenu>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;">
                    <p:panelGrid columns="4" styleClass="borderless-grid">
                        <p:outputLabel value="Key Field" style="font-weight: normal;margin-right: 1em"/>
                        <p:selectBooleanCheckbox value="#{fieldManagerBean.fieldModel.isKey}" />

                        <p:outputLabel value="Visible Field" style="font-weight: normal;margin-right: 1em"/>
                        <p:selectBooleanCheckbox value="#{fieldManagerBean.fieldModel.isVisible}" />

                        <p:outputLabel value="Virtual Field" style="font-weight: normal;margin-right: 1em"/>
                        <p:selectBooleanCheckbox value="#{fieldManagerBean.fieldModel.virtual}" />

                        <p:outputLabel value="Required Field" style="font-weight: normal;margin-right: 1em"/>
                        <p:selectBooleanCheckbox value="#{fieldManagerBean.fieldModel.isMandatory}" />

                        <p:outputLabel value="Show in header" style="font-weight: normal;margin-right: 1em"/>
                        <p:selectBooleanCheckbox value="#{fieldManagerBean.fieldModel.inHeader}" />
                    </p:panelGrid>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;">
                    <p:outputLabel value="Field Order" style="font-weight: normal;margin-right: 3em"/>
                    <p:spinner value="#{fieldManagerBean.fieldModel.order}" style="padding: 0"/>
                </h:panelGroup>

                <h:panelGroup style="padding: 1em;">
                    <p:outputLabel value="Default Value" style="font-weight: normal;margin-right: 2em;vertical-align: top"/>
                    <p:inputTextarea rows="6" cols="33" value="#{fieldManagerBean.fieldModel.defaultValue}"/>
                </h:panelGroup>
            </p:panelGrid>

            <p:commandButton value="Save" actionListener="#{fieldManagerBean.saveChanges}" styleClass="save-button"
                             onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"
                             update="@form"/>
        </p:sidebar>

        <p:remoteCommand name="updateSidePanel" update="fieldsConfigPanel"  immediate="true" resetValues="true"/>
        <p:dialog id="relationDialog" widgetVar="relationDialog" modal="true" width="1250" position="center center" dynamic="true" styleClass="form-dialog"
                  style="border-radius: 4px;text-align: -webkit-center;" onHide="updateSidePanel()"  >
            <p:dataTable id="relationsTable" var="relation" widgetVar="relationsTable" 
                         value="#{fieldManagerBean.relationsList}" styleClass="datatable dummy"
                         rows="10" paginator="true" paginatorPosition="bottom"
                         selectionMode="single" selection="#{fieldManagerBean.selectedRelation}" rowKey="#{relation.id}">
                <p:ajax event="rowSelect" listener="#{fieldManagerBean.onRelationChoose}" update="fieldsConfigPanel" />
                <p:column headerText="Master Module">
                    <h:outputText value="#{relation.masterModuleName}" />
                </p:column>
                <p:column headerText="Detail Module">
                    <h:outputText value="#{relation.detailModuleName}" />
                </p:column>
                <p:column headerText="Master Column">
                    <h:outputText value="#{relation.masterColumn}" />
                </p:column>
                <p:column headerText="Detail Column">
                    <h:outputText value="#{relation.detailColumn}" />
                </p:column>
                <p:column headerText="View Column">
                    <h:outputText value="#{relation.viewColumn}" />
                </p:column>
                <p:column headerText="Relation Type">
                    <h:outputText value="#{relation.relationType}" />
                </p:column>
            </p:dataTable>
        </p:dialog>

    </ui:define>

</ui:composition>