<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Form Designer
    </ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            function initDND() {
                $('.ui-treenode-leaf').draggable({
                    helper: 'clone',
                    scope: 'treetotable',
                    zIndex: ++PrimeFaces.zindex
                });

                $('.designer-pane .droppoint').droppable({
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'pointer',
                    scope: 'treetotable',
                    drop: function (event, ui) {
                        var property = ui.draggable.find('.ui-treenode-label .real-field-name').text(),
                                droppedColumnId = $(this).parent().find('input[type=hidden]').val(),
                                dropPos = $(this).hasClass('dropleft') ? 0 : 1;

                        treeToTable([
                            {name: 'property', value: property}
                            , {name: 'droppedColumnId', value: droppedColumnId}
                            , {name: 'dropPos', value: dropPos}
                        ]);
                    }
                });

                $('.designer-pane td').draggable({
                    scope: 'tabletotree',
                    helper: function () {
                        var td = $(this);
                        return td.clone().appendTo(document.body).css('width', td.width());
                    }
                });

                $('.ui-tree').droppable({
                    helper: 'clone',
                    scope: 'tabletotree',
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'touch',
                    drop: function (event, ui) {
                        tableToTree([
                            {name: 'colIndex', value: ui.draggable.find('.selected-field-name').text()},
                            {name: 'backFromBlock', value: ui.draggable.parent().parent().parent().parent().find('input[type=hidden]').val()}
                        ]);
                    }
                });
            }

            $(function () {
                initDND();
            });
        </script>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:growl id="msgs" showDetail="true" />

        <p:panel style="margin-left: auto;margin-right: auto;border: none;">
            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">Form Builder</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
            </div>
            <p:panelGrid columns="3" style="border: none;width: 100%" styleClass="borderless-grid">
                <p:outputLabel value="Choose Module" style="font-weight: normal;float: left;font-size: 15px;color: #616161;"/>

                <p:selectOneMenu value="#{formDesignerBean.selectModuleId}" 
                                 style="width:19em;display: inline-flex;border: none;float: left;border-bottom: 1px solid #ccc;margin-left: -28em;"
                                 styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="" />
                    <f:selectItems value="#{formDesignerBean.moduleManagerMap}" var="v"/>
                    <p:ajax listener="#{formDesignerBean.onModuleSelect()}" update="@form"/>
                </p:selectOneMenu>

                <p:commandButton icon="fa fa-plus" value="New Form" update="@form" disabled="#{formDesignerBean.selectModuleId eq null}"
                                 style="border-radius: 3px;text-align: right;float: right" styleClass="topcommands" 
                                 actionListener="#{formDesignerBean.addNewForm()}"/>
            </p:panelGrid>
        </p:panel>

        <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>

        <div style="margin-bottom: 0.5em;text-align: right">
            <p:commandButton icon="fa fa-plus" value="Add Block" update="@form" rendered="#{formDesignerBean.newForm ne null}"
                             style="border-radius: 3px;text-align: right;" styleClass="topcommands" actionListener="#{formDesignerBean.addBlock()}"/>
            <p:commandButton value="Save" id="save"  actionListener="#{formDesignerBean.saveForm()}" rendered="#{formDesignerBean.newForm ne null}"
                             styleClass="save-button" update="@form" style="text-align: right;float: right;margin-top: 0.5em;border-radius: 3px;"/>
        </div>

        <p:remoteCommand name="treeToTable" actionListener="#{formDesignerBean.treeToTable}" update="@form" oncomplete="initDND()"/>
        <p:remoteCommand name="tableToTree" actionListener="#{formDesignerBean.tableToTree}" update="@form" oncomplete="initDND()" />

        <p:layout id="designerLayout" style="min-width:450px;min-height:500px;" rendered="#{formDesignerBean.newForm ne null}">
            <p:layoutUnit position="west" resizable="true" size="250" minSize="40" maxSize="250">
                <p:panelGrid columns="1" styleClass="borderless-grid">
                    <p:tree id="tree" value="#{formDesignerBean.availableFields}" var="field" 
                            style="margin-bottom:20px;border: none;width: 100%;">
                        <p:treeNode>
                            <h:outputText value="#{field}" id="fieldsTitleTree" style="font-size: 14px"/>
                        </p:treeNode>
                        <p:treeNode type="field" icon="ui-icon-grip-dotted-vertical">
                            <h:outputText value="#{field.fieldName}" styleClass="real-field-name"/>
                            <h:outputText value=" (#{field.fieldType})" />
                        </p:treeNode>
                    </p:tree>
                    
                </p:panelGrid>

            </p:layoutUnit>

            <p:layoutUnit position="center" style="background: #cccccc" styleClass="designer-pane">
                <ui:repeat value="#{formDesignerBean.blockList}" var="block">
                    <p:panel class="card-layout">
                        <p:outputLabel for="blockLabelIn" value="Block Title " />
                        <p:inplace id="blockLabelInplace" label="#{block.blockTitle ne null? block.blockTitle : 'Edit me'}" editor="true" style="margin: 1em;color: #2800e1">
                            <p:inputText id="blockLabelIn" value="#{block.blockTitle}" style="margin-left: 0.5em" required="true"/>
                        </p:inplace>

                        <p:commandLink id="trash" actionListener="#{formDesignerBean.deleteBlock(block)}" update="@form"
                                       style="float: right">
                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                        </p:commandLink>
                        <input id="blockId" type="hidden" value="#{block.blockId}" class="hidden-block-id"/>
                        <c:set var="blockId" value="#{block.blockId}" />
                        <table class="designer-pane droppoint ui-droppable" style="width:100%;height: 100%;min-height: 100px;text-align: center">
                            <tbody>
                                <tr>
                                    <ui:repeat value="#{formDesignerBean.blockFieldsMap.get(blockId)}" var="blockField" varStatus="status">
                                        <c:choose>
                                            <c:when test="${blockField.fieldObject.fieldType eq 'ADV-EDITABLE'}">
                                                <td colspan="2">
                                                    <p:panel header="#{block.blockId}"
                                                             style="text-align:left;margin: 0.5em;border: 11px solid #ccc;padding: 0;">
                                                        <f:facet name="header">
                                                            <p:outputLabel for="fieldLabelInPlace" value="Editable Data Table" />
                                                        </f:facet> 

                                                        <p:outputLabel id="p_#{status.index}" value="#{blockField.fieldName}" style="color: #2800e1;font-weight: normal" styleClass="selected-field-name"/>

                                                        <h:panelGrid columns="2" style="width:12em">
                                                            <p:commandButton style="padding: 0.4em;box-shadow: none; 
                                                                             border: 1px solid #dbdbdb;
                                                                             color: #fff;
                                                                             background: #c1c1c1;height: 100%;border-radius: 0;" 
                                                                             immediate="true" value="Open Module" >
                                                            </p:commandButton>
                                                            <p:commandButton icon="fa fas fa-cogs" style="padding: 0.4em;box-shadow: none; 
                                                                             border: 1px solid #fff;
                                                                             color: #6d6d6d;
                                                                             background: #fff;height: 100%;border-radius: 0;" 
                                                                             immediate="true">
                                                            </p:commandButton>
                                                        </h:panelGrid>
                                                        <p:dataTable var="etCol" value="#{addDealBean.orderRecordProductList}" widgetVar="editableTable"
                                                                     style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                                                     paginator="false" paginatorPosition="bottom">
                                                        </p:dataTable>
                                                    </p:panel>
                                                </td>
                                                <h:outputText value="&lt;/tr&gt;&lt;tr&gt;" escape="false" rendered="#{(status.index + 1 ) mod 2 eq 0}"/>
                                            </c:when>
                                            <c:otherwise>
                                                <td>
                                                    <p:panel id="pnl" header="#{block.blockId}"
                                                             style="text-align:left;margin: 0.5em;border: 11px solid #ccc;padding: 0;">
                                                        <f:facet name="header">
                                                            <p:outputLabel for="fieldLabelInPlace" value="Field Label: " />
                                                            <p:inplace id="fieldLabel" editor="true" style="margin: 1em;color: #2800e1">
                                                                <p:inputText id="fieldLabelInPlace" value="#{blockField.label}" style="margin-left: 0.5em;"/>
                                                            </p:inplace>
                                                        </f:facet> 
                                                        <p:outputLabel id="p_#{status.index}" value="#{blockField.fieldName}" style="color: #2800e1;font-weight: normal" styleClass="selected-field-name"/>
                                                        <h:panelGrid columns="2" style="width:12em">
                                                            <h:outputText value="Mandatory " style="font-weight: normal;"/>
                                                            <p:selectBooleanCheckbox value="#{blockField.isMandatory}" />

                                                            <h:outputLabel value="Position " style="font-weight: normal;"/>
                                                            <p:inputText value="#{blockField.order}" style="width: 3em;border-radius: 3px;text-align: center"/>
                                                        </h:panelGrid>
                                                    </p:panel>
                                                </td>
                                                <h:outputText value="&lt;/tr&gt;&lt;tr&gt;" escape="false" rendered="#{(status.index + 1 ) mod 2 eq 0}"/>
                                            </c:otherwise>
                                        </c:choose>

                                    </ui:repeat>
                                </tr>
                            </tbody>
                        </table>
                    </p:panel>
                </ui:repeat>

            </p:layoutUnit>
        </p:layout>
    </ui:define>

</ui:composition>