<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Groups
    </ui:define>
    <ui:define name="content">
        <p:button  value="New Group" outcome="groupManager" icon="fa fa-w fa-plus" styleClass="topcommands"
                       style="border-radius: 50px;"/>
        <p:dataTable var="group" value="#{groupsBean.groupList}" widgetVar="groupsTable"
                     id="groupsTable" style="padding-top: 0.5em;" styleClass="datatable datatable-summary paginator-buttons"
                     selectionMode="single" selection="#{groupsBean.selectedGroup}" rowKey="#{group.groupId}">
            <p:ajax event="rowSelect" listener="#{groupsBean.onRowSelect}" update="@form"/>
            <p:column headerText="Action">
                <p:commandLink actionListener="#{groupsBean.deleteGroup(group)}" update="groupsTable">
                    <h:graphicImage name="/images/delete_icon.png" width="16" height="16"/>
                </p:commandLink>
            </p:column>
            <p:column headerText="Name">
                <h:outputText value="#{group.name}" />
            </p:column>
            <p:column headerText="Description">
                <h:outputText value="#{group.description}" />
            </p:column>
        </p:dataTable>
    </ui:define>

</ui:composition>