<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Groups
    </ui:define>
    <ui:define name="content">
        <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
                 style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul>Define Group</ul>
        </p:panel>
        <h:panelGrid columns="2" >
            <p:outputLabel value="Group Name" style="padding: 1em;padding-right: 2em;"/>
            <p:inputText style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;"
                         value="#{groupManagerBean.groupModel.name}"/>

            <p:outputLabel value="Group Description" style="padding: 1em;padding-right: 2em;"/>
            <p:inputTextarea rows="3" cols="55" style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;width: auto"
                             value="#{groupManagerBean.groupModel.description}"/>

            <p:outputLabel value="Group Permissionset" style="padding: 1em;padding-right: 2em;"/>
            <p:selectOneMenu widgetVar="groupPermission" value="#{groupManagerBean.groupModel.permissionSet}" style="min-width: 20em"
                             converter="permissionsConverter">
                <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true"/>
                <f:selectItems value="#{groupManagerBean.permissionsList}" var="permission" itemLabel="#{permission.permissionName}"
                               itemValue="#{permission}"/>
            </p:selectOneMenu>
        </h:panelGrid>
        <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
                 style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul>Define Group Subscribers</ul>
        </p:panel>
        <p:pickList value="#{groupManagerBean.userList}" var="user" effect="bounce"
                    itemValue="#{user}" itemLabel="#{user.name}" style="margin-top: 1em" styleClass="user-picklist"
                    showCheckbox="true" responsive="true" converter="userConverter"
                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains">
            <p:column style="width:90%;">
                <h:outputText value="#{user.name}" />
            </p:column>
        </p:pickList>
        <footer class="footer">
            <p:commandButton value="Save" actionListener="#{groupManagerBean.save}" styleClass="save-button"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             update="@form"/>
            <p:commandButton value="Cancel" action="#{groupManagerBean.cancel}" styleClass="cancel-button" immediate="true"/>
        </footer>
    </ui:define>

</ui:composition>