<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <h:head>
        <title>
            <ui:insert name="title">Beezr</ui:insert>
        </title>
        <link rel="icon" type="image/png"  sizes="32x32" href="images/beezr_fav_icon.png" />

        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'></link>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>
            <script>
                $(document).ready(function () {
                var trigger = $('.hamburger'),
                        overlay = $('.overlay'),
                        isClosed = true;
                trigger.click(function () {
                hamburger_cross();
                });
                function hamburger_cross() {

                if (isClosed === true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
                } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
                }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
                });
                });
            </script>
            <script>
                window.addEventListener("resize", function () {
                if (window.innerWidth &lt; 800){
                $('#wrapper').removeClass("toggled");
                } else{
                $('#wrapper').addClass('toggled');
                }
                });
            </script>
            <script>
                $(window).load(function () {
                // Animate loader off screen
                PF('waitingDlgName').hide();
                });
            </script>
            <style>
                #{accessBean.iconStyle}
            </style>
            <style>
                #{accessBean.appLookAndFeel}
            </style>
        </f:facet>
    </h:head>

    <h:body id="homeBody" styleClass="beezer-theme">
        <f:facet name="last">

            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
            <h:outputStylesheet name="stylesheets/paper-dashboard.css" />
            <h:outputStylesheet name="stylesheets/themify-icons.css" />
            <h:outputStylesheet name="stylesheets/primeflex.css" />
            <script>
                $(document).ajaxComplete(function () {
                $(".ui-panelgrid-cell > .advanced-non-layout").parent().css("flex-grow", "1");
                });
            </script>
        </f:facet>
        <h:form prependId="false" id="mainForm" enctype="multipart/form-data" onkeypress="if (event.keyCode === 13) {
            return false;
            }">
            <div id="wrapper" class="toggled">

                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a class="sidebar-logo" href="personal-dashboard.xhtml" style="text-align: center;">
                                <c:if test="${not empty accessBean.companyModel.companyLogo}">
                                    <p:graphicImage value="#{applicationBean.image}" style="max-width: 100%;max-height: 100%">
                                        <f:param name="contentId" value="#{accessBean.companyModel.companyLogo}" />
                                        <f:param name="context" value="CONFIG" />
                                        <f:param name="moduleId" value="0" />
                                    </p:graphicImage>
                                </c:if>
                                <c:if test="${empty accessBean.companyModel.companyLogo}">
                                    <h:graphicImage value="images/logo_new_white_1.png" 
                                                    style="max-height:-webkit-fill-available;border:0;max-width: 70%"/>
                                </c:if>

                            </a>
                        </li>
                        <p:menu styleClass="side" id="moduleMenu" toggleable="true">
                            <c:forEach items="#{accessBean.activeApplication.moduleConfigMap}" var="appConfig">
                                <p:submenu styleClass="side" label="#{appConfig.key}" style="font-weight: bold;letter-spacing: 1px">
                                    <c:forEach items="#{appConfig.value}" var="appConfigList">
                                        <c:if test="#{not empty appConfigList.outcome}">
                                            <c:if test="#{appConfigList.extensionApp}">
                                                <p:menuitem  value="#{appConfigList.moduleName}"  styleClass="nav-menu-list-item"
                                                             url="customPage.xhtml?appId=#{appConfigList.appId}&amp;moduleId=#{appConfigList.moduleId}"
                                                             icon="#{not empty appConfigList.icon? appConfigList.icon:'default-menu-icon'}"
                                                             onclick="PF('waitingDlgName').show()"
                                                             onstart="PF('waitingDlgName').show()"
                                                             immediate="true"/>
                                            </c:if>
                                            <c:if test="#{!appConfigList.extensionApp}">
                                                <p:menuitem  value="#{appConfigList.moduleName}"  styleClass="nav-menu-list-item"
                                                             outcome="#{appConfigList.outcome}"
                                                             icon="#{not empty appConfigList.icon? appConfigList.icon:'default-menu-icon'}"
                                                             onclick="PF('waitingDlgName').show()"
                                                             onstart="PF('waitingDlgName').show()"
                                                             immediate="true"/>
                                            </c:if>
                                        </c:if>
                                        <c:if test="#{empty appConfigList.outcome}">
                                            <p:menuitem  value="#{appConfigList.moduleName}"  styleClass="nav-menu-list-item"
                                                         url="data.xhtml?moduleId=#{appConfigList.moduleId}&amp;faces-redirect=true"
                                                         icon="#{not empty appConfigList.icon? appConfigList.icon:'default-menu-icon'}"
                                                         onclick="PF('waitingDlgName').show()"
                                                         immediate="true" >
                                                <p:outputLabel value="#{appConfigList.moduleName}"/>
                                                <p:commandButton actionListener="#{accessBean.quickAddRecord(appConfigList.moduleId)}" 
                                                                 immediate="true" icon="fa fa-plus"
                                                                 style="float: right;background: transparent;border-radius: 10em;padding: 0em 1.2em 0em 1em;border-width: 2px;margin-top: -7px;"/>
                                                
                                            </p:menuitem>
                                        </c:if>
                                    </c:forEach>
                                </p:submenu>
                            </c:forEach>
                        </p:menu>
                    </ul>
                </nav>

                <div id="page-content-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>
                    <p:panel id="top-controls-wrapper" style="border: none; padding: 0" styleClass="top-controls-wrapper">
                        <ul class="top-nav-container">
                            <!--                            <li style="padding: 12px 16px;">
                                                            <h:button  style="padding: 0em;box-shadow: none; border: none;width:25px" rendered="#{accessBean.userModel.permissionSet.admin}"
                                                                       outcome="admin" image="resources/images/topcommands/settings.png" >
                                                            </h:button >
                                                        </li>-->
                            <li>
                                <p:commandLink id="userTopControl" update="@form" actionListener="#{commonBean.showUserProfile}" styleClass="top-nav-menu-items">
                                    <i class="fa fa-user-circle" style="font-size: 23px;"></i>
                                    <!--<h:graphicImage name="/images/topcommands/user.png" width="25"/>-->
                                </p:commandLink>
                                <p:overlayPanel id="userSnippet" for="userTopControl" showEvent="mouseover"
                                                styleClass="user-snippet arrow_box">
                                    <p:panelGrid columns="2" style="border: none;width: 100%">
                                        <p:graphicImage name="/images/black-user-shape.png" width="30"/>
                                        <p:panelGrid columns="1" style="border: none;">
                                            <p:outputLabel value="#{accessBean.userModel.name}" style="margin-bottom: 1px"/>
                                            <p:outputLabel value="#{accessBean.userModel.email}" style="font-weight: normal;"/>
                                        </p:panelGrid>
                                    </p:panelGrid>
                                    <p:separator style="padding: 0;border: .1px solid #e1dfdf;"/>
                                    <p:commandLink value="#{empty accessBean.loadLocalizedValue('sign_out')? 'Sign Out':accessBean.loadLocalizedValue('sign_out')}" action="login.xhtml?faces-redirect=true" style="color: #e31f1f" immediate="true"/>
                                </p:overlayPanel>
                            </li> 
                            <li>
                                <p:panel style="background: transparent;border: none;" id="notificationPanel" styleClass="noti-pan">
                                    <p:commandLink id="notificationTopControl" styleClass="notification-cl top-nav-menu-items" resetValues="true"
                                                   partialSubmit="true" process="@this" onclick="updateReadNotifications()">
                                        <i class="fa fa-bell" style="font-size: 23px;"></i>
                                        <!--<h:graphicImage name="/images/topcommands/notification.png" width="25"/>-->
                                    </p:commandLink>
                                    <h:panelGroup id="notificationIndicator">
                                        <p:outputLabel value="" style="background: #fa3e3e;
                                                       border-radius: 8px;
                                                       padding: 9px 9px 0px 0px;
                                                       color: #fff;
                                                       margin-left: -1em;
                                                       border: 1px solid #fff;
                                                       font-size: 10px;" rendered="#{accessBean.newNotification}"/>
                                    </h:panelGroup>

                                </p:panel>
                                <p:remoteCommand name="updateReadNotifications" update="notificationIndicator notificationsList notificationPanel"
                                                 partialSubmit="true" process="@this" 
                                                 actionListener="#{accessBean.notificationsRead}">
                                    <p:resetInput target="notificationTopControl" />
                                </p:remoteCommand>
                                <p:overlayPanel id="notificationBubble" for="notificationPanel" 
                                                styleClass="notification-panel" >
                                    <p:dataList value="#{accessBean.notifications}" var="notification" type="definition"
                                                emptyMessage="No Notifications" id="notificationsList">
                                        <f:facet name="header" class="notification-header">
                                            Notifications
                                        </f:facet>
                                        <p:commandLink actionListener="#{accessBean.onNotificationSelect(notification)}" onclick="PF('waitingDlgName').show()"
                                                       partialSubmit="true" process="@this"  >
                                            <p:panelGrid columns="2" style="border: none;background: transparent">
                                                <p:graphicImage name="/images/topcommands/notification_not_read.png" width="25" style="margin-top: -2.5em;margin-right: -1.5em;"
                                                                rendered="#{notification.fieldValueMap['is_read'].currentValue eq 'false'}"/>
                                                <p:graphicImage name="/images/topcommands/notification_read.png" width="25" style="margin-top: -2.5em;margin-right: -1.5em;"
                                                                rendered="#{notification.fieldValueMap['is_read'].currentValue eq 'true'}"/>
                                                <p:panel style="border: none;background: transparent" styleClass="notification-item">
                                                    <p:outputLabel value="#{notification.fieldValueMap['n_title'].currentValue}"
                                                                   style="font-size: 13px"/> 
                                                    <br/>
                                                    <p:outputLabel value="#{notification.fieldValueMap['n_desc'].currentValue}"
                                                                   style="font-size: 13px"/> 
                                                    <br/>
                                                    <p:outputLabel value="#{notification.fieldValueMap['added_date'].currentValue}"
                                                                   style="font-size: 11px;color: #999;"/> 
                                                </p:panel>
                                            </p:panelGrid>
                                        </p:commandLink>
                                    </p:dataList>
                                </p:overlayPanel>
<!--                                <p:poll interval="10" listener="#{accessBean.loadNotifications}" 
                                        partialSubmit="true" process="@this"
                                        update="notificationIndicator notificationsList" >
                                </p:poll>-->
                            </li>
                            <!--                            <li>
                                                            <p:commandLink id="calendarTopControl" update="@form" action="calendar.xhtml?faces-redirect=true">
                                                                <h:graphicImage name="/images/topcommands/calendar.png" width="25"/>
                                                            </p:commandLink>
                                                        </li>-->
                            <li>
                                <p:commandLink id="tasksTopControl" update="@form" action="tasksDashboard.xhtml?faces-redirect=true" 
                                               styleClass="top-nav-menu-items" immediate="true">
                                    <i class="fa fa-tasks" style="font-size: 23px;"></i>
                                    <!--                                    <h:graphicImage name="/images/topcommands/tasks.png" width="25"/>-->
                                </p:commandLink>
                            </li>
                            <li>
                                <p:commandLink id="reportsTopControl" update="@form" action="reports.xhtml?faces-redirect=true" 
                                               styleClass="top-nav-menu-items" immediate="true">
                                    <i class="fa fa-bar-chart" style="font-size: 23px;"></i>
                                    <!--<h:graphicImage name="/images/topcommands/reports.png" width="25"/>-->
                                </p:commandLink>
                            </li>
                            <li style="float: left;margin-left: 5em">
                                <p:commandLink id="hiveStoreControl" immediate="true">
                                    <h:graphicImage name="/images/hive_store3.png" width="25"/>
                                </p:commandLink>

                                <p:overlayPanel id="storePanel" for="hiveStoreControl" showCloseIcon="false"
                                                styleClass="user-snippet hive-store-panel">
                                    <p:outputLabel value="#{accessBean.loadLocalizedValue('available_apps')}" style="margin-bottom: 11px;font-size: 13px;font-weight: normal"/>
                                    <p:separator style="padding: 0;border: 1px solid #ccc;"/>
                                    <p:panelGrid columns="3" layout="grid">
                                        <c:forEach items="#{accessBean.applicationList}" var="app">
                                            <p:commandLink actionListener="#{accessBean.updateActiveApp(app)}" update="@form" immediate="true"
                                                           onstart="PF('waitingDlgName').show()">
                                                <p:panelGrid columns="1" style="border: none;">
<!--                                                    <h:graphicImage url="#{app.appIcon}" width="35"/>-->
                                                    <c:if test="#{not empty app.appIcon}">
                                                        <p:graphicImage value="#{applicationBean.image}" 
                                                                        width="40">
                                                            <f:param name="contentId" value="#{app.appIcon}" />
                                                            <f:param name="context" value="CONFIG" />
                                                            <f:param name="moduleId" value="#{app.appId}" />
                                                        </p:graphicImage>
                                                    </c:if>
                                                    <c:if test="#{empty app.appIcon}">
                                                        <p:graphicImage name="/images/default_app_ic.png" width="40"/> 
                                                    </c:if>

                                                    <p:outputLabel value="#{app.appName}" style="color: #767676;font-weight: normal;font-size: 11px;"/>
                                                </p:panelGrid>
                                            </p:commandLink>
                                        </c:forEach>
                                    </p:panelGrid>
                                </p:overlayPanel>
                            </li>
                            <li style="float: left" class="top-active-app-name">
                                <p:outputLabel value="#{accessBean.activeApplication.appName}" style="font-size: 17px;font-weight: bold;"/>
                            </li>

                        </ul>
                    </p:panel>
                    <p:sticky target="top-controls-wrapper" />
                    <div class="container" >
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2" style="overflow-x: no-content">
                                <ui:insert name="content" class="content-base-body">
                                </ui:insert>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p:dialog id="waitingDialog" resizable="false" showHeader="false"
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/rhombus.gif" height="80px" style="border-radius: 500em;border: 0px solid #ccc;"/>                          
                        </td>
                    </tr>
                </table>
            </p:dialog>
            <p:confirmDialog id="idleDialog"
                             message="You were away for too long.. can you log in again"
                             header="Are you there?" severity="alert" widgetVar="idleDialog" closable="false">
                <p:commandButton value="OK" 
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                 immediate="true"
                                 action="login.xhtml?faces-redirect=true" style="margin: 0;
                                 margin-left: 42%;
                                 border-radius: 10px;"/>
            </p:confirmDialog>

            <f:event type="preRenderView" listener="#{facesContext.externalContext.response.setHeader('Cache-Control', 'no-cache, no-store')}" />
        </h:form>

    </h:body>
</html>

