<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <!-- Required meta tags -->
        <link rel="icon" type="image/png" href="/BeezerWebApp/images/favicon-32x32.png" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="author" content="Grayrids"/>
        <title>Beezer</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/line-icons.css"/>
        <link rel="stylesheet" href="css/owl.carousel.css"/>
        <link rel="stylesheet" href="css/owl.theme.css"/>
        <link rel="stylesheet" href="css/nivo-lightbox.css"/>
        <link rel="stylesheet" href="css/magnific-popup.css"/>
        <link rel="stylesheet" href="css/animate.css"/>
        <link rel="stylesheet" href="css/menu_sideslide.css"/>
        <link rel="stylesheet" href="css/main.css"/>    
        <link rel="stylesheet" href="css/responsive.css"/>

    </h:head>
    <h:body>
        <div class="menu-wrap">
            <nav class="menu navbar">
                <div class="icon-list navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#video-area">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#introDesigner">Application Builder</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="#introFlow">Beezer Flow</a>
                        </li>                            
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Appcelerators</a>
                        </li>            
                        <!--                        <li class="nav-item">
                                                    <a class="nav-link" href="#pricing">Pricing</a>
                                                </li>     
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#blog">Blog</a>
                                                </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="login.xhtml">Login</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="http://beezerblogs.beezerlabs.com">Blog</a>
                        </li> 
<!--                        <li class="nav-item">
                            <a class="nav-link" href="subscribe.xhtml">Sign Up</a>
                        </li>-->
                    </ul>
                </div>
            </nav> 
            <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
        </div>      
        <!-- Header Section Start -->

        <header id="video-area" data-stellar-background-ratio="0.5">    
            <div id="block" data-vide-bg="video/video"></div>
            <div class="fixed-top">
                <div class="container">
                    <div class="logo-menu">
                        <a href="index.html" class="logo">
                            <img src="images/beezer_logo_new_w2.png" style="width: 7em;border:0;" alt="beezer"/>
                            <span></span>
                        </a>
                        <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>    
                    </div>           
                </div>
            </div>
            <div class="overlay overlay-2"></div>      
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h1 class="wow fadeInDown" data-wow-duration="500ms" 
                                data-wow-delay="0.3s">Build applications that unleashes your business full potential</h1>
                            <p class="lead  wow fadeIn" data-wow-duration="500ms" 
                               data-wow-delay="400ms">
                                Have control over all your business aspects. Gain insights on how things are going and make the right decisions.
                            </p>
                        </div>
                    </div>
                </div> 
            </div>      
        </header>
        <!-- Header Section End --> 

        <section id="introDesigner" class="section" data-stellar-background-ratio="0.2" style="/*background-color: #ffe678;*/background-color: #3A6073">
            <div class="container">
                <div class="section-header">          
                    <!--<hr class="lines wow zoomIn" data-wow-delay="0.3s">-->
                    <!--                    <h1 class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s" style="font-size: 20px">
                                            Beezer is a platform that provides you with simple tools to build awesome apps the meet your business requirements.
                                            <br> We will give you the power of enterprise tools to help you grow
                                        </h1>-->
                    <div class="text" style="color: #fff;">
                        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s" style="color: #fff !important">Build Your APP</h2>
                        <hr class="lines wow zoomIn" data-wow-delay="0.3s"/>
                            <!--<h4 style="font-weight: bold;font-size: 30px;color: #fff">Beezer is a platform that provides you with simple tools to transform your business</h4>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                            <img src="images/index_app_ex.png" style="width: 44em;border:0;margin-left: -4em" alt="beezer"/>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                            <div class="box-item right">
                                <div class="text">
                                    <h4 style="font-size: 30px;color: #fff">Customize Modules</h4>
                                    <p style="color: #fff">Build and customize your application's modules, you control how you view and edit your data.</p>
                                </div>
                            </div>
                            <div class="box-item right">
                                <div class="text">
                                    <h4 style="font-size: 30px;color: #fff">Link Data</h4>
                                    <p style="color: #fff">Build relations between different modules, keep your data connected.</p>
                                </div>
                            </div>
                            <div class="box-item right">
                                <div class="text">
                                    <h4 style="font-size: 30px;color: #fff">Build Workflows</h4>
                                    <p style="color: #fff">Automate your business process in minutes, no matter how complex it is.</p>
                                </div>
                            </div>
                            <div class="box-item right">
                                <p style="font-size: 18px;width: 25em;color: #fff">Best part, you can do all of that <span style="font-size: 20px;font-weight: bold;color: #64ff4a">without coding</span></p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="introFlow" class="section" data-stellar-background-ratio="0.2" style="background-color: #ffe678;">
            <div class="container">
                <div class="section-header">          
                    <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Define Your Workflow</h2>
                    <hr class="lines wow zoomIn" data-wow-delay="0.3s"/>
                        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            Build your business process with our drag and drop designer.
                        </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-left wow fadeInLeft animated" data-wow-offset="10" style="width: 20em">
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Automate</h4>
                                    <p>Automate any business process, never get slowed down by manual actions again.</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Validate</h4>
                                    <p>Build your business validation rules, choose their execution events and make sure everything follows your compliance.</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Integrate</h4>
                                    <p>With Beezer Flow, you can integrate your different system parts together easily.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                            <img src="images/wf-screenshot.png" style="width: 44em;border:0;margin-left: 8em" alt="beezer"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="features" class="section" data-stellar-background-ratio="1" style="background-color: #fff">
            <div class="container">
                <div class="section-header">          
                    <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Retail HuB</h2>
                    <hr class="lines wow zoomIn" data-wow-delay="0.3s"/>
                        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            Retail HuB is one of Beezer's Appcelerators.
                            <br/> This template will help you manage and automate your retail business like never before
                        </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                            <div class="box-item left">
                                <div class="text">
                                    <h4>360 Customer view</h4>
                                    <p>Store and view each and everyone of your customers. Know who they are and what were there activities with your business.</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Product Catalog</h4>
                                    <p>Store your product information and analyze each product selling behavior.</p>
                                </div>
                            </div>
                            <div class="box-item left">
                                <div class="text">
                                    <h4>Supplier Management</h4>
                                    <p>View all related information to your supplier from a single screen. Know the status of each purchase order and your outstanding bills to the supplier.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="show-box wow fadeInDown animated" data-wow-offset="10">
                            <img src="img/features/feature.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                            <div class="box-item right">
                                <div class="text">
                                    <h4>Deal Management</h4>
                                    <p>Log your deals and generate E-Invoices for your customers.</p>
                                </div>
                            </div>
                            <div class="box-item right">
                                <div class="text">
                                    <h4>Order Management</h4>
                                    <p>We know that managing all your orders is a hassle, let Beezer order board help you manage and timely deliver your orders</p>
                                </div>
                            </div>
                            <div class="box-item right">
                                <div class="text">
                                    <h4>Returns Management</h4>
                                    <p>Easily manage any returns from your customers. Either they are refunds or replacements, we will take care of it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features Section Start -->
        <!--        <section id="features" class="section" data-stellar-background-ratio="0.2" style="background-color: #fff">
                    <div class="container">
                        <div class="section-header">          
                            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Awesome <span>Features</span></h2>
                            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
                            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                                With Beezer you will have full control over your business
                                <br> We will give you the power of enterprise tools to help you grow
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                                    <div class="box-item left">
                                        <span class="icon">
                                            <i class="lnr lnr-rocket"></i>
                                        </span>
                                        <div class="text">
                                            <h4>360 Customer view</h4>
                                            <p>Store and view each and everyone of your customers. Know who they are and what were there activities with your business.</p>
                                        </div>
                                    </div>
                                    <div class="box-item left">
                                        <span class="icon">
                                            <i class="lnr lnr-laptop-phone"></i>
                                        </span>
                                        <div class="text">
                                            <h4>Product Catalog</h4>
                                            <p>Store your product information and analyze each product selling behavior.</p>
                                        </div>
                                    </div>
                                    <div class="box-item left">
                                        <span class="icon">
                                            <i class="lnr lnr-cog"></i>
                                        </span>
                                        <div class="text">
                                            <h4>Customize Beezer</h4>
                                            <p>We will help you to easily customize your Beezer through wizards to best fit your business needs.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="show-box wow fadeInDown animated" data-wow-offset="10">
                                    <img src="img/features/feature.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                                    <div class="box-item right">
                                        <span class="icon">
                                            <i class="lnr lnr-camera-video"></i>
                                        </span>
                                        <div class="text">
                                            <h4>Deal Management</h4>
                                            <p>Log your deals and generate E-Invoices for your customers.</p>
                                        </div>
                                    </div>
                                    <div class="box-item right">
                                        <span class="icon">
                                            <i class="lnr lnr-magic-wand"></i>
                                        </span>
                                        <div class="text">
                                            <h4>Order Management</h4>
                                            <p>We know that managing all your orders is a hassle, let Beezer order board help you manage and timely deliver your orders</p>
                                        </div>
                                    </div>
                                    <div class="box-item right">
                                        <span class="icon">
                                            <i class="lnr lnr-spell-check"></i>
                                        </span>
                                        <div class="text">
                                            <h4>Reports</h4>
                                            <p>Create reports on the fly, let Beezer crunch the numbers and have insights you never knew on your business</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
        <!-- Features Section End -->    

        <!-- Start Video promo Section -->
        <!--        <section class="video-promo section" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="video-promo-content text-center">
                                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Our Introductory Video</h2>
                                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Learn more about us, its only 30mins</p>
                                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
        <!-- End Video Promo Section -->

        <!-- Start Pricing Table Section -->
        <!--        <div id="pricing" class="section pricing-section">
                    <div class="container">
                        <div class="section-header">          
                            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Pricing <span>Plans</span></h2>
                            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
                            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br> nibh euismod tincidunt ut laoreet dolore magna.</p>
                        </div>
        
                        <div class="row pricing-tables">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <i class="lnr lnr-rocket"></i> 
                                    </div>
                                    <div class="pricing-details">
                                        <h2>Starter Plan</h2>
                                        <span>Free</span>
                                        <ul>
                                            <li>Consectetur adipiscing</li>
                                            <li>Nunc luctus nulla et tellus</li>
                                            <li>Suspendisse quis metus</li>
                                            <li>Vestibul varius fermentum erat</li>
                                        </ul>
                                    </div>
                                    <div class="plan-button">
                                        <a href="#" class="btn btn-common">Get Plan</a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <i class="lnr lnr-heart"></i> 
                                    </div>
                                    <div class="pricing-details">
                                        <h2>Popular Plan</h2>
                                        <span>$3.99</span>
                                        <ul>
                                            <li>Consectetur adipiscing</li>
                                            <li>Nunc luctus nulla et tellus</li>
                                            <li>Suspendisse quis metus</li>
                                            <li>Vestibul varius fermentum erat</li>
                                        </ul>
                                    </div>
                                    <div class="plan-button">
                                        <a href="#" class="btn btn-common">Buy Now</a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <i class="lnr lnr-magic-wand"></i> 
                                    </div>
                                    <div class="pricing-details">
                                        <h2>Premium Plan</h2>
                                        <span>$9.50</span>
                                        <ul>
                                            <li>Consectetur adipiscing</li>
                                            <li>Nunc luctus nulla et tellus</li>
                                            <li>Suspendisse quis metus</li>
                                            <li>Vestibul varius fermentum erat</li>
                                        </ul>
                                    </div>
                                    <div class="plan-button">
                                        <a href="#" class="btn btn-common">Buy Now</a>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>-->
        <!-- End Pricing Table Section -->

        <!-- Counter Section Start -->
        <div class="counters section" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row"> 
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="wow fadeInUp" data-wow-delay=".2s">
                            <div class="facts-item"> 
                                <div class="icon">
                                    <i class="lnr lnr-magic-wand"></i>
                                </div>                
                                <div class="fact-count">
                                    <h3><span class="counter">100</span>%</h3>
                                    <h4>Faster</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="facts-item">
                                <div class="icon">
                                    <i class="lnr lnr-coffee-cup"></i>
                                </div>                
                                <div class="fact-count">
                                    <h3><span class="counter">700</span></h3>
                                    <h4>Cup of Coffee</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="wow fadeInUp" data-wow-delay=".6s">
                            <div class="facts-item">
                                <div class="icon">
                                    <i class="lnr lnr-user"></i>
                                </div>                
                                <div class="fact-count">
                                    <h3><span class="counter">10000</span>+</h3>
                                    <h4>Active Clients</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="wow fadeInUp" data-wow-delay=".8s">
                            <div class="facts-item">
                                <div class="icon">
                                    <i class="lnr lnr-heart"></i>
                                </div>                
                                <div class="fact-count">
                                    <h3><span class="counter">1689</span></h3>
                                    <h4>Peoples Love</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Section End -->

        <!-- testimonial Section Start -->
        <!--        <div id="testimonial" class="section">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
                                <div class="touch-slider owl-carousel owl-theme">
                                    <div class="testimonial-item">
                                        <img src="img/testimonial/customer1.png" alt="Client Testimonoal" />
                                        <div class="testimonial-text">
                                            <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                                            <h3>Johnathan Doe</h3>
                                            <span>Marketing Head Matrix media</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-item">
                                        <img src="img/testimonial/customer2.png" alt="Client Testimonoal" />
                                        <div class="testimonial-text">
                                            <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                                            <h3>Oidila Matik</h3>
                                            <span>President Lexo Inc</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-item">
                                        <img src="img/testimonial/customer3.png" alt="Client Testimonoal" />
                                        <div class="testimonial-text">
                                            <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                                            <h3>- Alex Dattilo</h3>
                                            <span>CEO Optima Inc</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>-->
        <!-- testimonial Section Start -->

        <!-- Download Section Start -->
        <!--        <section id="download" class="section">
                    <div class="container">
                        <div class="section-header">          
                            <h2 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Download</span> Our App</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">            
                                <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                                    <a href="#" class="btn btn-border"><i class="fa fa-apple"></i>Download Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
        <!-- Download Section End -->

        <!-- Blog Section -->
        <!--        <section id="blog" class="section">
                     Container Starts 
                    <div class="container">
                        <div class="section-header">          
                            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Latest <span>Blogs</span></h2>
                            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
                            <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br> nibh euismod tincidunt ut laoreet dolore magna.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                                 Blog Item Starts 
                                <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="blog-item-img">
                                        <a href="single-post.html">
                                            <img src="img/blog/img1.jpg" alt="">
                                        </a>                
                                    </div>
                                    <div class="blog-item-text"> 
                                        <h3>
                                            <a href="#">How often should you tweet?</a>
                                        </h3>
                                        <div class="meta-tags">
                                            <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 23, 2018</span>
                                            <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
                                        </p>
                                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                                    </div>
                                </div>
                                 Blog Item Wrapper Ends
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                                 Blog Item Starts 
                                <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="blog-item-img">
                                        <a href="single-post.html">
                                            <img src="img/blog/img2.jpg" alt="">
                                        </a>                
                                    </div>
                                    <div class="blog-item-text"> 
                                        <h3>
                                            <a href="#">Content is still king</a>
                                        </h3>
                                        <div class="meta-tags">
                                            <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 29, 2018</span>
                                            <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
                                        </p>
                                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                                    </div>
                                </div>
                                 Blog Item Wrapper Ends
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                                 Blog Item Starts 
                                <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.9s">
                                    <div class="blog-item-img">
                                        <a href="single-post.html">
                                            <img src="img/blog/img3.jpg" alt="">
                                        </a>                
                                    </div>
                                    <div class="blog-item-text">    
                                        <h3>
                                            <a href="#">Social media at work</a>
                                        </h3>
                                        <div class="meta-tags">
                                            <span class="date"><i class="lnr lnr-calendar-full"></i>on Mar 21, 2018</span>
                                            <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
                                        </p>
                                        <a href="single-post.html" class="btn btn-common btn-rm">Read More</a>
                                    </div>
                                </div>
                                 Blog Item Wrapper Ends
                            </div>
                        </div>
                    </div>
                </section>-->
        <!-- blog Section End -->

        <!-- Contact Section Start -->
        <section id="contact" class="section">
            <div class="container">
                <div class="row justify-content-md-center">          
                    <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">            
                        <div class="contact-block">
                            <div class="section-header">          
                                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact <span>Us</span></h2>
                                <hr class="lines wow zoomIn" data-wow-delay="0.3s"/>
                            </div>
                            <h:form id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p:inputText type="text" class="form-control" id="name" placeholder="Your Name" required="true"
                                                         requiredMessage="Your name is required" value="#{indexBean.name}"/>
                                                <div class="help-block with-errors"></div>
                                        </div>                                 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p:inputText type="text" placeholder="Your Email" id="email" class="form-control" required="true"
                                                         requiredMessage="Your email is required" value="#{indexBean.email}"/>
                                                <div class="help-block with-errors"></div>
                                        </div> 
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p:inputText type="text" placeholder="Subject" id="msg_subject" class="form-control" required="true"
                                                         requiredMessage="subject is required" value="#{indexBean.subject}"/>
                                                <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"> 
                                            <p:inputTextarea class="form-control" placeholder="Your Message" rows="11" required="true"
                                                             requiredMessage="Your message is required" value="#{indexBean.message}"/>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="submit-button text-center">
                                            <p:messages id="messages" showDetail="true"  closable="true" />
                                            <p:commandButton class="btn btn-common" id="submit" value="Send Message" update="messages"
                                                             actionListener="#{indexBean.sendMessage}"></p:commandButton>
                                            
                                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                            <div class="clearfix"></div> 
                                        </div>
                                    </div>
                                </div>            
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->

        <!-- Subcribe Section Start -->
        <div id="subscribe" class="section">
            <div class="container">
                <div class="section-header">          
                    <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe <span>Newsletter</span></h2>
                    <hr class="lines wow zoomIn" data-wow-delay="0.3s"/>
                        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe to get all latest news from us.</p>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-8" data-wow-delay="0.3s">
                        <h:form class="text-center form-inline wow fadeInUp" >
                            <p:inputText class="mb-20 form-control"  placeholder="Your Email Address"/>
                                <button class="sub_btn">subscribe</button>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subcribe Section End -->

        <!-- Footer Section Start -->
        <footer>          
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <!--<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <!--<li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <!--                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                                <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                            </ul>
                        </div>
                        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            <p>All copyrights reserved &copy; 2017</p>
                        </div>  
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End --> 

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="lnr lnr-arrow-up"></i>
        </a>

        <div id="loader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>    

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="js/jquery-min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/nivo-lightbox.js"></script>
        <script src="js/owl.carousel.min.js"></script>    
        <script src="js/jquery.stellar.min.js"></script>    
        <script src="js/jquery.nav.js"></script>    
        <script src="js/smooth-scroll.js"></script>    
        <script src="js/smooth-on-scroll.js"></script>    
        <script src="js/wow.js"></script>    
        <script src="js/menu.js"></script>
        <script src="js/jquery.vide.js"></script>
        <script src="js/jquery.counterup.min.js"></script>    
        <script src="js/jquery.magnific-popup.min.js"></script>    
        <script src="js/waypoints.min.js"></script>    
        <script src="js/form-validator.min.js"></script>
        <script src="js/contact-form-script.js"></script>     
        <script src="js/main.js"></script>

    </h:body>
</html>