<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title" class="bababa">
        Record Details
    </ui:define>

    <ui:define name="content" >
        <style>
            body{
                background-color: #fbfbfb !important;
            }
        </style>
            <p:messages id="messages" showDetail="true"  closable="true" />
            <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
                <p:menuitem value="Categories" outcome="home"/>
                <p:menuitem value="Invoices" outcome="invoices" />
            </p:breadCrumb>

            <p:panel class="card-layout">
                <div>
                    <p:graphicImage name="/images/customer-pp.png" style="background: #a2ceeb;
                                    width: 9em;
                                    height: inherit;
                                    padding: 1em;"
                                    styleClass="module-profile-pic"/>
                </div>

                <p:commandLink onclick="PF('confirmation').show()">
                    <p:graphicImage name="/images/delete_control.png" style="float: right;"
                                    styleClass="detail-control-button" />
                </p:commandLink>

                <p:commandLink actionListener="#{invoiceDetailBean.edit}" update="@form">
                    <p:graphicImage name="/images/edit.png" style="float: right;"
                                    styleClass="detail-control-button" />
                </p:commandLink>

                <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                                 header="#{accessBean.loadLocalizedValue('delete_msg_title')}"  widgetVar="confirmation"
                                 style="text-align: center">  
                    <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  actionListener="#{invoiceDetailBean.delete}"
                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                    </p:commandButton>  
                    <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()" type="button" />   
                </p:confirmDialog>

                <div>
                    <p:panelGrid columns="1" styleClass="module-header" style="margin-top: 1em;">
                        <c:forEach items="#{invoiceDetailBean.fieldsList}" var="headerField">
                            <h:outputText value="#{headerField.fieldType eq 'LOOKUP'? invoiceDetailBean.selectionMap[headerField.fieldName.concat('.name')].selectedValue:headerField.currentValue}" rendered="#{headerField.inHeader}"/>
                        </c:forEach>
                    </p:panelGrid>
                </div>
            </p:panel>

            <p:panel class="card-layout" style="padding: 0;">
                <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true"
                           dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                    <p:ajax event="tabChange" listener="#{invoiceDetailBean.onTabChange}" update="@this" onstart="PF('waitingDlgName').show()"
                            oncomplete="PF('waitingDlgName').hide()"/>
                    <p:tab title="#{accessBean.loadLocalizedValue('invoice')}" id="invoiceTab">
                        <pe:documentViewer id="invoiceViewer" height="500" value="#{applicationBean.invoicePdf}" download="invoice-#{invoiceDetailBean.recordModel.fieldValueMap['invocie_number'].currentValue}.pdf">
                            <f:param name="dealId" value="#{invoiceDetailBean.recordModel.fieldValueMap['deal_id'].currentValue}" />
                            <f:param name="invoiceId" value="#{invoiceDetailBean.recordModel.fieldValueMap['invoice_id'].currentValue}" />
                        </pe:documentViewer> 
                    </p:tab>

                    <p:tab title="#{accessBean.loadLocalizedValue('details_tab')}" id="detailsTab">
                        <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                            <ui:param name="formBean" value="#{invoiceDetailBean}" />
                            <ui:param name="formTitle" value="Detail" />
                        </ui:include>
                    </p:tab>

                    <p:tab title="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTab">
                        <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                            <ui:param name="formBean" value="#{invoiceDetailBean}" />
                            <ui:param name="formTitle" value="Detail" />
                        </ui:include>
                    </p:tab>

                    <c:forEach items="#{invoiceDetailBean.relationalMap}" var="relatedModule">
                        <c:set var="moduleVar" value="#{relatedModule.value.moduleId}" />
                        <c:if test="#{moduleVar ne '26'}">
                            <p:tab title="#{relatedModule.value.masterModuleName}" id="id#{relatedModule.value.moduleId}">
                                <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                                    <ui:param name="requestorBean" value="#{invoiceDetailBean.relationalBeanMap[moduleVar]}" />
                                    <ui:param name="tableKey" value="#{invoiceDetailBean.relationalKeyMap[moduleVar]}" />
                                    <ui:param name="tableId" value="dataTable#{relatedModule.value.moduleId}" />
                                </ui:include>
                            </p:tab>
                        </c:if>
                        <c:if test="#{moduleVar eq '26'}">
                            <p:tab title="#{relatedModule.value.masterModuleName}" id="id#{relatedModule.value.moduleId}">
                                <p:commandButton  value="#{accessBean.loadLocalizedValue('record_payment')}" icon="fa fa-w fa-plus" styleClass="topcommands"
                                                  actionListener="#{invoiceDetailBean.addPayment}" style="border-radius: 3px;" 
                                                  update="dataTable#{relatedModule.value.moduleId}"
                                                  onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide();"/>
                                <p:commandButton  icon="fa fa-edit" styleClass="topcommands" update="@form"
                                                  actionListener="#{invoiceDetailBean.editPayment}" 
                                                  style="border-radius: 3px;" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide();"/>
                                <p:commandButton  icon="fa fa-w fa-trash-o" styleClass="topcommands" update="dataTable#{relatedModule.value.moduleId}"
                                                  actionListener="#{invoiceDetailBean.relationalBeanMap[moduleVar].delete}" 
                                                  style="border-radius: 3px;" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide();"/>
                                <p:dataTable var="recList" value="#{invoiceDetailBean.relationalBeanMap[moduleVar].lazyRecordModel}" 
                                             widgetVar="orgTable" id="dataTable#{relatedModule.value.moduleId}"
                                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10" 
                                             paginator="true" paginatorPosition="bottom" selection="#{invoiceDetailBean.relationalBeanMap[moduleVar].selectedRecords}" 
                                             lazy="true" filterEvent="enter">
                                    <p:ajax event="rowSelect" listener="#{invoiceDetailBean.relationalBeanMap[moduleVar].onRowSelect}" update="@form" disabled="#{enableRowSelection ne null? enableRowSelection : 'false'}" onstart="PF('waitingDlgName').show()" onsuccess="PF('waitingDlgName').hide()"/>
                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <c:forEach items="#{invoiceDetailBean.relationalBeanMap[moduleVar].settingsList}" var="fields">
                                        <p:column headerText="#{fields.columnLabel}">
                                            <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                                        </p:column>
                                    </c:forEach>
                                </p:dataTable>
                            </p:tab>
                        </c:if>
                    </c:forEach>

                    <c:if test="${not empty invoiceDetailBean.smartViewModel}">
                        <c:forEach items="#{invoiceDetailBean.smartViewModel.tabConfigHolder.tabsConfig}" var="smartTab">
                            <p:tab title="#{smartTab.tabLabel}" id="smartTab_#{smartTab.tabId}">
                                <c:forEach items="#{smartTab.fieldsLayoutList}" var="layoutField">
                                    <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml">
                                        <ui:param name="formBean" value="#{invoiceDetailBean}" />
                                        <ui:param name="fields" value="#{layoutField}" />
                                    </ui:include>
                                </c:forEach>
                            </p:tab>
                        </c:forEach>
                    </c:if>

                    <p:dialog widgetVar="advancedDataDialog"  modal="true" width="1250" position="center center" dynamic="true" styleClass="form-dialog"
                              style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)">
                        <h:form id="advancedDialogFormMaster">
                            <ui:include src="/WEB-INF/templates/advancedCompRecordsTable.xhtml" >
                                <ui:param name="requestorBean" value="#{invoiceDetailBean}" />
                                <ui:param name="eventName" value="#{invoiceDetailBean.activeEvent}" />
                                <ui:param name="tableKey" value="#{invoiceDetailBean.dataTableKey}" />
                            </ui:include>
                        </h:form>
                    </p:dialog>
                </p:tabView>
            </p:panel>
        <!--<p:remoteCommand name="updatePaymentSidebar" update="addPaymentSidebar" immediate="true"/>-->
        <!--        <p:sidebar id="addPaymentSidebar" widgetVar="addPaymentSidebar" position="bottom" baseZIndex="10000" styleClass="quick-sidebar">
                    <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                            <ui:param name="formBean" value="#{invoiceDetailBean.addPaymentBean}" />
                            <ui:param name="formTitle" value="Add New Payment" />
                        </ui:include>
                </p:sidebar>-->

        <p:remoteCommand name="updatePaymentForm" update="@form" immediate="true"/>
        <p:dialog id="addPaymentSidebar" widgetVar="addPaymentSidebar" modal="true" position="right top" dynamic="true" 
                  onHide="PF('addPaymentPanel').content.empty()"
                  style="border-radius: 1px;text-align: -webkit-center;width: 110%" styleClass="quick-sidebar" showEffect="slide">
            <p:panel id="addPaymentPanel" style="border: none;overflow-x: hidden">
                <ui:include src="/WEB-INF/templates/formBuilderTemplateV2.xhtml" >
                    <ui:param name="formBean" value="#{invoiceDetailBean.addPaymentBean}" />
                    <ui:param name="formTitle" value="#{invoiceDetailBean.actionTypeName} Payment" />
                </ui:include>
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_save')}" actionListener="#{invoiceDetailBean.addPaymentBean.save}" styleClass="save-button" 
                                 process="@this, :addPaymentPanel"
                                 onstart="PF('waitingDlgName').show()" 
                                 oncomplete="PF('waitingDlgName').hide();"
                                 onsuccess="PF('waitingDlgName').hide();"
                                 update="@form"/>
            </p:panel>
        </p:dialog>
    </ui:define>

</ui:composition>