<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Invoices
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home"/>
            <p:menuitem value="Customers" url="#" />
        </p:breadCrumb>

        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
            <ui:param name="requestorBean" value="#{invoicesBean}" />
        </ui:include>

        <div style="text-align: right">
            <p:commandButton id="toggler" type="button"  icon="fa fa-bars" 
                             style="border: 1px solid #cecece;color: #4e4e4e;background: #ffffff;border-radius: 8em;width: 3em;padding: 0.5em;" />
            <p:commandButton icon="fa fa-table" styleClass="topcommands"
                             style="border-radius: 8em;width: 3em" immediate="true" actionListener="#{invoicesBean.loadTableColumnDesigner}" 
                             rendered="#{accessBean.userModel.permissionSet.admin}">
            </p:commandButton>

            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_delete')}" onclick="PF('confirmation').show()" 
                             style="border-radius: 8em;" 
                             icon="fa fa-trash-o" styleClass="topcommands nohover" onstart="PF('waitingDlgName').show()" 
                             oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"/>

            <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"  
                             header="#{accessBean.loadLocalizedValue('delete_msg_title')}"
                             widgetVar="confirmation"
                             style="text-align: center" >  
                <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  
                                 actionListener="#{invoicesBean.delete}" update="@form"
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                 onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()">
                </p:commandButton>  
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()"  />   
            </p:confirmDialog>

            <p:inputText id="fullTextSearchTopC" value="#{invoicesBean.FTSKeyword}" label="Keyword"
                         style="border: 1px solid #ccc;
                         border-radius: 50em;
                         float: left;
                         margin-top: 0.4em;
                         padding: 0.8em;
                         margin-right: 0.2em;
                         margin-left: 0.4em;"/>
            <p:watermark for="fullTextSearchTopC" value="#{accessBean.loadLocalizedValue('search_with_keyword')}"  />
            <p:commandButton value="#{accessBean.loadLocalizedValue('btn_search')}" style="float: left"
                             actionListener="#{invoicesBean.search(null)}" update="@form" styleClass="save-button topcommands" 
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" 
                             onsuccess="PF('waitingDlgName').hide()"/>

            <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
            <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="1250" position="center center" 
                      style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" dynamic="true">
                <c:if test="#{invoicesBean.ajaxRequest}">
                    <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                        <ui:param name="requestTableViewDesignerBean" value="#{invoicesBean.tableViewDesignerBean}" />
                    </ui:include>
                </c:if>
            </p:dialog>
        </div>

        <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
            <ui:param name="requestorBean" value="#{invoicesBean}" />
        </ui:include>

    </ui:define>

</ui:composition>