<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      class="no-js" lang="en" >
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
    <h:head>
        <title>
            <ui:insert name="title">Beezr</ui:insert>
        </title>
        <link rel="icon" type="image/png" href="images/beezr_fav_icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <f:facet name="last">
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
        </f:facet>
        <script>
            window.onload = function () {
                PF('waitingDlgName').hide();
            };
        </script>
    </h:head>

    <h:body>
        <f:facet name="last">
            <h:outputStylesheet name="stylesheets/custom.css" />
            <h:outputStylesheet name="stylesheets/nav.css" />
        </f:facet>
        <h:form prependId="false" id="mainForm">
            <style>
                body{
                    /*background: url('resources/images/sign_in_bg.jpg');*/
                    /*background: linear-gradient(150deg,#532c61 0,#372a6d 50%,#17698f 100%);*/
                    /*background:linear-gradient(277deg, #1b81d7, #1f4869);*/
                    /*background: linear-gradient(to right, #4b6cb7, #182848);*/
                    /*background: linear-gradient(to right, #5f2c82, #49a09d);*/ 
                      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
                    background-size: cover;
                    padding: 0;
                    margin: 0;
                }
            </style>
            <h:panelGrid columns="1" style="text-align: center;width: 100%;height: 100%;">
                <h:graphicImage name="/images/logo_new_white_1.png" width="150"  style="padding-top: 0.5em;margin-top: 6.5em"/>
                <h:outputLabel value="SIGN IN" style="color: #fff;font-size: 1.5em;padding-top: 0em;"/>

                <p:panel rendered="#{accessBean.authenticationFailed}" 
                         style="background-color: #fff37a;width: 30em;margin-right: auto;margin-left: auto;margin-bottom: 1em;border: 1px solid #fff37a;border-radius: 5px;">
                    <h:outputLabel value="#{accessBean.authenticationMessage}" style="font-weight: normal;color: #f44248;font-size: 1.1em;padding-top: 0.5em;"
                                   rendered="#{accessBean.authenticationFailed}"/>
                </p:panel>

                <p:inputText id="email" value="#{accessBean.email}" required="true" label="Keyword"
                             style="margin-bottom:  1em;height: 3em;border-radius: 4em;padding: 1em;background: #fff;color: #404040;" styleClass="sign-credentials"/>
                <p:watermark for="email" value="Email" id="watermarkEmail" />

                <p:password id="password" value="#{accessBean.password}" required="true" label="Keyword" 
                            style="margin-bottom:  1em;height: 3em;border-radius: 4em;padding: 1em;background: #fff;color: #404040;" styleClass="sign-credentials"/>
                <p:watermark for="password" value="Password" id="watermarkPassword" />

                <p:commandButton id="signInBtn" value="Sign in" style="border-radius: 5px;
                                 color: #fff;
                                 background: #20d077;
                                 border-color: #20d077;
                                 border: 1px solid #20d077;
                                 padding: .5em;
                                 font-weight: bolder;
                                 width: 15em;" 
                                 actionListener="#{accessBean.signIn}" update="@form" 
                                 onstart="PF('waitingDlgName').show()" />
            </h:panelGrid>

            <p:dialog id="waitingDialog" resizable="false" showHeader="false" 
                      widgetVar="waitingDlgName"  modal="true" styleClass="ui-waiting-dialog">
                <table>
                    <tr>
                        <td align="center">
                            <h:graphicImage value="/images/rhombus.gif" height="80px" style="border-radius: 500em;border: 0px solid #ccc;"/>                                    
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </h:form>
    </h:body>
</html>

