<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Mail Server Manager
    </ui:define>
    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:panel class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all form-header page-header-title" 
                 style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul>Add Mail Server</ul>
        </p:panel>
        <h:panelGrid columns="2" >
            <p:outputLabel value="Configuration Name" style="padding: 1em;padding-right: 2em;"/>
            <p:inputText style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;"
                         value="#{mailServerManagerBean.serverConfigModel.configurationName}"/>

            <p:outputLabel value="Host" style="padding: 1em;padding-right: 2em;"/>
            <p:inputText style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;"
                         value="#{mailServerManagerBean.serverConfigModel.host}"/>

            <p:outputLabel value="Port" style="padding: 1em;padding-right: 2em;"/>
            <p:inputText style="border: 1px solid #cccccc;border-radius: 3px;padding: 0.7em;"
                         value="#{mailServerManagerBean.serverConfigModel.port}"/>

            <p:outputLabel value="Protocol" style="padding: 1em;padding-right: 2em;"/>
            <p:selectOneMenu value="#{mailServerManagerBean.serverConfigModel.protocol}" 
                             style="width:19em;display: inline-flex;">
                <f:selectItem itemLabel="Select One" itemValue="" />
                <f:selectItem itemLabel="SMTPS" itemValue="SMTPS" />
                <f:selectItem itemLabel="TLS" itemValue="TLS" />
            </p:selectOneMenu>
            
            <p:outputLabel value="Authenticate" style="padding: 1em;padding-right: 2em;"/>
            <p:selectBooleanCheckbox value="#{mailServerManagerBean.serverConfigModel.auth}"/>
        </h:panelGrid>

        <footer class="footer">
            <p:commandButton value="Save" actionListener="#{mailServerManagerBean.save}" styleClass="save-button"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
            <p:commandButton value="Cancel" action="#{mailServerManagerBean.cancel}" styleClass="cancel-button" immediate="true"/>
        </footer>
    </ui:define>

</ui:composition>