<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        My Applications
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fff !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Home" outcome="home" />
        </p:breadCrumb>

        <div style="margin-left: -1.2em;margin-right: -1.8em;">
            <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">My Apps</ul>
            <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
        </div>

        <p:button  value="New App" 
                   outcome="appBuilder" icon="fa fa-cube" styleClass="topcommands"
                   style="border-radius: 3px;margin-bottom: 0.5em"/>

        <p:dataGrid var="app" value="#{myAppsBean.appList}" columns="3" layout="grid"
                    rows="12" paginator="true" id="appsGrid" paginatorPosition="bottom"
                    emptyMessage="No Apps Found, Build yours now!!!" style="border: none"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
            <p:panel style="text-align:center;border: none">
                <h:panelGrid columns="1" style="width:100%" styleClass="borderless-grid">
                    <c:if test="#{not empty app.appIcon}">
                        <p:graphicImage url="#{app.appIcon}" width="70"/> 
                    </c:if>
                    <c:if test="#{empty app.appIcon}">
                        <p:graphicImage name="/images/default_app_ic.png" width="70"/> 
                    </c:if>

                    <h:outputText value="#{app.appName}" />

                    <h:panelGroup >
                        <p:commandLink actionListener="#{myAppsBean.openAppBuilder(app)}" update="@form" style="padding: 1em">
                            <h:graphicImage name="/images/edit-dark.png" width="16" height="16"/>
                        </p:commandLink>

                        <p:commandLink actionListener="#{myAppsBean.openDeleteAppConfirmation(app)}" style="padding: 1em"  update="@form" >
                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                        </p:commandLink>
                    </h:panelGroup>

                </h:panelGrid>
            </p:panel>
        </p:dataGrid>

        <p:confirmDialog message="Are you sure you want to delete this app?"
                         header="Delete App"
                         widgetVar="deleteAppConfirmDialog"
                         style="text-align: center" >  
            <p:commandButton value="Yes"
                             onclick="PF('deleteAppConfirmDialog').hide()"  
                             actionListener="#{myAppsBean.deleteApp()}" update="@form"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()">
            </p:commandButton>  
            <p:commandButton value="Cancel"
                             onclick="PF('deleteAppConfirmDialog').hide()"  />   
        </p:confirmDialog>
    </ui:define>

</ui:composition>