<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Orders
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Home" outcome="home"/>
            <p:menuitem value="Orders" url="#" />
        </p:breadCrumb>

        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
            <ui:param name="requestorBean" value="#{ordersBean}" />
        </ui:include>

        <p:panelGrid columns="1"  styleClass="borderless-grid nopad-grid" style="width: 100%;padding: 0">
            <p:panel style="text-align: right;border: none">
                <p:commandButton icon="fa fa-table" styleClass="topcommands"
                                 style="border-radius: 3px;" immediate="true" actionListener="#{ordersBean.loadTableColumnDesigner}" 
                                 rendered="#{accessBean.userModel.permissionSet.admin}">
                </p:commandButton>

                <p:inputText id="fullTextSearchTopC" value="#{ordersBean.FTSKeyword}" label="Keyword"
                             style="border: 1px solid #ccc;
                             border-radius: 50em;
                             float: left;
                             margin-top: 0.4em;
                             padding: 0.8em;
                             margin-right: 0.2em;
                             margin-left: 0.4em;"/>
                <p:watermark for="fullTextSearchTopC" value="#{accessBean.loadLocalizedValue('search_with_keyword')}"  />
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_search')}" style="float: left"
                                 actionListener="#{ordersBean.search(null)}" update="@form" styleClass="save-button topcommands" 
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" 
                                 onsuccess="PF('waitingDlgName').hide()"/>


                <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
                <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="1250" position="center center" 
                          style="border-radius: 4px;text-align: -webkit-center;" onHide="updateForm()" dynamic="true">
                    <c:if test="#{ordersBean.ajaxRequest}">
                        <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                            <ui:param name="requestTableViewDesignerBean" value="#{ordersBean.tableViewDesignerBean}" />
                        </ui:include>
                    </c:if>
                </p:dialog>
            </p:panel>


            <p:panel style="border: none">
                <p:dataTable var="recList" value="#{ordersBean.lazyRecordModel}" 
                             widgetVar="orgTable" id="#{tableId ne null? tableId : 'dataTable'}" 
                             rowStyleClass="#{fields.columnFieldName eq 'order_status'}"
                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons orders-table" rows="10" 
                             paginator="true" paginatorPosition="bottom" selection="#{ordersBean.selectedRecords}" 
                             lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                    <p:ajax event="rowSelect" listener="#{ordersBean.onRowSelect}" update="@form" disabled="#{enableRowSelection ne null? enableRowSelection : 'false'}" onstart="PF('waitingDlgName').show()" onsuccess="PF('waitingDlgName').hide()"/>
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:columns var="fields" value="#{ordersBean.settingsList}" headerText="#{fields.columnLabel}" sortBy="#{fields.columnFieldName}">
                        <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" 
                                      style="#{fields.columnFieldName eq 'order_status.name'?recList.fieldValueMap['order_status'].currentValue eq '1'? 'background: #6ef5ca':
                                               recList.fieldValueMap['order_status'].currentValue eq '2'? 'background: #ff96f6':
                                               recList.fieldValueMap['order_status'].currentValue eq '3'? 'background: #ffdb96':
                                               recList.fieldValueMap['order_status'].currentValue eq '4'? 'background: #8dff79': '':''}
                                      ;padding: 0.5em;border-radius: 3px;"/>
                    </p:columns>

<!--                    <c:forEach items="#{ordersBean.settingsList}" var="fields">
                        <p:column headerText="#{fields.columnLabel}">
                            <c:choose>
                                <c:when test="${fields.columnFieldName eq 'order_status.name'}">
                                    <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" 
                                                  style="#{recList.fieldValueMap['order_status'].currentValue eq '1'? 'background: #6ef5ca':
                             recList.fieldValueMap['order_status'].currentValue eq '2'? 'background: #ff96f6':
                             recList.fieldValueMap['order_status'].currentValue eq '3'? 'background: #ffdb96':
                             recList.fieldValueMap['order_status'].currentValue eq '4'? 'background: #8dff79': ''}
                    ;padding: 0.5em;border-radius: 3px;"/>
  </c:when>
  <c:otherwise>
      <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
  </c:otherwise>
</c:choose>
</p:column>
</c:forEach>-->
                </p:dataTable>

                <p:blockUI block="#{tableId ne null? tableId : 'dataTable'}">
                    <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
                </p:blockUI>
            </p:panel>
        </p:panelGrid>


    </ui:define>

</ui:composition>