<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ct="http://www.chartistjsf.org/charts">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>


    <ui:define name="title">
        Dashboard
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #f5f5f9 !important;
            }
        </style>
        <style>
            #{pageBuilderBean.customCssStyling}
        </style>

        <script>
            $(document).ready(function () {
                var trigger = $('.hamburger'),
                        overlay = $('.overlay'),
                        isClosed = true;
                trigger.click(function () {
                    hamburger_cross();
                });
                function hamburger_cross() {

                    if (isClosed === true) {
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                });
            });
        </script>
        <h:outputScript>
            $(document).ready(function (){
            if (window.innerWidth &lt; 800){
            $('#wrapper').removeClass("toggled");
            } else{
            $('#wrapper').addClass("toggled");
            }
            });
        </h:outputScript>

        <h:body onload="loadWidgets()">



            <p:remoteCommand name="loadWidgets" 
                             update="@form"  onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             actionListener="#{pageBuilderBean.initialize}" />  

            <h:outputText value="#{pageBuilderBean.customLinkStyling}" escape="false" />

            <c:choose>
                <c:when test="${pageBuilderBean.emptyDashboard}">
                    <p:panelGrid columns="1" styleClass="borderless-grid empty-dashboard" style="text-align: center;width: 100%">
                        <h:graphicImage name="/images/empty_dashboard.png" width="400" style="margin-right: 1em;"/>
                        <p:outputLabel value="You don't have any dashboards yet, start building them in the designer." style="font-weight: 500;font-size: 16px;"/>
                    </p:panelGrid>

                </c:when>
                <c:otherwise>
                    <p:panelGrid id="board" columns="1" style="width: 100%;table-layout: fixed" styleClass="borderless-grid personal_dashboard_container">
                        <c:forEach items="#{pageBuilderBean.pageDesignModel.pageConfig.pageWidgets}" var="widget">
                            <ui:include src="/WEB-INF/templates/pages/pageViewer.xhtml">
                                <ui:param name="formBean" value="#{pageBuilderBean}" />
                                <ui:param name="widget" value="#{widget}" />
                            </ui:include>
                        </c:forEach>
                    </p:panelGrid>
                </c:otherwise>
            </c:choose>

            <!--            <h:outputScript name="js/shepherd/shepherd.min.js"></h:outputScript>
                        <h:outputStylesheet name="js/shepherd/shepherd.css"/>-->
            <script>
                function startTour() {
                    const tour = new Shepherd.Tour({
                        useModalOverlay: true,
                        defaultStepOptions: {
                            classes: 'shadow-md bg-purple-dark',
                            scrollTo: true
                        }
                    });
                    tour.addStep({
                        title: 'Your Application Modules',
                        text: `Here you can access all the different modules in you application. Depending on the user permissions, some module can be hidden. Click the plus sign to quickly add a new entry in a single click.`,
                        attachTo: {
                            element: '.navbar-fixed-top',
                            on: 'right'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });
                    tour.addStep({
                        title: 'Your personal dashboard',
                        text: `This is your applications dashboard. you can customize it to view insights about your business and important reports.`,
                        attachTo: {
                            element: '#board',
                            on: 'top'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'Navigation Bar',
                        text: `The top navigation bar gives you shortcuts to some important tools that you'll need.`,
                        attachTo: {
                            element: '.layout-page',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'The Hive',
                        text: `With Beezr you can build different applications for each business unit in your organization. Click here to navigate between the available applications, make sure you have permission to access them.`,
                        attachTo: {
                            element: '#hiveStoreControl',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'Support Central',
                        text: `Whenever you are facing any issue just click here and open a support ticket directly from within the application. No more searching for the right support email.`,
                        attachTo: {
                            element: '#supportTopControl',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'Notifications',
                        text: `View your notifications from here when you have a task or pending action.`,
                        attachTo: {
                            element: '#notificationPanel',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'Task Space',
                        text: `Your very own task management, view your tasks in an organized manner and never be late again.`,
                        attachTo: {
                            element: '#tasksTopControl',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });

                    tour.addStep({
                        title: 'Beezr Reports',
                        text: `Beezr has a powerful business intelligence and reporting engine. You can build complicated reports and graphs from here and use them in your dashboard.`,
                        attachTo: {
                            element: '#reportsTopControl',
                            on: 'bottom'
                        },
                        buttons: [
                            {
                                action() {
                                    return this.back();
                                },
                                classes: 'shepherd-button-secondary',
                                text: 'Back'
                            },
                            {
                                action() {
                                    return this.next();
                                },
                                text: 'Next'
                            }
                        ],
                        id: 'creating'
                    });
                    tour.start();
                }

            </script>
        </h:body>

    </ui:define>

</ui:composition>