<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title" class="bababa">
        Product Details
    </ui:define>

    <ui:define name="content" >
        <style>
            body{
                background-color: #fbfbfb !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home"/>
            <p:menuitem value="Products" outcome="products" />
            <p:menuitem value="#{productDetailBean.recordModel.fieldValueMap.get('product_name').currentValue}" url="#" style="color: #428bca;font-weight: normal;"/>
        </p:breadCrumb>

        <p:panel class="card-layout">
            <div>
                <c:choose>
                    <c:when test="${productDetailBean.recordModel.fieldValueMap.get('img_path').currentValue ne null}">
                        <h:outputLink value="javascript:void(0)" 
                                      onclick="PF('picDialog-#{productDetailBean.recordModel.fieldValueMap.get('product_id').currentValue}').show();">  
                            <p:graphicImage value="#{applicationBean.image}" 
                                            style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: 20vh;max-width: 30vh;">
                                <f:param name="contentId" value="#{productDetailBean.recordModel.fieldValueMap.get('img_path').currentValue}" />
                            </p:graphicImage>
                        </h:outputLink>

                        <p:dialog id="picDialog-#{productDetailBean.recordModel.fieldValueMap.get('product_id').currentValue}" 
                                  widgetVar="picDialog-#{productDetailBean.recordModel.fieldValueMap.get('product_id').currentValue}"
                                  modal="true" height="550">
<!--                            <p:graphicImage url="#{productDetailBean.recordModel.fieldValueMap.get('img_path').currentValue}" 
                                            style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: -webkit-fill-available">
                                <f:param name="contentId" value="#{productDetailBean.recordModel.fieldValueMap.get('img_path').currentValue}" />
                            </p:graphicImage>-->
                            <p:graphicImage value="#{applicationBean.image}" 
                                            style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: -webkit-fill-available">
                                <f:param name="contentId" value="#{productDetailBean.recordModel.fieldValueMap.get('img_path').currentValue}" />
                            </p:graphicImage>
                        </p:dialog>
                    </c:when>
                    <c:otherwise>
                        <p:graphicImage name="/images/product_pp.png" 
                                        styleClass="module-profile-pic" 
                                        style="background: #434a80;width: 9em;height: inherit;padding: 1em;"/>
                    </c:otherwise>
                </c:choose>
            </div>

            <p:commandLink onclick="PF('confirmation').show()">
                <p:graphicImage name="/images/delete_control.png" style="float: right;"
                                styleClass="detail-control-button" />
            </p:commandLink>

            <p:commandLink actionListener="#{productDetailBean.edit}" update="@form">
                <p:graphicImage name="/images/edit.png" style="float: right;"
                                styleClass="detail-control-button" />
            </p:commandLink>

            <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                             header="#{accessBean.loadLocalizedValue('delete_msg_title')}"  widgetVar="confirmation"
                             style="text-align: center">  
                <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  actionListener="#{productDetailBean.delete}">
                </p:commandButton>  
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()" type="button" />   
            </p:confirmDialog>

            <div>
                <p:panelGrid columns="1" styleClass="module-header" style="margin-top: 1em;">
                    <h:outputText value="#{productDetailBean.recordModel.fieldValueMap.get('product_name').currentValue}" style="font-size: 1.5em;text-shadow: 1px 0px 0px #939393;"/>
                    <h:outputText value="#{productDetailBean.recordModel.fieldValueMap.get('product_code').currentValue}" />
                    <h:outputText value="#{productDetailBean.recordModel.fieldValueMap.get('selling_price').currentValue}" />
                </p:panelGrid>
            </div>
        </p:panel>
        <p:panel class="card-layout" style="padding: 0;">
            <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true" cache="true" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                <p:ajax event="tabChange" listener="#{productDetailBean.onTabChange}" update="@this" onstart="PF('waitingDlgName').show()"
                        oncomplete="PF('waitingDlgName').hide()"/>
                <p:tab title="#{accessBean.loadLocalizedValue('details_tab')}" id="detailsTab">
                    <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                        <ui:param name="formBean" value="#{productDetailBean}" />
                        <ui:param name="formTitle" value="#{accessBean.loadLocalizedValue('details_tab')}" />
                    </ui:include>
                </p:tab>

                <p:tab title="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTab">
                    <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                        <ui:param name="formBean" value="#{productDetailBean}" />
                        <ui:param name="formTitle" value="Detail" />
                    </ui:include>
                </p:tab>

                <p:tab title="#{accessBean.loadLocalizedValue('gallery')}" id="galleryTab">
                    <ui:include src="/WEB-INF/templates/components/mediaGalleryComponent.xhtml" >
                        <ui:param name="managerBean" value="#{productDetailBean}" />
                    </ui:include>
                </p:tab>

                <p:tab title="#{accessBean.loadLocalizedValue('product_variants')}" id="variantsTab">
                    <p:dataTable var="variant" value="#{productDetailBean.productVariantList}"
                                 selectionMode="single" selection="#{productDetailBean.selectedVariant}" 
                                 styleClass="datatable paginator-buttons"
                                 rowKey="#{variant.fieldValueMap['product_id'].currentValue}">
                        <p:ajax event="rowSelect" listener="#{productDetailBean.onVariantSelect}" onstart="PF('waitingDlgName').show()"/>
                        <p:column headerText="#{accessBean.loadLocalizedValue('prd_name')}">
                            <h:outputText value="#{variant.fieldValueMap['product_name'].currentValue}" />
                        </p:column>
                        <p:columns value="#{productDetailBean.attributeVariantList}" var="column" columnIndexVar="colIndex"
                                   sortBy="#{variant.fieldValueMap[column.attributeName].currentValue}">
                            <f:facet name="header">
                                <h:outputText value="#{column.attributeName}" />
                            </f:facet>
                            <h:outputText value="#{variant.fieldValueMap[column.attributeName].currentValue}" />
                        </p:columns>
                        <p:column headerText="#{accessBean.loadLocalizedValue('current_stock')}">
                            <h:outputText value="#{variant.fieldValueMap['current_stock'].currentValue}" />
                        </p:column>
                    </p:dataTable>
                </p:tab>

                <c:forEach items="#{productDetailBean.relationalMap}" var="relatedModule">
                    <c:set var="moduleVar" value="#{relatedModule.value.moduleId}" />
                    <p:tab title="#{relatedModule.value.masterModuleName}" id="id#{relatedModule.value.moduleId}">
                        <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                            <ui:param name="requestorBean" value="#{productDetailBean.relationalBeanMap[moduleVar]}" />
                            <ui:param name="tableKey" value="#{productDetailBean.relationalKeyMap[moduleVar]}" />
                            <ui:param name="tableId" value="dataTable#{relatedModule.value.moduleId}" />
                            <ui:param name="type" value="RECORD_DETAILS" />
                        </ui:include>
                    </p:tab>
                </c:forEach>

            </p:tabView>
        </p:panel>
    </ui:define>

</ui:composition>