<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Purchase Orders
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home"/>
            <p:menuitem value="Purchase Orders" url="#" />
        </p:breadCrumb>
        
        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
            <ui:param name="requestorBean" value="#{purchaseOrdersBean}" />
        </ui:include>
        
        <ui:include src="/WEB-INF/templates/topCommandsTemplate.xhtml" >
            <ui:param name="requestorBean" value="#{purchaseOrdersBean}" />
            <ui:param name="objectName" value="Purchase Order" />
            <ui:param name="generic" value="true" />
        </ui:include>
        
        <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
            <ui:param name="requestorBean" value="#{purchaseOrdersBean}" />
        </ui:include>

    </ui:define>

</ui:composition>