<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Record Details
    </ui:define>


    <ui:define name="content" >
        <h:outputScript>
            $(document).ready(function (){
            if (window.innerWidth &lt; 800){
            $('#wrapper').removeClass("toggled");
            } else{
            $('#wrapper').addClass("toggled");
            }
            });
        </h:outputScript>
        <style>
            body{
                background-color: #f5f5f9 !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs">
            <p:menuitem value="Categories" outcome="#{recordDetailBean.masterPageName}" />
            <p:menuitem value="#{recordDetailBean.moduleBreadCrumbName}" url="#"/>
        </p:breadCrumb>

        <p:panel style="margin-bottom:10px;background: #fff;width: 100%" styleClass="form-container"
                 id="recordManagerControlMenuPanel">
            <p:menubar id="recordsManagerControlsMenu" style="display: block">
                <p:menuitem value="Add Another" icon="fa fa-plus" update="@form"  id="addAnotherMenuItem"
                            onstart="PF('waitingDlgName').show()" rendered="#{!recordDetailBean.approval}"
                            actionListener="#{recordDetailBean.addAnotherRecord()}" 
                            disabled="#{recordDetailBean.approval or !accessBean.isPermittetedToAction(recordDetailBean.moduleId,'CREATE')}"/>

                <p:divider layout="vertical"/>

                <p:menuitem value="Edit" icon="fa fa-pencil"  immediate="true" id="editRecordMenuItem"
                            disabled="#{!accessBean.isPermittetedToAction(recordDetailBean.moduleId,'EDIT')}"
                            onstart="PF('waitingDlgName').show()" 
                            actionListener="#{recordDetailBean.edit()}"/>

                <p:divider layout="vertical"/>

                <p:menuitem value="Delete" id="deleteRecordMenuItem" icon="fa fa-trash" onclick="PF('confirmation').show()"
                            rendered="#{!recordDetailBean.approval}"
                            disabled="#{recordDetailBean.approval or !accessBean.isPermittetedToAction(recordDetailBean.moduleId,'DELETE')}"
                            update="recordsManagerControlsMenu"/>

                <p:divider layout="vertical"/>

                <p:menuitem  value="Back to records" immediate="true" id="backToRecordsMenuItem" icon="fa fa-list-alt" 
                             rendered="#{!recordDetailBean.approval}"
                             onstart="PF('waitingDlgName').show()" disabled="#{recordDetailBean.approval}"
                             actionListener="#{recordDetailBean.returnToAllRecords()}" update="recordsManagerControlsMenu"/>

                <p:divider layout="vertical"  rendered="#{recordDetailBean.originatedFromSmartView}"/>

                <p:menuitem  value="Back to parent" immediate="true" id="backToParentMenuItem" icon="fa fa-reply" 
                             onstart="PF('waitingDlgName').show()" rendered="#{recordDetailBean.originatedFromSmartView and !recordDetailBean.approval}"
                             actionListener="#{recordDetailBean.returnToOriginalRecord()}" update="recordsManagerControlsMenu"/>

                <p:divider layout="vertical" rendered="#{recordDetailBean.approval and not empty recordDetailBean.originatingTask}" style="margin-right: 1em"/>

                <p:menuitem icon="fa fa-check" styleClass="save-button record_approval_controls" rendered="#{recordDetailBean.approval and not empty recordDetailBean.originatingTask}"
                            disabled="#{recordDetailBean.originatingTask.status eq 'DONE'}" onstart="PF('waitingDlgName').show()"
                            oncomplete="PF('waitingDlgName').hide()" 
                            style="border-radius: 3px;padding: 2px;margin-right: 1em;color: #fff;padding-bottom: 7px" 
                            value="#{accessBean.loadLocalizedValue('approve')}"
                            immediate="true" actionListener="#{recordDetailBean.approveRequest}">
                </p:menuitem>

                <p:menuitem icon="fa fa-remove" styleClass="cancel-button record_approval_controls" rendered="#{recordDetailBean.approval and not empty recordDetailBean.originatingTask}"
                            disabled="#{recordDetailBean.originatingTask.status eq 'DONE'}" 
                            style="border-radius: 3px;padding: 2px;margin-right: 1em;color: #fff;padding-bottom: 7px" 
                            value="#{accessBean.loadLocalizedValue('reject')}"
                            immediate="true" onclick="PF('rejectionReasonDialog').show()" >
                </p:menuitem>

                <p:menuitem icon="fa fa-question" styleClass="clarify-button record_approval_controls" rendered="#{recordDetailBean.approval and not empty recordDetailBean.originatingTask}"
                            disabled="#{recordDetailBean.originatingTask.status eq 'DONE'}" 
                            style="border-radius: 3px;padding: 2px;margin-right: 1em;color: #fff;padding-bottom: 7px"
                            value="#{accessBean.loadLocalizedValue('task_request_clarify')}"
                            immediate="true" onclick="PF('clarificationRequestDetails').show()" >
                </p:menuitem>
                
                <p:menuitem icon="fa fa-reply" styleClass="clarify-button record_approval_controls" rendered="#{recordDetailBean.approval and not empty recordDetailBean.originatingTask}"
                            disabled="#{recordDetailBean.originatingTask.status eq 'DONE' or !recordDetailBean.originatingTask.hasParentTask}" 
                            style="border-radius: 3px;padding: 2px;margin-right: 1em;color: #fff;padding-bottom: 7px"
                            value="#{accessBean.loadLocalizedValue('task_send_back')}"
                            immediate="true" onclick="PF('sendBackMessageDialog').show()" >
                </p:menuitem>

            </p:menubar>
        </p:panel> 

        <p:panel styleClass="form-container" id="recordHeaderCardPanel" style="margin-bottom:10px;background: #fff;width: 100%;margin-top: 10px">
            <h:panelGrid columns="1" style="width: 100%">
                <c:if test="${not empty recordDetailBean.smartViewModel}">
                    <c:forEach items="#{recordDetailBean.smartViewModel.headerConfig.fieldsLayoutList}" var="headerLayoutField">
                        <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml">
                            <ui:param name="formBean" value="#{recordDetailBean}" />
                            <ui:param name="fields" value="#{headerLayoutField}" />
                        </ui:include>
                    </c:forEach>
                </c:if>

                <h:panelGrid columns="2" columnClasses="thirty-percent,seventy-percent" 
                             style="border-collapse: separate;border-spacing: 8px;table-layout: fixed" id="recordDetailsHeaderHolder">

                    <!--First section-->

                    <c:choose>
                        <c:when test="${not empty recordDetailBean.smartViewModel and not empty recordDetailBean.smartViewModel.headerConfig.displayPicRef}">
                            <c:if test="#{recordDetailBean.smartViewModel.headerConfig.displayPicType eq 'STATIC'}">
                                <p:graphicImage value="#{applicationBean.image}" 
                                                style="margin-right: 1em;max-height: 20vh;max-width: 30vh;border-radius: 6px">
                                    <f:param name="contentId" value="#{recordDetailBean.smartViewModel.headerConfig.displayPicRef}" />
                                    <f:param name="context" value="CONFIG" />
                                    <f:param name="moduleId" value="#{recordDetailBean.smartViewModel.moduleId}" />
                                </p:graphicImage>
                            </c:if>
                            <c:if test="#{recordDetailBean.smartViewModel.headerConfig.displayPicType eq 'DYNAMIC'}">
                                <p:remoteCommand name="showFullImage" oncomplete="PF('fullScreenDynamicPic').show()" />

                                <p:graphicImage value="#{applicationBean.recordDynamicImage}"  onclick="showFullImage()"
                                                style="margin-right: 1em;max-height: 20vh;max-width: 30vh;">
                                    <f:param name="contentId" value="#{recordDetailBean.smartViewModel.headerConfig.displayPicRef}" />
                                    <f:param name="context" value="CONFIG" />
                                    <f:param name="moduleId" value="#{recordDetailBean.smartViewModel.moduleId}" />
                                </p:graphicImage>

                                <p:dialog widgetVar="fullScreenDynamicPic"  modal="true"  position="center center" dynamic="true" styleClass="form-dialog"
                                          style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)">
                                    <p:graphicImage value="#{applicationBean.recordDynamicImage}" style="max-width: 350px" >
                                        <f:param name="contentId" value="#{recordDetailBean.smartViewModel.headerConfig.displayPicRef}" />
                                        <f:param name="context" value="CONFIG" />
                                        <f:param name="moduleId" value="#{recordDetailBean.smartViewModel.moduleId}" />
                                    </p:graphicImage>
                                </p:dialog>

                            </c:if>


                        </c:when>
                        <c:otherwise>
                            <c:choose>
                                <c:when test="${ not empty recordDetailBean.activeModule.iconImage}">
                                    <p:graphicImage value="#{applicationBean.recordDetailModuleImage}" 
                                                    style="margin-right: 1em;max-height: 40vh;max-width: 50vh;background: #ffd100;padding: 1em;width: 9em;border-radius: 6px">
                                        <f:param name="contentId" value="#{recordDetailBean.activeModule.iconImage}" />
                                        <f:param name="context" value="CONFIG" />
                                        <f:param name="moduleId" value="#{recordDetailBean.moduleId}" />
                                    </p:graphicImage>
                                </c:when>
                                <c:otherwise>
                                    <p:graphicImage name="/images/module_pp.png" 
                                                    style="margin-right: 1em;max-height: 40vh;max-width: 50vh;background: #ffd100;padding: 1em;width: 6em;border-radius: 6px"
                                                    />
                                </c:otherwise>
                            </c:choose>

                        </c:otherwise>
                    </c:choose>

                    <!--Second section-->

                    <p:panelGrid columns="1" styleClass="module-header" style="line-height: 1.5px">
                        <c:forEach items="#{recordDetailBean.fieldsList}" var="headerField">
                            <c:choose>
                                <c:when test="${headerField.fieldType eq 'LOOKUP'}">
                                    <h:outputText value="#{recordDetailBean.selectionMap[headerField.fieldName.concat('.name')].selectedValue}" rendered="#{headerField.inHeader}"  style="font-size: 14px;font-weight: bold"/>
                                </c:when>
                                <c:when test="${headerField.fieldType eq 'REL'}">
                                    <h:outputText value="#{recordDetailBean.selectedRecordsMap.get(headerField.fieldName).getFieldValueMap().get(recordDetailBean.relationRecordsCache.get(headerField.fieldName).getRelationManager().getViewColumn()).getCurrentValue()}" rendered="#{headerField.inHeader}"  style="font-size: 14px;font-weight: bold"/>
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{headerField.currentValue}" rendered="#{headerField.inHeader}" style="font-size: 14px;font-weight: bold"/>
                                </c:otherwise>
                            </c:choose>
                        </c:forEach>
                    </p:panelGrid>
                </h:panelGrid>
            </h:panelGrid>



            <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                             header="#{accessBean.loadLocalizedValue('delete_msg_title')}"   widgetVar="confirmation"
                             style="text-align: center">  
                <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  actionListener="#{recordDetailBean.delete}"
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"  
                                 onerror="PF('waitingDlgName').hide()" update="messages"
                                 styleClass="save-button">
                </p:commandButton>  
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()" type="button" 

                                 styleClass="cancel-button"/>   
            </p:confirmDialog>

            <p:dialog widgetVar="rejectionReasonDialog"  modal="true"  position="center center"  styleClass="form-dialog"
                      style="border-radius: 4px;text-align: -webkit-center;" rendered="#{recordDetailBean.approval}">
                <p:panelGrid columns="1" styleClass="borderless-grid" id="rejectionReasonPanel" style="width: 100%">
                    <p:outputLabel value="Rejection Reason" style="font-weight: bold;"/>
                    <p:inputTextarea rows="3" cols="60" style="padding: 0.5em;
                                     border: 1px solid #dbdbdb;-webkit-box-shadow: none;margin-top: -6px"
                                     value="#{recordDetailBean.originatingTask.responseReason}"/>
                </p:panelGrid>
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_done')}"  onstart="PF('waitingDlgName').show()" 
                                 actionListener="#{recordDetailBean.rejectRequest}" process="@this rejectionReasonPanel" style="background-color: #ffd100;color: #282f44"/>  
            </p:dialog>
            
            <p:dialog widgetVar="sendBackMessageDialog"  modal="true"  position="center center"  styleClass="form-dialog"
                      style="border-radius: 4px;text-align: -webkit-center;" rendered="#{recordDetailBean.originatingTask.hasParentTask}">
                <p:panelGrid columns="1" styleClass="borderless-grid" id="sendBackReasonPanel" style="width: 100%">
                    <p:outputLabel value="Return Reason" style="font-weight: bold;"/>
                    <p:inputTextarea rows="3" cols="60" style="padding: 0.5em;
                                     border: 1px solid #dbdbdb;-webkit-box-shadow: none;margin-top: -6px"
                                     value="#{recordDetailBean.originatingTask.sendBackMessage}"/>
                </p:panelGrid>
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_done')}"  onstart="PF('waitingDlgName').show()" 
                                 actionListener="#{recordDetailBean.sendBackRequest}" process="@this sendBackReasonPanel" style="background-color: #ffd100;color: #282f44"/>  
            </p:dialog>

            <p:sidebar id="clarificationRequestDetails" widgetVar="clarificationRequestDetails" position="right" 
                       style="width: max-content;overflow-y: auto;border: none;min-width: 50em" rendered="#{recordDetailBean.approval}">
                <h1 style="font-weight:normal">Clarification Request</h1>
                <p:panelGrid id="clarificationRequestConfigPanel" style="border: none;background: #ccc;" 
                             columns="1" styleClass="product-grid-container">
                    <p:outputLabel value="Request Subject" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border: 1px solid #ccc;margin-top: -6px;"
                                 value="#{recordDetailBean.clarificationTaskRequest.title}"/>

                    <p:outputLabel value="Clarification Description" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputTextarea rows="3" cols="60" style="border: 1px solid #ccc;border-radius: 2px;padding: 0.9em;width: auto;margin-top: -6px;"
                                     value="#{recordDetailBean.clarificationTaskRequest.description}"/>

                    <h:outputLabel value="Users" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectCheckboxMenu value="#{recordDetailBean.selectedUsers}" label="Users" multiple="true"
                                          style="border: none;border: 1px solid #dbdbdb;width: 20em;margin-top: -6px;" 
                                          filter="true" filterMatchMode="contains" panelStyle="width:250px" converter="userConverter">
                        <f:selectItems value="#{recordDetailBean.users}" />
                    </p:selectCheckboxMenu>
                </p:panelGrid>
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_done')}"  onstart="PF('waitingDlgName').show()" 
                                 actionListener="#{recordDetailBean.clarificationRequest()}" process="@this clarificationRequestConfigPanel"/>  
            </p:sidebar>

        </p:panel>

        <h:panelGrid columns="2" columnClasses="#{not empty recordDetailBean.relationalMap? 'twenty-five-percent,seventy-five-percent':'zero-percent,hundred-percent'}" styleClass="record_details_grid_holder" 
                     style="width: 100%;table-layout: fixed" id="infoHolder">
            <h:panelGrid columns="1"
                         style="width: 100%;border-collapse: separate;border-spacing: 8px 0px;table-layout: fixed" >
                <p:panel class="form-container" style="padding: 0;    margin-bottom: 10px;;background: #fff;" rendered="#{not empty recordDetailBean.relationalMap}">
                    <p:tabMenu activeIndex="#{param.icore}" style="width:100%" orientation="left" id="recordDetailsCoreTabMenu" >
                        <p:menuitem value="Record Information" id="detailsTabMenu" actionListener="#{recordDetailBean.onTabSelect(0)}"
                                    update="infoHolder" >
                            <f:param name="icore" value="0"/>
                        </p:menuitem>
<!--                        <p:menuitem value="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTabMenu" actionListener="#{recordDetailBean.onTabSelect(0)}"
                                    update="infoHolder" >
                            <f:param name="icore" value="1"/>
                        </p:menuitem>
                        <p:menuitem value="#{accessBean.loadLocalizedValue('mod_attachments')}" id="attachmentsTabMenu" actionListener="#{recordDetailBean.onTabSelect(0)}"
                                    update="infoHolder" >
                            <f:param name="icore" value="2"/>
                        </p:menuitem>-->
                    </p:tabMenu>

                </p:panel>

                <p:panel class="form-container" style="padding: 0;margin-bottom: 15px;height: 43.8em;overflow: auto;background: #fff;" 
                         rendered="#{not empty recordDetailBean.relationalMap}">
                    <c:choose>
                        <c:when test="${not empty recordDetailBean.relationalMap}">
                            <p:outputLabel value="Related Records" style="    color: #282f44;font-weight: bold;font-size: 14px;margin-bottom: 0;"/>
                            <p:divider layout="horizontal"/>
                            <p:tabMenu activeIndex="#{param.i-1}" style="width:100%" orientation="left" id="recordDetailsTabMenu" >
                                <c:forEach items="#{recordDetailBean.relationalMap}" var="relatedModule" varStatus="relModLoop">
                                    <p:menuitem value="#{relatedModule.value.masterModuleName}"  update="infoHolder"  
                                                actionListener="#{recordDetailBean.onTabSelect(relatedModule.value.moduleId)}" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                                        <f:param name="i" value="#{relModLoop.index + 1}"/>
                                        <!--<c:set var="moduleVar" value="#{relatedModule.value.moduleId}" />-->
                                    </p:menuitem>
                                </c:forEach>
                            </p:tabMenu>
                        </c:when>

                        <c:otherwise>
                            <p:outputLabel value="No relations found"/>
                        </c:otherwise>
                    </c:choose>

                    <c:choose>
                        <c:when test="${not empty recordDetailBean.smartViewModel.tabConfigHolder.tabsConfig}">
                            <p:outputLabel value="More information" style="    color: #282f44;font-weight: bold;font-size: 14px;margin-bottom: 0;margin-top: 1em"/>
                            <p:divider layout="horizontal"/>
                            <p:tabMenu activeIndex="#{param.i-1}" style="width:100%;overflow: hidden" orientation="left" 
                                       styleClass="custom_tab_menu" id="recordDetailsCustomTabMenu" >
                                <c:forEach items="#{recordDetailBean.smartViewModel.tabConfigHolder.tabsConfig}" var="customTabModule" 
                                           varStatus="customTabLoop">
                                    <p:menuitem value="#{customTabModule.tabLabel}"  update="infoHolder"  style="overflow: hidden"
                                                actionListener="#{recordDetailBean.onTabChangeForced('smartTab_'.concat(customTabModule.tabId))}" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                                        <f:param name="i" value="#{customTabLoop.index + 1}"/>
                                    </p:menuitem>
                                </c:forEach>
                            </p:tabMenu>
                        </c:when>
                    </c:choose>

                </p:panel>
            </h:panelGrid>

            <!--            <p:panel class="form-container details_content_holder" style="padding: 0;margin-bottom: 15px;height: 49.8em;overflow: auto;background: #fff;" 
                                 rendered="#{param.icore == 1 or param.icore == 2}" >
                            <c:choose>
                                <c:when test="${param.icore == 1}">
                                    <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                                        <ui:param name="formBean" value="#{recordDetailBean}" />
                                        <ui:param name="formTitle" value="Detail" />
                                    </ui:include>
                                </c:when>
                                <c:when test="${param.icore == 2}">
                                    <ui:include src="/WEB-INF/templates/content/attachmentsView.xhtml" >
                                        <ui:param name="formBean" value="#{recordDetailBean}" />
                                        <ui:param name="formTitle" value="Detail" />
                                    </ui:include>
                                </c:when>
                            </c:choose>
                        </p:panel>-->



            <p:panel class="form-container details_content_holder"
                     style="padding: 0;margin-bottom: 15px;height: 49.8em;overflow: auto;background: #fff;" id="tabContentHolder">


                <c:choose>
                    <c:when test="${!recordDetailBean.customTabActive}">
                        <c:if test="${recordDetailBean.selectedTabModule == 0}">
                            <!--                    <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                                                    <ui:param name="formBean" value="#{recordDetailBean}" />
                                                    <ui:param name="formTitle" value="Detail" />
                                                </ui:include>-->
                            <p:outputLabel value="Record Information" style="color: #282f44;font-size: 21px;font-weight: bold;"/>
                            <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true"  prependId="false"
                                       dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}" scrollable="true">
                                <p:ajax event="tabChange" listener="#{recordDetailBean.onTabChange}" update="tabHolder" onstart="PF('waitingDlgName').show()"
                                        oncomplete="PF('waitingDlgName').hide()"/>
                                <p:tab title="#{accessBean.loadLocalizedValue('details_tab')}" id="detailsTab" >
                                    <f:facet name="title">
                                        <p:graphicImage name="/images/record_detail_tab.png" width="16" style="margin-right: 5px"/>
                                        <h:outputText value="#{accessBean.loadLocalizedValue('details_tab')}"/>
                                    </f:facet>
                                    <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                                        <ui:param name="formBean" value="#{recordDetailBean}" />
                                        <ui:param name="formTitle" value="Detail" />
                                    </ui:include>
                                </p:tab>

                                <p:tab title="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTab">
                                    <f:facet name="title">
                                        <p:graphicImage name="/images/record_notes_tab.png" width="16" style="margin-right: 5px"/>
                                        <h:outputText value="#{accessBean.loadLocalizedValue('mod_notes')}"/>
                                    </f:facet>
                                    <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                                        <ui:param name="formBean" value="#{recordDetailBean}" />
                                        <ui:param name="formTitle" value="Detail" />
                                    </ui:include>
                                </p:tab>

                                <p:tab title="#{accessBean.loadLocalizedValue('mod_attachments')}" id="attachmentsTab">
                                    <f:facet name="title">
                                        <p:graphicImage name="/images/record_attachments_tab.png" width="16" style="margin-right: 5px"/>
                                        <h:outputText value="#{accessBean.loadLocalizedValue('mod_attachments')}"/>
                                    </f:facet>
                                    <ui:include src="/WEB-INF/templates/content/attachmentsView.xhtml" >
                                        <ui:param name="formBean" value="#{recordDetailBean}" />
                                        <ui:param name="formTitle" value="Detail" />
                                    </ui:include>
                                </p:tab>
                            </p:tabView>
                        </c:if>

                        <c:if test="${recordDetailBean.selectedTabModule != 0 and recordDetailBean.selectedTabModule != 1 and recordDetailBean.selectedTabModule != 2}">
                            <p:outputLabel value="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].activeModule.moduleName}" 
                                           style="color: #282f44;font-size: 21px;font-weight: bold;margin-bottom: 13px; margin-top: 2px;"/>
                            <h:panelGroup id="dataViewsPanel" styleClass="record_details_dataViewsPanel">
                                <p:menubar id="topCommandRecordControlsMenu" style="display: block;overflow: unset;padding-bottom: 1em">
                                    <p:menuitem value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']?
                                                         accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_delete']:'Delete'}" 
                                                disabled="#{empty recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].selectedRecords}"
                                                icon="fa fa-trash-o"  onstart="PF('waitingDlgName').show()"  onclick="PF('confirmation').show()"  
                                                oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()">
                                        <p:confirm header="Confirmation" message="Do you want to delete these records?"  />
                                    </p:menuitem>

                                    <p:divider layout="vertical"/>

                                    <p:menuitem icon="fa fa-cloud-upload" value="Bulk upload" id="bulkUploadButton#{recordDetailBean.selectedTabModule}"
                                                style="border-radius: 4px;" 
                                                immediate="true">
                                    </p:menuitem>

                                    <f:facet name="options">
                                        <div class="ui-inputgroup">
                                            <p:inputText id="fullTextSearchTopCRD" value="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].FTSKeyword}" label="Keywordw"
                                                         style="border: 1px solid #ccc;
                                                         border-radius: 4px 0px 0px 4px;
                                                         float: left;
                                                         padding: 0.8em;
                                                         margin-left: 0.4em;background: #fff;
                                                         width: 20em" 
                                                         placeholder="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                                        accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"/>
                                            <!--                                        <p:watermark for="fullTextSearchTopCRD" value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                                                                                                         accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"  />-->
                                            <p:commandLink style="float: left;    border-radius: 0px 0px 0px 0px; border-left: none !important;background: #ffd100 !important;border-color: #ccc !important;"
                                                           actionListener="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].search(null)}" update="@form" styleClass="save-button topcommands" 
                                                           onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()">
                                                <p:graphicImage name="/images/record_search_ic.png"  styleClass="rounded" width="15"/>
                                                <p:tooltip for="@parent" value="Search using a keyword" position="bottom"/>
                                            </p:commandLink>
                                            <p:commandLink style="float: left;    border-radius: 0px 4px 4px 0px;background: #fff !important;border-color: #ccc !important;border-left: none !important;"
                                                           onclick="PF('advancedSearchFiltersDialog').show()" styleClass="save-button topcommands" 
                                                           onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()">
                                                <p:graphicImage name="/images/record_advanced_search_ic.png"  styleClass="rounded" width="15"/>
                                                <p:tooltip for="@parent" value="Open the advanced filters page for more control" position="bottom"/>
                                            </p:commandLink>
                                        </div>

                                    </f:facet>
                                </p:menubar>

                                <p:confirmDialog message="#{not empty accessBean.loadLocalizedValue('confirm_delete_msg')?accessBean.loadLocalizedValue('confirm_delete_msg'):'Are you sure?'}"
                                                 header="#{not empty accessBean.loadLocalizedValue('delete_msg_title')?accessBean.loadLocalizedValue('delete_msg_title'):'Delete'}"
                                                 widgetVar="confirmation" global="true"
                                                 style="text-align: center;background: #fff" >  
                                    <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']?
                                                              accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']:'Confirm Delete'}"
                                                     onclick="PF('confirmation').hide()"  
                                                     actionListener="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].delete}" update="messages @form" process="@form"
                                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                                     onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()"
                                                     styleClass="save-button">
                                    </p:commandButton>  
                                    <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']?
                                                              accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']:'cancel'}"
                                                     onclick="PF('confirmation').hide()" 
                                                     styleClass="cancel-button"/>   
                                </p:confirmDialog>
                            </h:panelGroup>

                            <p:sidebar id="advancedSearchFiltersDialog"  dynamic="true" position="right" 
                                       widgetVar="advancedSearchFiltersDialog"  modal="true" style="width: max-content;overflow-y: auto;border: none" >
                                <h1 style="font-weight:normal">Advanced Filters</h1>
                                <h:panelGrid columns="1" id="advancedFilterHolder">
                                    <ui:include src="/WEB-INF/templates/filterTemplateBuilderForMenu.xhtml" >
                                        <ui:param name="requestorBean" value="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule]}" />
                                        <ui:param name="customCSS" value="margin-left:0;margin-right:0" />
                                    </ui:include>
                                    <h:panelGrid columns="2" style="margin-right: 50%; margin-left: 35%">
                                        <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']?
                                                                  accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']:'Search'}" 
                                                         styleClass="btn btn-primary add-button nohover"
                                                         actionListener="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].search(null)}" update="@form" process="filterContainerPanel"
                                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>

                                        <p:commandButton value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['reset_filters']?
                                                                  accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['reset_filters']:'Reset Filters'}" 
                                                         styleClass="btn btn-primary delete-button nohover"
                                                         icon="fa fa-trash-o"  actionListener="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule].resetFilters}">
                                            <p:ajax update="filterContainerPanel" resetValues="true" />
                                        </p:commandButton>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:sidebar>

                            <p:overlayPanel for="bulkUploadButton#{recordDetailBean.selectedTabModule}" styleClass="user-snippet">
                                <p:panelGrid columns="1" style="border: none;width: 100%;background: #fff">
                                    <p:commandButton value="Download Template" onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false"
                                                     icon="fa fa-download"
                                                     style="background: transparent;border: none;color: #535353" actionListener="#{recordDetailBean.downloadUploadTemplate(recordDetailBean.selectedTabModule)}">
                                        <p:fileDownload value="#{recordDetailBean.uploadTemplate}" />
                                    </p:commandButton>
                                    <p:separator style="padding: 0;border: 1px solid #e1dfdf;"/>
                                    <p:outputLabel value="Upload"/>
                                    <p:fileUpload listener="#{recordDetailBean.handleFileUpload}" mode="advanced" skinSimple="true" allowTypes="/(\.|\/)(csv)$/" 
                                                  styleClass="upload-templat-button"
                                                  style="background: transparent;border: none;color: #535353">
                                        <f:attribute name="relModuleId" value="#{recordDetailBean.selectedTabModule}" />
                                    </p:fileUpload>
                                </p:panelGrid>
                            </p:overlayPanel>

                            <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                                <ui:param name="requestorBean" value="#{recordDetailBean.relationalBeanMap[recordDetailBean.selectedTabModule]}" />
                                <ui:param name="tableKey" value="#{recordDetailBean.relationalKeyMap[recordDetailBean.selectedTabModule]}" />
                                <ui:param name="tableId" value="dataTable#{recordDetailBean.selectedTabModule}" />
                                <ui:param name="type" value="RECORD_DETAILS" />
                            </ui:include>
                        </c:if>
                    </c:when>
                    <c:otherwise>
                        <p:outputLabel value="#{recordDetailBean.activeCustomTab.tabLabel}" 
                                       style="color: #282f44;font-size: 21px;font-weight: bold;margin-bottom: 13px; margin-top: 2px;"/>
                        <c:forEach items="#{recordDetailBean.activeCustomTab.fieldsLayoutList}" var="tabSmartField">
                            <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml">
                                <ui:param name="formBean" value="#{recordDetailBean}" />
                                <ui:param name="fields" value="#{tabSmartField}" />
                            </ui:include>
                        </c:forEach>
                    </c:otherwise>
                </c:choose>


            </p:panel>
        </h:panelGrid>



        <p:dialog widgetVar="advancedDataDialog"  modal="true" width="1250" position="center center" dynamic="true" styleClass="form-dialog"
                  style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)">
            <h:form id="advancedDialogFormMaster">
                <ui:include src="/WEB-INF/templates/advancedCompRecordsTable.xhtml" >
                    <ui:param name="requestorBean" value="#{recordDetailBean}" />
                    <ui:param name="eventName" value="#{recordDetailBean.activeEvent}" />
                    <ui:param name="tableKey" value="#{recordDetailBean.dataTableKey}" />
                </ui:include>
            </h:form>
        </p:dialog>

        <p:sidebar id="quickAddDialog" widgetVar="quickAddDialog" position="right"
                   style="width: fit-content;overflow-y: auto;border: none;max-width: 90%;background: #f0f4f4 !important;min-width: 83%;" blockScroll="true">
            <p:panel id="quickAddForm" style="border: none;background: transparent;overflow-x: hidden;">
                <c:if test="#{recordDetailBean.ajaxRequest}">
                    <ui:include src="/WEB-INF/templates/formBuilderRecursion.xhtml">
                        <ui:param name="requestorBean" value="#{recordDetailBean.relationBeanCache[recordDetailBean.dataTableKey]}" />
                        <!--<ui:param name="formTitle" value="#{recordDetailBean.dataTableKey}" />-->
                    </ui:include>
                    <p:commandButton value="Save" actionListener="#{recordDetailBean.quickSaveSmartView(recordDetailBean.relationBeanCache[recordDetailBean.dataTableKey])}" styleClass="save-button" 
                                     partialSubmit="true"
                                     update="messages"
                                     process="@this, :quickAddForm"
                                     onstart="PF('waitingDlgName').show()" 
                                     oncomplete="PF('waitingDlgName').hide();PF('quickAddDialog').hide();"/>
                </c:if>
            </p:panel>
        </p:sidebar>
    </ui:define>

</ui:composition>