<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Relation Manager
    </ui:define>

    <ui:define name="content" id="contentDefine">
        <p:messages id="messages" showDetail="true"  closable="true"/>

        <p:panel style="margin-left: auto;margin-right: auto;border: none;">
            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">Relation Builder</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
            </div>
            <p:panelGrid columns="3" style="border: none;width: 100%" styleClass="borderless-grid">
                <p:outputLabel value="Choose Module" style="font-weight: normal;float: left;font-size: 15px;color: #616161;"/>

                <p:selectOneMenu value="#{relationManagerBean.selectedMasterModule}" 
                                 style="width:19em;display: inline-flex;border: none;float: left;border-bottom: 1px solid #ccc;margin-left: -25em;"
                                 styleClass="form-dropdown" converter="moduleConverter"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue=""/>
                    <f:selectItems value="#{relationManagerBean.moduleManagersList}" var="v" itemLabel="#{v.moduleName}" itemValue="#{v}"/>
                    <p:ajax listener="#{relationManagerBean.onMasterModuleSelection()}" update="@form"/>
                </p:selectOneMenu>

                <p:commandButton icon="fa fa-plus" value="Add Relation" update="relationsTable" disabled="#{relationManagerBean.selectedMasterModule eq null}"
                                 style="border-radius: 3px;float: right" styleClass="topcommands" 
                                 actionListener="#{relationManagerBean.addNewRelation()}"/>
            </p:panelGrid>
        </p:panel>

        <p:dataTable id="relationsTable" var="relation" widgetVar="relation" value="#{relationManagerBean.relationsList}" 
                     styleClass="datatable dummy"
                     rows="10" paginator="true" paginatorPosition="bottom">
            <f:facet name="header">
                Module Relation Configuration
            </f:facet>
            <p:column headerText="Detail Module">
                <h:outputText value="#{relation.detailTable}" />
            </p:column>
            <p:column headerText="Master Field">
                <h:outputText value="#{relation.masterColumn}" />
            </p:column>
            <p:column headerText="Detail Field">
                <h:outputText value="#{relation.detailColumn}" />
            </p:column>
            <p:column headerText="View Field">
                <h:outputText value="#{relation.viewColumn}" />
            </p:column>
            
            <p:column style="width:90px">
                <p:commandLink id="trash" onclick="PF('confirmation').show()" >
                    <h:graphicImage name="/images/delete-dark.png" width="16" height="16"/>
                </p:commandLink>
                <p:commandLink id="edit" actionListener="#{relationManagerBean.onEdit(relation)}" update="@form">
                    <h:graphicImage name="/images/edit_table_ic.png" width="16" height="16" style="margin-left: 1em"/>
                </p:commandLink>
            </p:column>
        </p:dataTable>
        
        <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                         header="#{accessBean.loadLocalizedValue('delete_msg_title')}"
                         widgetVar="confirmation"
                         style="text-align: center" >  
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['delete_confirm']}"
                             onclick="PF('confirmation').hide()"  
                             actionListener="#{relationManagerBean.deleteRelation(relation)}" update="@form"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             onsuccess="PF('waitingDlgName').hide()" onerror="PF('waitingDlgName').hide()">
            </p:commandButton>  
            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_cancel']}"
                             onclick="PF('confirmation').hide()"  />   
        </p:confirmDialog>

        <p:sidebar id="relationSideBar" widgetVar="relationSideBar" position="right" style="width: max-content;overflow-y: auto;border: none">
            <h1 style="font-weight:normal">Add Relation</h1>
            <p:panelGrid columns="2" styleClass="borderless-grid" id="relationConfigPanel">
                <p:outputLabel value="Detail Module" style="font-weight: normal;margin-right: 3em"/>
                <p:selectOneMenu value="#{relationManagerBean.relationModel.detailModuleId}" 
                                 style="width:19em;border: none;border-bottom: 1px solid #ccc;" styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="" noSelectionOption="true"/>
                    <f:selectItems value="#{relationManagerBean.moduleManagersList}" var="v" itemLabel="#{v.moduleName}" itemValue="#{v.moduleId}"/>
                    <p:ajax listener="#{relationManagerBean.onDetailModuleSelection()}" update="relationConfigPanel" />
                </p:selectOneMenu>

                <p:outputLabel value="Master Field" style="font-weight: normal;margin-right: 3em"/>
                <p:selectOneMenu value="#{relationManagerBean.relationModel.masterColumn}" style="width:19em;border: none;border-bottom: 1px solid #ccc;" 
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItems value="#{relationManagerBean.masterFieldSet}" var="fields" itemLabel="#{fields.fieldName}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Detail Field" style="font-weight: normal;margin-right: 3em"/>
                <p:selectOneMenu value="#{relationManagerBean.relationModel.detailColumn}" style="width:19em;border: none;border-bottom: 1px solid #ccc;" 
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItems value="#{relationManagerBean.detailFieldSet}" var="fields" itemLabel="#{fields.fieldName}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <p:outputLabel value="View Field" style="font-weight: normal;margin-right: 3em"/>
                <p:selectOneMenu value="#{relationManagerBean.relationModel.viewColumn}" style="width:19em;border: none;border-bottom: 1px solid #ccc;" 
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItems value="#{relationManagerBean.detailFieldSet}" var="fields" itemLabel="#{fields.fieldName}" itemValue="#{fields.fieldName}"/>
                </p:selectOneMenu>

                <p:outputLabel value="View Alias" style="font-weight: normal;margin-right: 3em"/>
                <p:inputText style="padding: 0.5em;border: none;
                             border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                             value="#{relationManagerBean.relationModel.viewAlias}"/>

                <p:outputLabel value="Relation Type" style="font-weight: normal;margin-right: 3em"/>
                <p:selectOneMenu value="#{relationManagerBean.relationModel.relationType}" 
                                 style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="" />
                    <f:selectItem itemLabel="One to One" itemValue="O2O" />
                    <f:selectItem itemLabel="One to Many" itemValue="O2M" />
                </p:selectOneMenu>
            </p:panelGrid>
            <p:commandButton value="Save" actionListener="#{relationManagerBean.saveChanges}" styleClass="save-button"
                             onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"
                             update="@form"/>
        </p:sidebar>

    </ui:define>

</ui:composition>