<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Reports
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="home" outcome="home"/>
            <p:menuitem value="Reports" url="#" />
        </p:breadCrumb>

        <!--        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
                    <ui:param name="requestorBean" value="#{reportsBean}" />
                </ui:include>-->



        <!--        <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                            <ui:param name="requestorBean" value="#{reportsBean}" />
                </ui:include>-->

<!--        <p:commandButton value="Natural Language Report" actionListener="#{reportsBean.openNaturalLanguageDialog()}"/>-->

        <p:panel id="dataViewsPanel" style="margin-bottom:0px;background: #fff;width: 100%;margin-top: 10px" styleClass="data-view-panel form-container">
            <ui:include src="/WEB-INF/templates/topCommandsTemplateReportsNew.xhtml" >
                <ui:param name="requestorBean" value="#{reportsBean}" />
                <ui:param name="objectName" value="Report" />
                <ui:param name="additionPage" value="addReport_new" />
            </ui:include>

            <p:dataTable var="recList" value="#{reportsBean.lazyRecordModel}" 
                         widgetVar="orgTable" id="#{tableId ne null? tableId : 'reportsDataTable'}"
                         styleClass="datatable paginator-buttons" rows="10"
                         paginator="true" paginatorPosition="bottom" selection="#{reportsBean.selectedRecords}" 
                         lazy="true" filterEvent="enter">
                <p:ajax event="rowSelect" listener="#{reportsBean.onRowSelect}" update="@form" disabled="#{enableRowSelection ne null? enableRowSelection : 'false'}" onstart="PF('waitingDlgName').show()"/>
                <p:ajax event="rowSelectCheckbox" update="dataViewsPanel"/>
                <p:ajax event="rowUnselectCheckbox" update="dataViewsPanel" />

                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <c:forEach items="#{reportsBean.settingsList}" var="fields">
                    <p:column headerText="#{fields.columnLabel}">
                        <c:choose>
                            <c:when test="${fields.columnFieldName eq 'primary_module.name'}">
                                <h:outputText value="#{reportsBean.moduleMap[recList.fieldValueMap['primary_module'].currentValue]}" style="font-weight: bold"/>
                            </c:when>
                            <c:when test="${fields.columnFieldName eq 'report_type.name'}">
                                <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" style="font-style: italic"/>
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" />
                            </c:otherwise>
                        </c:choose>
                    </p:column>
                </c:forEach>
                <p:column style="width:90px">
                    <p:commandLink actionListener="#{reportsBean.quickViewReport(recList)}" update="@form" onstart="PF('waitingDlgName').show()">
                        <h:graphicImage name="/images/view-ic.png" width="20" height="20"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>

            <p:blockUI block="#{tableId ne null? tableId : 'reportsDataTable'}">
                <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
            </p:blockUI>
        </p:panel>

        <p:dialog id="naturalLanguageToSqlDialog" resizable="false" header="Buzz AI Reporting Assistant" dynamic="true" position="top"
                  widgetVar="naturalLanguageToSqlDialog"  modal="true" width="600" style="max-height: 500px;overflow-y: auto;margin-top: 1em">
            <h:panelGrid columns="1" styleClass="borderless-grid" id="aiReportHolder">
                <h:panelGrid columns="2" styleClass="borderless-grid" style="margin-bottom: 1em"> 
                    <p:graphicImage name="/images/buzz_loader.gif"  styleClass="rounded" width="40" style="margin-right: 1em;border-radius: 20em"/>
                    <p:outputLabel value="Describe the report you would like to see" 
                                   style="font-weight: normal;font-size: 13px;vertical-align: sub;font-weight: bold;"/> 
                </h:panelGrid>

                <p:inputTextarea  rows="6"  cols="100" value="#{reportsBean.naturalLanguageQuery}" style="width: 100%;margin-bottom: 1em"/>

                <p:commandButton value="Work it" style="border-radius: 4px;
                             color: #282f44;
                             background-color: #ffd100;
                             border: 1px solid #fff;
                             font-weight: bolder;
                             font-size: 13px;margin-bottom: 1em" 
                             update="producedReportPanel"
                             actionListener="#{reportsBean.processNaturalLanguageQuery()}"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                
                <h:panelGrid columns="1" styleClass="borderless-grid" rendered="#{reportsBean.showAiReport}">
                    <p:outputLabel value="Produced Report"/> 
                    <p:panel id="producedReportPanel" style="border: 1px solid #ccc;border-radius: 4px;word-break: break-all;">
                        <!--<p:outputLabel value="#{reportsBean.producedSql}"/>--> 
                        <ui:include src="/WEB-INF/templates/reports/reportViewBuilder.xhtml">
                            <ui:param name="viewerBean" value="#{reportsBean.reportViewer}" />
                        </ui:include>
                    </p:panel>
                </h:panelGrid>
            </h:panelGrid>

            
        </p:dialog>

        <!--        <p:dialog id="naturalLanguageToSqlDialog" resizable="false"  dynamic="true" position="top" positionType="absolute"
                          widgetVar="naturalLanguageToSqlDialog"  modal="true" width="600" style="padding: 0;top: 1em">
                    <p:panelGrid columns="1" styleClass="borderless-grid">
                        <p:outputLabel value="Your query"/>
                        <p:inputTextarea  rows="6"  cols="100" value="#{reportsBean.naturalLanguageQuery}" style="width: 100%"/>
        
                        <p:outputLabel value="Produced Report"/> 
                        <p:panel id="producedReportPanel" style="border: 1px solid #ccc;border-radius: 4px;word-break: break-all;">
                            <p:outputLabel value="#{reportsBean.producedSql}"/> 
                            <ui:include src="/WEB-INF/templates/reports/reportViewBuilder.xhtml">
                                <ui:param name="viewerBean" value="#{reportsBean.reportViewer}" />
                            </ui:include>
                        </p:panel>
        
                        <p:commandButton value="Work it" style="border-radius: 4px;
                                         color: #282f44;
                                         background-color: #ffd100;
                                         border: 1px solid #fff;
                                         padding: .5em;
                                         font-weight: bolder;
                                         width: 15em;font-size: 16px" 
                                         update="producedReportPanel"
                                         actionListener="#{reportsBean.processNaturalLanguageQuery()}"
                                         onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>
                    </p:panelGrid>
        
                </p:dialog>-->


    </ui:define>

</ui:composition>