<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title" class="bababa">
        Return Order Details
    </ui:define>

    <ui:define name="content" >
        <style>
            body{
                background-color: #fbfbfb !important;
            }
        </style>
        <h:form id="detailsForm">
            <p:messages id="messages" showDetail="true"  closable="true" />
            <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
                <p:menuitem value="Categories" outcome="home"/>
                <p:menuitem value="Return Orders" outcome="returnOrders" />
            </p:breadCrumb>

            <p:panel class="card-layout">
                <div>
                    <p:graphicImage name="/images/customer-pp.png" style="background: #a2ceeb;
                                    width: 9em;
                                    height: inherit;
                                    padding: 1em;"
                                    styleClass="module-profile-pic"/>
                </div>

                <p:commandLink onclick="PF('confirmation').show()">
                    <p:graphicImage name="/images/delete_control.png" style="float: right;"
                                    styleClass="detail-control-button" />
                </p:commandLink>

                <p:commandLink actionListener="#{returnOrderDetailBean.edit}" update="@form">
                    <p:graphicImage name="/images/edit.png" style="float: right;"
                                    styleClass="detail-control-button" />
                </p:commandLink>

                <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                                 header="#{accessBean.loadLocalizedValue('delete_msg_title')}"  widgetVar="confirmation"
                                 style="text-align: center">  
                    <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  actionListener="#{returnOrderDetailBean.delete}"
                                     onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()">
                    </p:commandButton>  
                    <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()" type="button" />   
                </p:confirmDialog>

                <div>
                    <p:panelGrid columns="1" styleClass="module-header" style="margin-top: 1em;">
                        <c:forEach items="#{returnOrderDetailBean.fieldsList}" var="headerField">
                            <h:outputText value="#{headerField.fieldType eq 'LOOKUP'? returnOrderDetailBean.selectionMap[headerField.fieldName.concat('.name')].selectedValue:headerField.currentValue}" rendered="#{headerField.inHeader}"/>
                        </c:forEach>
                    </p:panelGrid>
                </div>
            </p:panel>

            <p:panel class="card-layout" style="padding: 0;">
                <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                    <p:ajax event="tabChange" listener="#{returnOrderDetailBean.onTabChange}" update="@this"  onstart="PF('waitingDlgName').show()"
                            oncomplete="PF('waitingDlgName').hide()"/>
                    <p:tab title="#{accessBean.loadLocalizedValue('details_tab')}" id="detailsTab">
                        <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                            <ui:param name="formBean" value="#{returnOrderDetailBean}" />
                            <ui:param name="formTitle" value="#{accessBean.loadLocalizedValue('details_tab')}" />
                        </ui:include>
                    </p:tab>

                    <p:tab title="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTab">
                        <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                            <ui:param name="formBean" value="#{returnOrderDetailBean}" />
                            <ui:param name="formTitle" value="Detail" />
                        </ui:include>
                    </p:tab>

                    <c:forEach items="#{returnOrderDetailBean.relationalMap}" var="relatedModule">
                        <c:set var="moduleVar" value="#{relatedModule.value.moduleId}" />
                        <p:tab title="#{relatedModule.value.masterModuleName}" id="id#{relatedModule.value.moduleId}">
                            <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                                <ui:param name="requestorBean" value="#{returnOrderDetailBean.relationalBeanMap[moduleVar]}" />
                                <ui:param name="tableKey" value="#{returnOrderDetailBean.relationalKeyMap[moduleVar]}" />
                                <ui:param name="tableId" value="dataTable#{relatedModule.value.moduleId}" />
                            </ui:include>
                        </p:tab>
                    </c:forEach>
                </p:tabView>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>