<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/fakeHome.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Sales App
    </ui:define>

    <ui:define name="content">
        <style>
            body{
                background: #fbfbfb !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" styleClass="messages"/>
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home" />
            <p:menuitem value="Customers" outcome="customers" />
            <p:menuitem value="Add" url="#" />
        </p:breadCrumb>

                        <ui:include src="/WEB-INF/apps/sales/mySalesOrganization.xhtml" >
                        </ui:include>

<!--                <ui:include src="/WEB-INF/apps/sales/salesInsights.xhtml" >
                </ui:include>-->

<!--                <ui:include src="/WEB-INF/apps/sales/forecastConfiguration.xhtml" >
                </ui:include>-->

        <!--        <ui:include src="/WEB-INF/apps/sales/qoutaConfiguration.xhtml" >
                </ui:include>-->

<!--        <ui:include src="/WEB-INF/apps/sales/forecastView.xhtml" >
        </ui:include>-->
    </ui:define>

</ui:composition>