<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Smart View
    </ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            function initDND() {
                $('.ui-treenode-leaf').draggable({
                    helper: function () {
                        var comp = $(this);
                        return comp.clone().appendTo(document.body).css('display', "block");
                    },
                    scope: 'treetotable',
                    zIndex: ++PrimeFaces.zindex
                });

                $('.designer-pane .droppoint').droppable({
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'pointer',
                    scope: 'treetotable',
                    drop: function (event, ui) {
                        var property = ui.draggable.find('.ui-treenode-label .real-field-name').text(),
                                droppedColumnId = $(this).parent().find('input[type=hidden]').val(),
                                compType = ui.draggable.find('.ui-treenode-label .component-type').val(),
                                dropPos = $(this).hasClass('dropleft') ? 0 : 1;

                        treeToTable([
                            {name: 'property', value: property}
                            , {name: 'compType', value: compType}
                            , {name: 'droppedColumnId', value: droppedColumnId}
                            , {name: 'dropPos', value: dropPos}
                        ]);
                    }
                });

                $('.designer-pane td').draggable({
                    scope: 'tabletotree',
                    helper: function () {
                        var td = $(this);
                        return td.clone().appendTo(document.body).css('width', td.width());
                    }
                });

                $('.ui-tree').droppable({
                    helper: 'clone',
                    scope: 'tabletotree',
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'touch',
                    drop: function (event, ui) {
                        tableToTree([
                            {name: 'colIndex', value: ui.draggable.find('.selected-field-name').text()},
                            {name: 'backFromBlock', value: ui.draggable.parent().parent().parent().parent().find('input[type=hidden]').val()}
                        ]);
                    }
                });
            }

            $(function () {
                initDND();
            });
        </script>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:growl id="msgs" showDetail="true" />

        <p:panel style="margin-left: auto;margin-right: auto;border: none;">
            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">Smart View Configuration</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
            </div>
            <p:panelGrid columns="2" style="border: none;" styleClass="borderless-grid">
                <p:outputLabel value="Choose Module" style="font-weight: normal;float: left;font-size: 15px;color: #616161;"/>

                <p:selectOneMenu value="#{smartViewBean.selectModuleId}" 
                                 style="width:19em;display: inline-flex;border: none;float: left;border-bottom: 1px solid #ccc;margin-bottom: 1em;"
                                 styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="" />
                    <f:selectItems value="#{smartViewBean.moduleManagerMap}" var="v"/>
                    <p:ajax listener="#{smartViewBean.onModuleSelect()}" update="@form"/>
                </p:selectOneMenu>
            </p:panelGrid>
        </p:panel>

        <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>

        <div style="margin-bottom: 0.5em;text-align: right">
            <p:commandButton value="Save" id="save"  actionListener="#{smartViewBean.saveSmartView()}" 
                             rendered="#{smartViewBean.smartViewModel ne null}"
                             styleClass="save-button" update="@form" style="text-align: right;margin-top: 0.5em;border-radius: 3px;"/>
        </div>

        <p:remoteCommand name="treeToTable" actionListener="#{smartViewBean.treeToTable}" update="@form" oncomplete="initDND()"/>
        <p:remoteCommand name="tableToTree" actionListener="#{smartViewBean.tableToTree}" update="@form" oncomplete="initDND()" />

        <p:layout id="designerLayout" style="min-width:450px;min-height:500px;" rendered="#{smartViewBean.selectModuleId ne null}">
            <p:layoutUnit position="west" resizable="false" size="250" minSize="40" maxSize="250">
                <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%">
                    <f:facet name="header">
                        Advanced Components
                    </f:facet>
                    <p:tree  value="#{smartViewBean.advancedComponentsTree}" var="advancedComponent" 
                             style="border: none;width: 100%;">
                        <p:treeNode>
                            <h:outputText value="#{advancedComponent}" style="font-size: 14px"/>
                        </p:treeNode>
                        <p:treeNode type="advancedComponent" icon="ui-icon-grip-dotted-vertical">
                            <input type="hidden" value="ADV-COMP" class="component-type"/>
                            <h:outputText value="#{advancedComponent.name}" styleClass="real-field-name"/>
                        </p:treeNode>
                    </p:tree>

                </p:panelGrid>

            </p:layoutUnit>

            <p:layoutUnit position="center" style="background: #cccccc" styleClass="designer-pane">
                <p:panel class="card-layout designer-pane droppoint ui-droppable">
                    <input type="hidden" value="HEADER_LAYOUT" class="hidden-block-id"/>
                    <div>
                        <p:graphicImage name="/images/module_pp.png" style="background: #ffdf63;
                                        width: 9em;
                                        height: inherit;
                                        padding: 1em;"
                                        styleClass="module-profile-pic"/>
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <ui:repeat value="#{smartViewBean.smartViewModel.headerConfig.fieldsLayoutList}" var="blockField" varStatus="status">
                                    <ui:fragment rendered="${blockField.componentType eq 'ADV-COMP'}">
                                        <ui:fragment rendered="${blockField.advancedComponent.type eq 'DYNO_BUTTON'}">
                                            <td colspan="1">
                                                <p:panel 
                                                    style="text-align:left;margin: 0.5em;border: 0px solid #ccc;padding: 0">
                                                    <h:panelGroup>
                                                        <p:commandButton style="padding: 0.4em;box-shadow: none; 
                                                                         border: 1px solid #dbdbdb;
                                                                         color: #fff;
                                                                         background: #746ddd;height: 100%;border-radius: 0;" 
                                                                         value="#{not empty blockField.dynoButtonConfiguration.buttonLabel ? blockField.dynoButtonConfiguration.buttonLabel:'Button'}"
                                                                         immediate="true">
                                                        </p:commandButton>
                                                        <p:commandLink  update="@form" actionListener="#{smartViewBean.openAdvancedComponentConfiguration(blockField)}">
                                                            <h:graphicImage name="/images/setting_gear.png" width="16" height="16" style="margin-left: .5em"/>
                                                        </p:commandLink>
                                                        <p:commandLink  update="@form">
                                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="margin-left: .5em"/>
                                                            <p:collector value="#{blockField}" removeFrom="#{smartViewBean.smartViewModel.headerConfig.fieldsLayoutList}" unique="true"/>
                                                        </p:commandLink>
                                                    </h:panelGroup>
                                                </p:panel>
                                            </td>
                                        </ui:fragment>
                                    </ui:fragment>
                                </ui:repeat>
                            </tr>
                        </tbody>
                    </table>
                </p:panel>

                <p:panel class="card-layout" style="padding: 0;">
                    <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%">
                        <p:commandButton icon="fa fa-plus" value="Add Tab" update="@form"
                                         style="border-radius: 3px;text-align: right;float: left" styleClass="topcommands" 
                                         actionListener="#{smartViewBean.openTabConfiguration(null)}"/>

                        <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true" cache="true" style="width: 100%" >
                            <p:ajax event="tabChange" listener="#{smartViewBean.onTabChange}" update="@this"/>
                            <c:forEach items="#{smartViewBean.smartViewModel.tabConfigHolder.tabsConfig}" var="tab">
                                <p:tab title="#{tab.tabLabel}" id="#{tab.tabId}">
                                    <input type="hidden" value="TAB_LAYOUT" class="hidden-block-id"/>
                                    <table class="designer-pane droppoint ui-droppable" style="width:100%;height: 100%;min-height: 100px;text-align: center">
                                        <tbody>
                                            <tr>
                                                <ui:repeat value="#{smartViewBean.blockFieldsMap.get(tab.tabId).fieldsLayoutList}" var="blockField" varStatus="status">
                                                    <ui:fragment rendered="${blockField.componentType eq 'ADV-COMP'}">
                                                        <ui:fragment rendered="${blockField.advancedComponent.type eq 'DYNO_BUTTON'}">
                                                            <td colspan="1">
                                                                <p:panel 
                                                                    style="text-align:left;margin: 0.5em;border: 0px solid #ccc;padding: 0;width: fit-content">
                                                                    <h:panelGroup>
                                                                        <p:commandButton style="padding: 0.4em;box-shadow: none; 
                                                                                         border: 1px solid #dbdbdb;
                                                                                         color: #fff;
                                                                                         background: #746ddd;height: 100%;border-radius: 0;" 
                                                                                         value="#{not empty blockField.dynoButtonConfiguration.buttonLabel ? blockField.dynoButtonConfiguration.buttonLabel:'Button'}"
                                                                                         immediate="true">
                                                                        </p:commandButton>
                                                                        <p:commandLink  update="@form" actionListener="#{smartViewBean.openAdvancedComponentConfiguration(blockField)}">
                                                                            <h:graphicImage name="/images/setting_gear.png" width="16" height="16" style="margin-left: .5em"/>
                                                                        </p:commandLink>
                                                                        <p:commandLink  update="@form">
                                                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="margin-left: .5em"/>
                                                                            <p:collector value="#{blockField}" removeFrom="#{smartViewBean.blockFieldsMap.get(tab.tabId).fieldsLayoutList}" unique="true"/>
                                                                        </p:commandLink>
                                                                    </h:panelGroup>
                                                                </p:panel>
                                                            </td>
                                                        </ui:fragment>
                                                        <ui:fragment rendered="${blockField.advancedComponent.type eq 'TABLE_COMP'}">
                                                            <tr>
                                                                <td colspan="2">
                                                                    <p:panel style="border: none;text-align: left">
                                                                        <p:commandLink  update="@form" actionListener="#{smartViewBean.openAdvancedComponentConfiguration(blockField)}">
                                                                            <h:graphicImage name="/images/setting_gear.png" width="16" height="16" style="margin-left: .5em"/>
                                                                        </p:commandLink>
                                                                        <p:commandLink  update="@form">
                                                                            <h:graphicImage name="/images/delete-dark.png" width="16" height="16" style="margin-left: .5em"/>
                                                                            <p:collector value="#{blockField}" removeFrom="#{smartViewBean.blockFieldsMap.get(tab.tabId).fieldsLayoutList}" unique="true"/>
                                                                        </p:commandLink>
                                                                    </p:panel>

                                                                    <p:dataTable var="etCol" value="#{smartViewBean.dummyList}" widgetVar="editableTable"
                                                                                 style="padding-top: 0.5em;" styleClass="datatable paginator-buttons" rows="10"
                                                                                 paginator="false" paginatorPosition="bottom">
                                                                        <p:columns var="dummyFields" value="#{blockField.tableComponentConfiguration.columnSettings}" headerText="#{dummyFields.columnLabel}">
                                                                        </p:columns>
                                                                    </p:dataTable>
                                                                </td>
                                                            </tr>
                                                        </ui:fragment>
                                                    </ui:fragment>
                                                </ui:repeat>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p:tab>
                            </c:forEach>
                        </p:tabView>
                    </p:panelGrid>
                </p:panel>
            </p:layoutUnit>
        </p:layout>

        <p:sidebar id="buttonConfigSideBar" widgetVar="buttonConfigSideBar" position="right" 
                   style="width: 55em;overflow-y: auto;border: none" rendered="#{not empty smartViewBean.selectedField}">
            <c:if test="${not empty smartViewBean.selectedField.dynoButtonConfiguration}">
                <ui:include src="/WEB-INF/templates/components/config/dynoButtonConfiguration.xhtml" >
                    <ui:param name="configBean" value="#{smartViewBean}" />
                </ui:include>
            </c:if>
            <c:if test="${not empty smartViewBean.selectedField.tableComponentConfiguration}">
                <ui:include src="/WEB-INF/templates/components/config/tableComponentConfiguration.xhtml" >
                    <ui:param name="configBean" value="#{smartViewBean}" />
                </ui:include>
            </c:if> 

            <p:commandButton value="Done" onclick="PF('buttonConfigSideBar').hide()" styleClass="save-button"/>
        </p:sidebar>

        <p:sidebar id="tabSideBar" widgetVar="tabSideBar" position="right" 
                   style="width: 55em;overflow-y: auto;border: none" rendered="#{not empty smartViewBean.tabConfig}">
            <p:panelGrid columns="1" styleClass="borderless-grid" id="tabConfigPanel">
                <p:panelGrid columns="2" styleClass="borderless-grid" id="tabBaseConfig" style="width: 100%">
                    <p:outputLabel value="Tab Id" style="font-weight: normal;margin-right: 3em"/>
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{smartViewBean.tabConfig.tabId}"/>

                    <p:outputLabel value="Tab Name" style="font-weight: normal;margin-right: 3em"/>
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{smartViewBean.tabConfig.tabLabel}"/>

                    <p:outputLabel value="Tab Type" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
                    <p:selectOneMenu value="#{smartViewBean.tabConfig.tabType}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue="" />
                        <f:selectItem itemLabel="Custom" itemValue="CUSTOM" />
                        <f:selectItem itemLabel="Gallery" itemValue="GALLERY" />
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:commandButton value="Done" onclick="PF('tabSideBar').hide()" update="@form"
                                 styleClass="save-button" actionListener="#{smartViewBean.addTab()}"/>
            </p:panelGrid>
        </p:sidebar>
    </ui:define>

</ui:composition>