<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Smart View
    </ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            function initDND() {
                $('.ui-treenode-leaf').draggable({
                    helper: function () {
                        var comp = $(this);
                        return comp.clone().appendTo(document.body).css('display', "block");
                    },
                    scope: 'treetotable',
                    zIndex: ++PrimeFaces.zindex
                });

                $('.designer-pane .droppoint').droppable({
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'pointer',
                    scope: 'treetotable',
                    drop: function (event, ui) {
                        var property = ui.draggable.find('.ui-treenode-label .real-field-name').text(),
                                droppedColumnId = $(this).parent().find('input[type=hidden]').val(),
                                compType = ui.draggable.find('.ui-treenode-label .component-type').val(),
                                dropPos = $(this).hasClass('dropleft') ? 0 : 1;

                        treeToTable([
                            {name: 'property', value: property}
                            , {name: 'compType', value: compType}
                            , {name: 'droppedColumnId', value: droppedColumnId}
                            , {name: 'dropPos', value: dropPos}
                        ]);
                    }
                });

                $('.designer-pane .droppoint .layout-comp').droppable({
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'pointer',
                    greedy: true,
                    scope: 'treetotable',
                    drop: function (event, ui) {
                        var property = ui.draggable.find('.ui-treenode-label .real-field-name').text(),
                                dropLayout = $(this).parent().find('.drop-layout').val(),
                                droppedColumnId = $(this).parent().parent().parent().parent().parent().find('.hidden-block-id').val(),
                                compType = ui.draggable.find('.ui-treenode-label .component-type').val(),
                                dropPos = $(this).hasClass('dropleft') ? 0 : 1;

                        treeToTableLayout([
                            {name: 'property', value: property}
                            , {name: 'dropLayout', value: dropLayout}
                            , {name: 'compType', value: compType}
                            , {name: 'droppedColumnId', value: droppedColumnId}
                            , {name: 'dropPos', value: dropPos}
                        ]);
                    }
                });

                $('.designer-pane td').draggable({
                    scope: 'tabletotree',
                    helper: function () {
                        var td = $(this);
                        return td.clone().appendTo(document.body).css('width', td.width());
                    }
                });

                $('.ui-tree').droppable({
                    helper: 'clone',
                    scope: 'tabletotree',
                    activeClass: 'ui-state-active',
                    hoverClass: 'ui-state-highlight',
                    tolerance: 'touch',
                    drop: function (event, ui) {
                        tableToTree([
                            {name: 'colIndex', value: ui.draggable.find('.selected-field-name').text()},
                            {name: 'backFromBlock', value: ui.draggable.parent().parent().parent().parent().find('input[type=hidden]').val()}
                        ]);
                    }
                });
            }

            $(function () {
                initDND();
            });
        </script>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:growl id="msgs" showDetail="true" />

        <p:panel style="margin-left: auto;margin-right: auto;border: none;">
            <div style="margin-left: -1.2em;margin-right: -1.8em;">
                <ul style="font-size: 1.5em;margin-bottom: -10px;padding-top: .1em;color: #424242;background: transparent">Smart View Configuration</ul>
                <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>
            </div>
            <p:panelGrid columns="2" style="border: none;" styleClass="borderless-grid">
                <p:outputLabel value="Choose Module" style="font-weight: normal;float: left;font-size: 15px;color: #616161;"/>

                <p:selectOneMenu value="#{smartViewBean.selectModuleId}" 
                                 style="width:19em;display: inline-flex;border: none;float: left;border-bottom: 1px solid #ccc;margin-bottom: 1em;"
                                 styleClass="form-dropdown"
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="" />
                    <f:selectItems value="#{smartViewBean.moduleManagerMap}" var="v"/>
                    <p:ajax listener="#{smartViewBean.onModuleSelect()}" update="@form"
                            onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide()"/>
                </p:selectOneMenu>
            </p:panelGrid>
        </p:panel>

        <p:separator style="margin-left: 1.5em;margin-right: 5em;padding: 0;border: 1px solid #e1dfdf;"/>

        <div style="margin-bottom: 0.5em;text-align: right">
            <p:commandButton value="Save" id="save"  actionListener="#{smartViewBean.saveSmartView()}" 
                             rendered="#{smartViewBean.selectModuleId ne null}"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             styleClass="save-button" update="@form" style="text-align: right;margin-top: 0.5em;border-radius: 3px;"/>
        </div>

        <p:remoteCommand name="treeToTable" actionListener="#{smartViewBean.treeToTable}" update="@form" oncomplete="initDND()"/>
        <p:remoteCommand name="tableToTree" actionListener="#{smartViewBean.tableToTree}" update="@form" oncomplete="initDND()" />
        <p:remoteCommand name="treeToTableLayout" actionListener="#{smartViewBean.treeToTableLayout}" update="@form" oncomplete="initDND()"/>

        <p:layout id="designerLayout" style="min-width:450px;min-height:500px;" rendered="#{smartViewBean.selectModuleId ne null}">
            <p:layoutUnit position="west" resizable="false" size="250" minSize="40" maxSize="250">
                <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%">
                    <f:facet name="header">
                        Advanced Components
                    </f:facet>
                    <p:tree  value="#{smartViewBean.advancedComponentsTree}" var="advancedComponent" 
                             style="border: none;width: 100%;">
                        <p:treeNode>
                            <h:outputText value="#{advancedComponent}" style="font-size: 14px"/>
                        </p:treeNode>
                        <p:treeNode type="advancedComponent" icon="ui-icon-grip-dotted-vertical">
                            <input type="hidden" value="ADV-COMP" class="component-type"/>
                            <h:outputText value="#{advancedComponent.name}" styleClass="real-field-name"/>
                        </p:treeNode>
                    </p:tree>

                </p:panelGrid>

            </p:layoutUnit>

            <p:layoutUnit position="center" style="background: #cccccc" styleClass="designer-pane">
                <p:panel class="card-layout designer-pane droppoint ui-droppable">
                    <input type="hidden" value="HEADER_LAYOUT" class="hidden-block-id"/>
                    <div class="display-pic-container">
                        <c:choose>
                            <c:when test="${not empty smartViewBean.smartViewModel and not empty smartViewBean.smartViewModel.headerConfig.displayPicRef}">
<!--                                <p:graphicImage url="#{smartViewBean.smartViewModel.headerConfig.displayPicRef}"
                                                style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: 20vh"/>-->
                                <p:graphicImage value="#{applicationBean.image}" 
                                                style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: -webkit-fill-available">
                                    <f:param name="contentId" value="#{smartViewBean.smartViewModel.headerConfig.displayPicRef}" />
                                </p:graphicImage>
                            </c:when>
                            <c:otherwise>
                                <p:graphicImage name="/images/module_pp.png" style="background: #ffdf63;
                                                width: 9em;
                                                height: inherit;
                                                padding: 1em;"
                                                styleClass="module-profile-pic"/>
                            </c:otherwise>
                        </c:choose>
                        <div class="overlay-display-pic"></div>
                        <p:commandButton icon="fa fa-gear" update="@form"
                                         style="border-radius: 3px;height: 3em;width: 2em;background: transparent !important;border: none !important;box-shadow: none;" styleClass="topcommands display-pic-config-button" 
                                         actionListener="#{smartViewBean.openDisplayImageConfig()}"/>
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <ui:repeat value="#{smartViewBean.smartViewModel.headerConfig.fieldsLayoutList}" var="blockField" varStatus="status">
                                    <ui:fragment rendered="${blockField.componentType eq 'ADV-COMP'}">
                                        <ui:include src="/WEB-INF/templates/components/advancedComponentsManager.xhtml" >
                                            <ui:param name="managerBean" value="#{smartViewBean}" />
                                            <ui:param name="field" value="#{blockField}" />
                                            <ui:param name="fieldList" value="#{smartViewBean.smartViewModel.headerConfig.fieldsLayoutList}" />
                                        </ui:include>
                                    </ui:fragment>
                                </ui:repeat>
                            </tr>
                        </tbody>
                    </table>
                </p:panel>

                <p:panel class="card-layout" style="padding: 0;">
                    <p:panelGrid columns="1" styleClass="borderless-grid" style="width: 100%">
                        <p:commandButton icon="fa fa-plus" value="Add Tab" update="@form"
                                         style="border-radius: 3px;text-align: right;float: left" styleClass="topcommands" 
                                         actionListener="#{smartViewBean.openTabConfiguration(null)}"/>

                        <p:tabView styleClass="control-tab-layout" id="tabHolder"  style="width: 100%" >
                            <p:ajax event="tabChange" listener="#{smartViewBean.onTabChange}" update="@form"/>
                            <c:forEach items="#{smartViewBean.smartViewModel.tabConfigHolder.tabsConfig}" var="tab">
                                <p:tab title="#{tab.tabLabel}" id="#{tab.tabId}">
                                    <f:facet name="title">
                                        <p:panelGrid columns="2" styleClass="borderless-grid">
                                            <h:outputText value="#{tab.tabLabel}"/>
                                            <p:commandLink  update="@form" style="float: none;padding: 0;cursor: pointer;" actionListener="#{smartViewBean.removeTab(tab)}">
                                                <h:graphicImage name="/images/delete-dark.png" width="12" height="12" style="margin-left: .5em"/>
                                            </p:commandLink>
                                        </p:panelGrid>
                                    </f:facet>
                                    <input type="hidden" value="TAB_LAYOUT" class="hidden-block-id"/>
                                    <table class="designer-pane droppoint ui-droppable" style="width:100%;height: 100%;min-height: 100px;text-align: center">
                                        <tbody>
                                            <tr>
                                                <ui:repeat value="#{smartViewBean.blockFieldsMap.get(tab.tabId).fieldsLayoutList}" var="blockField" varStatus="status">
                                                    <ui:fragment rendered="${blockField.componentType eq 'ADV-COMP'}">
                                                        <ui:include src="/WEB-INF/templates/components/advancedComponentsManager.xhtml" >
                                                            <ui:param name="managerBean" value="#{smartViewBean}" />
                                                            <ui:param name="field" value="#{blockField}" />
                                                            <ui:param name="fieldList" value="#{smartViewBean.blockFieldsMap.get(tab.tabId).fieldsLayoutList}" />
                                                        </ui:include>
                                                    </ui:fragment>
                                                </ui:repeat>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p:tab>
                            </c:forEach>
                        </p:tabView>
                    </p:panelGrid>
                </p:panel>
            </p:layoutUnit>
        </p:layout>

        <ui:include src="/WEB-INF/templates/components/config/componentsConfigurationManager.xhtml" >
            <ui:param name="managerBean" value="#{smartViewBean}" />
            <ui:param name="field" value="#{smartViewBean.advancedComponentsManager.selectedField}" />
        </ui:include>

        <p:sidebar id="tabSideBar" widgetVar="tabSideBar" position="right" 
                   style="width: 55em;overflow-y: auto;border: none" rendered="#{not empty smartViewBean.tabConfig}">
            <p:panelGrid columns="1" styleClass="borderless-grid" id="tabConfigPanel">
                <p:panelGrid columns="2" styleClass="borderless-grid" id="tabBaseConfig" style="width: 100%">
                    <p:outputLabel value="Tab Id" style="font-weight: normal;margin-right: 3em"/>
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{smartViewBean.tabConfig.tabId}"/>

                    <p:outputLabel value="Tab Name" style="font-weight: normal;margin-right: 3em"/>
                    <p:inputText style="padding: 0.5em;border: none;
                                 border-bottom: 1px solid #dbdbdb;width: 20em;height: 2.85em;-webkit-box-shadow: none"
                                 value="#{smartViewBean.tabConfig.tabLabel}"/>

                    <p:outputLabel value="Tab Type" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
                    <p:selectOneMenu value="#{smartViewBean.tabConfig.tabType}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue="" />
                        <f:selectItem itemLabel="Custom" itemValue="CUSTOM" />
                        <f:selectItem itemLabel="Gallery" itemValue="GALLERY" />
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:commandButton value="Done" onclick="PF('tabSideBar').hide()" update="@form"
                                 styleClass="save-button" actionListener="#{smartViewBean.addTab()}"/>
            </p:panelGrid>
        </p:sidebar>

        <p:sidebar id="displayPicSidebar" widgetVar="displayPicSidebar" position="right" 
                   style="width: max-content;overflow-y: auto;border: none;min-width: 50em">
            <h1 style="font-weight:normal">Display Image Configuration</h1>
            <p:panelGrid columns="1" styleClass="borderless-grid" id="displayPicConfigPanel">
                <p:panelGrid columns="2" styleClass="borderless-grid" id="displayPicBaseConfig" style="width: 100%">
                    <p:outputLabel value="Image Type" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
                    <p:selectOneMenu value="#{smartViewBean.smartViewModel.headerConfig.displayPicType}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select" itemValue="" />
                        <f:selectItem itemLabel="Dynamic" itemValue="DYNAMIC" />
                        <f:selectItem itemLabel="Static" itemValue="STATIC" />
                        <p:ajax update="displayPicConfigPanel" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Image Source" style="font-weight: normal;margin-right: 3em;vertical-align: top"/>
                    <p:fileUpload fileUploadListener="#{smartViewBean.onContentSelect}"
                                  rendered="#{smartViewBean.smartViewModel.headerConfig.displayPicType eq 'STATIC'}"
                                  auto="true" mode="advanced" skinSimple="true" styleClass="content-uploader-button">
                    </p:fileUpload>

                    <p:selectOneMenu value="#{smartViewBean.smartViewModel.headerConfig}" 
                                     style="width:19em;border: none;border-bottom: 1px solid #ccc;"
                                     rendered="#{smartViewBean.smartViewModel.headerConfig.displayPicType eq 'DYNAMIC'}"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItems value="#{smartViewBean.fieldsList}" var="moduleField" itemLabel="#{moduleField.fieldName}" itemValue="#{moduleField.fieldName}"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:commandButton icon="fa fa-trash" value="Remove" update="@form"
                                 style="border-radius: 3px;background: transparent" styleClass="topcommands" 
                                 actionListener="#{smartViewBean.removeDisplayPic()}"/>
                <p:commandButton value="Done" onclick="PF('displayPicSidebar').hide()" update="@form"
                                 styleClass="save-button"/>
            </p:panelGrid>
        </p:sidebar>
    </ui:define>

</ui:composition>