<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Tasks Dashboard
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em">
            <p:menuitem value="Home" outcome="home"/>
            <p:menuitem value="Tasks" outcome="tasks"/>
        </p:breadCrumb>

        <p:outputLabel style="font-size: 2em;margin-bottom: -10px;color: #424242;background: transparent;margin-top: 10px" 
                       value="Your Task Space"/>
        <p:remoteCommand name="loadCompletedTasks" actionListener="#{tasksBean.loadCompletedTasks()}" update="@form" />
        <div class="main-panel tasks-mainpanel">
            <div class="content" style="background: transparent">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <h:commandLink actionListener="#{tasksBean.loadOpenTasks()}">
                                <div class="card" style="background-color: #fff7c4;" >
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-warning text-center">

                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Your Open Tasks</p>
                                                    #{tasksBean.openTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:commandLink>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h:commandLink actionListener="#{tasksBean.loadCompletedTasks()}">
                                <div class="card" style="background-color: #e2ffd8;" onclick="loadCompletedTasks()">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-success text-center">

                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Completed Tasks</p>
                                                    #{tasksBean.completedTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:commandLink>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h:commandLink actionListener="#{tasksBean.loadDelayedTasks()}">
                                <div class="card" style="background-color: #ffd6d6;">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-danger text-center">

                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Your Delayed Tasks</p>
                                                    #{tasksBean.delayedTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:commandLink>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h:commandLink actionListener="#{tasksBean.loadProgressTasks()}">
                                <div class="card" style="background-color: #dfe2ff;">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-success text-center">

                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Tasks in Progress</p>
                                                    #{tasksBean.inProgressTasks}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:commandLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <p:panel id="dataViewsPanel" style="margin-bottom:0px;background: #fff;width: 100%" styleClass="data-view-panel form-container">
                <p:dataTable var="task" value="#{tasksBean.lazyTasksModel}" 
                             widgetVar="allTasksList" id="allTasksList" 
                             rowStyleClass="#{tasksBean.isTaskOverdue(task.dueDate)?'task-overdue':'task-ontime'}"
                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons orders-table" rows="10" 
                             paginator="true" paginatorPosition="bottom" selection="#{tasksBean.taskModel}"  selectionMode="single"
                             lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                    <p:ajax event="rowSelect" listener="#{tasksBean.onRowSelect}" update="@form" onstart="PF('waitingDlgName').show()" onsuccess="PF('waitingDlgName').hide()"/>
                    <f:facet name="header">
                        Your Tasks
                    </f:facet>
                    <p:column headerText="Title" >
                        <h:outputText value="#{task.title}" />
                    </p:column>

                    <p:column headerText="Assigned By" >
                        <h:outputText value="#{task.assignedByName}" />
                    </p:column>

                    <p:column headerText="Assigned To" >
                        <h:outputText value="#{task.assignedToName}" />
                    </p:column>

                    <p:column headerText="Status" >
                        <h:outputText value="#{task.status}" 
                                      style="padding: 2px;border-radius: 22px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;
                                      #{task.status eq 'DONE'? 'background: #b3ff99':
                                        task.status eq 'NSTART'? 'background: #fff7c4':
                                        task.status eq 'START'? 'background: #dfe2ff': ''}"/>
                    </p:column>

                    <p:column headerText="Priority" >
                        <h:outputText value="#{task.priority}" 
                                      style="padding: 2px;border-radius: 22px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;
                                      #{task.priority eq 'HIGH'? 'background: #f4425f;color:#fff':
                                        task.priority eq 'MEDIUM'? 'background: #efdd34':
                                        task.priority eq 'LOW'? 'background: #32cbf2': ''}"/>
                    </p:column>

                    <p:column headerText="Reason" >
                        <h:outputText value="#{task.responseReason}" style="font-weight: bold"/>
                    </p:column>

                    <p:column headerText="Due Date" >
                        <h:outputText value="#{task.dueDate}" />
                    </p:column>
                </p:dataTable>

                <p:blockUI block="allTasksList">
                    <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
                </p:blockUI>
            </p:panel>

        <p:sidebar id="addTaskSideBar" widgetVar="addTaskSideBar" position="right" 
                   style="width: max-content;overflow-y: auto;border: none;min-width: 50em">
            <h1 style="font-weight:normal">Add New Task</h1>
            <c:if test="#{tasksBean.taskModel ne null}">
                <p:panelGrid id="addTaskConfigPanel" style="border: none;background: #ccc;" 
                             columns="2" styleClass="product-grid-container">
                    <p:outputLabel value="Task Title" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.title}"/>

                    <p:outputLabel value="Task Description" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputTextarea rows="3" cols="60" style="border: 1px solid #ccc;border-radius: 2px;padding: 0.9em;width: auto"
                                     value="#{tasksBean.taskModel.description}"/>

                    <p:outputLabel value="Priority" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.priority}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="High" itemValue="HIGH" />
                        <f:selectItem itemLabel="Medium" itemValue="MEDIUM" />
                        <f:selectItem itemLabel="Low" itemValue="LOW" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Status" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.status}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="Not Started" itemValue="NSTART" />
                        <f:selectItem itemLabel="Started" itemValue="START"/>
                        <f:selectItem itemLabel="Done" itemValue="DONE" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Due Date" style="font-weight: 300;font-size: 13px;"/>
                    <p:calendar effect="fold" value="#{tasksBean.taskModel.dueDate}" pattern="dd/MM/yyyy HH:mm:ss" 
                                style="padding: 0.5em;border: none;width: 20em;height: 2.85em;"
                                styleClass="form-calendar">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </p:calendar>

                    <p:outputLabel value="Category" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.category}"/>

                    <h:outputLabel value="Users" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectCheckboxMenu value="#{tasksBean.selectedUsers}" label="Users" multiple="true"
                                          style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                          filter="true" filterMatchMode="contains" panelStyle="width:250px" converter="userConverter">
                        <f:selectItems value="#{tasksBean.users}" />
                    </p:selectCheckboxMenu>
                </p:panelGrid>
                <p:commandButton value="Save" actionListener="#{tasksBean.saveTask}" styleClass="save-button"
                                 style="margin-left: 50%;margin-right: 50%;margin-top: 2em;"
                                 oncomplete="PF('addTaskSideBar').hide()" update="@form"/>
            </c:if>
        </p:sidebar>


    </ui:define>

</ui:composition>