<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Tasks Dashboard
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em">
            <p:menuitem value="Home" outcome="home"/>
            <p:menuitem value="Tasks" outcome="tasks"/>
        </p:breadCrumb>

        <p:outputLabel style="font-size: 2em;margin-bottom: -10px;color: #424242;background: transparent;margin-top: 10px;margin-left: 1em" 
                       value="Your Task Space"/>
        <p:remoteCommand name="loadCompletedTasks" actionListener="#{tasksBean.loadCompletedTasks()}" update="@form" />

        <div class="main-panel tasks-mainpanel">
            <div class="content" style="background: transparent;padding-bottom: 0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <p:commandLink actionListener="#{tasksBean.loadOpenTasks()}">
                                <div class="card" style="background-color: #fff;" >
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-warning text-center">
                                                    <p:graphicImage name="/images/tasks_new.png"  styleClass="rounded" width="50"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Your Open Tasks</p>
                                                    #{tasksBean.openTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p:commandLink>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <p:commandLink actionListener="#{tasksBean.loadCompletedTasks()}">
                                <div class="card" style="background-color: #fff;" onclick="loadCompletedTasks()">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-success text-center">
                                                    <p:graphicImage name="/images/tasks_done.png"  styleClass="rounded" width="50"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Completed Tasks</p>
                                                    #{tasksBean.completedTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p:commandLink>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <p:commandLink actionListener="#{tasksBean.loadDelayedTasks()}">
                                <div class="card" style="background-color: #fff;">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-danger text-center">
                                                    <p:graphicImage name="/images/tasks_late.png"  styleClass="rounded" width="50"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Your Delayed Tasks</p>
                                                    #{tasksBean.delayedTasksCount}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p:commandLink>

                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <p:commandLink actionListener="#{tasksBean.loadProgressTasks()}">
                                <div class="card" style="background-color: #fff;">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="icon-big icon-success text-center">
                                                    <p:graphicImage name="/images/tasks_inprogress.png"  styleClass="rounded" width="50"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="numbers">
                                                    <p>Tasks in Progress</p>
                                                    #{tasksBean.inProgressTasks}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p:commandLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h:panelGrid columns="2" style="margin-left: 32px;width: 100%" id="inboxSwitchPanel">
            <h:panelGroup style="display: block">
                <p:commandLink  actionListener="#{tasksBean.switchToMyInbox()}" update="@form"
                                onstart="PF('waitingDlgName').show()" onerror="PF('waiti55zxngDlgName').hide()" oncomplete="PF('waitingDlgName').hide();">
                    <h:outputText value="My Inbox" 
                                  style="padding: 5px;border-radius: 5px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;font-size: 12px;
                                  margin-right: 1em;#{tasksBean.myInboxEnabled?'background: #282f44;color:#ffd100':'background: #fff;color: #282f44'}"/>
                </p:commandLink>

                <p:commandLink  actionListener="#{tasksBean.switchToAllInbox()}" update="@form" rendered="#{accessBean.userModel.superUser}"
                                onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide();">
                    <h:outputText value="All Teams Inbox" 
                                  style="padding: 5px;border-radius: 5px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;font-size: 12px;
                                  #{tasksBean.allInboxEnabled?'background: #282f44;color:#ffd100':'background: #fff;color: #282f44'}"/>
                </p:commandLink>
            </h:panelGroup>

            <h:panelGroup class="ui-inputgroup" style="display: block;float: right;margin-right: 73px;">
                <p:inputText id="fullTextSearchTopC" value="#{tasksBean.FTSKeyword}" label="Keyword"
                             style="border: 1px solid #ccc;
                             border-radius: 4px 0px 0px 4px;
                             float: left;
                             padding: 0.8em;
                             margin-left: 0.4em;background: #fff;
                             width: 20em"
                             onkeypress="if (event.keyCode === 13) {
                                         searchByKeyword();
                                         return false;
                                     }"/>
                <p:watermark for="fullTextSearchTopC" value="#{not empty accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']?
                                                               accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']:'Search with Keyword'}"  />

                <p:remoteCommand name="searchByKeyword" actionListener="#{tasksBean.search(null)}" update="@form" process=" inboxSwitchPanel"
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()" />    
                <p:commandLink style="float: left;    border-radius: 0px 0px 0px 0px; border-left: none !important;background: #ffd100 !important;border-color: #ccc !important;    height: 31px;"
                               actionListener="#{tasksBean.search(null)}" update="@form" styleClass="save-button topcommands" process=" inboxSwitchPanel"
                               onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()">
                    <p:graphicImage name="/images/record_search_ic.png"  styleClass="rounded" width="15"/>
                    <p:tooltip for="@parent" value="Search using a keyword" position="bottom"/>
                </p:commandLink>
                <!--                        <p:commandLink style="float: left;    border-radius: 0px 4px 4px 0px;background: #fff !important;border-color: #ccc !important;border-left: none !important;"
                                                       styleClass="save-button topcommands"  actionListener="#{requestorBean.openAdvancedFilter()}"
                                                       onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()">
                                            <p:graphicImage name="/images/record_advanced_search_ic.png"  styleClass="rounded" width="15"/>
                                            <p:tooltip for="@parent" value="Open the advanced filters page for more control" position="bottom"/>
                                        </p:commandLink>-->
            </h:panelGroup>
        </h:panelGrid>

        <p:panel styleClass="transparent_panel_holder" style="padding: 0em 2em 0em 2em;">
            <p:dataView var="task" value="#{tasksBean.lazyTasksModel}" rows="12" paginator="true" paginatorPosition="bottom"  
                        rowsPerPageTemplate="6,12,16" lazy="true" widgetVar="allTasksList" id="allTasksList" styleClass="task_main_table"
                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:dataViewListItem>
                    <h:panelGrid columns="2" columnClasses="ninty-nine-percent,one-percent" style="width: 100%">
                        <p:commandLink actionListener="#{tasksBean.openRequest(task)}" style="color: inherit" onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" >
                            <h:panelGrid columns="7" style="width: 100%">
                                <h:graphicImage name="/images/dot_green.png" width="25" height="25" style="vertical-align: baseline" rendered="#{task.status eq 'DONE'}"/>
                                <h:graphicImage name="/images/dot_yellow.png" width="25" height="25" style="vertical-align: baseline" rendered="#{task.status eq 'NSTART' or task.status eq 'START'}"/>
                                <!--<h:graphicImage name="/images/dot_red.png" width="20" height="20" style="vertical-align: baseline" rendered="#{tasksBean.isTaskOverdue(task.dueDate)}"/>-->

                                <h:panelGrid columns="1"  style="width: 15em">
                                    <h:outputText value="#{task.title}" style="font-weight: bold;font-size: 12px"/>
                                    <h:outputText value="#{task.description}" style="font-weight: normal;font-size: 12px"/>
                                </h:panelGrid>

                                <h:panelGrid columns="1" >
                                    <h:outputText value="Assigned By" style="font-weight: bold;color:#adadad;font-size: 12px"/>
                                    <h:outputText value="#{task.assignedByName}" style="font-weight: normal;font-size: 12px"/>
                                </h:panelGrid>

                                <h:panelGrid columns="1" >
                                    <h:outputText value="Assigned To" style="font-weight: bold;color:#adadad;font-size: 12px"/>
                                    <h:outputText value="#{task.assignedToName}" style="font-weight: normal;font-size: 12px"/>
                                </h:panelGrid>

                                <h:outputText value="#{task.status}" 
                                              style="padding: 2px;border-radius: 5px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;font-size: 12px;
                                              #{task.status eq 'DONE'? 'background: #b3ff99':
                                                task.status eq 'NSTART'? 'background: #fff7c4':
                                                task.status eq 'START'? 'background: #dfe2ff': ''}"/>

                                <h:outputText value="#{task.priority}" 
                                              style="padding: 2px;border-radius: 5px;width: 100%;padding-left: 1.5em;padding-right: 1.5em;;font-size: 12px;
                                              #{task.priority eq 'HIGH'? 'background: #f4425f;color:#fff':
                                                task.priority eq 'MEDIUM'? 'background: #efdd34':
                                                task.priority eq 'LOW'? 'background: #32cbf2': ''}"/>

                                <h:panelGrid columns="1" >
                                    <h:outputText value="Due Date" style="font-weight: bold;color:#adadad;font-size: 12px"/>
                                    <h:outputText value="#{task.dueDate}" style="font-weight: normal;font-size: 12px"/>
                                </h:panelGrid>




                            </h:panelGrid>
                        </p:commandLink>

                        <h:panelGroup>
                            <p:commandLink  id="taskOptionMenuLink">
                                <h:graphicImage name="/images/dots_menu.png" width="18" height="18"/>
                            </p:commandLink>

                            <p:menu overlay="true" trigger="taskOptionMenuLink" my="left top" at="left bottom" style="width: auto;height: auto" >
                                <p:menuitem value="Go to request"  update="messages" actionListener="#{tasksBean.openRequest(task)}" disabled="#{tasksBean.shouldDisable('GO_TO_REQUEST', task)}"/>
                                <p:menuitem value="Claim"  update="messages" actionListener="#{tasksBean.claimTaskToUser(task)}"  disabled="#{tasksBean.shouldDisable('CLAIM', task)}"/>
                                <p:menuitem value="Reassign" update="messages" actionListener="#{tasksBean.openReassignTaskDialog(task)}"/>
                            </p:menu>
                        </h:panelGroup>
                    </h:panelGrid>


                </p:dataViewListItem>
            </p:dataView>
        </p:panel>


        <p:dialog header="Reassign Task" widgetVar="reassignTaskToUserDialog" 
                  modal="true" width="400" position="center center" style="border-radius: 10px;">
            <p:outputLabel value="Choose the user profile you want to assign the task to:" style="padding: 1em;"/>
            <p:selectOneMenu value="#{tasksBean.reassignUser}" label="Users" 
                             style="border: none;border: 1px solid #dbdbdb;width: 20em" 
                             filter="true" filterMatchMode="contains" panelStyle="width:250px" converter="userConverter">
                <f:selectItems value="#{tasksBean.users}" />
            </p:selectOneMenu>

            <footer class="footer">
                <p:commandButton value="Reassign" actionListener="#{tasksBean.reassignTask()}" styleClass="save-button" update="@form"
                                 onstart="PF('waitingDlgName').show()" onerror="PF('waitingDlgName').hide()" oncomplete="PF('waitingDlgName').hide();PF('reassignTaskToUserDialog').hide()"/>
            </footer>
        </p:dialog>


        <p:sidebar id="addTaskSideBar" widgetVar="addTaskSideBar" position="right" 
                   style="width: max-content;overflow-y: auto;border: none;min-width: 50em">
            <h1 style="font-weight:normal">Add New Task</h1>
            <c:if test="#{tasksBean.taskModel ne null}">
                <p:panelGrid id="addTaskConfigPanel" style="border: none;background: #ccc;" 
                             columns="2" styleClass="product-grid-container">
                    <p:outputLabel value="Task Title" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.title}"/>

                    <p:outputLabel value="Task Description" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputTextarea rows="3" cols="60" style="border: 1px solid #ccc;border-radius: 2px;padding: 0.9em;width: auto"
                                     value="#{tasksBean.taskModel.description}"/>

                    <p:outputLabel value="Priority" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.priority}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="High" itemValue="HIGH" />
                        <f:selectItem itemLabel="Medium" itemValue="MEDIUM" />
                        <f:selectItem itemLabel="Low" itemValue="LOW" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Status" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.status}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="Not Started" itemValue="NSTART" />
                        <f:selectItem itemLabel="Started" itemValue="START"/>
                        <f:selectItem itemLabel="Done" itemValue="DONE" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Due Date" style="font-weight: 300;font-size: 13px;"/>
                    <p:calendar effect="fold" value="#{tasksBean.taskModel.dueDate}" pattern="dd/MM/yyyy HH:mm:ss" 
                                style="padding: 0.5em;border: none;width: 20em;height: 2.85em;"
                                styleClass="form-calendar">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </p:calendar>

                    <p:outputLabel value="Category" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.category}"/>

                    <h:outputLabel value="Users" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectCheckboxMenu value="#{tasksBean.selectedUsers}" label="Users" multiple="true"
                                          style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                          filter="true" filterMatchMode="contains" panelStyle="width:250px" converter="userConverter">
                        <f:selectItems value="#{tasksBean.users}" />
                    </p:selectCheckboxMenu>
                </p:panelGrid>
                <p:commandButton value="Save" actionListener="#{tasksBean.saveTask}" styleClass="save-button"
                                 style="margin-left: 50%;margin-right: 50%;margin-top: 2em;"
                                 oncomplete="PF('addTaskSideBar').hide()" update="@form"/>
            </c:if>
        </p:sidebar>


    </ui:define>

</ui:composition>