<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Tasks
    </ui:define>

    <ui:define name="content">
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Home" outcome="home"/>
            <p:menuitem value="Tasks" outcome="tasks"/>
        </p:breadCrumb>

        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
            <ui:param name="requestorBean" value="#{tasksBean}" />
        </ui:include>

        <p:panelGrid columns="1"  styleClass="borderless-grid nopad-grid" style="width: 100%;padding: 0">
            <p:panel style="text-align: right;border: none">
                <p:commandButton icon="fa fa-table" styleClass="topcommands"
                                 style="border-radius: 3px;" immediate="true" actionListener="#{tasksBean.loadTableColumnDesigner}" 
                                 rendered="#{accessBean.userModel.permissionSet.admin}">
                </p:commandButton>

                <p:commandButton  value="Add Task" actionListener="#{tasksBean.showTaskConfig}" icon="fa fa-w fa-plus" styleClass="topcommands"
                                  style="border-radius: 3px;" onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"/>

                <p:inputText id="fullTextSearchTopC" value="#{tasksBean.FTSKeyword}" label="Keyword"
                             style="border: 1px solid #ccc;
                             border-radius: 50em;
                             float: left;
                             margin-top: 0.4em;
                             padding: 0.8em;
                             margin-right: 0.2em;
                             margin-left: 0.4em;"/>
                <p:watermark for="fullTextSearchTopC" value="#{accessBean.loadLocalizedValue('search_with_keyword')}"  />
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_search')}" style="float: left"
                                 actionListener="#{tasksBean.search(null)}" update="@form" styleClass="save-button topcommands" 
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" 
                                 onsuccess="PF('waitingDlgName').hide()"/>


                <p:remoteCommand name="updateForm" update="@form" immediate="true"/>
                <p:dialog id="tableViewManagerDialog" widgetVar="tableViewManagerDialog" modal="true" width="1250" position="center center" 
                          style="border-radius: 4px;text-align: -webkit-center;background: #fff" onHide="updateForm()" dynamic="true">
                    <c:if test="#{tasksBean.ajaxRequest}">
                        <ui:include src="/WEB-INF/templates/administration/tableViewManager.xhtml" >
                            <ui:param name="requestTableViewDesignerBean" value="#{tasksBean.tableViewDesignerBean}" />
                        </ui:include>
                    </c:if>
                </p:dialog>
            </p:panel>


            <p:panel style="border: none">
                <p:dataTable var="recList" value="#{tasksBean.lazyRecordModel}" 
                             widgetVar="orgTable" id="#{tableId ne null? tableId : 'dataTable'}" 
                             rowStyleClass="#{fields.columnFieldName eq 'order_status'}"
                             style="padding-top: 0.5em;" styleClass="datatable paginator-buttons orders-table" rows="10" 
                             paginator="true" paginatorPosition="bottom" selection="#{tasksBean.selectedRecords}" 
                             lazy="true" filterEvent="enter" dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}">
                    <p:ajax event="rowSelect" listener="#{tasksBean.onRowSelect}" update="@form" disabled="#{enableRowSelection ne null? enableRowSelection : 'false'}" onstart="PF('waitingDlgName').show()" onsuccess="PF('waitingDlgName').hide()"/>
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:columns var="fields" value="#{tasksBean.settingsList}" headerText="#{fields.columnLabel}" sortBy="#{fields.columnFieldName}">
                        <h:outputText value="#{recList.fieldValueMap[fields.columnFieldName].currentValue}" 
                                      style="#{fields.columnFieldName eq 'priority'?recList.fieldValueMap['priority'].currentValue eq 'HIGH'? 'background: #f4425f':
                                               recList.fieldValueMap['priority'].currentValue eq 'MEDIUM'? 'background: #efdd34':
                                               recList.fieldValueMap['priority'].currentValue eq 'LOW'? 'background: #32cbf2': '':''}
                                      ;padding: 0.5em;border-radius: 3px;width: 100%"/>
                    </p:columns>
                </p:dataTable>

                <p:blockUI block="#{tableId ne null? tableId : 'dataTable'}">
                    <h:graphicImage value="/images/preloader_1.gif" height="80px" style="border-radius: 500em;border: 1px solid #ccc;"/>                          
                </p:blockUI>
            </p:panel>
        </p:panelGrid>

        <p:sidebar id="addTaskSideBar" widgetVar="addTaskSideBar" position="right" 
                   style="width: max-content;overflow-y: auto;border: none;min-width: 50em">
            <h1 style="font-weight:normal">Add New Task</h1>
            <c:if test="#{tasksBean.taskModel ne null}">
                <p:panelGrid id="addTaskConfigPanel" style="border: none;background: #ccc;" 
                             columns="2" styleClass="product-grid-container">
                    <p:outputLabel value="Task Title" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.title}"/>

                    <p:outputLabel value="Task Description" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputTextarea rows="3" cols="60" style="border: 1px solid #ccc;border-radius: 2px;padding: 0.9em;width: auto"
                                     value="#{tasksBean.taskModel.description}"/>

                    <p:outputLabel value="Priority" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.priority}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="High" itemValue="HIGH" />
                        <f:selectItem itemLabel="Medium" itemValue="MEDIUM" />
                        <f:selectItem itemLabel="Low" itemValue="LOW" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Status" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectOneMenu value="#{tasksBean.taskModel.status}" 
                                     style="width:19em;display: inline-flex;border: none;border-bottom: 1px solid #ccc">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItem itemLabel="Not Started" itemValue="NSTART" />
                        <f:selectItem itemLabel="Started" itemValue="START"/>
                        <f:selectItem itemLabel="Done" itemValue="DONE" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Due Date" style="font-weight: 300;font-size: 13px;"/>
                    <p:calendar effect="fold" value="#{tasksBean.taskModel.dueDate}" pattern="dd/MM/yyyy HH:mm:ss" 
                                style="padding: 0.5em;border: none;width: 20em;height: 2.85em;"
                                styleClass="form-calendar">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </p:calendar>

                    <p:outputLabel value="Category" style="font-weight: 300;font-size: 13px;"/>
                    <p:inputText style="width: 19em;border: none;border-bottom: 1px solid #ccc"
                                 value="#{tasksBean.taskModel.category}"/>

                    <h:outputLabel value="Users" style="font-weight: 300;font-size: 13px;"/>
                    <p:selectCheckboxMenu value="#{tasksBean.selectedUsers}" label="Users" multiple="true"
                                          style="border: none;border-bottom: 1px solid #dbdbdb;width: 20em" 
                                          filter="true" filterMatchMode="contains" panelStyle="width:250px" converter="userConverter">
                        <f:selectItems value="#{tasksBean.users}" />
                    </p:selectCheckboxMenu>
                </p:panelGrid>
                <p:commandButton value="Save" actionListener="#{tasksBean.saveTask}" styleClass="save-button"
                                 style="margin-left: 50%;margin-right: 50%;margin-top: 2em;"
                                 oncomplete="PF('addTaskSideBar').hide()" update="@form"/>
            </c:if>
        </p:sidebar>


    </ui:define>

</ui:composition>