<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/home.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Task Details
    </ui:define>

    <ui:define name="content" >
        <style>
            body{
                background-color: #fbfbfb !important;
            }
        </style>
        <p:messages id="messages" showDetail="true"  closable="true" />
        <p:breadCrumb styleClass="breadcrumbs" style="margin-left: -1.2em;margin-right: -1.8em;">
            <p:menuitem value="Categories" outcome="home"/>
        </p:breadCrumb>

        <p:panel class="card-layout">
            <div>
                <c:choose>
                    <c:when test="${not empty taskDetailBean.smartViewModel and not empty taskDetailBean.smartViewModel.headerConfig.displayPicRef}">
                        <p:graphicImage value="#{applicationBean.image}" 
                                        style="margin-top: 0.5em;float: left;margin-right: 1em;max-height: 20vh;max-width: 30vh;">
                            <f:param name="contentId" value="#{taskDetailBean.smartViewModel.headerConfig.displayPicRef}" />
                            <f:param name="context" value="CONFIG" />
                            <f:param name="moduleId" value="#{taskDetailBean.smartViewModel.moduleId}" />
                        </p:graphicImage>
                    </c:when>
                    <c:otherwise>
                        <p:graphicImage name="/images/module_pp.png" style="background: #ffdf63;
                                        width: 9em;
                                        height: inherit;
                                        padding: 1em;"
                                        styleClass="module-profile-pic"/>
                    </c:otherwise>
                </c:choose>
            </div>

            <p:commandLink onclick="PF('confirmation').show()" rendered="false">
                <p:graphicImage name="/images/delete_control.png" style="float: right;"
                                styleClass="detail-control-button" />
            </p:commandLink>

            <p:commandLink actionListener="#{taskDetailBean.edit}" update="@form" onstart="PF('waitingDlgName').show()" rendered="false">
                <p:graphicImage name="/images/edit.png" style="float: right;"
                                styleClass="detail-control-button" />
            </p:commandLink>

            <p:commandButton icon="fa fa-level-down" styleClass="topcommands" disabled="#{taskDetailBean.disableGoToRequest}"
                             style="border-radius: 3px" value="#{accessBean.loadLocalizedValue('go_to_request')}"  onstart="PF('waitingDlgName').show()" 
                             actionListener="#{taskDetailBean.openRequest}">
            </p:commandButton>

            <p:commandButton icon="fa fa-coffee" styleClass="topcommands" disabled="#{taskDetailBean.disableClaim}"  
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"  onsuccess="PF('waitingDlgName').hide()"
                                 onerror="PF('waitingDlgName').hide()"
                             style="border-radius: 3px" value="#{not empty accessBean.loadLocalizedValue('claim_task')?accessBean.loadLocalizedValue('claim_task'):'Claim'}"
                             immediate="true" actionListener="#{taskDetailBean.claimTaskToUser()}" update="@form">
            </p:commandButton>
            
            <p:commandButton  styleClass="topcommands"  onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"  
                                 onerror="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"
                              rendered="#{taskDetailBean.taskModel.claimerId != 0 and accessBean.userModel.userId == taskDetailBean.taskModel.claimerId}"
                             style="border-radius: 3px" value="#{not empty accessBean.loadLocalizedValue('unclaim_task')?accessBean.loadLocalizedValue('unclaim_task'):'Unclaim'}"
                             immediate="true" actionListener="#{taskDetailBean.unclaimTask()}" update="@form">
            </p:commandButton>
            
            <p:commandButton icon="fa fa-rocket" styleClass="topcommands" disabled="#{taskDetailBean.disableStart}"
                              onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"  
                              onerror="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"
                             style="border-radius: 3px" value="#{not empty accessBean.loadLocalizedValue('start_task')?accessBean.loadLocalizedValue('start_task'):'Start'}"
                             immediate="true" actionListener="#{taskDetailBean.startTask()}" update="@form">
            </p:commandButton>
            
            <p:commandButton icon="fa fa-flag-checkered" styleClass="topcommands" disabled="#{taskDetailBean.disableComplete}"
                              onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"  
                                 onerror="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"
                             style="border-radius: 3px" value="#{not empty accessBean.loadLocalizedValue('complete_task')?accessBean.loadLocalizedValue('complete_task'):'Complete'}"
                             immediate="true" actionListener="#{taskDetailBean.closeTask()}" update="@form">
            </p:commandButton>

            <c:if test="${not empty taskDetailBean.smartViewModel}">
                <c:forEach items="#{taskDetailBean.smartViewModel.headerConfig.fieldsLayoutList}" var="headerLayoutField">
                    <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml">
                        <ui:param name="formBean" value="#{taskDetailBean}" />
                        <ui:param name="fields" value="#{headerLayoutField}" />
                    </ui:include>
                </c:forEach>
            </c:if>

            <p:confirmDialog message="#{accessBean.loadLocalizedValue('confirm_delete_msg')}"
                             header="#{accessBean.loadLocalizedValue('delete_msg_title')}"   widgetVar="confirmation"
                             style="text-align: center">  
                <p:commandButton value="#{accessBean.loadLocalizedValue('delete_confirm')}"  onclick="PF('confirmation').hide()"  actionListener="#{taskDetailBean.delete}"
                                 onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                                 styleClass="save-button">
                </p:commandButton>  
                <p:commandButton value="#{accessBean.loadLocalizedValue('btn_cancel')}" onclick="PF('confirmation').hide()" type="button" 
                                 styleClass="cancel-button"/>   
            </p:confirmDialog>

            <div>
                <p:panelGrid columns="1" styleClass="module-header" style="margin-top: 1em;">
                    <c:forEach items="#{taskDetailBean.fieldsList}" var="headerField">
                        <c:choose>
                            <c:when test="${headerField.fieldType eq 'LOOKUP'}">
                                <h:outputText value="#{taskDetailBean.selectionMap[headerField.fieldName.concat('.name')].selectedValue}" rendered="#{headerField.inHeader}"/>
                            </c:when>
                            <c:when test="${headerField.fieldType eq 'REL'}">
                                <h:outputText value="#{taskDetailBean.selectedRecordsMap.get(headerField.fieldName).getFieldValueMap().get(taskDetailBean.relationRecordsCache.get(headerField.fieldName).getRelationManager().getViewColumn()).getCurrentValue()}" rendered="#{headerField.inHeader}"/>
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{headerField.currentValue}" rendered="#{headerField.inHeader}"/>
                            </c:otherwise>
                        </c:choose>
                    </c:forEach>
                    <h:outputText value="Task is claimed by #{taskDetailBean.taskModel.claimerName}" rendered="#{not empty taskDetailBean.taskModel.claimerName}"
                                  style="font-weight: bold;color: #38ca1e;"/>
                </p:panelGrid>
            </div>
        </p:panel>

        <p:panel class="card-layout" style="padding: 0;">
            <p:tabView styleClass="control-tab-layout" id="tabHolder" dynamic="true"  dir="#{accessBean.userModel.rtl? 'rtl':'ltr'}" scrollable="true">
                <p:ajax event="tabChange" listener="#{taskDetailBean.onTabChange}" update="@this" onstart="PF('waitingDlgName').show()"
                        oncomplete="PF('waitingDlgName').hide()"/>
                <p:tab title="#{accessBean.loadLocalizedValue('details_tab')}" id="detailsTab">
                    <ui:include src="/WEB-INF/templates/moduleDetailViewer.xhtml" >
                        <ui:param name="formBean" value="#{taskDetailBean}" />
                        <ui:param name="formTitle" value="Detail" />
                    </ui:include>
                </p:tab>

                <p:tab title="#{accessBean.loadLocalizedValue('mod_notes')}" id="notesTab">
                    <ui:include src="/WEB-INF/templates/notes/notesView.xhtml" >
                        <ui:param name="formBean" value="#{taskDetailBean}" />
                        <ui:param name="formTitle" value="Detail" />
                    </ui:include>
                </p:tab>

                <p:tab title="#{accessBean.loadLocalizedValue('mod_attachments')}" id="attachmentsTab">
                    <ui:include src="/WEB-INF/templates/content/attachmentsView.xhtml" >
                        <ui:param name="formBean" value="#{taskDetailBean}" />
                        <ui:param name="formTitle" value="Detail" />
                    </ui:include>
                </p:tab>

                <c:forEach items="#{taskDetailBean.relationalMap}" var="relatedModule">
                    <c:set var="moduleVar" value="#{relatedModule.value.moduleId}" />
                    <p:tab title="#{relatedModule.value.masterModuleName}" id="id#{relatedModule.value.moduleId}">
                        <ui:include src="/WEB-INF/templates/filterTemplateBuilder.xhtml" >
                            <ui:param name="requestorBean" value="#{taskDetailBean.relationalBeanMap[moduleVar]}" />
                            <ui:param name="customCSS" value="margin-left:0;margin-right:0" />
                        </ui:include>

                        <p:panel style="text-align: left;border: none">
                            <p:inputText id="fullTextSearchTopCRD" value="#{taskDetailBean.relationalBeanMap[moduleVar].FTSKeyword}" label="Keywordw"
                                         style="border: 1px solid #ccc;
                                         border-radius: 50em;
                                         margin-top: 0.4em;
                                         padding: 0.8em;
                                         margin-right: 0.2em;
                                         margin-left: 0.4em;"
                                         placeholder="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['search_with_keyword']}"/>
                            <p:commandButton value="#{accessBean.localizationHost.localValues[accessBean.userModel.lang].keyValueMap['btn_search']}" 
                                             actionListener="#{taskDetailBean.relationalBeanMap[moduleVar].search(null)}" update="@form" styleClass="save-button topcommands" 
                                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()" onsuccess="PF('waitingDlgName').hide()"/>
                        </p:panel>

                        <ui:include src="/WEB-INF/templates/lazyRecordsTableTemplate.xhtml" >
                            <ui:param name="requestorBean" value="#{taskDetailBean.relationalBeanMap[moduleVar]}" />
                            <ui:param name="tableKey" value="#{taskDetailBean.relationalKeyMap[moduleVar]}" />
                            <ui:param name="tableId" value="dataTable#{relatedModule.value.moduleId}" />
                            <ui:param name="type" value="RECORD_DETAILS" />
                        </ui:include>
                    </p:tab>
                </c:forEach>

                <c:if test="${not empty taskDetailBean.smartViewModel}">
                    <c:forEach items="#{taskDetailBean.smartViewModel.tabConfigHolder.tabsConfig}" var="smartTab">
                        <p:tab title="#{smartTab.tabLabel}" id="smartTab_#{smartTab.tabId}">
                            <c:forEach items="#{smartTab.fieldsLayoutList}" var="layoutField">
                                <ui:include src="/WEB-INF/templates/components/viewer/advancedComponentsViewer.xhtml">
                                    <ui:param name="formBean" value="#{taskDetailBean}" />
                                    <ui:param name="fields" value="#{layoutField}" />
                                    <ui:param name="parentView" value="SMART_TAB" />
                                </ui:include>
                            </c:forEach>
                        </p:tab>
                    </c:forEach>
                </c:if>
            </p:tabView>
        </p:panel>

        <p:dialog widgetVar="advancedDataDialog"  modal="true" width="1250" position="center center" dynamic="true" styleClass="form-dialog"
                  style="border-radius: 4px;text-align: -webkit-center;" appendTo="@(body)">
            <h:form id="advancedDialogFormMaster">
                <ui:include src="/WEB-INF/templates/advancedCompRecordsTable.xhtml" >
                    <ui:param name="requestorBean" value="#{taskDetailBean}" />
                    <ui:param name="eventName" value="#{taskDetailBean.activeEvent}" />
                    <ui:param name="tableKey" value="#{taskDetailBean.dataTableKey}" />
                </ui:include>
            </h:form>
        </p:dialog>

        <p:sidebar id="quickAddDialog" widgetVar="quickAddDialog" position="right" style="width: max-content;overflow-y: auto;border: none">
            <p:panel id="quickAddForm" style="border: none;background: transparent;overflow-x: hidden">
                <c:if test="#{taskDetailBean.ajaxRequest}">
                    <ui:include src="/WEB-INF/templates/formBuilderRecursion.xhtml">
                        <ui:param name="requestorBean" value="#{taskDetailBean.relationBeanCache[taskDetailBean.dataTableKey]}" />
                        <ui:param name="formTitle" value="#{taskDetailBean.dataTableKey}" />
                    </ui:include>
                    <p:commandButton value="Save" actionListener="#{taskDetailBean.relationBeanCache[taskDetailBean.dataTableKey].quickSave(taskDetailBean)}" styleClass="save-button" 
                                     partialSubmit="true"
                                     process="@this, :quickAddForm"
                                     onstart="PF('waitingDlgName').show()" 
                                     oncomplete="PF('waitingDlgName').hide();"/>
                </c:if>
            </p:panel>
        </p:sidebar>
    </ui:define>

</ui:composition>