<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/WEB-INF/templates/adminTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <ui:define name="title">
        Workflow Manager
    </ui:define>

    <ui:define name="content" id="contentDefine">
        <p:messages id="messages" showDetail="true"  closable="true"/>
        <p:commandButton  value="New Workflow" icon="fa fa-w fa-plus" styleClass="topcommands"
                          style="border-radius: 50px;" actionListener="#{workflowManagerBean.showAddWFForm()}" immediate="true"/>

        <p:dataTable var="workflow" value="#{workflowManagerBean.workflowList}" widgetVar="wfTable" paginator="true" paginatorPosition="bottom"
                     id="wfTable" style="margin-top: .5em;border: 1px solid #cccccc;"  multiViewState="true"
                     styleClass="datatable datatable-summary paginator-buttons" rows="10">
            <p:column headerText="Process Name">
                <h:outputText value="#{workflow.name}" />
            </p:column>
            <p:column headerText="Description" width="400">
                <h:outputText value="#{workflow.description}" />
            </p:column>
            <p:column headerText="Target Module">
                <h:outputText value="#{workflow.targetModuleName}" />
            </p:column>
            <p:column headerText="Active">
                <h:outputText value="#{workflow.active ? 'Yes' : 'No'}" />
            </p:column>
            <p:column headerText="Added Date">
                <h:outputText value="#{workflow.createdDate}" />
            </p:column>
            <p:column headerText="" width="100">
                <p:commandLink actionListener="#{workflowManagerBean.editWorkflow(workflow)}" update="@form" >
                    <h:graphicImage name="/images/edit_table_ic.png" width="16" height="16" style="margin-right: 1em"/>
                </p:commandLink>
                <p:commandLink actionListener="#{workflowManagerBean.deleteWorkflow(workflow)}" update="@form" >
                    <h:graphicImage name="/images/delete_table_ic.png" width="16" height="16" style="margin-right: 1em"/>
                </p:commandLink>
                <p:commandLink actionListener="#{workflowManagerBean.openDesigner(workflow)}" update="@form" >
                    <h:graphicImage name="/images/wf_design_ic.png" width="16" height="16"/>
                </p:commandLink>
            </p:column>
        </p:dataTable>

        <p:dialog header="#{workflowManagerBean.editMode ? 'Edit Workflow' : 'Add Workflow'}" 
                  id="addWFDialog" widgetVar="addWFDialog" modal="true" width="600" position="center center" 
                  style="border-radius: 2px;text-align: -webkit-center;" dynamic="true" styleClass="dialog-view">
            <h:panelGrid columns="2" >
                <p:outputLabel value="Process Name" style="padding: 1em" for="processName"/>
                <h:inputText id="processName" value="#{workflowManagerBean.newWorkflow.name}" 
                             style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: 23em;margin-bottom: 1em" required="true"/>

                <p:outputLabel value="Description" style="padding: 1em"/>
                <p:inputTextarea rows="3" cols="60" style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: auto"
                                 value="#{workflowManagerBean.newWorkflow.description}"/>

                <p:outputLabel value="Target Module" style="padding: 1em"/>
                <p:selectOneMenu value="#{workflowManagerBean.newWorkflow.targetModuleId}" 
                                 style="width:19em;display: inline-flex;" styleClass="form-dropdown" 
                                 filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{workflowManagerBean.moduleList}" var="v" itemLabel="#{v.moduleName}" itemValue="#{v.moduleId}"/>
                </p:selectOneMenu>

                <p:outputLabel for="triggerType" value="Trigger Type" style="padding: 1em"/>
                <p:selectOneMenu id="triggerType" value="#{workflowManagerBean.newWorkflow.triggerType}" 
                                 style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItem itemLabel="On Record Creation" itemValue="RECREATE" />
                    <f:selectItem itemLabel="On Create or Update" itemValue="RECRUP" />
                    <f:selectItem itemLabel="On Record Update" itemValue="REUPDATE" />
                    <f:selectItem itemLabel="On Record Delete" itemValue="REDELETE" />
                </p:selectOneMenu>
                
                <p:outputLabel for="runType" value="Run Type" style="padding: 1em"/>
                <p:selectOneMenu id="runType" value="#{workflowManagerBean.newWorkflow.runType}" 
                                 style="width:19em;display: inline-flex;">
                    <f:selectItem itemLabel="Select One" itemValue="" />
                    <f:selectItem itemLabel="Post Activity" itemValue="POST" />
                    <f:selectItem itemLabel="Pre Activity" itemValue="PRE" />
                </p:selectOneMenu>
                
                <p:outputLabel value="Priority" style="padding: 1em;padding-right: 2em;"/>
                <p:inputNumber value="#{workflowManagerBean.newWorkflow.priority}" decimalPlaces="0"
                             style="border: 1px solid #a7a7a7;border-radius: 2px;padding: 0.9em;width: 11em;margin-bottom: 1em"/>
                
                <p:outputLabel value="Active" style="padding: 1em;padding-right: 2em;"/>
                <p:selectBooleanCheckbox value="#{workflowManagerBean.newWorkflow.active}"/>
            </h:panelGrid>
            <p:commandButton value="#{workflowManagerBean.editMode ? 'Update' : 'Add'}" 
                             actionListener="#{workflowManagerBean.addWorkflow()}" styleClass="save-button"
                             onstart="PF('waitingDlgName').show()" oncomplete="PF('waitingDlgName').hide()"
                             update="@form"/>
        </p:dialog>
    </ui:define>

</ui:composition>